<div class="medium-8 medium-centered columns cc-column-last cc-clearfix-container">
  <div class="cc-widget cc-widget-finaid-permissions">
    <div class="cc-widget-title">
      <h2 data-ng-bind="title"></h2>
    </div>
    <div class="cc-widget-text">
      <h3 data-ng-bind="item.longTitle"></h3>
      <div class="cc-widget-finaid-permissions-text" data-ng-bind="item.longMessage"></div>
      <hr>
      <div class="cc-text-center">
        <button class="cc-button" data-ng-bind="buttonTextDontApprove"></button>
        <button class="cc-button cc-button-blue" data-ng-bind="buttonTextApprove"></button>
      </div>
    </div>
  </div>
</div>
