<div class="cc-page-course-provision">

  <div data-ng-hide="feedFetched" data-cc-spinner-directive></div>

  <div data-ng-show="feedFetched && isCourseCreator">

    <div data-ng-show="is_admin">

      <div class="cc-widget">
        <button class="cc-button"
                data-ng-click="toggleAdminMode()">
          <span data-ng-show="adminMode !== 'by_ccn'">Switch to CCN input</span>
          <span data-ng-show="adminMode === 'by_ccn'">Switch to acting as instructor</span>
        </button>
      </div>

      <form data-ng-show="adminMode !== 'by_ccn'" data-ng-submit="fetchFeed()" class="cc-page-provision-actas-form">
        <input class="cc-left" placeholder="Instructor UID" data-ng-model="admin_acting_as" type="text" />
        <button class="cc-button cc-button-blue" type="submit">As instructor</button>
      </form>

      <div data-ng-show="adminMode === 'by_ccn'">
        <div data-ng-show="admin_semesters && admin_semesters.length > 0">
          <div class="row collapse">
            <div class="medium-5 columns">
              <ul class="cc-button-group cc-even-{{admin_semesters.length}} cc-page-provision-margin" role="tablist">
                <li data-ng-repeat="semester in admin_semesters">
                  <button class="cc-button"
                          data-ng-click="switchAdminSemester(semester)"
                          data-ng-class="{'cc-button-selected':(currentAdminSemester==semester.slug)}"
                          aria-selected="{{currentAdminSemester==semester.slug}}"
                          role="tab"
                          data-ng-bind="semester.name">
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <form data-ng-submit="fetchFeed()">
          <textarea data-ng-model="admin_by_ccns" data-ng-list="/[- |\,\s\n\r\t]/"
            placeholder="Paste your list of CCNs here, separated by commas or spaces">
          </textarea>
          <button class="cc-button cc-button-blue" type="submit">Review matching CCNs</button>
        </form>
      </div>
    </div>

    <div>

      <div class="cc-maintenance-notice">
        <i class="fa fa-exclamation-triangle cc-icon-gold fa-lg cc-left"></i>
        <div class="cc-notice-text">
          <h4>Daily Scheduled Maintenance from 8 - 9 AM</h4>
          During our daily scheduled maintenance, Instructors may experience delays of up to 10 minutes before sites are created.
          <br>For more information, go to <a href="http://ets.berkeley.edu/bcourses/system-status" target="_blank">bCourses System Status.</a>
        </div>
      </div>

      <h2>Create a Course Site</h2>

      <div class="cc-page-provision-select-rosters">

        <div data-ng-show="currentWorkflowStep === 'selecting'">
          <div data-cc-spinner-directive>
            <div data-ng-hide="teachingSemesters && teachingSemesters.length > 0" class="cc-page-provision-no-courses">
              You are currently not listed as the instructor of record for any courses, so you cannot create a course site in bCourses.
            </div>
            <div data-ng-show="teachingSemesters && teachingSemesters.length > 0">
              <div class="row collapse">

                <h3>1. Select Term:</h3>

                <div class="medium-5 columns">
                  <div class="cc-page-provision-step-indent">
                    <ul class="cc-button-group cc-even-{{teachingSemesters.length}} cc-page-provision-margin" role="tablist">
                      <li data-ng-repeat="semester in teachingSemesters">
                        <button class="cc-button"
                                data-ng-click="switchSemester(semester)"
                                data-ng-class="{'cc-button-selected':(currentSemester==semester.slug)}"
                                aria-selected="{{currentSemester==semester.slug}}"
                                role="tab"
                                data-ng-bind="semester.name">
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <h3>2. Select Roster(s):</h3>

              <div class="cc-page-provision-step-indent">
                <p>All rosters you select below will be put in ONE, single course site.</p>
                <form data-ng-submit="showConfirmation()">
                  <div>
                    <ul class="cc-page-provision-margin">
                      <li data-ng-repeat="course in currentCourses" class="cc-page-provision-form-course cc-page-provision-roster-area">
                        <strong>{{course.title}} ({{course.course_code}})</strong>
                        <div class="cc-page-provision-form-select-all-option" data-ng-show="course.sections.length > 1">
                          Select: <button class="cc-button-link" type="button" data-ng-bind="course.selectToggleText" data-ng-click="toggleCheckboxes(course)"></button>
                        </div>
                        <ul>
                          <li data-ng-repeat="section in course.sections">
                            <div data-ng-if="!section.sites">
                              <input type="checkbox"
                                     id="cc-page-provision-checkbox-{{$parent.$index}}-{{$index}}"
                                     data-ng-model="section.selected">
                              <label for="cc-page-provision-checkbox-{{$parent.$index}}-{{$index}}"
                                class="cc-page-provision-section-label"
                                data-ng-bind-template="{{course.course_code}} {{section.section_label}} ({{section.ccn}})">
                              </label>
                            </div>
                          </li>
                        </ul>
                        <div data-ng-if="course.hasSites">
                          <div class="cc-page-provision-has-sites-message">
                            <span data-ng-show="course.sections.length > 1">The following sections are in use in other course sites:</span>
                            <span data-ng-show="course.sections.length === 1">The following section is in use in other course sites:</span>
                          </div>
                          <ul>
                            <li data-ng-repeat="section in course.sections">
                              <div data-ng-if="section.sites">
                                <input type="checkbox"
                                       id="cc-page-provision-checkbox-{{$parent.$index}}-{{$index}}"
                                       data-ng-model="section.selected">
                                <label for="cc-page-provision-checkbox-{{$parent.$index}}-{{$index}}"
                                  class="cc-page-provision-section-label cc-page-provision-section-sited-label"
                                  data-ng-bind-template="{{course.course_code}} {{section.section_label}} ({{section.ccn}})">
                                </label>
                                <div data-ng-repeat="site in section.sites" class="cc-page-provision-section-sites">
                                <i class="fa fa-cogs cc-page-provision-section-sited-icon"></i>
                                Used in <a data-ng-bind="site.name" data-ng-href="{{site.site_url}}"></a>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="cc-page-provision-form-actions">
                    <button class="cc-button cc-button-blue cc-page-provision-form-button" type="submit">Next &gt;&gt;</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <div data-ng-show="currentWorkflowStep === 'confirmation'">
          <div class="cc-page-provision-confirmation">
            <div data-ng-if="selectedSections().length === 1">
              <strong>You are about to create 1 course site with 1 roster:</strong>
            </div>
            <div data-ng-if="selectedSections().length > 1">
              <strong>You are about to create 1 course site with these <span data-ng-bind="selectedSections().length"></span> rosters:</strong>
            </div>
            <ul class="cc-page-provision-roster-list">
              <li data-ng-repeat="section in selectedSections()">
                <span data-ng-bind="section.courseTitle"></span> - <span data-ng-bind="section.section_label"></span> (<span data-ng-bind="section.ccn"></span>)
              </li>
            </ul>
          </div>

          <form data-ng-submit="createCourseSiteJob()" class="cc-page-provision-site-labels-form">
            <div class="row">
              <div class="medium-6">

                <div class="row">
                  <div class="medium-offset-1 medium-3 columns">
                    <label for="siteName" class="right">Site Name:</label>
                  </div>
                  <div class="medium-8 columns">
                    <input type="text" id="siteName" data-ng-model="siteName" data-ng-required="true">
                  </div>
                </div>
                <div class="row">
                  <div class="medium-offset-1 medium-3 columns">
                    <label for="siteAbbreviation" class="right">Site Abbreviation:</label>
                  </div>
                  <div class="medium-8 columns">
                    <input type="text" id="siteAbbreviation" data-ng-model="siteAbbreviation">
                  </div>
                </div>

                <div class="row">
                  <div class="medium-offset-4 medium-8 columns">
                    <button class="cc-button cc-button-blue cc-page-provision-form-button" type="submit">Create Course Site</button>
                    <button class="cc-button cc-page-button-grey" type="button" data-ng-click="showSelecting()">Go Back</button>
                  </div>
                </div>

              </div>
            </div>

          </form>
        </div>

        <div data-ng-show="currentWorkflowStep === 'monitoring_job'">

          <div data-ng-hide="status" class="cc-page-provision-pending-request">
            <i class="fa fa-spinner fa-spin"></i>
            Sending request...
          </div>

          <div data-ng-show="status === 'New'" class="cc-page-provision-pending-request">
            <i class="fa fa-spinner fa-spin"></i>
            Course provisioning request sent. Awaiting processing....
          </div>

          <div data-ng-show="status">

            <div class="cc-page-provision-progress-bar-container" data-ng-show="percentCompleteRounded">
              <div class="cc-page-provision-progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{percentCompleteRounded}}">
                <div class="cc-page-provision-progress-bar-status">{{percentCompleteRounded}}% Complete</div>
                <div class="cc-page-provision-progress-bar-value" data-ng-style="{'width':percentCompleteRounded + '%'}"></div>
              </div>
            </div>

            <div data-ng-show="status === 'Error'">
              <div class="cc-page-provision-error">
                <p>
                  <i class="cc-left fa fa-exclamation-circle cc-icon-red cc-page-provision-error-icon"></i>
                  <span class="cc-page-provision-error-header">Course Site Creation Failed: We could not create your site.</span>
                </p>
                <p>Due to technical issues encountered, our support team must create your course site manually.</p>
                <p>Please email us at <a href="" data-ng-click="errorEmail()">bcourseshelp@berkeley.edu</a> with:</p>
                <ul class="cc-page-provision-error-list">
                  <li>The title of the course site you were trying to create</li>
                  <li>The rosters you would like to add (e.g. BIOLOGY 1A LEC 001)</li>
                  <li>The following error message: &quot;<span data-ng-bind="error"></span>&quot;</li>
                </ul>
              </div>

              <div class="row cc-page-provision-step-options">
                <div class="medium-12 columns">
                  <button class="cc-button cc-page-button-grey" type="button" data-ng-click="showConfirmation()">&lt;&lt; Back</button>
                  <button class="cc-button cc-button-blue cc-page-provision-form-button" type="button" data-ng-click="fetchFeed()">Start Over</button>
                </div>
              </div>
            </div>

            <div data-ng-show="status === 'Completed'">

              <div class="cc-notice-box cc-notice-success cc-radius">
                Success : <span data-ng-bind="course_site.short_name"></span> site created
                <i class="cc-left fa fa-check-circle cc-icon-green"></i>
              </div>

              <div class="cc-page-provision-success-intro">
                <strong>You may now:</strong>
              </div>
              <ul class="cc-page-provision-choices">
                <li>Go to <a data-ng-href="{{course_site.url}}" data-ng-bind="course_site.short_name"></a> to finish setting up your site.</li>
                <li>Access your sites anytime at: <a href="http://bcourses.berkeley.edu">http://bcourses.berkeley.edu</a></li>
              </ul>
              <div>
                <button class="cc-button cc-button-blue" type="button" data-ng-click="fetchFeed()">Create another Course Site</button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div data-ng-show="feedFetched && !isCourseCreator" class="cc-page-provision-student-warning">
    <i class="fa fa-warning"></i>
    <span>This function is currently only available to instructors.</span>
  </div>

</div>
