<div class="bc-page-course-add-user">

  <div class="cc-maintenance-notice">
    <i class="fa fa-exclamation-triangle cc-icon-gold fa-lg cc-left"></i>
    <div class="cc-notice-text">
      <h4>Daily Scheduled Maintenance from 8 - 9 AM</h4>
      Instructors may experience delays and in some cases an error may occur.
      For more information, go to <a href="http://ets.berkeley.edu/bcourses/system-status" target="_blank">bCourses System Status.</a>
    </div>
  </div>

  <h2>Find a Person to Add</h2>

  <div data-ng-hide="showError">

    <div id="alerts-wrapper" class="row collapse" data-ng-show="showAlerts">
      <div data-cc-spinner-directive>

        <div data-ng-show="noSearchTextAlert" class="cc-notice-box cc-notice-error cc-radius">
          You did not enter any search terms. Please try again.
          <div class="cc-notice-close-button">
            <button class="fa fa-times-circle button cc-close-button small" data-ng-click="noSearchTextAlert=''"></button>
          </div>
        </div>

        <div data-ng-show="noUserSelectedAlert" class="cc-notice-box cc-notice-error cc-radius">
          Please select a user.
          <div class="cc-notice-close-button">
            <button class="fa fa-times-circle button cc-close-button small" data-ng-click="noUserSelectedAlert=''"></button>
          </div>
        </div>

        <div data-ng-show="noSearchResultsNotice" class="cc-notice-box cc-notice-error cc-radius">
          Your search did not match any users with a CalNet ID.
          <span data-ng-bind="searchTypeNotice"></span>
          Please try again.
          <div class="cc-notice-close-button">
            <button class="fa fa-times-circle button cc-close-button small" data-ng-click="noSearchResultsNotice=''"></button>
          </div>
        </div>

        <div data-ng-show="userSearchResultsCount > userSearchResults.length" class="cc-notice-box cc-notice-warning cc-radius">
          Your search returned <span data-ng-bind="userSearchResultsCount"></span> results, but only the first
          <span data-ng-bind="userSearchResults.length"></span> are shown.
          Please refine your search to limit the number of results.
        </div>

        <div data-ng-show="additionSuccessMessage" class="cc-notice-box cc-notice-success cc-radius">
          <span data-ng-bind="user_added.fullName"></span> was added to the
          &ldquo;<span data-ng-bind="user_added.section_name"></span>&rdquo; section of this course as a <span data-ng-bind="user_added.role_name"></span>.
          <div class="cc-notice-close-button">
            <button class="fa fa-times-circle button cc-close-button small" data-ng-click="additionSuccessMessage=''"></button>
          </div>
        </div>

        <div data-ng-show="additionFailureMessage" class="cc-notice-box cc-notice-error cc-radius">
          <i class="fa fa-exclamation-triangle cc-icon-red"></i>
          <span data-ng-bind="errorStatus"></span>
          <div class="cc-notice-close-button">
            <button class="fa fa-times-circle button cc-close-button small" data-ng-click="additionFailureMessage=''"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row collapse" data-ng-show="showSearchForm">

      <div class="medium-6 columns">
        <form data-ng-submit="searchUsers()" class="bc-form">

          <div class="row bc-horizontal-form">
            <div class="medium-5 columns">
              <label for="search-text" class="cc-visuallyhidden">Search users</label>
              <input id="search-text" class="bc-form-entity bc-input" type="{{searchTextType}}" placeholder="Find a person to add" data-ng-model="search_text">
            </div>

            <div class="medium-6 columns">
              <div class="row collapse">
                <div class="medium-2 columns hide-for-small">
                  <label for="search-type" class="bc-label bc-label-horizontal bc-form-entities">By:</label>
                </div>
                <div class="medium-10 columns">
                  <select id="search-type" data-ng-model="search_type" data-ng-change="updateSearchTextType()" class="bc-form-entity">
                    <option value="name">Last Name, First Name</option>
                    <option value="email">Email</option>
                    <option value="ldap_user_id">CalNet UID</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="medium-1 columns bc-column-align-center">
              <button id="submit-search" type="submit" class="bc-form-entity bc-button bc-full-wide">Go</button>
            </div>
          </div>

        </form>
      </div>

    </div>

    <div class="bc-user-search-notice-container">
      <i class="fa fa-question-circle cc-left bc-fa-blue"></i>
      <div class="bc-notice-left-margin">
        <button class="cc-button-link bc-user-search-notice-button" data-ng-click="toggle.displayHelp = !toggle.displayHelp">Need help finding someone?</button>
        <div class="bc-user-search-notice" data-ng-show="toggle.displayHelp">
          <!-- Note: This help text content is also maintained in the public/canvas/canvas-customization.js script -->
          <dl>
            <dt>UC Berkeley Faculty, Staff and Students</dt>
            <dd>
              UC Berkeley faculty, staff and students <em>(regular and concurrent enrollment)</em> can be found in the
              <a href="http://directory.berkeley.edu/">CalNet Directory</a>
              and be added to your site using their CalNet UID or official email address.
            </dd>
            <dt>Guests</dt>
            <dd>
              Peers from other institutions or guests from the community must be sponsored with a
              <a href="https://idc.berkeley.edu/guests/">CalNet Guest Account</a>.
              Do NOT request a CalNet Guest Account for concurrent enrollment students.
            </dd>
            <dt>More Information</dt>
            <dd>
              Go to the
              <a href="http://ets.berkeley.edu/bcourses/faq/adding-people">bCourses FAQ</a>
              for more information about adding people to bCourse sites.
            </dd>
          </dl>

        </div>
      </div>
    </div>

    <div class="row collapse" data-ng-show="showUsersArea">
      <div data-cc-spinner-directive>

        <div data-ng-show="userSearchResults.length > 0">
          <form data-ng-submit="addUser()" class="bc-form">

            <table class="bc-table">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Calnet UID</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="user in userSearchResults">
                  <td>
                    <input type="radio" name="selectedUser" data-ng-model="$parent.selectedUser" data-ng-value="user" data-ng-required="true">
                  </td>
                  <td data-ng-bind="user.first_name + ' ' + user.last_name"></td>
                  <td data-ng-bind="user.ldap_uid"></td>
                  <td data-ng-bind="user.email_address"></td>
                </tr>
              </tbody>
            </table>

            <div class="medium-5 columns">

              <div class="row collapse">
                <div class="small-2 columns">
                  <label for="user-role"><strong><span class="cc-required-field-indicator">*</span> Role</strong>:</label>
                </div>
                <div class="small-10 columns">
                  <select id="user-role" data-ng-model="selectedRole" data-ng-options="role as role.name for role in grantingRoles"></select>
                </div>
              </div>

              <div class="row collapse">
                <div class="small-2 columns">
                  <label for="course-section"><strong><span class="cc-required-field-indicator">*</span> Section</strong>:</label>
                </div>
                <div class="small-10 columns">
                  <select id="course-section" data-ng-model="selectedSection" data-ng-options="section as section.name for section in courseSections">
                  </select>
                </div>
              </div>

              <div class="row collapse bc-form-options">
                <div class="small-10 small-offset-2 columns">
                  <button id="submit-user" type="submit" class="button tiny">Add User</button>
                  <button id="reset-form" type="button" class="button tiny bc-start-over-button" data-ng-click="resetForm()">Start Over</button>
                </div>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>

  </div>

  <p data-ng-show="showError">
    <i class="fa fa-exclamation-triangle cc-icon-red"></i>
    <span data-ng-bind="errorStatus"></span>
  </p>

</div>
