<div data-ng-controller="RosterController" data-ng-class="{'cc-page-roster': !isLoading}" data-cc-spinner-directive>

  <form class="cc-roster-search" data-ng-hide="errorStatus">
    <input class="cc-roster-input cc-left" placeholder="Search People" data-ng-model="search.$" />

    <div class="cc-select cc-left">
      <select data-ng-model="searchSection">
        <option value="">All Sections</option>
        <option value="{{section.id}}" data-ng-repeat="section in sections">{{section.name}}</option>
      </select>
    </div>
    <div class="cc-right">
      <a data-ng-href="/api/academics/rosters/{{context}}/csv/{{courseId}}.csv" target="_self"
      class="cc-button cc-button-spaced">
        <i class="fa fa-download"></i> Export
      </a>
      <a class="cc-button cc-button-blue cc-button-spaced" data-ng-click="api.util.printPage()">
        <i class="fa fa-print"></i> Print
      </a>
    </div>
  </form>

  <ul class="cc-page-roster-list">
    <li data-ng-repeat="student in students | filter:search | filter:studentInSectionFilter | orderBy:'last_name'">
      <div data-ng-if="student.profile_url">
        <a data-ng-href="student.profile_url" target="_top">
          <div data-ng-include="'canvas_embedded/roster_photo.html'"></div>
        </a>
      </div>
      <div data-ng-if="!student.profile_url">
        <a data-ng-href="{{origin}}/{{context}}/{{courseId}}/profile/{{student.login_id}}" target="_top">
          <div data-ng-include="'canvas_embedded/roster_photo.html'"></div>
        </a>
      </div>
      <div class="cc-page-roster-student-name" data-ng-bind="student.first_name"></div>
      <div class="cc-page-roster-student-name"><strong data-ng-bind="student.last_name"></strong></div>
      <div class="cc-print-hide" data-ng-bind="student.student_id"></div>
    </li>
  </ul>

  <p data-ng-show="errorStatus">
    <i class="fa fa-exclamation-triangle cc-icon-red"></i> You must be a teacher in this bCourses course to view official student rosters.
  </p>

  <p data-ng-hide="students">
    <i class="fa fa-exclamation-circle cc-icon-gold"></i> Students have not yet signed up for this class
  </p>

</div>
