<script type="text/ng-template" id="templates/academics.html">
  <div
    class="cc-page-academics"
    data-cc-spinner-directive>
    <div data-ng-if="canViewAcademics">
      <div class="column">
        <h1 class="cc-heading-page-title">My Academics</h1>
      </div>

      <div class="medium-8 columns cc-academics-page-left" data-ng-if="api.user.profile.hasStudentHistory">
        <div class="cc-widget">
          <div class="cc-widget-title">
            <h2>Records</h2>
          </div>

          <div class="cc-widget-padding">
            <h3>Standing, Major and Level</h3>

            <div class="cc-table cc-table-top-border">
              <table>
                <thead>
                  <tr>
                    <th width="25%">General</th>
                    <th width="25%" class="cc-table-subheader" scope="col">Standing</th>
                    <th width="25%" class="cc-table-subheader" scope="col" data-ng-if="gpa_units.total_units !== null">Units</th>
                    <th class="cc-table-subheader" scope="col" data-ng-if="gpa_units.cumulative_gpa !== null">GPA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><strong data-ng-bind="college_and_level.standing"></strong></td>
                    <td data-ng-if="gpa_units.total_units !== null"><strong data-ng-bind="gpa_units.total_units"></strong></td>
                    <td data-ng-if="gpa_units.cumulative_gpa !== null"><strong data-ng-bind="gpa_units.cumulative_gpa"></strong></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="cc-table cc-table-top-border">
              <table>
                <thead>
                  <tr>
                    <th width="25%">
                      <span data-ng-if="isUndergraduate">College and Major</span>
                      <span data-ng-if="!isUndergraduate">School and Program</span>
                    </th>
                    <th width="25%" class="cc-table-subheader" scope="col">
                      <span data-ng-if="isUndergraduate">College</span>
                      <span data-ng-if="!isUndergraduate">School</span>
                    </th>
                    <th width="50%" class="cc-table-subheader" scope="col">
                      <span data-ng-if="isUndergraduate">Major</span>
                      <span data-ng-if="!isUndergraduate">Program</span>
                    </th>
                  </tr>
                </thead>
                <tbody data-ng-repeat="college in college_and_level.colleges">
                  <tr>
                    <td></td>
                    <td><strong data-ng-bind="college.college"></strong></td>
                    <td><strong data-ng-bind="college.major"></strong></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="cc-table cc-table-top-border">
              <table>
                <thead>
                  <tr>
                    <th width="25%">Level</th>
                    <th width="25%" class="cc-table-subheader" scope="col">
                      <span data-ng-if="isUndergraduate">Including AP</span>
                      <span data-ng-if="!isUndergraduate">Current</span>
                    </th>
                    <th width="25%" data-ng-if="isUndergraduate" class="cc-table-subheader" scope="col">
                      <span>Not Including AP</span>
                      <span data-ng-if="!isUndergraduate">Current</span>
                    </th>
                    <th width="{{isUndergraduate && '25' || '50'}}%" class="cc-table-subheader" scope="col">Future (Tele-BEARS)
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td><strong data-ng-bind="college_and_level.level"></strong></td>
                    <td data-ng-if="isUndergraduate"><strong data-ng-bind="college_and_level.non_ap_level"></strong></td>
                    <td><strong data-ng-bind="college_and_level.future_telebears_level"></strong></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="cc-academics-status-and-blocks">
              <h3><span data-ng-if="studentInfo.regStatus.code !== null && api.user.profile.features.academic_status">Status and </span>Blocks</h3>

              <div class="cc-table" data-ng-if="studentInfo.regStatus.code !== null && api.user.profile.features.academic_status">
                <h4>Status Type</h4>
                <table>
                  <thead>
                    <tr>
                      <th scope="col" width="20%">Type</th>
                      <th scope="col" width="20%">Status</th>
                      <th scope="col">Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="cc-table-subheader" scope="row">Registration</td>
                      <td>
                        <i class="cc-icon fa"
                          data-ng-class="{true:'fa-check-circle cc-icon-green',false:'fa-exclamation-circle'}[studentInfo.regStatus.summary=='Registered']">
                        </i>
                        <span data-ng-bind="studentInfo.regStatus.summary"></span>
                      </td>
                      <td data-ng-bind-html="studentInfo.regStatus.explanation"></td>
                    </tr>
                    <tr>
                      <th class="cc-table-subheader" scope="row">California Residency</td>
                      <td>
                        <i class="cc-icon fa"
                          data-ng-class="{true:'fa-exclamation-circle',false:'fa-check-circle cc-icon-green'}[studentInfo.californiaResidency.needsAction]"></i>
                        <span data-ng-bind="studentInfo.californiaResidency.summary"></span>
                      </td>
                      <td data-cc-compile-directive="studentInfo.californiaResidency.explanation"></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h4>Active Blocks</h4>
              <div class="cc-table" data-ng-if="regblocks.active_blocks.length && regblocks.available">
                <table>
                  <thead>
                    <tr>
                      <th scope="col" width="20%">Type</th>
                      <th scope="col" width="20%">Reason</th>
                      <th scope="col" width="20%">Office</th>
                      <th scope="col" width="40%">Blocked</th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="block in regblocks.active_blocks | orderBy:'blocked_date.epoch':true">
                    <tr class="cc-widget-table-hover"
                       data-ng-class="{'cc-widget-table-hover-opened':(block.show)}"
                       data-cc-accessible-focus-directive
                       data-ng-click="api.widget.toggleShow($event, regblocks.active_blocks, block, 'Active Blocks')">
                      <td><i class="fa fa-exclamation-circle"></i><span data-ng-bind="block.type"></span></td>
                      <td class="cc-ellipsis" data-ng-bind="block.reason"></td>
                      <td data-ng-bind="block.office || '&nbsp;'"></td>
                      <td data-ng-bind="block.blocked_date.epoch * 1000 | date:'MM/dd/yy'"></td>
                    </tr>
                    <tr data-ng-if="block.show">
                      <td data-ng-bind-html="block.message" colspan="4"></td>
                    </tr>
                    <tr data-ng-if="block.show">
                      <td colspan="4">
                        <button class="cc-button-link cc-academics-what-is-registration-block"
                                data-ng-click="api.util.preventBubble($event);block.show_regblock_definition=!block.show_regblock_definition">
                          <i class="fa fa-question-circle text-info"></i>What is a registration block?
                        </button>
                      </td>
                    </tr>
                    <tr data-ng-if="block.show_regblock_definition && block.show">
                      <td colspan="4">
                        <p>
                          A registration block prevents you from being "officially registered" as a student who is attending U.C. Berkeley. You must have both enrolled in classes and paid your fees to be an "officially registered" student.
                          <a href="http://studentcentral.berkeley.edu/node/96">Learn more about blocks &raquo;</a>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div data-ng-if="!regblocks.active_blocks.length && regblocks.available">
                <div class="row collapse">
                  <div class="medium-6 columns end">You have no active blocks at this time.</div>
                </div>
              </div>
              <div data-ng-if="!regblocks.available">
                <div class="row collapse">
                  <div class="medium-6 columns end"><i class="fa fa-exclamation-triangle cc-unavailable"></i>Block message is currently unavailable.</div>
                </div>
              </div>
              <div class="cc-academics-showhide-block-history" data-ng-if="regblocks.available">
                <p class="cc-academics-nolink cc-academics-empasize"
                  data-ng-if="!regblocks.inactive_blocks.length">No block history
                </p>
                <div data-ng-if="regblocks.inactive_blocks.length">
                  <button
                    class="cc-button cc-button-blue"
                    data-ng-click="toggleBlockHistory()">
                      <span data-ng-if="!showBlockHistory">Show block history</span>
                      <span data-ng-if="showBlockHistory">Hide block history</span>
                  </button>
                </div>
              </div>

              <div class="cc-table">
                <table class="cc-academics-block-history" data-ng-if="showBlockHistory">
                  <thead>
                    <tr>
                      <th scope="col" width="20%">Type</th>
                      <th scope="col" width="20%">Reason</th>
                      <th scope="col" width="20%">Office</th>
                      <th scope="col" width="20%">Blocked</th>
                      <th scope="col" width="20%">Cleared</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="block in regblocks.inactive_blocks | orderBy:'blocked_date.epoch':true">
                      <td data-ng-bind="block.type || '&nbsp;'"></td>
                      <td data-ng-bind="block.reason || '&nbsp;'"></td>
                      <td data-ng-bind="block.office || '&nbsp;'"></td>
                      <td data-ng-bind="block.blocked_date.epoch * 1000 | date:'MM/dd/yy' || '&nbsp;'"></td>
                      <td data-ng-bind="block.cleared_date.epoch * 1000 | date:'MM/dd/yy' || '&nbsp;'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <h3 data-ng-if="requirements">University Requirements</h3>
            <div data-ng-if="requirements" class="cc-table">
              <table>
                <thead>
                  <tr>
                    <th scope="col" width="25%">Requirement</th>
                    <th scope="col">Met?</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="requirement in requirements">
                    <th data-ng-bind="requirement.name" scope="row" class="cc-table-subheader"></th>
                    <td>
                      <i class="cc-icon fa" data-ng-class="{'fa-check-circle cc-icon-green':(requirement.status=='met'), 'fa-edit':(requirement.status!='met')}"></i>
                      <span class="cc-visuallyhidden" data-ng-bind-template="{{requirement.name}} has {{requirement.status!='met' ? 'not' : ''}} been met"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-4 columns" data-ng-class="{'pull-8':(!api.user.profile.hasStudentHistory)}">
        <div class="cc-widget cc-widget-last" data-ng-if="teachingLength">
          <div class="cc-widget-title">
            <h2>Teaching</h2>
          </div>
          <div class="cc-widget-padding">
            <div class="cc-academics-teaching-semester" data-ng-repeat="semester in teachingSemesters">
              <h3><a data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
              <div class="cc-academics-teaching-class" data-ng-repeat="class in semester.classes">
                <div class="cc-academics-teaching-course-number">
                  <strong><a data-ng-bind="class.course_code" data-ng-href="{{class.url}}"></a></strong>
                </div>
                <div class="cc-text-light" data-ng-bind="class.title"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="cc-widget cc-widget-last" data-ng-if="api.user.profile.hasStudentHistory && semesters.length">
          <div class="cc-widget-title">
            <h2 class="cc-left">Semesters</h2>
            <a href="https://telebears.berkeley.edu/tranreq/" class="cc-right cc-widget-title-link">
              <strong>Order Transcripts</strong>
            </a>
          </div>

          <div class="cc-academics-semesters">

            <div class="cc-table cc-academics-semester cc-academics-semester-{{semester.timeBucket}}" data-ng-repeat="semester in semesters">
              <div>
                <h3><a class="cc-left" data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
                <a class="cc-right cc-academics-semester-title-link" data-ng-href="/academics/booklist" data-ng-show="semester.timeBucket === 'current'">Book List</a>
                <table data-ng-if="semester.classes">
                  <thead>
                    <tr>
                      <th width="25%" scope="col">Class</th>
                      <th width="60%" scope="col">Title</th>
                      <th width="20%" scope="col" class="cc-table-right" data-ng-class="{'cc-table-right-spacing':(semester.timeBucket === 'past')}">
                        <span data-ng-if="semester.timeBucket !== 'past'">Units</span>
                        <span data-ng-if="semester.timeBucket === 'past'" title="Units">Un.</span>
                      </th>
                      <th width="25%" scope="col" data-ng-if="semester.timeBucket === 'past'" title="Grades">Gr.</th>
                    </tr>
                  </thead>
                  <tbody data-ng-if="semester.timeBucket !== 'past'" data-ng-repeat="class in semester.classes">
                    <tr data-ng-repeat="section in class.sections" data-ng-if="section.is_primary_section">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="section.units | number:1" class="cc-table-right"></td>
                    </tr>
                  </tbody>
                  <tbody data-ng-if="semester.timeBucket === 'past'" data-ng-repeat="class in semester.classes">
                    <tr data-ng-if="class.transcript && class.transcript.length > 0" data-ng-repeat="transcript in class.transcript">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="transcript.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
                      <td data-ng-bind="transcript.grade" data-ng-if="semester.timeBucket === 'past'"></td>
                    </tr>
                    <tr data-ng-if="(!class.transcript || class.transcript.length === 0) && section.is_primary_section" data-ng-repeat="section in class.sections">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="section.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
                      <td>--</td>
                    </tr>
                  </tbody>
                </table>
                <div class="cc-academics-semesters-telebears cc-clearfix" data-ng-if="telebears.slug === semester.slug">
                  <div class="cc-academics-semesters-telebears-header">
                    <h4 class="cc-left">Tele-BEARS</h4>
                    <strong class="cc-academics-adviser-more-info"><a data-ng-href="{{telebears.url}}">More Info</a></strong></h3>
                  </div>
                  <div data-ng-include src="'templates/adviser_message.html'"></div>
                  <table>
                    <thead>
                      <tr>
                        <th width="10%" scope="col">Phase</th>
                        <th width="40%" scope="col" class="cc-telebears-date-padding">Start Date</th>
                        <th width="50%" scope="col">Start Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="phase in telebears.phases">
                        <td data-ng-bind="phase.period" class="cc-telebears-phase-center"></td>
                        <td data-ng-bind="phase.startTime.epoch * 1000 | date:'EEE MMM d'" class="cc-telebears-date-padding"></td>
                        <td data-ng-bind="phase.startTime.epoch * 1000 | dateUnlessNoonFilter:'h:mm a'"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cc-page-academics" data-ng-if="!canViewAcademics" data-ng-cloak>
    <div class="small-12 columns">
      <h2>Data not available</h2>
      <p>
        This page displays academic status information for UC Berkeley students and faculty, and is not available to staff.
      </p>
      <p>
        If you believe you are seeing this message is an error, please contact <a href="https://ets.berkeley.edu/help/calcentral">CalCentral Help</a>.
      </p>
    </div>
  </div>
</script>
