<script type="text/ng-template" id="templates/academics.html">
  <div
    class="cc-page-academics"
    data-cc-spinner-directive>
    <div data-ng-if="canViewAcademics">
      <div class="column">
        <h1 class="cc-heading-page-title">My Academics</h1>
      </div>

      <div data-ng-if="api.user.profile.hasStudentHistory || api.user.profile.roles.student"
        data-ng-include src="'academics_student_summary.html'"></div>

      <div class="medium-4 columns" data-ng-class="{'pull-8':(!api.user.profile.hasStudentHistory)}">
        <div class="cc-widget cc-widget-last" data-ng-if="api.user.profile.roles.faculty || teachingLength">
          <div class="cc-widget-title">
            <h2>Teaching</h2>
          </div>
          <div class="cc-widget-padding">
            <div data-ng-if="!teachingLength">
              <p>
                You are officially an instructor at UC Berkeley, but no courses assigned to you are currently available through campus services.
              </p>
              <p>
                As your status changes, check back for information on class activity, sections, schedules, enrollments, websites, videos, and textbooks.
              </p>
            </div>
            <div class="cc-academics-teaching-semester" data-ng-if="teachingLength" data-ng-repeat="semester in teachingSemesters">
              <h3><a data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
              <div class="cc-academics-teaching-class" data-ng-repeat="class in semester.classes">
                <div class="cc-academics-teaching-course-number">
                  <strong><a data-ng-bind="class.course_code" data-ng-href="{{class.url}}"></a></strong>
                </div>
                <div class="cc-text-light" data-ng-bind="class.title"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="cc-widget cc-widget-last" data-ng-if="api.user.profile.hasStudentHistory && semesters.length">
          <div class="cc-widget-title">
            <h2 class="cc-left">Semesters</h2>
            <a href="https://telebears.berkeley.edu/tranreq/" class="cc-right cc-widget-title-link">
              <strong>Order Transcripts</strong>
            </a>
          </div>

          <div class="cc-academics-semesters">

            <div class="cc-table cc-academics-semester cc-academics-semester-{{semester.timeBucket}}" data-ng-repeat="semester in semesters">
              <div>
                <h3><a class="cc-left" data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
                <a class="cc-right cc-academics-semester-title-link" data-ng-href="/academics/booklist" data-ng-show="semester.timeBucket === 'current'">Book List</a>
                <table data-ng-if="semester.classes">
                  <thead>
                    <tr>
                      <th width="25%" scope="col">Class</th>
                      <th width="60%" scope="col">Title</th>
                      <th width="20%" scope="col" class="cc-table-right" data-ng-class="{'cc-table-right-spacing':(semester.timeBucket === 'past')}">
                        <span data-ng-if="semester.timeBucket !== 'past'">Units</span>
                        <span data-ng-if="semester.timeBucket === 'past'" title="Units">Un.</span>
                      </th>
                      <th width="25%" scope="col" data-ng-if="semester.timeBucket === 'past'" title="Grades">Gr.</th>
                    </tr>
                  </thead>
                  <tbody data-ng-if="semester.timeBucket !== 'past'" data-ng-repeat="class in semester.classes">
                    <tr data-ng-repeat="section in class.sections" data-ng-if="section.is_primary_section">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="section.units | number:1" class="cc-table-right"></td>
                    </tr>
                  </tbody>
                  <tbody data-ng-if="semester.timeBucket === 'past'" data-ng-repeat="class in semester.classes">
                    <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="transcript.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
                      <td data-ng-bind="transcript.grade" data-ng-if="semester.timeBucket === 'past'"></td>
                    </tr>
                    <tr data-ng-if="!class.transcript && section.is_primary_section" data-ng-repeat="section in class.sections">
                      <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
                      <td data-ng-bind="class.title"></td>
                      <td data-ng-bind="section.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
                      <td>--</td>
                    </tr>
                  </tbody>
                </table>
                <div class="cc-academics-semesters-telebears cc-clearfix" data-ng-if="telebears.slug === semester.slug">
                  <div class="cc-academics-semesters-telebears-header">
                    <h4 class="cc-left">Tele-BEARS</h4>
                    <strong class="cc-academics-adviser-more-info"><a data-ng-href="{{telebears.url}}">More Info</a></strong></h3>
                  </div>
                  <div data-ng-include src="'adviser_message.html'"></div>
                  <table>
                    <thead>
                      <tr>
                        <th width="10%" scope="col">Phase</th>
                        <th width="40%" scope="col" class="cc-telebears-date-padding">Start Date</th>
                        <th width="50%" scope="col">Start Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="phase in telebears.phases">
                        <td data-ng-bind="phase.period" class="cc-telebears-phase-center"></td>
                        <td data-ng-bind="phase.startTime.epoch * 1000 | date:'EEE MMM d'" class="cc-telebears-date-padding"></td>
                        <td data-ng-bind="phase.startTime.epoch * 1000 | dateUnlessNoonFilter:'h:mm a'"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cc-page-academics" data-ng-if="!canViewAcademics" data-ng-cloak>
    <div class="small-12 columns">
      <h2>Data not available</h2>
      <p>
        This page displays academic status information for UC Berkeley students and faculty, and is not available to staff.
      </p>
      <p>
        If you believe you are seeing this message is an error, please contact <a href="https://ets.berkeley.edu/help/calcentral">CalCentral Help</a>.
      </p>
    </div>
  </div>
</script>
