<script type="text/ng-template" id="templates/academics_semester.html">
  <div
    class="cc-page-academics"
    data-cc-spinner-directive
    data-ng-show="can_view_academics"
  >
    <div>
      <h1 class="cc-heading-page-title cc-ellipsis cc-left">
        <a href="/academics">My Academics</a> &raquo; <span data-ng-bind="selected_semester.name"></span>
      </h1>
    </div>
    <div class="cc-right cc-academics-prev-next cc-uppercase" data-ng-if="prev_next_semester_show">
      <a class="cc-academics-prev" data-ng-if="previous_semester.slug" data-ng-href="/academics/semester/{{previous_semester.slug}}">Prev semester</a>
      <span class="cc-academics-prev cc-academics-prev-next-disabled" data-ng-hide="previous_semester.slug">Prev semester</span>
      <span class="cc-academics-prev-next-devider"> | </span>
      <a class="cc-academics-next" data-ng-if="next_semester.slug" data-ng-href="/academics/semester/{{next_semester.slug}}">Next semester</a>
      <span class="cc-academics-next cc-academics-prev-next-disabled" data-ng-hide="next_semester.slug">Next semester</span>
    </div>

    <div class="medium-8 columns cc-academics-page-left cc-clearfix" data-ng-hide="selected_student_semester && !selectedCourses.length && selected_semester.time_bucket === 'future'">
      <div class="cc-widget">
        <div class="cc-widget-title">
          <h2>Classes</h2>
        </div>
        <div data-ng-if="selected_student_semester || ((selected_semester.time_bucket === 'current') && !selected_teaching_semester)">
          <div class="cc-academics-subtitle">
            <h3>Enrollments</h3>
          </div>
          <div class="cc-widget-padding">
            <h3 data-ng-if="selected_semester.time_bucket === 'current'">Current</h3>
            <div class="cc-table">
              <table>
                <thead>
                  <th scope="col" class="cc-table-right-spacing">Course Number</th>
                  <th scope="col">Title</th>
                  <th scope="col">Grade Option</th>
                  <th class="cc-table-right" scope="col">Units</th>
                </thead>
                <tbody data-ng-if="selectedCourses.length" data-ng-repeat="course in enrolled_courses">
                  <tr data-ng-class-even="'cc-academics-even'">
                    <td class="cc-table-right-spacing cc-academics-course-number">
                      <a data-ng-href="/academics/semester/{{selected_semester.slug}}/class/{{course.slug}}"
                         data-ng-bind="course.course_number">
                      </a>
                      <div data-ng-repeat="section in course.sections">
                        <span data-ng-bind="section.section_label"></span>
                      </div>
                    </td>
                    <td data-ng-bind="course.title"></td>
                    <td data-ng-bind="course.grade_option"></td>
                    <td class="cc-table-right" data-ng-bind="course.units | number:1"></td>
                  </tr>
                </tbody>
                <tbody data-ng-if="(selected_semester.time_bucket === 'current') && !selectedCourses.length">
                  <tr>
                    <td>
                      <p>You are not currently enrolled in any courses.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div data-ng-if="waitlisted_courses.length">
              <h3>Wait Lists</h3>
              <div class="cc-table">
                <table>
                  <thead>
                    <th>Course Number &amp; Section</th>
                    <th>Title</th>
                    <th>Waitlist Position / Class Size</th>
                  </thead>
                  <tbody data-ng-repeat="course in waitlisted_courses">
                  <tr data-ng-repeat="section in course.sections">
                    <td>
                      <a data-ng-href="/academics/semester/{{selected_semester.slug}}/class/{{course.slug}}"
                         data-ng-bind="course.course_number">
                      </a>
                      <span data-ng-bind="section.section_label"></span>
                    </td>
                    <td data-ng-bind="course.title"></td>
                    <td>
                      <strong data-ng-bind="section.waitlist_position"></strong> on list of class of <strong data-ng-bind="section.enroll_limit"></strong>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-if="selected_teaching_semester">
          <div class="cc-academics-subtitle">
            <h3>Teaching</h3>
          </div>
          <div class="cc-widget-padding">
            <div class="cc-table">
              <table>
                <thead>
                  <th scope="col" class="cc-table-right-spacing">Course Number</th>
                  <th scope="col">Title</th>
                </thead>
                <tbody data-ng-if="selected_teaching_semester.classes.length" data-ng-repeat="course in selected_teaching_semester.classes">
                  <tr data-ng-class-even="'cc-academics-even'">
                    <td class="cc-table-right-spacing cc-academics-course-number">
                      <a data-ng-href="/academics/teaching-semester/{{selected_semester.slug}}/class/{{course.slug}}"
                         data-ng-bind="course.course_number">
                      </a>
                      <div data-ng-repeat="section in course.sections">
                        <span data-ng-bind="section.section_label"></span>
                      </div>
                    </td>
                    <td data-ng-bind="course.title"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="cc-widget" data-ng-if="selected_semester.time_bucket === 'current'">
        <div class="cc-widget-title">
          <h2>Final Exam Schedule</h2>
        </div>
        <div class="cc-academics-subtitle">
          <h3>Enrollments</h3>
        </div>
        <div class="cc-widget-padding" data-ng-if="examScheduleLength">
          <div data-ng-repeat="(day, dayData) in examSchedule" class="cc-academics-exam-block">
            <div class="row collapse">
              <div class="medium-12 small-12 columns cc-academics-column-labels" data-ng-bind="day * 1000 | date:'EEE MMM d'"></div>
            </div>
            <div class="row collapse" data-ng-repeat="exam in dayData">
              <div class="medium-2 small-2 columns" data-ng-bind="exam.time"></div>
              <div class="medium-4 small-6 columns cc-academics-empasize" data-ng-bind="exam.course_number"></div>
              <div class="medium-6 small-4 columns end">
                <div data-cc-map-link-builder-directive></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cc-widget-text" data-ng-hide="examScheduleLength">No exam schedules listed.</div>
      </div>
    </div>

    <div class="medium-4 columns" data-ng-class="{'pull-8 cc-clearfix':(!selectedCourses.length && selected_semester.time_bucket === 'future')}">
      <div class="cc-academics-telebears cc-widget cc-widget-last" data-ng-if="telebears.slug === selected_semester.slug">
        <div class="cc-widget-title">
          <h2>Appointments</h2>
        </div>
        <div class="cc-widget-padding cc-clearfix-container">
          <div>
            <h3 class="cc-left cc-telebears-title">Tele-BEARS for {{ telebears.term }} {{ telebears.year }}
            <strong class="cc-more-info"><a data-ng-href="{{telebears.url}}">More Info</a></strong></h3>
          </div>
          <div class="cc-clearfix cc-adviser-message-container">
            <i class="cc-left fa" data-ng-class="{true:'fa-exclamation-circle',false:'fa-check-circle cc-icon-green'}[telebears.adviser_code_required.required]">
            </i>
            <div class="cc-adviser-message" data-ng-bind="telebears.adviser_code_required.message"></div>
          </div>
          <div>
            <div class="cc-telebears-phases" data-ng-repeat="phase in telebears.phases">
              <h4 data-ng-bind-template="Tele-BEARS Phase {{phase.period}}"></h4>
              <ul>
                <li>
                  <div class="columns medium-2 small-3"><strong class="cc-telebears-time-tag">Start</strong></div>
                  <div class="columns medium-10 small-9" data-ng-bind="phase.startTime.epoch * 1000 | cc.dateUnlessNoon:'EEE MMM d | h:mm a'"></div>
                </li>
                <li>
                  <div class="columns medium-2 small-3"><strong class="cc-telebears-time-tag">End</strong></div>
                  <div class="columns medium-10 small-9" data-ng-bind="phase.endTime.epoch * 1000 | cc.dateUnlessNoon:'EEE MMM d | h:mm a'"></div>
                </li>
              </ul>
            </div>
          </div>
          <button class="cc-button cc-left" data-ng-if="api.user.profile.has_google_access_token" data-ng-click="addTelebearsAppointment(telebears.phases)">
            Add Appointments to bCal
          </button>
          <div
            class="cc-academics-telebears-indicator cc-left"
            data-cc-loading-directive="telebears_appointment_loading"
            data-cc-loading-process="Adding..."
            data-cc-loading-success="Events added."
            data-cc-loading-error="Events not added. Try again later.">
          </div>
        </div>
      </div>
      <div data-ng-if="selected_student_semester && (selected_semester.time_bucket !== 'future')" class="cc-widget cc-widget-interesting cc-widget-last">
        <div class="cc-widget-title">
          <h2>GPA Calculator</h2>
        </div>

        <div class="cc-widget-padding">
          <div>
            <h4>Estimate your grades for <span data-ng-bind="selected_semester.name"></span></h4>
            <div class="cc-table" data-ng-if="selectedCourses.length">
              <table data-ng-if="selected_semester.time_bucket === 'current'">
                <tbody>
                    <td><strong>Current GPA: </strong></td>
                    <td><strong data-ng-bind="(current_cumulative_gpa | number:2) || 'N/A'"></strong></td>
                  </tr>
                </tbody>
              </table>
              <table>
                <thead>
                  <th scope="col" width="60%">Class</th>
                  <th scope="col" class="cc-table-right cc-table-right-spacing">Units</th>
                  <th scope="col">Grade</th>
                </thead>
                <tbody>
                  <tr data-ng-repeat="course in selectedCourses">
                    <td data-ng-bind="course.course_number"></td>
                    <td class="cc-table-right cc-table-right-spacing" data-ng-bind="course.units | number:1"></td>
                    <td data-ng-if="!course.units">--</td>
                    <td>
                      <select
                        data-ng-if="course.grade_option=='Letter' && course.units && !course.grade"
                        data-ng-model="course.estimated_grade"
                        data-ng-change="gpaUpdateCourse(course, course.estimated_grade)"
                        data-ng-options="g.weight as g.grade for g in gradeopts"
                      >
                      </select>
                      <span data-ng-if="course.grade" data-ng-bind="course.grade"></span>
                      <span data-ng-if="course.grade_option!=='Letter' && selected_semester.time_bucket === 'current'" data-ng-bind="course.grade_option"></span>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td colspan="2"><strong>Estimated semester GPA:</strong></td>
                    <td><strong data-ng-bind="(estimated_gpa | number:2) || 'N/A'"></strong></td>
                  </tr>
                  <tr data-ng-if="selected_semester.time_bucket === 'current'">
                    <td colspan="2"><strong>Estimated cumulative GPA:</strong></td>
                    <td><strong data-ng-bind="(estimated_cumulative_gpa | number:2) || 'N/A'"></strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row collapse cc-academics-calculator-disclaimer" data-ng-if="selectedCourses.length">
              <div class="medium-12 small-12 columns">
                <p>This calculator provides a "best guess" calculation of your GPA based on available data<span data-ng-show="hideDisclaimer">...</span>
                  <span data-ng-show="!hideDisclaimer">and may not reflect your actual GPA. For a more accurate assessment of your GPA, please contact your advisor.<br /><br />When grades are available, your actual grade will replace the popup menu for that class. Once a semester is over, if any grades are still not available a popup menu will remain that will allow you to enter your estimated grade.<br /><br />The estimated cumulative GPA calculation does not consider repeated courses.</span>

                  <button class="cc-button-link" data-ng-show="hideDisclaimer" data-ng-click="hideDisclaimer=!hideDisclaimer">Show more</button>
                  <button class="cc-button-link" data-ng-show="!hideDisclaimer" data-ng-click="hideDisclaimer=!hideDisclaimer">Show less</button>
                </p>
              </div>
            </div>
            <div data-ng-show="!selectedCourses.length">
              <p>To calculate your GPA, you must be enrolled in one or more classes for the selected semester.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
