<script type="text/ng-template" id="templates/academics_booklist.html">
  <div
    class="cc-page-academics"
    data-cc-spinner-directive
    data-ng-show="canViewAcademics"
  >
    <div data-ng-controller="BooklistController">
      <h1 class="cc-heading-page-title cc-ellipsis cc-left cc-print-hide">
        <a href="/academics">My Academics</a> &raquo;
        <a data-ng-href="/academics/semester/{{semesterSlug}}" data-ng-bind="semester_name"></a> &raquo;
        Book List
      </h1>

      <div class="cc-widget medium-8 columns cc-academics-page-left cc-clearfix">
        <div class="cc-widget-title">
          <div class="cc-left">
            <h2>My Book List &raquo; <span data-ng-bind="semester_name"></span></h2>
          </div>
        </div>
        <div class="cc-academics-semester-books">
          <div class="cc-widget-padding" data-ng-if="api.user.profile.features.textbooks && semesterBooks.hasBooks">
            <div data-ng-repeat="course_books in semesterBooks" class="cc-clearfix-container">
              <h3 class="cc-book-title" data-ng-bind="course_books.course"></h3>
              <div data-ng-repeat="books in course_books">
                <div ng-include="'templates/textbook.html'"></div>
                <div data-ng-if="books.hasBooks === false">
                  Currently, there is no textbook information for this course. Check again later for updates, or contact your instructor directly.
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
