<script type="text/ng-template" id="templates/academics_student_summary.html">
  <div class="medium-8 columns cc-academics-page-left">
    <div class="cc-widget">
      <div class="cc-widget-title">
        <h2>Records</h2>
      </div>

      <div class="cc-widget-padding cc-academics-nocontent-container" data-ng-if="!collegeAndLevel.standing">
        <div data-ng-if="collegeAndLevel.errored">
          There was a problem reaching campus services.
          Please try again later, or check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>.
        </div>
        <div data-ng-if="collegeAndLevel.empty || collegeAndLevel.noStudentId">
          <h3>Standing</h3>
          <p data-ng-if="!api.user.profile.roles.student && api.user.profile.roles.exStudent">
            You are not currently considered an active student.
          </p>
          <div data-ng-if="api.user.profile.roles.student">
            <p data-ng-if="api.user.profile.roles.registered">
              You are registered as a student but not currently considered active by all campus services.
            </p>
            <p data-ng-if="!api.user.profile.roles.registered">
              You are not currently officially registered as a student.
            </p>
            <p data-ng-if="semesters.length || studentInfo.regStatus.code !== null || requirements.length">
              Please try again later, or check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>.
            </p>
            <div class="cc-academics-nocontent" data-ng-if="!semesters.length && studentInfo.regStatus.code === null && !requirements.length">
              <p>More information will display here when your academic status changes. Check back often for information about:</p>
              <ul class="cc-list-bullets">
                <li>Class enrollments, including waitlist information.</li>
                <li>Your academic status, including standing, GPA, units, major, college, and more.</li>
                <li>Your registration status, including any blocks limiting your access to campus services.</li>
                <li>Course information, including class and exam schedules, class locations, textbooks, and webcasts.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="cc-widget-padding" data-ng-if="collegeAndLevel.standing">
        <h3>Standing, Major and Level</h3>

        <div class="cc-table cc-table-top-border">
          <table>
            <thead>
              <tr>
                <th width="25%">General</th>
                <th width="25%" class="cc-table-subheader" scope="col">Standing</th>
                <th width="25%" class="cc-table-subheader" scope="col" data-ng-if="gpaUnits.totalUnits !== null">Units</th>
                <th class="cc-table-subheader" scope="col" data-ng-if="gpaUnits.cumulativeGpa !== null">GPA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td><strong data-ng-bind="collegeAndLevel.standing"></strong></td>
                <td data-ng-if="gpaUnits.totalUnits !== null"><strong data-ng-bind="gpaUnits.totalUnits"></strong></td>
                <td data-ng-if="gpaUnits.cumulativeGpa !== null"><strong data-ng-bind="gpaUnits.cumulativeGpa"></strong></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cc-table cc-table-top-border">
          <table>
            <thead>
              <tr>
                <th width="25%">
                  <span data-ng-if="isUndergraduate">College and Major</span>
                  <span data-ng-if="!isUndergraduate">School and Program</span>
                </th>
                <th width="25%" class="cc-table-subheader" scope="col">
                  <span data-ng-if="isUndergraduate">College</span>
                  <span data-ng-if="!isUndergraduate">School</span>
                </th>
                <th width="50%" class="cc-table-subheader" scope="col">
                  <span data-ng-if="isUndergraduate">Major</span>
                  <span data-ng-if="!isUndergraduate">Program</span>
                </th>
              </tr>
            </thead>
            <tbody data-ng-repeat="college in collegeAndLevel.colleges">
              <tr>
                <td></td>
                <td><strong data-ng-bind="college.college"></strong></td>
                <td><strong data-ng-bind="college.major"></strong></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cc-table cc-table-top-border">
          <table>
            <thead>
              <tr>
                <th width="25%">Level</th>
                <th width="25%" class="cc-table-subheader" scope="col">
                  <span data-ng-if="isUndergraduate">Including AP</span>
                  <span data-ng-if="!isUndergraduate">Current</span>
                </th>
                <th width="25%" data-ng-if="isUndergraduate" class="cc-table-subheader" scope="col">
                  <span>Not Including AP</span>
                  <span data-ng-if="!isUndergraduate">Current</span>
                </th>
                <th width="{{isUndergraduate && '25' || '50'}}%" class="cc-table-subheader" scope="col">Future (Tele-BEARS)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td><strong data-ng-bind="collegeAndLevel.level"></strong></td>
                <td data-ng-if="isUndergraduate"><strong data-ng-bind="collegeAndLevel.non_ap_level"></strong></td>
                <td><strong data-ng-bind="collegeAndLevel.future_telebears_level"></strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="cc-widget-padding">
        <div class="cc-academics-status-and-blocks" data-ng-if="!regblocks.noStudentId || studentInfo.regStatus.code !== null">
          <h3><span data-ng-if="studentInfo.regStatus.code !== null">Status and </span>Blocks</h3>

          <div class="cc-table" data-ng-if="studentInfo.regStatus.code !== null">
            <h4>Status Type</h4>
            <table>
              <thead>
                <tr>
                  <th scope="col" width="20%">Type</th>
                  <th scope="col" width="20%">Status</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="cc-table-subheader" scope="row">Registration</td>
                  <td>
                    <i class="cc-icon fa"
                       data-ng-class="{true:'fa-check-circle cc-icon-green',false:'fa-exclamation-circle'}[studentInfo.regStatus.summary=='Registered']">
                    </i>
                    <span data-ng-bind="studentInfo.regStatus.summary"></span>
                  </td>
                  <td data-ng-bind-html="studentInfo.regStatus.explanation"></td>
                </tr>
                <tr>
                  <th class="cc-table-subheader" scope="row">California Residency</td>
                  <td>
                    <i class="cc-icon fa"
                       data-ng-class="{true:'fa-exclamation-circle',false:'fa-check-circle cc-icon-green'}[studentInfo.californiaResidency.needsAction]"></i>
                    <span data-ng-bind="studentInfo.californiaResidency.summary"></span>
                  </td>
                  <td data-cc-compile-directive="studentInfo.californiaResidency.explanation"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="!regblocks.errored" data-ng-include src="'templates/academics_regblocks.html'"></div>
          <div data-ng-if="regblocks.errored">
            <div class="row collapse">
              <div class="medium-6 columns end"><i class="fa fa-exclamation-triangle cc-errored"></i>Block message is currently unavailable.</div>
            </div>
          </div>

        </div>

        <h3 data-ng-if="requirements">University Requirements</h3>
        <div data-ng-if="requirements" class="cc-table">
          <table>
            <thead>
              <tr>
                <th scope="col" width="25%">Requirement</th>
                <th scope="col">Met?</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="requirement in requirements">
                <th data-ng-bind="requirement.name" scope="row" class="cc-table-subheader"></th>
                <td>
                  <i class="cc-icon fa" data-ng-class="{'fa-check-circle cc-icon-green':(requirement.status=='met'), 'fa-edit':(requirement.status!='met')}"></i>
                  <span class="cc-visuallyhidden" data-ng-bind-template="{{requirement.name}} has {{requirement.status!='met' ? 'not' : ''}} been met"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</script>
