<script type="text/ng-template" id="templates/cal1card.html">
  <div class="cc-widget cc-cal1card" data-ng-controller="Cal1CardController" data-ng-if="api.user.profile.features.cal1card">
    <div class="cc-widget-title cc-cal1card-logo">
      <h2>Cal 1 Card</h2>
    </div>
    <div data-cc-spinner-directive>
      <div class="cc-widget-text" data-ng-if="body" data-ng-bind="body"></div>
      <ul class="cc-widget-list" data-ng-if="!body">
        <li class="cc-clearfix-container" data-ng-if="cal1cardLost === 'Lost'">
          <div class="cc-cal1card-header">
            <strong>Did you know?</strong>
          </div>
          <i class="fa fa-exclamation-circle"></i> Your Cal 1 Card is reported as lost.
        </li>
        <li class="cc-clearfix-container" data-ng-if="cal1cardLost === 'Found'">
          <div class="cc-cal1card-header">
            <strong>Good news!</strong>
          </div>
          <i class="fa fa-check cc-icon-green"></i> Your Cal 1 Card has been found.
        </li>
        <li class="cc-clearfix-container">
          <div data-ng-if="debitMessage === 'OK' && debitMessage !== 'Inactive'">
            <div class="cc-cal1card-header">
              <strong>Debit Account</strong>
            </div>
            <div class="cc-cal1card-yourbalance">
              Your current balance:
            </div>
            <span class="cc-left cc-cal1card-amount" data-ng-bind="debit + '' | currency"></span>
            <a href="http://cal1card.berkeley.edu" class="cc-right">Manage Your Card</a>
          </div>
          <div data-ng-if="debitMessage !== 'OK' || debitMessage === 'Inactive'">
            <div class="cc-cal1card-header">
              <strong>You don't have a debit account.</strong>
            </div>
            <a href="http://cal1card.berkeley.edu">Learn more about Cal 1 Card</a>
          </div>
        </li>
        <li>
          <div data-ng-if="mealpointsPlan">
            <div class="cc-cal1card-header">
              <strong>Meal Plan</strong><span data-ng-if="mealpointsPlan"> &bull; </span><span data-ng-bind="mealpointsPlan"></span>
            </div>
            <div class="cc-cal1card-yourbalance">
              Your current balance:
            </div>
            <span class="cc-left cc-cal1card-amount" data-ng-bind="mealpoints | number"></span> <span class="cc-cal1card-points">pts</span>
            <a href="http://caldining.berkeley.edu" class="cc-right">Manage Your Points</a>
          </div>
          <div data-ng-if="!mealpointsPlan">
            <div class="cc-cal1card-header">
              <strong>You don't have a meal plan.</strong>
            </div>
            <a href="http://caldining.berkeley.edu">Learn more about Meal Plans</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>
