<script type="text/ng-template" id="templates/campus_link_list">
  <div class="cc-list-link-container" data-ng-repeat="subcategory in subcategories">
    <h3>{{subcategory}}</h3>

    <ul class="cc-list-links">
      <li data-ng-repeat="link in links | orderBy:'name' | campusLinksSubcategoryFilter:subcategory">
        <a data-ng-href="{{link.url}}"
          data-ng-click="api.analytics.trackExternalLink('Campus links', subcategory, link.url)"
          title="{{link.description}}">{{link.name}}</a>
      </li>
    </ul>
  </div>
</script>
