<script type="text/ng-template" id="templates/campus.html">

  <div class="cc-page-campus">

    <div class="nine columns cc-page-campus-content push-three">

      <div data-ng-show="currentTopCategory==''">
        <h1>Campus Pages</h1>
        <p class="cc-page-campus-content-explanation">CalCentral Campus Pages offer a jumping off point into the broader campus. They encourage the discovery of campus resources, with content personalized to each person.</p>
      </div>

      <h1>{{currentTopCategory}}</h1>

      <div class="cc-page-campus-content-subcontainer" data-ng-repeat="subcategory in subcategories">

        <h2>{{subcategory}}</h2>

        <ul>
          <li data-ng-repeat="link in links | orderBy:'name' | linksubcategory:subcategory "><a href="{{link.url}}" title="{{link.description}}">{{link.name}}</a></li>
        </ul>

      </div>
    </div>

    <div class="three columns cc-page-campus-navigation pull-nine">
      <ul>
        <li><a href="/campus">Campus Pages</a></li>
      </ul>
      <h3>Academics</h3>
      <ul>
        <li data-ng-show="topcategories['Academic Planning']"><a href="/campus/academicplanning">Academic Planning</a></li>
        <li data-ng-show="topcategories['Campus Departments']"><a href="/campus/campusdepartments">Campus Departments</a></li>
        <li data-ng-show="topcategories['Learning & Research']"><a href="/campus/learningandresearch">Learning &amp; Research</a></li>
      </ul>
      <h3>Administrative</h3>
      <ul>
        <li data-ng-show="topcategories['Computing']"><a href="/campus/computing">Computing</a></li>
        <li data-ng-show="topcategories['Food & Housing']"><a href="/campus/foodandhousing">Food &amp; Housing</a></li>
        <li data-ng-show="topcategories['Getting Around']"><a href="/campus/gettingaround">Getting Around</a></li>
        <li data-ng-show="topcategories['New to Campus?']"><a href="/campus/newtocampus">New to Campus?</a></li>
      </ul>
      <h3>Personal</h3>
      <ul>
        <li data-ng-show="topcategories['Career']"><a href="/campus/career">Career</a></li>
        <li data-ng-show="topcategories['Health & Safety']"><a href="/campus/finances">Finances</a></li>
        <li><a href="/campus/healthandsafety">Health &amp; Safety</a></li>
      </ul>
      <h3>Campus Life</h3>
      <ul>
        <li data-ng-show="topcategories['Community']"><a href="/campus/community">Community</a></li>
        <li data-ng-show="topcategories['Social & Recreation']"><a href="/campus/socialandrecreation">Social &amp; Recreation</a></li>
        <li data-ng-show="topcategories['Student Groups']"><a href="/campus/studentgroups">Student Groups</a></li>
      </ul>
    </div>


  </div>

</script>
