<script type="text/ng-template" id="templates/campus.html">

  <div class="cc-page-campus">

    <div class="large-9 push-3 columns cc-page-campus-content">

      <div data-ng-show="currentTopCategory==''">
        <div class="large-6 columns hide-for-small">
          <img src="/assets/ucb_campanile.png" alt="UC Berkeley Campanile" />
        </div>

        <div class="large-6 columns">
          <h1>Campus Pages</h1>
          <p class="cc-page-campus-content-explanation">CalCentral Campus Pages offer a jumping off point into the broader campus. They encourage the discovery of campus resources, with content personalized to each person.</p>
        </div>
      </div>

      <h1>{{currentTopCategory}}</h1>

      <div class="cc-page-campus-content-subcontainer" data-ng-repeat="subcategory in subcategories">

        <h2>{{subcategory}}</h2>

        <ul>
          <li data-ng-repeat="link in links | orderBy:'name' | linksubcategory:subcategory "><a href="{{link.url}}" title="{{link.description}}">{{link.name}}</a></li>
        </ul>

      </div>
    </div>

    <div class="large-3 pull-9 columns cc-page-campus-navigation">

      <div data-ng-repeat="navitem in campusdata.navigation">
        <h3 data-ng-show="navitem.label">{{navitem.label}}</h3>
        <ul>
          <li data-ng-repeat="category in navitem.categories" data-ng-show="topcategories[category.name]">
            <a data-ng-class="{'cc-page-campus-navigation-active':(currentTopCategory==category.name)}" href="/campus/{{category.id}}">{{category.name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</script>
