<script type="text/ng-template" id="templates/dashboard.html">
  <div class="three columns">

  <!-- Begin Calendar / Classes / Groups column -->
    <div class="cc-container-widget" id="cc-widget-mycalendar">
    <div class="cc-widget-title">
        <h2>Up Next <a href="http://bcal.berkeley.edu" class="ir cc-right cc-icon cc-icon-calendar" title="View calendar in bCal">bCal</a></h2>
    </div>
    <!-- MAIN VIEW -->
    <div class="cc-widget-mycalendar-container">

            <ul class="cc-widget-mycalendar-datelist">

                <li>
                    <div class="cc-widget-mycalendar-datelist-time cc-left">

                                <div class="cc-widget-mycalendar-datelist-time-hour cc-left">12</div>
                                <div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
                                    30<br>
                                    <span class="cc-widget-mycalendar-datelist-time-ampm">PM</span>
                                </div>
                    </div>
                    <div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
                        <a href="https://www.google.com/calendar/event?eid=aDVsZDE2NWZsdGVzNDBldGpraWFiZ2ZnaDAgc2hhY2tlckBiZXJrZWxleS5lZHU">Bart</a>

                    </div>
                </li>

                <li>
                    <div class="cc-widget-mycalendar-datelist-time cc-left">
                                <div class="cc-widget-mycalendar-datelist-time-hour cc-left">2</div>
                                <div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
                                    00<br>
                                    <span class="cc-widget-mycalendar-datelist-time-ampm">PM</span>
                                </div>
                    </div>
                    <div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
                        <a href="https://www.google.com/calendar/event?eid=MjNlMjZnaTFxOWtka2RtdjF1M2x0Nmc1ODQgc2hhY2tlckBiZXJrZWxleS5lZHU">Discuss Foundation</a>

                            <br><span class="cc-widget-mycalendar-datelist-location cc-ellipsis">Dwinelle 0004-Faculty Lab</span>

                    </div>
                    <a href="" title=""></a>
                </li>

                <li>
                    <div class="cc-widget-mycalendar-datelist-time cc-left">
                                <div class="cc-widget-mycalendar-datelist-time-allday cc-left">all-day</div>

                    </div>
                    <div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
                        <a href="https://www.google.com/calendar/event?eid=XzY4bzMyY2hnNjhvM2l0MWg2c3EzMGNwa2Y4bW04ZTlnY29zaXFjOWQ2b3EzZW9qNTc0c20yYmJmZTlnbTZyMzVfMjAxMjExMDUgc2hhY2tlckBiZXJrZWxleS5lZHU">Daphne OOO</a>

                    </div>
                    <a href="" title=""></a>
                </li>
            </ul>

    </div>

    </div>

    <div class="cc-container-widget" id="cc-widget-myclasses">
    <div class="cc-widget-title">
        <h2>My Classes <span class="cc-right cc-widget-title-small">Fall 2012</span></h2>
    </div>
    <!-- MAIN VIEW -->
    <div class="cc-widget-myclasses-list">

            <ul class="cc-widget-list">

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a href="https://ucberkeley.instructure.com/courses/832071" class="cc-ellipsis cc-myclasses-link-with-title">Biology</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Biology for Poets</div>
                </li>

                <li class="cc-widget-list-icon cc-icon-bspace">
                    <a href="https://sakai-dev.berkeley.edu/portal/site/ba324114-0f04-4167-b2da-93c0df28d9d2" class="cc-ellipsis">Endurance Running 101</a>

                </li>

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a href="https://ucberkeley.instructure.com/courses/830013" class="cc-ellipsis cc-myclasses-link-with-title">Javascript-101</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Intermediate JavaScript</div>
                </li>

                <li class="cc-widget-list-icon cc-icon-bspace">
                    <a href="https://sakai-dev.berkeley.edu/portal/site/cddb1acd-3e57-4f6a-9e66-a27a9a59b55f" class="cc-ellipsis cc-myclasses-link-with-title">PHYSICS 7B</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Physics for Scientists and Engineers</div>
                </li>

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a href="https://ucberkeley.instructure.com/courses/750027" class="cc-ellipsis cc-myclasses-link-with-title">PLEO 22</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Lessons from the Cambrian Explosion</div>
                </li>

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a href="https://ucberkeley.instructure.com/courses/830065" class="cc-ellipsis cc-myclasses-link-with-title">Responsive-Design</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Responsive Design Workshop</div>
                </li>

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a href="https://ucberkeley.instructure.com/courses/760795" class="cc-ellipsis cc-myclasses-link-with-title">Stat 150C</a>
                    <div class="cc-widget-list-subtitle cc-ellipsis">Applied Sabrmetrics</div>
                </li>

            </ul>

    </div>

    </div>

    <div class="cc-container-widget" id="cc-widget-mygroups">
    <div class="cc-widget-title">
        <h2>My Groups</h2>
    </div>
    <!-- MAIN VIEW -->
    <div class="cc-widget-mygroups-list">

            <ul class="cc-widget-list">

                <li class="cc-widget-list-icon cc-icon-canvas">
                    <a class="cc-ellipsis" href="https://ucberkeley.instructure.com/groups/49957" title="">Canvas/ETS Collaboration</a>
                </li>

                <li class="cc-widget-list-icon cc-icon-bspace">
                    <a class="cc-ellipsis" href="https://sakai-dev.berkeley.edu/portal/site/7ea7d89c-b87c-4221-a2ea-16aee252b967" title="">OE IT Design Initiative</a>
                </li>

                <li class="cc-widget-list-icon cc-icon-bspace">
                    <a class="cc-ellipsis" href="https://sakai-dev.berkeley.edu/portal/site/b1df3076-88c5-43cc-00d2-632b196f8497" title="">UIE Seminars &amp; UCD Group Resources</a>
                </li>

                <li class="cc-widget-list-icon cc-icon-bspace">
                    <a class="cc-ellipsis" href="https://sakai-dev.berkeley.edu/portal/site/b3833e7d-fab2-42ae-80d8-2fad0e1dd147" title="">shacker  test site</a>
                </li>

            </ul>

    </div>

    </div>


  <!-- End Calendar / Classes / Groups column -->
  </div>


  <div class="four columns cc-page-dashboard-column-shadow">
  <!-- Begin Tasks / Assignments column -->


    <div class="cc-container-widget" id="cc-widget-tasks">
    <div class="cc-widget-title">
        <h2>Assignments and Tasks</h2>
    </div>
    <!-- MAIN VIEW -->
    <div class="cc-tasks-list">
        <div class="cc-widget-body">
            <a href="#" data-notreal="standard">
                <img src="/assets/dummy_task_slider.png" alt="Task slider placeholder" class="cc-widget-tasks-taskslider">
            </a>
            <div class="cc-widget-section-label">Due</div>
            <ul class="cc-widget-notifications-list cc-widget-section-list">



        <li class="cc-widget-list-icon-big cc-icon-big-overdue">
            <a href="https://mail.google.com/tasks/canvas?pli=1" class="cc-widget-tasks-notifications-short-title cc-ellipsis cc-alert">Box of Bandaids</a>

            <div class="cc-widget-task-notifications-list-source">

                    <em>Google Tasks</em>

            </div>
        </li>



        <li class="cc-widget-list-icon-big cc-icon-big-overdue">
            <a href="https://mail.google.com/tasks/canvas?pli=1" class="cc-widget-tasks-notifications-short-title cc-ellipsis cc-alert">Alphabetize MP3s</a>

            <div class="cc-widget-task-notifications-list-source">

                    <em>Google Tasks</em>

            </div>
        </li>



            </ul>


            <div class="cc-widget-section-label">Due Tomorrow</div>
            <ul class="cc-widget-notifications-list cc-widget-section-list">

                <li class="cc-widget-tasks-notifications-short-title">Nothing due tomorrow</li>

            </ul>

            <div class="cc-widget-section-label">Upcoming</div>
            <ul class="cc-widget-notifications-list cc-widget-section-list">

                <li class="cc-widget-tasks-notifications-short-title">No tasks or assignments</li>

            </ul>

            <div class="cc-widget-section-label">Unscheduled</div>
            <ul class="cc-widget-notifications-list cc-widget-section-list">



        <li class="cc-widget-list-icon-big cc-icon-big-inprogress">
            <a href="https://mail.google.com/tasks/canvas?pli=1" class="cc-widget-tasks-notifications-short-title cc-ellipsis ">Break bread with the Mllers</a>

            <div class="cc-widget-task-notifications-list-source">

                    <em>Google Tasks</em>

            </div>
        </li>



        <li class="cc-widget-list-icon-big cc-icon-big-inprogress">
            <a href="https://mail.google.com/tasks/canvas?pli=1" class="cc-widget-tasks-notifications-short-title cc-ellipsis ">Get new headphone cable</a>

            <div class="cc-widget-task-notifications-list-source">

                    <em>Google Tasks</em>

            </div>
        </li>



        <li class="cc-widget-list-icon-big cc-icon-big-inprogress">
            <a href="https://mail.google.com/tasks/canvas?pli=1" class="cc-widget-tasks-notifications-short-title cc-ellipsis ">Learn to repair alternator</a>

            <div class="cc-widget-task-notifications-list-source">

                    <em>Google Tasks</em>

            </div>
        </li>
            </ul>
        </div>
    </div>
    </div>

  <!-- End Tasks / Assignments column -->
  </div>

  <div class="five columns cc-page-dashboard-column-wide">
    <!-- Begin Notificiations column -->

    <div class="cc-container-widget" id="cc-widget-tasks" data-ng-controller="NotificationsController">

    <div class="cc-widget-title">
        <h2>Notifications</h2>
    </div>

    <!-- MAIN VIEW -->
    <div class="cc-notifications-list">
      <div class="cc-widget-body" data-ng-repeat="(key,section) in notifications.sections">
      <div ng-switch on="section.title">
        <div class="cc-widget-section-label" data-ng-hide="section.title == 'Alerts'">{{section.title}}</div>
      </div>
          <ul class="cc-widget-notifications-list cc-widget-section-list">
            <li data-ng-repeat="notification in section.notifications | orderBy: 'notificationDate'" class="cc-widget-list-icon-big cc-icon-big-{{notification.type}}">
                <a href="{{notification.url}}" class="cc-widget-tasks-notifications-short-title cc-alert cc-ellipsis" data-notreal="details">{{notification.title}}</a>
                <!-- We use epoch rather than milliseconds, so multiply by 1,000 -->
                <div class="cc-right cc-alert" data-ng-show="$parent.section.title == 'Alerts'">Today</div>
                <div class="cc-right" data-ng-show="$parent.section.title == 'Recent'">{{notification.notificationDate * 1000 | date:'M/yy'}}</div>

                <div class="cc-widget-notifications-summary">{{notification.summary}}</div>
                <div class="cc-widget-task-notifications-list-source"><a href="{{notification.sourceURL}}">{{notification.source}}</a></div>
            </li>
          </ul>
      </div>
    </div>

  <!-- End Notificiations column -->
  </div>
</script>
