<script type="text/ng-template" id="templates/dashboard_task_loop.html">
<div data-ng-class="{'cc-widget-list-hover':(!editorEnabled)}"
  data-cc-accessible-focus-directive
  data-ng-click="api.widget.toggleShow(tasks, task, 'Tasks')"
  data-ng-controller="TaskEditorController">

  <div
    data-ng-hide="editorEnabled">

    <div class="cc-widget-tasks-col cc-widget-tasks-col-title">
      <div
        class="cc-widget-tasks-status-{{task.status}}"
        data-ng-class="{'cc-ellipsis':(!task._show),'cc-alert':(task.bucket=='Overdue' && tasks_mode!='completed'), 'cc-strikethrough':(task.editor_is_processing)}">
        <strong>{{task.title}}</strong>
      </div>
    </div>

    <div class="cc-widget-tasks-col cc-widget-tasks-col-left">
      <input type="checkbox"
        data-ng-click="api.util.preventBubble($event)"
        data-ng-change="changeTaskState(task)"
        data-ng-disabled="!!task.editor_is_processing"
        data-ng-false-value="needs_action"
        data-ng-model="task.status"
        data-ng-show="task.emitter=='Google'"
        data-ng-true-value="completed"
      >
      <div
        class="cc-icon cc-icon-canvas"
        data-ng-show="task.emitter=='Canvas'">
      </div>
    </div>

    <div
      class="cc-widget-tasks-col cc-widget-tasks-col-date"
      data-ng-show="this.$parent.section.title != 'Unscheduled'">
      <span data-ng-show="task.bucket == 'Due Today'">TODAY</span>
      <span data-ng-show="task.due_date && task.bucket != 'Due Today' && tasks_mode != 'completed'">
        {{task.due_date.epoch * 1000 | date:'MM/dd'}}
      </span>
      <div
        data-ng-show="task.emitter=='Canvas' && task.due_date.has_time"
        class="cc-widget-tasks-timestamp">
          {{task.due_date.epoch * 1000 | date:'h a'}}
      </div>
      <span data-ng-show="tasks_mode=='completed'">{{task.completed_date.epoch * 1000 | date:'MM/dd'}}</span>
    </div>
  </div>

  <div data-ng-show="task._show">
    <div class="cc-widget-tasks-more" data-ng-hide="editorEnabled">
      <div data-ng-bind-html="task.notes" data-cc-truncate-directive="filter:'linky', length:300"></div>

      <div class="cc-clearfix">
        <a class="cc-button"
        data-ng-show="task.emitter=='Canvas'"
        data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Tasks', task.emitter, task.link_url)"
        data-ng-href="{{task.link_url}}">View in {{task.emitter}}</a>

        <button class="cc-button cc-button-blue"
        data-ng-show="task.emitter=='Google'"
        data-ng-click="enableEditor()">Edit</button>

        <button class="cc-button"
        data-ng-show="task.emitter=='Google'"
        data-ng-click="deleteTask(task)">Delete</button>
      </div>
      <div data-ng-show="task.is_processing">
        <em>Updating task...</em>
      </div>
      <div data-ng-show="task.is_deleting">
        <em>Deleting task...</em>
      </div>
    </div>
  </div>

  <div class="row collapse" data-ng-show="editorEnabled">
    <div class="twelve columns">
      <div data-ng-include src="'templates/dashboard_task_editor.html'"></div>
    </div>
  </div>
</div>
</script>
