<script type="text/ng-template" id="templates/dashboard_task_editor.html">
  <form class="cc-widget-tasks-form" name="cc_widget_tasks_form"
    data-ng-submit="!editorEnabled && addTask() || editorEnabled && editTask(task)"
    data-ng-show="show_add_task || editorEnabled" novalidate >
    <div class="row collapse">
      <div class="large-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-title-{{$index}}"><strong><span class="cc-required-field-indicator">*</span> Task</strong>:</label>
      </div>
      <div class="large-9 small-9 columns">
        <input
          data-ng-model="add_edit_task.title" id="cc-widget-tasks-addtask-title-{{$index}}"
          type="text" placeholder="Enter your task title here" required aria-required="true" />
      </div>
    </div>
    <div class="row collapse">
      <div class="large-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-date-{{$index}}">Due:</label>
      </div>
      <div class="large-9 small-9 columns cc-widget-tasks-date-input">
        <input type="text"
          class="cc-input-noborder"
          data-ng-model="add_edit_task.due_date"
          name="add_task_due_date"
          id="cc-widget-tasks-addtask-date-{{$index}}"
          placeholder="mm/dd/yyyy"
          data-cc-date-validator-directive
          data-cc-datepicker-directive />
        <p class="cc-alert cc-alert-text" data-ng-show="cc_widget_tasks_form.add_task_due_date.$error.ccDateValidator">
          Please use mm/dd/yyyy date format
        </p>
      </div>
    </div>
    <div class="row collapse">
      <div class="large-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-note-{{$index}}">Notes:</label>
      </div>
      <div class="large-9 small-9 columns">
        <textarea class="cc-input-noborder" data-ng-model="add_edit_task.notes" id="cc-widget-tasks-addtask-note-{{$index}}" rows="2" /></textarea>
      </div>
    </div>
    <div class="row collapse" data-ng-show="!editorEnabled && task_adder_is_processing">
      <div class="large-9 large-offset-3 small-offset-3 small-9 columns">
        Task is being added...
      </div>
    </div>
    <div class="row collapse" data-ng-show="editorEnabled && task.editor_is_processing">
      <div class="large-9 large-offset-3 small-offset-3 small-9 columns">
        Task is being updated...
      </div>
    </div>
    <div class="row collapse" data-ng-show="!task_adder_is_processing || !task.editor_is_processing">
      <div class="large-9 large-offset-3 small-offset-3 small-9 columns cc-widget-tasks-form-buttons">
        <button type="submit"
          data-ng-disabled="cc_widget_tasks_form.$invalid || task_adder_is_processing"
          class="cc-button"
          data-ng-class="{'cc-button-blue':(cc_widget_tasks_form.$valid), 'cc-button-disabled':(cc_widget_tasks_form.$invalid)}"
          >
            <span data-ng-show="!editorEnabled">Add Task</span>
            <span data-ng-show="editorEnabled">Save</span>
        </button>
        <button class="cc-button" type="reset"
          data-ng-show="!editorEnabled"
          data-ng-click="toggleAddTask()" />Cancel
        </button>
        <button class="cc-button" type="button"
          data-ng-show="editorEnabled"
          data-ng-click="disableEditor()" />Cancel
        </button>
      </div>
    </div>
  </form>
</script>
