<script type="text/ng-template" id="templates/dashboard_task_editor.html">
  <form class="cc-widget-tasks-form" name="cc_widget_tasks_form"
    data-ng-submit="!editorEnabled && addTask() || editorEnabled && editTask(task)"
    data-ng-show="addTaskPanelState.showAddTask || editorEnabled" novalidate >
    <div class="row collapse">
      <div class="medium-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-title-{{$parent.$id}}"><strong><span class="cc-required-field-indicator">*</span> Task</strong>:</label>
      </div>
      <div class="medium-9 small-9 columns">
        <input
          data-cc-focus-directive="add_edit_task.focusInput"
          data-ng-model="add_edit_task.title" id="cc-widget-tasks-addtask-title-{{$parent.$id}}"
          type="text" placeholder="Enter your task title here" required aria-required="true" />
      </div>
    </div>
    <div class="row collapse">
      <div class="medium-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-date-{{$parent.$id}}">Due:</label>
      </div>
      <div class="medium-7 small-7 columns cc-widget-tasks-date-input">
        <input type="text"
          data-ng-model="add_edit_task.due_date"
          name="add_task_due_date"
          id="cc-widget-tasks-addtask-date-{{$parent.$id}}"
          placeholder="mm/dd/yyyy"
          data-cc-date-validator-directive />
        <p class="cc-alert cc-alert-text" role="alert" data-ng-show="cc_widget_tasks_form.add_task_due_date.$error.ccDateValidator">
          Please use mm/dd/yyyy date format
        </p>
      </div>
      <div class="medium-2 small-2 columns">
        <button class="cc-button-transparent cc-widget-tasks-addtask-calendar-icon" data-ng-click="api.util.preventBubble($event)" tabindex="-1" data-cc-datepicker-directive="cc-widget-tasks-addtask-date-{{$parent.$id}}">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div class="row collapse">
      <div class="medium-3 small-3 columns">
        <label for="cc-widget-tasks-addtask-note-{{$parent.$id}}">Notes:</label>
      </div>
      <div class="medium-9 small-9 columns">
        <textarea data-ng-model="add_edit_task.notes" id="cc-widget-tasks-addtask-note-{{$parent.$id}}" rows="2" /></textarea>
      </div>
    </div>
    <div class="row collapse" data-ng-show="!editorEnabled && addTaskPanelState.isProcessing">
      <div class="medium-9 medium-offset-3 small-offset-3 small-9 columns">
        Task is being added...
      </div>
    </div>
    <div class="row collapse" data-ng-show="editorEnabled && task.editor_is_processing">
      <div class="medium-9 medium-offset-3 small-offset-3 small-9 columns">
        Task is being updated...
      </div>
    </div>
    <div class="row collapse" data-ng-show="!addTaskPanelState.isProcessing || !task.editor_is_processing">
      <div class="medium-9 medium-offset-3 small-offset-3 small-9 columns cc-widget-tasks-form-buttons">
        <button type="submit"
          data-ng-disabled="cc_widget_tasks_form.$invalid || addTaskPanelState.isProcessing"
          class="cc-button"
          data-ng-class="{'cc-button-blue':(cc_widget_tasks_form.$valid), 'cc-button-disabled':(cc_widget_tasks_form.$invalid)}"
          >
            <span data-ng-show="!editorEnabled">Add Task</span>
            <span data-ng-show="editorEnabled">Save</span>
        </button>
        <button class="cc-button" type="reset"
          data-ng-show="!editorEnabled"
          data-ng-click="add_edit_task.title='';toggleAddTask()" />Cancel
        </button>
        <button class="cc-button" type="button"
          data-ng-show="editorEnabled"
          data-ng-click="disableEditor()" />Cancel
        </button>
      </div>
    </div>
  </form>
</script>
