<script type="text/ng-template" id="templates/dashboard_task_loop.html">
  <h3 data-ng-show="section.title != 'Unscheduled'" class="cc-widget-section-label">{{section.title}}</h3>
  <ul class="cc-widget-tasks-notifications-list cc-widget-section-bottom" ng-show="section.tasks.length">
    <li data-ng-repeat="task in section.tasks | filter:filterCompleted">
      <div class="row">

        <div class="one mobile-two columns">
          <input type="checkbox" label="Done"
            data-ng-disabled="task.emitter=='Canvas'"
            data-ng-model="task.status"
            data-ng-true-value="completed"
            data-ng-false-value="needs_action"
          >
        </div>

        <div class="six mobile-two columns">
          <a data-ng-href="{{task.link_url}}"
            class="cc-widget-short-title cc-widget-tasks-short-title cc-ellipsis cc-widget-tasks-status-{{task.status}}"
            data-ng-class="{true:'cc-alert'}[task.status=='overdue']">
            {{task.title}}
          </a>
        </div>

        <div class="three mobile-two columns cc-emitter-col">
          <div class="cc-emitter cc-emitter-{{task.color_class}}">{{task.source || task.emitter}}</div>
        </div>

        <div class="two mobile-two columns cc-right" data-ng-show="this.$parent.section.title != 'Unscheduled'">
          {{task.due_date.date_string}}
        </div>
      </div>
    </li>
  </ul>

  <div ng-show="displayedTasksCount(section) == 0" class="cc-widget-text cc-widget-section-bottom">
    There are currently no {{completed_mode}} tasks/assignments that are <span class="cc-lowercase">{{section.title}}</span>.
  </div>
</script>
