<script type="text/ng-template" id="templates/dashboard.html">

  <div class="three columns cc-page-dashboard-column-a">
    <!-- Begin Calendar / Classes / Groups column -->

    <div class="cc-container-widget" id="cc-widget-mycalendar" data-ng-controller="UpNextController">
      <div class="cc-widget-title">
        <h2>Up Next <a href="http://bcal.berkeley.edu" class="ir cc-right cc-icon cc-icon-calendar" title="View calendar in bCal">bCal</a></h2>
      </div>
      <div class="cc-widget-mycalendar-container">
        <ul class="cc-widget-mycalendar-datelist">
          <!-- First loop: timestamped items -->
          <li data-ng-repeat="item in items | filter:notAllDay">
            <div class="cc-widget-mycalendar-datelist-time cc-left">
            <div class="cc-widget-mycalendar-datelist-time-hour cc-left">{{item.start.epoch * 1000 | date:'H'}}</div>
              <div class="cc-widget-mycalendar-datelist-time-minutes cc-left">{{item.start.epoch * 1000 | date:'mm'}}<br>
              <span class="cc-widget-mycalendar-datelist-time-ampm">{{item.start.epoch * 1000 | date:'a' | uppercase}}</span>
              </div>
            </div>
            <div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
              <a data-ng-href="{{item.html_link}}">{{item.summary}}</a>
            </div>
          </li>

          <!-- Second loop: UNtimed (all-day) items -->
          <li data-ng-repeat="item in items | filter:isAllDay">
            <div class="cc-widget-mycalendar-datelist-time cc-left">
              <div class="cc-widget-mycalendar-datelist-time-allday cc-left">all-day</div>
            </div>
            <div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
              <a data-ng-href="{{item.html_link}}">{{item.summary}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="cc-container-widget" id="cc-widget-myclasses" data-ng-controller="MyClassesController">
      <div class="cc-widget-title">
        <h2>My Classes <span class="cc-right cc-widget-title-small">Fall 2012</span></h2>
      </div>
      <div class="cc-widget-myclasses-list">
        <ul class="cc-widget-list">
          <li class="cc-widget-list-icon"
            data-ng-class="{true:'cc-icon-canvas',false:'cc-icon-bspace'}[class.emitter=='Canvas']"
            data-ng-repeat="class in myclasses">
            <a data-ng-show="class.emitter == 'Canvas'"
              data-ng-href="https://ucberkeley.instructure.com/courses/{{class.id}}"
              class="cc-ellipsis cc-myclasses-link-with-title">{{class.course_code}}
              </a>
            <a data-ng-show="class.emitter == 'bSpace'"
              data-ng-href="https://sakai-dev.berkeley.edu/portal/site/{{class.id}}"
              class="cc-ellipsis cc-myclasses-link-with-title">{{class.course_code}}
            </a>
            <div class="cc-widget-list-subtitle cc-ellipsis">{{class.name}}</div>
          </li>
        </ul>
      </div>
      <div ng-show="!myclasses.length" class="cc-widget-text">
        There are currently no classes available.
      </div>
    </div>

    <div class="cc-container-widget" id="cc-widget-mygroups" data-ng-controller="MyGroupsController">
      <div class="cc-widget-title">
        <h2>My Groups</h2>
      </div>
      <div class="cc-widget-mygroups-list">
        <ul class="cc-widget-list">
          <li class="cc-widget-list-icon"
            data-ng-class="{true:'cc-icon-canvas',false:'cc-icon-bspace'}[group.emitter=='Canvas']"
            data-ng-repeat="group in mygroups">
              <a class="cc-ellipsis"
                data-ng-href="{{group.site_url}}">{{group.title}}
              </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Calendar / Classes / Groups column -->
  </div>


  <div class="five columns cc-page-dashboard-column-b">
    <!-- Begin Tasks / Assignments column -->

    <div class="cc-container-widget" id="cc-widget-tasks" data-ng-controller="TasksController">
      <div class="cc-widget-title">
        <h2>Assignments and Tasks</h2>
      </div>
      <div class="cc-tasks-list">
        <div class="cc-widget-body">

          <div class="row cc-widget-tasks-button-top-pad">
            <div class="ten columns centered">
              <ul class="button-group even two-up">
                <li>
                  <a class="button"
                    data-ng-click="switchTasksMode('scheduled')"
                    data-ng-class="{false:'secondary'}[tasks_mode=='scheduled']">Scheduled
                  </a>
                </li>
                <li>
                  <a class="button"
                    data-ng-click="switchTasksMode('unscheduled')"
                    data-ng-class="{false:'secondary'}[tasks_mode=='unscheduled']">Unscheduled
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div data-ng-switch on="tasks_mode">

            <div data-ng-switch-when="scheduled">
              <div data-ng-repeat="section in sections" ng-show="section.title != 'Unscheduled'">
                <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
              </div>
            </div>

            <div data-ng-switch-when="unscheduled">
              <div data-ng-repeat="section in sections" ng-show="section.title == 'Unscheduled'">
                <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- End Tasks / Assignments column -->
  </div>


  <div class="four columns cc-page-dashboard-column-c">
    <!-- Begin Notifications column -->

    <div class="cc-container-widget" id="cc-widget-notifications" data-ng-controller="NotificationsController">

      <div class="cc-widget-title">
        <h2>Notifications</h2>
      </div>

      <div class="cc-notifications-list">
        <div class="cc-widget-body" data-ng-repeat="section in notifications.sections">
          <div data-ng-switch on="section.title">
            <div class="cc-widget-section-label" data-ng-hide="section.title == 'Alerts'">{{section.title}}</div>
          </div>

          <ul class="cc-widget-tasks-notifications-list cc-widget-section-bottom">
            <li data-ng-repeat="notification in section.notifications | orderBy: 'epoch'">
            <div class="row">

                <div class="seven columns">
                  <a data-ng-href="{{notification.url}}"
                    class="cc-widget-short-title"
                    data-notreal="details"
                    data-ng-class="{true:'cc-alert'}[$parent.section.title == 'Alerts']">
                    {{notification.title}}
                  </a>
                </div>

                <div class="three columns cc-emitter-col">
                  <button class="button tiny cc-emitter cc-emitter-{{notification.color_class}}">{{notification.source || notification.emitter}}</button>
                </div>

                <div class="two columns cc-right">
                  <!-- We use epoch rather than milliseconds, so multiply by 1,000 -->
                  {{notification.epoch * 1000 | date:'M/dd'}}
                </div>

            </div>

            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- End Notifications column -->
  </div>
</script>
