<script type="text/ng-template" id="templates/dashboard_task_loop.html">

  <div class="row cc-widget-list-hover" data-ng-click="api.widget.toggleShow(task, 'Tasks')">

    <div class="three mobile-one columns cc-emitter-col cc-mobile-task-emitter-column">
      <div class="cc-emitter cc-emitter-{{task.color_class}}">{{task.source || task.emitter}}</div>
    </div>

    <div class="one mobile-one columns cc-widget-tasks-checkbox-column cc-mobile-task-checkbox-column">
      <input type="checkbox"
        data-ng-change="changeTaskState(task)"
        data-ng-disabled="task.emitter=='Canvas'"
        data-ng-false-value="needs_action"
        data-ng-model="task.status"
        data-ng-true-value="completed"
      >
    </div>

    <div class="six mobile-one columns cc-widget-tasks-title-column cc-mobile-task-title-column">
      <div
        class="cc-widget-short-title cc-widget-list-hover-title cc-widget-tasks-status-{{task.status}}"
        data-ng-class="{'cc-ellipsis':(!task.show),'cc-alert':(task.bucket=='Overdue')}">
        {{task.title}}
      </div>
    </div>

    <div
      class="two mobile-one columns cc-mobile-task-date-column cc-widget-tasks-notifications-date-string"
      data-ng-show="this.$parent.section.title != 'Unscheduled'">
      <span data-ng-show="task.bucket == 'Due Today'">TODAY</span>
      <span data-ng-show="task.due_date && task.bucket != 'Due Today' && tasks_mode != 'completed'">
        {{task.due_date.epoch * 1000 | date:'MM/dd'}}
      </span>
      <span data-ng-show="tasks_mode=='completed'">{{task.completed_date.epoch * 1000 | date:'MM/dd'}}</span>
    </div>
  </div>

  <div data-ng-show="task.show">
    <div class="row widget-tasks-notifications-more">
      <div class="nine columns offset-by-three end cc-widget-tasks-more">
        <div data-ng-bind-html="task.note | linky">
        </div>
      </div>

      <div class="nine columns offset-by-three end cc-widget-tasks-more cc-widget-tasks-notifications-more">
        <p>
          <a class="cc-widget-more-view-in"
          data-ng-click="api.util.trackExternalLink('Tasks', task.emitter, task.link_url)"
          data-ng-href="{{task.link_url}}">View in {{task.emitter}}</a>
        </p>
      </div>
    </div>
  </div>

</script>
