<footer class="row" data-ng-controller="FooterController" data-ng-cloak role="complementary">
  <div data-ng-click="footer.showInfo=!footer.showInfo" data-cc-accessible-focus-directive class="columns small-7 cc-footer-berkeley">
    <%= render 'templates/svg/uc_berkeley_logo' %>
    <div class="cc-footer-copyright">&copy; <span data-ng-bind="api.date.now | date:'yyyy'"></span> UC Regents</div>
  </div>

  <div class="cc-footer-links columns small-5">
    <a href="//security.berkeley.edu/policy">Usage Policy</a>
    <a href="https://ets.berkeley.edu/category/category-tags/calcentral">News</a>
    <a href="http://ets.berkeley.edu/calcentral-feedback">Feedback</a>
    <a href="https://ets.berkeley.edu/calcentral">Help</a>
  </div>

  <div class="large-12 columns" data-ng-show="footer.showInfo">
    <ul>
      <li>Hostname: <span data-ng-bind="hostname" /></li>
      <li><a data-ng-href="https://github.com/ets-berkeley-edu/calcentral/commit/{{git_commit}}">Git commit: <span data-ng-bind="git_commit" /></a></li>
      <li>Application Version: <span data-ng-bind="versions.application" /></li>
      <li>API Version: <span data-ng-bind="versions.api" /></li>
      <li>Current DB Schema: <span data-ng-bind="versions.current_db_schema" /></li>
      <li>Previous Release's DB Schema: <span data-ng-bind="versions.previous_release_db_schema" /></li>
      <li>Up Since: <span data-ng-bind="first_visited" /></li>
      <li>UID: <span data-ng-bind="api.user.profile.uid" id="user_id"></span></li>
      <li>
        <button class="tiny button" data-ng-click="deleteSelf=true">Opt out of CalCentral</button>
        <div class="cc-footer-confirmation" data-ng-show="deleteSelf">Are you sure?
          <button class="first tiny button" data-ng-click="api.user.optOut()">Yes</button>
          <button class="tiny button" data-ng-click="deleteSelf=false">No</button>
        </div>
      </li>
    </ul>
  </div>

</footer>
