<header>
  <div class="cc-offcanvas-icon cc-left" data-ng-show="api.user.events.isAuthenticated">
    <button data-ng-click="offCanvasMenu.show=!offCanvasMenu.show" /><i class="fa fa-bars"></i></button>
  </div>
  <div class="cc-header-logo cc-print-show" data-ng-class="{'hide-for-small':(api.user.events.isAuthenticated)}">
    <a href="/dashboard">
      <span class="cc-visuallyhidden">Return to dashboard</span>
      <%= render 'templates/svg/calcentral_logo' %>
    </a>
  </div>
  <nav class="cc-header-icons ng-cloak" data-ng-show="api.user.events.isAuthenticated">
    <%= render 'templates/widgets/badges_popover' %>
    <%= render 'templates/widgets/academic_profile_popover' %>
    <%= render 'templates/widgets/gear_popover' %>
  </nav>
</header>
