<div class="large-4 columns small-6">
  <a href="/dashboard">
    <%= image_tag "calcentral_logo_pilot_text.png", :size => "244x29", :alt => "Return to CalCentral home", :title => "Return to CalCentral home" %>
  </a>
  <h1>CalCentral</h1>
</div>

<div class="large-8 columns small-6">
  <nav class="cc-launcher">
    <div data-ng-show="user.isAuthenticated()">
      <%= render 'templates/widgets/badges_popover' %>
      <%= render 'templates/widgets/academic_profile_popover' %>
      <%= render 'templates/widgets/user_name_popover' %>
    </div>
  </nav>
</div>


