<header class="row">

  <div class="four columns mobile-two">
    <a href="/dashboard"><img src="/assets/calcentral_logo_pilot_text.png" alt="CalCentral logo" title="Return to CalCentral home" /></a>
    <h1>CalCentral</h1>
  </div>

  <div class="eight columns mobile-two">
    <nav class="cc-launcher">
      <div data-ng-show="user.isAuthenticated()">
        <div class="cc-left cc-launcher-icons hide-for-small">
          <a href="http://bmail.berkeley.edu" class="cc-ir cc-left cc-icon cc-icon-mail" title="bMail">bMail</a>
          <a href="http://bcal.berkeley.edu" class="cc-ir cc-left cc-icon cc-icon-calendar" title="bCal">bCal</a>
          <a href="https://drive.google.com/a/berkeley.edu/" class="cc-ir cc-left cc-icon cc-icon-drive" title="bDrive">bDrive</a>
        </div>
        <button class="button small cc-button-link cc-launcher-info cc-launcher-bar cc-left"
          data-ng-click="user._redirectToSettingsPage()">Settings
        </button>
        <button class="button small cc-button-link cc-launcher-info cc-left"
          data-ng-click="user.signOut()">Log out
        </button>
      </div>
        <button data-ng-hide="user.isAuthenticated()"
          class="button small cc-button-link cc-launcher-info cc-left"
          data-ng-click="user.signIn()">Log in
        </button>
    </nav>
  </div>

</header>
