<header>
  <div class="cc-offcanvas-icon cc-left">
    <button data-ng-click="off_canvas_menu._show=!off_canvas_menu._show" /><i class="icon-reorder"></i></button>
  </div>
  <div class="cc-header-logo">
    <a href="/dashboard">
      <%= render 'templates/svg/calcentral_logo' %>
    </a>
  </div>
  <nav class="cc-header-icons" data-ng-show="api.user.events.isAuthenticated">
    <%= render 'templates/widgets/badges_popover' %>
    <%= render 'templates/widgets/academic_profile_popover' %>
    <%= render 'templates/widgets/gear_popover' %>
  </nav>
</header>
