<script type="text/ng-template" id="templates/myfinances.html">

  <div class="cc-page-myfinances" data-cc-spinner-directive>
    <div class="row collapse">

      <div class="column">
        <h1 class="cc-heading-page-title">My Finances</h1>
      </div>

      <div class="medium-4 columns" data-ng-show="myfinances.summary">

        <div class="cc-widget cc-widget-interesting">
          <div class="cc-widget-title">
            <h2>Summary</h2>
          </div>

          <ul class="cc-widget-list cc-page-myfinances-account-summary-list">

            <li class="cc-page-myfinances-account-summary-item cc-clearfix-container cc-page-myfinances-dpp" data-ng-if="myfinances.summary.isOnDPP">
              <div class="small-12 columns">
                <strong>Deferred Payment Plan</strong>
              </div>
              <div class="cc-page-myfinances-dpp-amounts">
                <div class="small-8 columns">
                  DPP Balance <sup>1</sup>
                </div>
                <div class="small-4 columns">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppBalance"></div>
                </div>
                <div class="small-8 columns" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
                  DPP Normal Installment Amount
                </div>
                <div class="small-4 columns" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppNormalInstallmentAmount"></div>
                </div>
              </div>
              <div class="small-12 columns cc-page-myfinances-dpp-note">
                1: Reflected in charges with DPP listed in Activity
              </div>
            </li>

            <li class="cc-page-myfinances-account-summary-item cc-clearfix-container">
              <div class="small-8 columns">
                <strong data-ng-if="myfinances.summary.minimumAmountDueFloat >= 0">
                  <span data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue">Other</span> Amount Due Now
                </strong>
                <strong data-ng-if="myfinances.summary.minimumAmountDueFloat < 0">
                  Credit Balance
                </strong>
                <div data-ng-if="myfinances.summary.totalPastDueAmountFloat > 0" class="cc-page-myfinances-red cc-page-myfinances-account-summary-subtitle">Includes Past Due Amount of <span data-cc-amount-directive="myfinances.summary.totalPastDueAmount"></span>
                </div>
              </div>
              <div class="small-4 columns">
                <div class="cc-page-myfinances-amount">
                  <strong data-cc-amount-directive="myfinances.summary.minimumAmountDue"></strong>
                </div>
              </div>

              <section class="cc-clearfix-container" data-ng-if="myfinances.summary.futureActivity !== '0.00'">
                <div class="small-8 columns">
                  Charges Not Yet Due
                </div>
                <div class="small-4 columns">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.futureActivity"></div>
                </div>
              </section>
              <section class="cc-clearfix-container cc-page-myfinances-not-amount-due-dpp" data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue">
                <div class="small-12 columns">
                  These do not include the amount due on DPP.
                </div>
              </section>
            </li>

            <li data-ng-class="{'cc-widget-list-selected': myfinances.show}">
              <div
                class="cc-widget-list-hover cc-page-myfinances-account-summary-item"
                data-ng-class="{'cc-widget-list-hover-opened':(myfinances.show)}"
                data-cc-accessible-focus-directive
                data-ng-click="api.widget.toggleShow($event, null, myfinances, 'My Finances - Summary', false)">

                <div class="small-8 columns">Account Balance
                  <div class="cc-page-myfinances-account-summary-subtitle cc-page-myfinances-light">includes charges not yet due</div>
                </div>
                <div class="small-4 columns">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.accountBalance"></div>
                </div>

                <div class="cc-page-myfinances-light" data-ng-show="myfinances.show">
                  <div class="small-8 columns">
                    Last Statement Balance <span class="cc-page-myfinances-lighter">({{myfinances.summary.lastStatementDate | date:'MM/dd/yy'}})</span>
                  </div>
                  <div class="small-4 columns">
                    <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.lastStatementBalance"></div>
                  </div>
                  <div class="small-8 columns" style="display: none;">
                    Activity Since Last Statement
                  </div>
                  <div class="small-4 columns" style="display: none;">
                    <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.unbilledActivity"></div>
                  </div>
                </div>
                <div class="small-12 columns cc-page-myfinances-light" data-ng-show="myfinances.show">
                  <a href="https://bearfacts.berkeley.edu/bearfacts/student/CARS/ebill.do?bfaction=accessEBill">View Statements</a>
                </div>
              </div>
            </li>
            <li data-ng-if="myfinances.summary.accountBalance !== '0.00'">
              <div class="cc-page-myfinances-account-summary-buttons">
                <a class="cc-button cc-button-blue" href="http://studentbilling.berkeley.edu/carsPaymentOptions.htm">Make Payment</a>
              </div>
            </li>

            <li class="cc-page-myfinances-account-summary-item cc-page-myfinances-unapplied-awards cc-clearfix-container" data-ng-if="myfinances.summary.anticipatedAidFloat > 0">
              <div class="small-8 columns">
                Unapplied Awards
              </div>
              <div class="small-4 columns">
                <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.anticipatedAid"></div>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="medium-8 columns" data-ng-show="myfinances.activity.length">

        <div class="cc-widget cc-page-myfinances-account-activity cc-widget-last">
          <div class="cc-widget-title">
            <h2 class="cc-left">Activity</h2>
            <div class="cc-right cc-page-myfinances-account-activity-search">
              <input type="text" placeholder="Search..." data-ng-model="search.$">
            </div>
          </div>

          <div class="cc-page-myfinances-account-activity-selection">
            <div class="row">
              <div class="small-7 columns">
                <ul class="cc-button-group cc-even-{{countButtons}}" data-ng-init="transStatusSearch=''">
                  <li data-ng-show="counts.open!=0">
                    <button class="cc-button" data-ng-click="transStatusSearch='open';search.transTerm='';search.transType=''" data-ng-class="{'cc-button-selected':(transStatusSearch=='open')}">Balance
                    </button>
                  </li>
                  <li>
                    <button class="cc-button cc-button-selected" data-ng-click="transStatusSearch='';search.transTerm=search_term;search.transType=''" data-ng-class="{'cc-button-selected':(transStatusSearch=='')}">History
                    </button>
                  </li>
                </ul>
              </div>
              <div class="small-5 columns">
                <div class="cc-select cc-right" data-ng-show="transStatusSearch==''">
                  <select data-ng-model="search.transTerm" id="cc-page-myfinances-select-term" data-ng-options="t.value as t.label for t in myfinances.terms" data-ng-change="search_term = search.transTerm">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="cc-table cc-table-sortable cc-page-myfinances-table">
            <table>
              <thead>
                <tr>
                  <th width="15%" data-ng-click="changeSorting('transDate')">
                    Date <i data-ng-class="getSortClass('transDate')"></i>
                  </th>
                  <th width="35%" data-ng-click="changeSorting('transDesc')">
                    Description <i data-ng-class="getSortClass('transDesc')"></i>
                  </th>
                  <th width="30%" data-ng-click="changeSorting('transBalanceAmountFloat')" class="cc-table-right cc-table-right-spacing">
                    <i data-ng-class="getSortClass('transBalanceAmountFloat')"></i> Amount
                  </th>
                  <th width="10%" data-ng-click="changeSorting('transType')" data-ng-if="!myfinances.summary.hasDPPTransactions">
                    Type <i data-ng-class="getSortClass('transType')"></i>
                  </th>
                  <th width="10%" data-ng-click="changeSorting('isDPP')" class="cc-table-center" data-ng-if="myfinances.summary.hasDPPTransactions">
                    DPP <i data-ng-class="getSortClass('isDPP')"></i>
                  </th>
                  <th width="15%" data-ng-click="changeSorting('isDueNow')" class="cc-table-center">Due
                    <i data-ng-class="getSortClass('isDueNow')"></i>
                  </th>
                </tr>
              </thead>
              <tbody
                class="cc-widget-table-hover"
                data-cc-accessible-focus-directive
                data-ng-class="{'cc-widget-table-hover-opened cc-widget-list-selected':(item.show)}"
                data-ng-click="api.widget.toggleShow($event, myfinances.activity, item, 'My Finances - Transaction', false)"
                 data-ng-repeat="item in myfinances.activity | filter:search | filter:statusFilter | orderBy:sort.column:sort.descending">
                <tr data-ng-class="{'cc-page-myfinances-red':(item.isPastDueDate === true), 'cc-page-myfinances-green':(item.transBalanceAmountFloat < 0), 'cc-page-myfinances-unapplied': (item.transStatus === 'Unapplied' && item.transType === 'Award')}">
                  <td class="cc-widget-table-hover-notriangle">
                    <span data-ng-bind="item.transDate | date:'MM/dd/yy'" class="hide-for-small"></span>
                    <span data-ng-bind="item.transDate | date:'MM/dd'" class="hide-for-medium-up"></span>
                  </td>
                  <td class="cc-widget-table-hover-notriangle">
                    <div data-ng-bind="item.transDesc" data-ng-class="{'cc-ellipsis':(!item.show)}"></div>
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-page-myfinances-amount cc-table-right cc-table-right-spacing" data-cc-amount-directive="item.transBalanceAmount"></td>
                  <td class="cc-widget-table-hover-notriangle cc-page-myfinances-type" data-ng-if="!myfinances.summary.hasDPPTransactions">
                    <span class="hide-for-small" data-ng-bind="item.transType"></span>
                    <div class="hide-for-medium-up">
                      <i class="fa" data-ng-attr-title="{{item.transType}}"
                         data-ng-class="{'fa-usd':(item.transType==='Adjustment'),'fa-plus':(item.transType !== 'Adjustment' && item.transBalanceAmountFloat > 0),'fa-minus':(item.transType !== 'Adjustment' && item.transBalanceAmountFloat < 0)}"></i>
                    </div>
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-table-center" data-ng-if="myfinances.summary.hasDPPTransactions">
                    <i class="fa" data-ng-class="{'fa-check':(item.isDPP)}" data-ng-if="item.isDPP">
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-table-center">
                    <i class="fa" data-ng-class="{'fa-exclamation-circle':(item.isDueNow === '1_past_due'),'fa-exclamation':(item.isDueNow === '2_current_due'),'fa-arrow-right':(item.isDueNow === '3_future_due')}" data-ng-if="item.isDueNow !== '4_closed'">
                  </td>
                </tr>
                <tr data-ng-if="item.show">
                  <td class="cc-widget-table-hover-notriangle"></td>
                  <td class="cc-widget-table-hover-notriangle" colspan="4">
                    <div class="row collapse">
                      <div data-ng-if="item.transId">
                        <strong>Transaction #:</strong>
                        <span data-ng-bind="item.transId"></span>
                      </div>
                      <div data-ng-if="item.originalAmount">
                        <strong>Original Amount:</strong>
                        <span class="cc-page-myfinances-amount" data-cc-amount-directive="item.originalAmount"></span>
                      </div>
                      <div data-ng-if="item.transDueDateShow && !(item.transStatus === 'Closed' && item.transType === 'Refund')">
                        <strong>Due Date:</strong>
                        <span data-ng-bind="item.transDueDateShow"></span>
                      </div>
                      <div data-ng-if="item.transDept">
                        <strong>Department:</strong>
                        <a data-ng-bind="item.transDept" data-ng-click="api.util.preventBubble($event)" data-ng-href="{{item.transDeptUrl}}"></a>
                      </div>
                      <div data-ng-if="item.transTerm">
                        <strong>Term:</strong>
                        <span data-ng-bind="item.transTerm"></span>
                      </div>
                      <div data-ng-if="item.transType" data-ng-class="{'hide-for-medium-up':!myfinances.summary.hasDPPTransactions}">
                        <strong>Type:</strong>
                        <span data-ng-bind="item.transType"></span>
                      </div>
                      <div data-ng-if="item.transStatus === 'Unapplied' && item.transType === 'Award'">
                        <strong>Unapplied award:</strong>
                        Since this is an unapplied award this amount is not included in the account balance.
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="cc-page-myfinances-footer cc-clearfix-container">
            <div class="medium-12 columns">
              <ul>
                <li>
                  <i class="fa fa-exclamation"></i> Due now
                </li>
                <li>
                  <i class="fa fa-exclamation-circle"></i> Overdue
                </li>
                <li>
                  <i class="fa fa-arrow-right"></i> Due in the future
                </li>
                <li class="cc-page-myfinances-footer-updated">
                  Updated on <span data-ng-bind="myfinances.summary.lastUpdateDate | date:'MM/dd/yy'"></span> at 5am PST.
                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</script>
