<script type="text/ng-template" id="templates/myfinances.html">

  <div class="cc-page-myfinances" data-cc-spinner-directive>
    <div class="row collapse">

      <div class="column">
        <h1 class="cc-heading-page-title">My Finances</h1>
      </div>

      <div class="medium-4 columns" data-ng-show="myfinances.summary">

        <div class="cc-widget cc-widget-interesting">
          <div class="cc-widget-title">
            <h2>Summary</h2>
          </div>

          <ul class="cc-widget-list cc-page-myfinances-account-summary-list">

            <li class="cc-page-myfinances-account-summary-item cc-clearfix-container cc-page-myfinances-dpp" data-ng-if="myfinances.summary.isOnDPP">
              <div class="small-12 columns">
                <strong>Deferred Payment Plan</strong>
              </div>
              <div class="cc-page-myfinances-dpp-amounts">
                <div class="small-8 columns cc-print-width-auto">
                  DPP Balance <sup>1</sup>
                </div>
                <div class="small-4 columns cc-print-width-auto cc-print-right">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppBalance"></div>
                </div>
                <div class="small-8 columns cc-print-width-auto cc-print-clear" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
                  DPP Normal Installment Amount
                </div>
                <div class="small-4 columns cc-print-width-auto cc-print-right" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppNormalInstallmentAmount"></div>
                </div>
              </div>
              <div class="small-12 columns cc-page-myfinances-dpp-note">
                1: Reflected in charges with DPP listed in Activity
              </div>
            </li>

            <li class="cc-page-myfinances-account-summary-item cc-clearfix-container">
              <div class="small-8 columns cc-print-width-auto">
                <strong data-ng-if="myfinances.summary.minimumAmountDueFloat >= 0">
                  <span data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue && !myfinances.apiVersion">Other</span> Amount Due Now
                </strong>
                <strong data-ng-if="myfinances.summary.minimumAmountDueFloat < 0">
                  Credit Balance
                </strong>
                <div data-ng-if="myfinances.summary.totalPastDueAmountFloat > 0" class="cc-page-myfinances-red cc-page-myfinances-account-summary-subtitle">Includes Past Due Amount of <span data-cc-amount-directive="myfinances.summary.totalPastDueAmount"></span>
                </div>
              </div>
              <div class="small-4 columns cc-print-width-auto cc-print-right">
                <div class="cc-page-myfinances-amount">
                  <strong data-cc-amount-directive="myfinances.summary.minimumAmountDue"></strong>
                </div>
              </div>

              <section class="cc-clearfix-container" data-ng-if="myfinances.summary.futureActivity !== '0.00'">
                <div class="small-8 columns cc-print-width-auto cc-print-clear">
                  Charges Not Yet Due
                </div>
                <div class="small-4 columns cc-print-width-auto cc-print-right">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.futureActivity"></div>
                </div>
              </section>
              <section class="cc-clearfix-container cc-page-myfinances-not-amount-due-dpp" data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue && !myfinances.apiVersion">
                <div class="small-12 columns">
                  These do not include the amount due on DPP.
                </div>
              </section>
            </li>

            <li data-ng-class="{'cc-widget-list-selected': myfinances.show}">
              <div
                class="cc-widget-list-hover cc-page-myfinances-account-summary-item"
                data-ng-class="{'cc-widget-list-hover-opened':(myfinances.show)}"
                data-cc-accessible-focus-directive
                data-ng-click="api.widget.toggleShow($event, null, myfinances, 'My Finances - Summary')">

                <div class="small-8 columns cc-print-width-auto">Account Balance
                  <div class="cc-page-myfinances-account-summary-subtitle cc-page-myfinances-light">includes charges not yet due</div>
                </div>
                <div class="small-4 columns cc-print-width-auto cc-print-right">
                  <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.accountBalance"></div>
                </div>

                <div class="cc-page-myfinances-light" data-ng-if="myfinances.show">
                  <div class="small-8 columns cc-print-clear cc-print-width-auto">
                    Last Statement Balance <span class="cc-page-myfinances-lighter">({{myfinances.summary.lastStatementDate | date:'MM/dd/yy'}})</span>
                  </div>
                  <div class="small-4 columns cc-print-width-auto cc-print-right">
                    <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.lastStatementBalance"></div>
                  </div>
                </div>
                <div class="small-12 columns cc-page-myfinances-light" data-ng-if="myfinances.show">
                  <a href="https://bearfacts.berkeley.edu/bearfacts/student/CARS/ebill.do?bfaction=accessEBill">View Statements</a>
                </div>
              </div>
            </li>
            <li data-ng-if="myfinances.summary.accountBalanceFloat !== 0">
              <div class="cc-page-myfinances-account-summary-buttons cc-print-hide">
                <a class="cc-button cc-button-blue" href="http://studentbilling.berkeley.edu/carsPaymentOptions.htm">Make Payment</a>
              </div>
            </li>

          </ul>
        </div>

        <div class="cc-widget cc-print-hide">
          <div class="cc-widget-title">
            <h2 class="cc-left">Financial Resources</h2>
          </div>
          <div class="cc-list-link-container">
            <h3>Questions About Your Finances</h3>
            <ul class="cc-list-links">
              <li>
                <a href="https://saservices.berkeley.edu/CSC/student-case.html">Cal Student Central</a>
              </li>
            </ul>
            <h3>Tax Information</h3>
            <ul class="cc-list-links">
              <li>
                <a href="http://studentbilling.berkeley.edu/taxpayer.htm">1098-T Form</a>
              </li>
            </ul>
            <h3>Campus and Beyond</h3>
            <ul class="cc-list-links">
              <li>
                <a href="http://cal1card.berkeley.edu/login">Cal 1 Card</a>
              </li>
              <li>
                <a href="https://myfinaid.berkeley.edu">MyFinAid</a>
              </li>
            </ul>
          </div>
          <div class="cc-page-myfinances-resources-more">
            <a href="/campus/finances"><strong>More Resources</strong></a>
          </div>
        </div>
      </div>
      <div class="medium-8 columns" data-ng-show="myfinances.activity.length">

        <div class="cc-widget cc-page-myfinances-account-activity cc-widget-last">
          <div class="cc-widget-title">
            <h2 class="cc-left">Activity</h2>
            <button class="cc-button cc-right cc-page-myfinances-account-activity-print" data-ng-click="printPage()">
              <i class="fa fa-print"></i> Print
            </button>
          </div>

          <form name="cc_page_myfinances_account_filter" class="cc-page-myfinances-account-filter">
            <div class="row">
              <div class="small-12 columns">
                <div class="cc-left">
                  <label for="cc-page-myfinances-account-choices">
                    <strong>Filter: </strong>
                  </label>
                </div>
                <div class="cc-select cc-left">
                  <select id="cc-page-myfinances-account-choices" data-ng-model="choice" data-ng-options="c.value as c.label for c in choices" data-ng-change="choiceChange()">
                  </select>
                </div>
                <div class="cc-select cc-left" data-ng-if="choice === 'term'">
                  <select data-ng-model="search.transTerm" id="cc-page-myfinances-select-term" data-ng-options="t.value as t.label for t in myfinances.terms" data-ng-change="searchTerm = search.transTerm">
                  </select>
                </div>
                <div class="cc-left" data-ng-show="choice === 'daterange'">
                  <input type="text"
                    class="cc-page-myfinances-date-input"
                    data-ng-model="startDate"
                    name="cc_page_myfinances_date_start"
                    id="cc-page-myfinances-date-start"
                    placeholder="mm/dd/yyyy - Start"
                    data-cc-date-validator-directive />
                  <button class="cc-button-transparent cc-widget-tasks-addtask-calendar-icon" data-ng-click="api.util.preventBubble($event)" tabindex="-1" data-cc-datepicker-directive="cc-page-myfinances-date-start">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <div class="cc-left" data-ng-show="choice === 'daterange'">
                  <input type="text"
                    class="cc-page-myfinances-date-input"
                    data-ng-model="endDate"
                    name="cc_page_myfinances_date_end"
                    id="cc-page-myfinances-date-end"
                    placeholder="mm/dd/yyyy - End"
                    data-cc-date-validator-directive />
                  <button class="cc-button-transparent cc-widget-tasks-addtask-calendar-icon" data-ng-click="api.util.preventBubble($event)" tabindex="-1" data-cc-datepicker-directive="cc-page-myfinances-date-end">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <div class="cc-left cc-print-clear cc-page-myfinances-account-activity-search" data-ng-class="{'cc-print-hide':(!search.$)}">
                  <label class="cc-hidden cc-page-myfinances-print-label cc-print-show cc-left">
                    <strong>Search: </strong>
                  </label>
                  <input type="text" placeholder="Search..." data-ng-model="search.$">
                </div>
                <div class="cc-clearfix">
                  <p class="cc-alert cc-alert-text" role="alert" data-ng-show="cc_page_myfinances_account_filter.cc_page_myfinances_date_start.$error.ccDateValidator">
                    Please use mm/dd/yyyy date format for the start date.
                  </p>
                  <p class="cc-alert cc-alert-text" role="alert" data-ng-show="cc_page_myfinances_account_filter.cc_page_myfinances_date_end.$error.ccDateValidator">
                    Please use mm/dd/yyyy date format for the end date.
                  </p>
                </div>
              </div>
            </div>
          </form>
          <p class="cc-widget-padding" data-ng-if="choice === 'balance' && myfinances.summary.accountBalanceFloat === 0">
            You do not owe anything at this time. Please select a different filter to view activity details.
          </p>
          <p class="cc-widget-padding" data-ng-if="choice === 'balance' && myfinances.summary.accountBalanceFloat < 0">
            You have an over-payment on your account. You do not owe anything at this time. Please select a different filter to view activity details.
          </p>
          <div class="cc-table cc-table-sortable cc-page-myfinances-table" data-ng-hide="choice === 'balance' && myfinances.summary.accountBalanceFloat <= 0">
            <table>
              <thead>
                <tr>
                  <th width="15%" data-ng-click="changeSorting('transDate')">
                    Date <i data-ng-class="getSortClass('transDate')"></i>
                  </th>
                  <th width="35%" data-ng-click="changeSorting('transDesc')">
                    Description <i data-ng-class="getSortClass('transDesc')"></i>
                  </th>
                  <th width="30%" data-ng-click="changeSorting('transBalanceAmountFloat')" class="cc-table-right cc-table-right-spacing">
                    <i data-ng-class="getSortClass('transBalanceAmountFloat')"></i> Amount
                  </th>
                  <th width="10%" data-ng-click="changeSorting('transType')" data-ng-if="!myfinances.summary.hasDPPTransactions">
                    Type <i data-ng-class="getSortClass('transType')"></i>
                  </th>
                  <th width="10%" data-ng-click="changeSorting('isDPP')" class="cc-table-center" data-ng-if="myfinances.summary.hasDPPTransactions">
                    DPP <i data-ng-class="getSortClass('isDPP')"></i>
                  </th>
                  <th width="15%" data-ng-click="changeSorting('isDueNow')" class="cc-table-center">Due
                    <i data-ng-class="getSortClass('isDueNow')"></i>
                  </th>
                </tr>
              </thead>
              <tbody
                class="cc-widget-table-hover"
                data-cc-accessible-focus-directive
                data-ng-class="{'cc-widget-table-hover-opened cc-widget-list-selected':(item.show)}"
                data-ng-click="api.widget.toggleShow($event, myfinances.activity, item, 'My Finances - Transaction')"
                 data-ng-repeat="item in myfinances.activity | filter:search | filter:statusFilter | filter:dateFilter | orderBy:sort.column:sort.descending">
                <tr data-ng-class="{'cc-page-myfinances-red':(item.isPastDueDate === true), 'cc-page-myfinances-green':(item.transBalanceAmountFloat < 0), 'cc-page-myfinances-unapplied': (item.transStatus === 'Unapplied'), 'cc-page-myfinances-unapplied-award': (item.transStatus === 'Unapplied' && item.transType === 'Award')}">
                  <td class="cc-widget-table-hover-notriangle">
                    <span data-ng-bind="item.transDate | date:'MM/dd/yy'" class="hide-for-small"></span>
                    <span data-ng-bind="item.transDate | date:'MM/dd'" class="hide-for-medium-up"></span>
                  </td>
                  <td class="cc-widget-table-hover-notriangle">
                    <div data-ng-bind="item.transDesc" data-ng-class="{'cc-ellipsis':(!item.show)}"></div>
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-page-myfinances-amount cc-table-right cc-table-right-spacing" data-cc-amount-directive="item.transBalanceAmount"></td>
                  <td class="cc-widget-table-hover-notriangle cc-page-myfinances-type" data-ng-if="!myfinances.summary.hasDPPTransactions">
                    <span class="hide-for-small" data-ng-bind="item.transType"></span>
                    <div class="hide-for-medium-up">
                      <i class="fa" data-ng-attr-title="{{item.transType}}"
                         data-ng-class="{'fa-usd':(item.transType==='Adjustment'),'fa-plus':(item.transType !== 'Adjustment' && item.transBalanceAmountFloat > 0),'fa-minus':(item.transType !== 'Adjustment' && item.transBalanceAmountFloat < 0)}"></i>
                    </div>
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-table-center" data-ng-if="myfinances.summary.hasDPPTransactions">
                    <i class="fa" data-ng-class="{'fa-check':(item.isDPP)}" data-ng-if="item.isDPP">
                  </td>
                  <td class="cc-widget-table-hover-notriangle cc-table-center">
                    <i class="fa" data-ng-class="{'fa-exclamation-circle':(item.isDueNow === '1_past_due'),'fa-exclamation':(item.isDueNow === '2_current_due'),'fa-arrow-right':(item.isDueNow === '3_future_due')}" data-ng-if="item.isDueNow !== '4_closed'">
                  </td>
                </tr>
                <tr data-ng-if="item.show">
                  <td class="cc-widget-table-hover-notriangle"></td>
                  <td class="cc-widget-table-hover-notriangle" colspan="4">
                    <div class="row collapse">
                      <div data-ng-if="item.transId">
                        <strong>Transaction #:</strong>
                        <span data-ng-bind="item.transId"></span>
                      </div>
                      <div data-ng-if="item.originalAmount">
                        <strong>Original Amount:</strong>
                        <span class="cc-page-myfinances-amount" data-cc-amount-directive="item.originalAmount"></span>
                      </div>
                      <div data-ng-if="item.transDueDateShow && !(item.transStatus === 'Closed' && item.transType === 'Refund')">
                        <strong>Due Date:</strong>
                        <span data-ng-bind="item.transDueDateShow"></span>
                      </div>
                      <div data-ng-if="item.transPotentialDisbursementDate">
                        <strong>Potential Disbursement Date:</strong>
                        <span data-ng-bind="item.transPotentialDisbursementDate | date:'MM/dd/yy'"></span>
                      </div>
                      <div data-ng-if="item.transDept">
                        <strong>Department:</strong>
                        <a data-ng-bind="item.transDept" data-ng-click="api.util.preventBubble($event)" data-ng-href="{{item.transDeptUrl}}"></a>
                      </div>
                      <div data-ng-if="item.transTerm">
                        <strong>Term:</strong>
                        <span data-ng-bind="item.transTerm"></span>
                      </div>
                      <div data-ng-if="item.transType" data-ng-class="{'hide-for-medium-up':!myfinances.summary.hasDPPTransactions}">
                        <strong>Type:</strong>
                        <span data-ng-bind="item.transType"></span>
                      </div>
                      <div data-ng-if="item.transStatus === 'Unapplied' && item.transType === 'Award'">
                        <strong>Unapplied award:</strong>
                        Since this is an unapplied award this amount is not included in the account balance.
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="cc-page-myfinances-footer cc-clearfix-container">
            <div class="medium-12 columns">
              <ul>
                <li>
                  <i class="fa fa-exclamation"></i> Due now
                </li>
                <li>
                  <i class="fa fa-exclamation-circle"></i> Overdue
                </li>
                <li>
                  <i class="fa fa-arrow-right"></i> Due in the future
                </li>
                <li class="cc-page-myfinances-footer-updated">
                  Updated on <span data-ng-bind="myfinances.summary.lastUpdateDate | date:'MM/dd/yy'"></span> at 5am PST.
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="medium-12 columns" data-ng-if="myfinancesError.body" data-ng-cloak>
        <p class="cc-widget-padding" data-ng-bind="myfinancesError.body"></p>
      </div>

    </div>
  </div>

</script>
