<!-- Top Navbar -->
<div class="row">
  <ul class="cc-navigation-bar">
    <li data-ng-class="{true:'active'}[controller_name=='DashboardController']"><a href="/dashboard">My Dashboard</a></li>
    <li data-ng-class="{true:'active'}[controller_name=='CampusController']"><a href="/campus">My Campus</a></li>
  </ul>
</div>
