<script type="text/ng-template" id="templates/profile.html">
  <div class="twelve columns" data-ng-controller="ProfileController">
    <h3>CalCentral Profile for {{user.profile.preferred_name}}</h3>

    <p>
      In order to display your latest tasks, assignments and alerts on the Dashboard,
      CalCentral needs permission to access information stored in your bConnected and Canvas accounts.
    </p>

    <p>
      Please click the Authorize button next to each service you wish to enable.
      You can revoke these permissions at any time.
    </p>

    <!-- bConnected/Google status button-->
    <div data-ng-switch on="user.profile.has_google_access_token">
      <div data-ng-switch-when="true">
        <img data-ng-src="/assets/icon_completed_24x24.png" alt="Connected icon" class="cc-left profile_connection_status_icon" />
        <img src="/assets/logo_bconnected.png" alt="bConnected" class="profile_service_logo" />
        <a class="radius button success">Revoke bConnected Access</a>
      </div>

      <div data-ng-switch-when="false">
        <img data-ng-src="/assets/icon_block_24x24.png" alt="Not connected icon" class="cc-left profile_connection_status_icon" />
        <img src="/assets/logo_bconnected.png" alt="bConnected" class="profile_service_logo" />
        <a class="radius button secondary" href="/api/google/request_authorization" target="_self">Enable bConnected Access</a>
      </div>
    </div>

    <!-- Canvas status button -->
    <div data-ng-switch on="user.profile.has_canvas_access_token">
      <div data-ng-switch-when="true">
        <img data-ng-src="/assets/icon_completed_24x24.png" alt="Connected icon" class="cc-left profile_connection_status_icon" />
        <img src="/assets/logo_canvas.png" alt="Canvas" class="profile_service_logo" />
        <a class="radius button success">Revoke Canvas Access</a>
      </div>

      <div data-ng-switch-when="false">
        <img data-ng-src="/assets/icon_block_24x24.png" alt="Not connected icon" class="cc-left profile_connection_status_icon" />
        <img src="/assets/logo_canvas.png" alt="Canvas" class="profile_service_logo" />
        <a class="radius button secondary" href="/api/canvas/request_authorization" target="_self">Enable Canvas Access</a>
      </div>
    </div>

    <hr />
    <p>
      <p>
        <img src="/assets/icon_completed_24x24.png" alt="Connected icon" class="profile_connection_status_icon profile_status_icon_nopad" /> Service is connected to your account
      </p>
      <p>
        <img src="/assets/icon_block_24x24.png" alt="Not connected icon" class="profile_connection_status_icon profile_status_icon_nopad" /> Please connect this service to your account
      </p>
    </p>

  </div>
</script>
