<script type="text/ng-template" id="templates/profile.html">
  <div class="twelve columns cc-profile" data-ng-controller="ProfileController">
    <h3>CalCentral Profile for {{user.profile.preferred_name}}</h3>

    <p>
      In order to display your latest tasks, assignments and alerts on the Dashboard,
      CalCentral needs permission to access information stored in your bConnected and Canvas accounts.
    </p>

    <p>
      Please click the Authorize button next to each service you wish to enable.
      You can revoke these permissions at any time.
    </p>

    <div class="cc-profile-header row">
      <div class="one columns mobile-one">
        Service
      </div>
      <div class="one columns mobile-one">
        Status
      </div>
      <div class="ten columns mobile-two">
        Action
      </div>
    </div>

    <!-- bConnected/Google status button -->
    <div data-ng-switch on="user.profile.has_google_access_token">

      <div class="row" data-ng-switch-when="false">
        <div class="one columns mobile-one cc-profile-service">bConnected</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_block_24x24.png" alt="Not Connected icon" class="cc-profile-connection-status-icon" />
        </div>
        <div class="ten columns mobile-two">
          <a class="radius button success" href="/api/google/request_authorization" target="_self">Enable <span class="visuallyhidden">Google Access</span></a>
        </div>
      </div>

      <div class="row" data-ng-switch-when="true">
        <div class="one columns mobile-one cc-profile-service">bConnected</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_completed_24x24.png" alt="Connected icon" class="cc-profile-connection-status-icon" />
        </div>
        <div class="ten columns mobile-two">
          <a class="radius button" href="/api/google/remove_authorization" target="_self">Revoke <span class="visuallyhidden">Google Access</span></a>
        </div>
      </div>

    </div>

    <!-- Canvas status button -->
    <div data-ng-switch on="user.profile.has_canvas_access_token">

      <div class="row" data-ng-switch-when="false">
        <div class="one columns mobile-one cc-profile-service">Canvas</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_block_24x24.png" alt="Not Connected icon" class="cc-profile-connection-status-icon" />
        </div>
        <div class="ten columns mobile-two">
          <a class="radius button success" href="/api/canvas/request_authorization" target="_self">Enable <span class="visuallyhidden">Canvas Access</span></a>
        </div>
      </div>

      <div class="row" data-ng-switch-when="true">
        <div class="one columns mobile-one cc-profile-service">Canvas</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_completed_24x24.png" alt="Connected icon" class="cc-profile-connection-status-icon" />
        </div>
        <div class="ten columns mobile-two">
          <a class="radius button" href="/api/canvas/remove_authorization" target="_self">Revoke <span class="visuallyhidden">Canvas Access</span></a>
        </div>
      </div>

    </div>

    <hr />
    <p>
      <p>
        <img src="/assets/icon_completed_24x24.png" alt="Connected icon" class="cc-profile-connection-status-icon" /> Service is connected to your account
      </p>
      <p>
        <img src="/assets/icon_block_24x24.png" alt="Not connected icon" class="cc-profile-connection-status-icon" /> Please connect this service to your account
      </p>
    </p>

  </div>
</script>
