<script type="text/ng-template" id="templates/settings_service_loop.html">
  <!-- Dont show the icon column on small screens -->
  <div class="medium-1 columns hide-for-small">
    <%= image_tag "icon_bconnected_32x32.png", :size => "32x32", :alt => "", :data => { :ng_show => "service=='google'" } %>
  </div>

  <div class="medium-9 small-8 columns cc-settings-service-description-block">
    <div data-ng-show="service=='google'">
      <strong>bConnected</strong><br />
      <span class="cc-settings-service-description" data-ng-show="!api.user.profile.google_email || !api.user.profile.has_google_access_token">
        Connect your Google Apps for Education account in order to access your drive, mail and calendar.<br />Be sure you have logged out of any personal Google accounts before you perform this operation.
      </span>
      <span class="cc-settings-service-description" data-ng-show="api.user.profile.google_email && api.user.profile.has_google_access_token" data-ng-bind-template="Connected as: {{api.user.profile.google_email}}"></span>
    </div>
  </div>

  <div class="medium-2 small-4 columns" data-ng-show="loopname=='connected'">
    <button data-ng-show="api.user.profile['has_' + service + '_access_token']"
      data-ng-disabled="api.user.profile['acting_as_uid']"
      class="cc-button" data-ng-click="api.user.removeOAuth(service)">
      Disconnect <span class="cc-visuallyhidden" data-ng-bind-template="{{service}} access"></span>
    </button>
  </div>

  <div class="medium-2 small-4 columns" data-ng-show="loopname=='unconnected'">
    <button data-ng-show="service=='google'"
      data-ng-disabled="api.user.profile['acting_as_uid']"
      class="cc-button cc-button-blue" data-ng-click="api.user.enableOAuth('google')">
      Connect <span class="cc-visuallyhidden">Google Access</span>
    </button>
  </div>
</script>
