<script type="text/ng-template" id="templates/settings.html">
  <div class="twelve columns cc-settings" data-ng-controller="SettingsController">
    <h1>Settings for {{user.profile.preferred_name}}</h1>
    <hr />
    <h2>External Feeds</h2>

    <p>
      In order to display your latest tasks, assignments and alerts on the Dashboard,
      CalCentral needs permission to access information stored in your bConnected (Google) and Canvas accounts.
    </p>


    <div class="cc-settings-header row">
      <div class="two columns mobile-one">
        Service
      </div>
      <div class="one columns mobile-one">
        Status
      </div>
      <div class="nine columns mobile-two">
        Action
      </div>
    </div>

    <!-- bConnected/Google status button -->
    <div data-ng-switch on="user.profile.has_google_access_token">

      <div class="row" data-ng-switch-when="false">
        <div class="two columns mobile-one cc-settings-service">bConnected</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_checkmark_open_24x24.png" alt="Not Connected icon" class="cc-settings-connection-status-icon" />
        </div>
        <div class="nine columns mobile-two">
          <button class="radius button small boldbutton" data-ng-click="user.enableOAuth('google')">
            Connect <span class="cc-visuallyhidden">Google Access</span>
          </button>
        </div>
      </div>

      <div class="row" data-ng-switch-when="true">
        <div class="two columns mobile-one cc-settings-service">bConnected</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_checkmark_green_24x24.png" alt="Connected icon" class="cc-settings-connection-status-icon" />
        </div>
        <div class="nine columns mobile-two">
          <button class="radius button small boldbutton" data-ng-click="user.removeOAuth('google')">
            Disconnect <span class="cc-visuallyhidden">Google Access</span>
          </button>
        </div>
      </div>

    </div>

    <!-- Canvas status button -->
    <div data-ng-switch on="user.profile.has_canvas_access_token">

      <div class="row" data-ng-switch-when="false">
        <div class="two columns mobile-one cc-settings-service">Canvas</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_checkmark_open_24x24.png" alt="Not Connected icon" class="cc-settings-connection-status-icon" />
        </div>
        <div class="nine columns mobile-two">
          <button class="radius button small boldbutton" data-ng-click="user.enableOAuth('canvas')">
            Connect <span class="cc-visuallyhidden">Canvas Access</span>
          </button>
        </div>
      </div>

      <div class="row" data-ng-switch-when="true">
        <div class="two columns mobile-one cc-settings-service">Canvas</div>
        <div class="one columns mobile-one">
          <img data-ng-src="/assets/icon_checkmark_green_24x24.png" alt="Connected icon" class="cc-settings-connection-status-icon" />
        </div>
        <div class="nine columns mobile-two">
          <button class="radius button small boldbutton" data-ng-click="user.removeOAuth('canvas')">
            Disconnect <span class="cc-visuallyhidden">Canvas Access</span>
          </button>
        </div>
      </div>

    </div>

    <hr />
    <h3>Key</h3>
    <p>
      <img src="/assets/icon_checkmark_green_18x18.png" alt="Connected icon" class="cc-settings-connection-status-icon-small" />
        Service is connected to your account
    </p>
    <p>
      <img src="/assets/icon_checkmark_open_18x18.png" alt="Not connected icon" class="cc-settings-connection-status-icon-small" />
        Please connect this service to your account
    </p>

    <hr />
    <p>
      <button class="button small cc-button-link"
        data-ng-click="user._redirectToDashboardPage()">&laquo; Take me to my Dashboard
      </button>
    </p>

  </div>
</script>
