<script type="text/ng-template" id="templates/settings_service_loop.html">
  <!-- Dont show the icon column on small screens -->
  <div class="large-1 columns hide-for-small">
    <%= image_tag "icon_bconnected_32x32.png", :size => "32x32", :alt => "bConnected icon", :data => { :ng_show => "service=='google'" } %>

    <%= image_tag "icon_canvas_32x32.png", :size => "32x32", :alt => "Canvas icon", :data => { :ng_show => "service=='canvas'" } %>
  </div>

  <div class="large-9 small-8 columns cc-settings-service-description-block">
    <div data-ng-show="service=='google'">
      <strong>bConnected</strong><br />
      <span class="cc-settings-service-description" data-ng-show="!user.profile.google_email">
        Connect your Google Apps for Education account in order to access your drive, mail and calendar.
      </span>
      <span class="cc-settings-service-description" data-ng-show="user.profile.google_email">Connected as: {{user.profile.google_email}}</span>
    </div>
    <div data-ng-show="service=='canvas'">
      <strong>Canvas</strong><br />
      <span class="cc-settings-service-description">
        Connect your Canvas account to be able to see Canvas-hosted class sites, assignments and activity. <a href="https://ets.berkeley.edu/article/what-canvas">Learn more about Canvas</a>.
      </span>
    </div>
  </div>

  <div data-ng-show="loopname=='connected'">
    <div class="large-2 small-4 columns">
      <button data-ng-show="user.profile['has_' + service + '_access_token']"
        class="radius button medium" data-ng-click="user.removeOAuth('{{service}}')">
        Disconnect <span class="cc-visuallyhidden" data-ng-bind-template="{{service}} access"></span>
      </button>
    </div>
  </div>

  <div data-ng-show="loopname=='unconnected'">
    <div class="large-2 small-4 columns">
      <button data-ng-show="service=='google'"
        class="radius button medium success" data-ng-click="user.enableOAuth('google')">
        Connect <span class="cc-visuallyhidden">Google Access</span>
      </button>

      <div data-ng-show="user.profile.has_canvas_account">
        <button data-ng-show="service=='canvas'"
          class="radius button medium success" data-ng-click="user.enableOAuth('canvas')">
          Connect <span class="cc-visuallyhidden">Canvas Access</span>
        </button>
      </div>
      <div data-ng-show="!user.profile.has_canvas_account">
        <button data-ng-show="service=='canvas'"
          class="radius button medium secondary">
          Unavailable <span class="cc-visuallyhidden">Canvas Access</span>
        </button>
      </div>
    </div>
  </div>
</script>
