<script type="text/ng-template" id="templates/settings.html">
  <div class="large-12 columns cc-settings" data-ng-controller="SettingsController">
    <h1>Settings for {{user.profile.full_name}}</h1>

    <section data-ng-show='connected_services.length' class="cc-settings-section">
      <div class="large-10 large-centered columns">

        <h2>Connected Services</h2>
        <div class="row cc-settings-service-row" data-ng-repeat="service in connected_services">
          <div data-ng-init="loopname='connected'" data-ng-include src="'templates/settings_service_loop.html'"></div>
        </div>

      </div>
    </section>

    <section data-ng-show='non_connected_services.length' class="cc-settings-section">
      <div class="large-10 large-centered columns">

        <h2>Services to Connect</h2>

        <div class="row cc-settings-service-row" data-ng-repeat="service in non_connected_services">
          <div data-ng-init="loopname='unconnected'" data-ng-include src="'templates/settings_service_loop.html'"></div>
        </div>

      </div>
    </section>

    <a class="cc-settings-dashboard-link" href="/dashboard">&laquo; Take me to my Dashboard
    </a>

    <div data-ng-show="user.profile.is_admin || user.profile.is_acting_as" data-ng-controller="AdminController">
      <h2>Admin</h2>
      <h3>Act as</h3>
      <form data-ng-submit="admin.actAs()">
        <div class="row">
          <div class="small-3 columns">
            <label for="cc-settings-act-as-uid">Uid</label>
          </div>
          <div class="small-9 columns">
            <input id="cc-settings-act-as-uid" data-ng-model="admin.act_as.uid" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="small-9 small-offset-3 columns">
            <button class="radius button medium" id="cc-settings-act-as-submit" type="submit">Submit</button>
          </div>
        </div>
      </form>
      <form data-ng-show="user.profile.is_acting_as" data-ng-submit="admin.stopActAs()">
        <button class="radius button medium" id="cc-settings-act-as-stop-submit" type="submit">Stop acting as</button>
      </form>
    </div>

  </div>
</script>
