<script type="text/ng-template" id="templates/splash.html">
  <div class="five columns offset-by-one cc-page-index-welcome cc-page-index-welcome1">
    <div class="panel">
      <h3><strong>Unifying</strong> the online experience at <strong>UC Berkeley!</strong></h3>
      <p><strong>CalCentral</strong> is a new resource for the <strong>UC Berkeley community</strong>.</p>
    </div>
  </div>

  <div class="five columns end cc-page-index-welcome cc-page-index-welcome2">
    <div class="panel">
      <h3>CalCentral: Pilot Release</h3>
      <p>Welcome to the all-new pilot release of <strong>CalCentral</strong>. As we improve this site, you may notice changes to some existing features, or new capabilities being added. This is all part of the development process, so stay tuned.</p>
      <p><strong>In this release, students, staff and faculty can:</strong></p>
      <ul>
        <li>Quickly access upcoming events in bCal</li>
        <li>Find classes and groups in bSpace and Canvas</li>
        <li>Keep tabs on classroom assignments</li>
        <li>View your Google task list</li>
        <li>Stay informed with campus announcements</li>
        <li>Browse class listings in UC Berkeley departments</li>
      </ul>
      <p class="cc-page-index-welcome2-handshake"><span class="cc-page-index-welcome2-herefromyou">We want to hear from you!</span><br><a href="http://ets.berkeley.edu/calcentral-feedback">Tell us what you think</a>.</p>
    </div>
  </div>
</script>
