<script type="text/ng-template" id="templates/splash.html">
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag "calcentral_logo_big.png", :size => "372x40", :alt => "CalCentral logo", :class => "cc-page-splash-logo" %>
      <h1>Welcome to CalCentral.</h1>
      <div class="cc-page-splash-subtitle">Unify, Personalize, Discover</div>
      <button class="radius button cc-page-splash-signin" data-ng-click="api.user.signIn()">Sign in with your CalNet ID</button>
    </div>

    <div class="large-6 columns">
      <div class="cc-page-splash-status">
        <h2>CalCentral Releases</h2>
        <a href="https://ets.berkeley.edu/news/ets-launches-calcentral-platform-release">Tell me more</a>
      </div>
    </div>
  </div>

  <div class="row" data-ng-show="latest_release_note.title">
    <div class="large-12 columns small-12">
      <div class="row panel radius cc-page-splash-blog-panel">
        <div class="large-1 columns small-4 cc-page-splash-blog-date">
          <p>{{latest_release_note.date}}</p>
        </div>
        <div class="large-11 columns small-8">
          <p class="cc-splash-blog-title">
            <a data-ng-href="{{latest_release_note.link}}">{{latest_release_note.title}}</a>
          </p>
          <p class="cc-splash-blog-summary" data-ng-bind-html="latest_release_note.snippet"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h1 class="cc-page-splash-features-title twelve columns small-12">
      CalCentral keeps you informed
    </h1>
  </div>

  <div class="cc-page-splash-features">
    <div class="row">
      <div class="large-12 columns">
        <h2>Up Next</h2>
        <p>CalCentral is integrated with Berkeley&#39;s <a href="http://bconnected.berkeley.edu/">bConnected</a> implementation of Google Apps, so you can see at a glance what&apos;s <strong>Up Next</strong> on your bCal schedule.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <h2>Assignments and Tasks</h2>
        <p>CalCentral displays todo items that have been assigned to you in the <a href="https://ets.berkeley.edu/article/what-canvas">Canvas</a> learning management system (which will eventually replace bSpace). <strong>Assignments and Tasks</strong> also lets you add personal todo-list items, and syncs them back to your bCal tasks list.</p>
      </div>
      <div class="large-5 columns">
        <%= image_tag "splash_assignments_tasks_215x100.png", :size => "215x100" %>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <h2>Recent Activity</h2>
        <p><strong>Recent Activity</strong> displays relevant updates from campus systems.  Displayed activities currently come from <a href="http://bspace.berkeley.edu">bSpace</a>, Canvas and BearFacts.</p>
      </div>
      <div class="large-5 columns">
        <%= image_tag "splash_notifications_215x100.png", :size => "215x100" %>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <h2>My Classes</h2>
        <p><strong>My Classes</strong> gives you easy access to your current bSpace and Canvas course sites.</p>
      </div>
      <div class="large-5 columns">
        <%= image_tag "splash_my_classes_215x100.png", :size => "215x100" %>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <h2>My Groups</h2>
        <p><strong>My Groups</strong> gives you access to your online group collaborations.  Currently, CalCentral supports bSpace project sites and groups participating in Canvas.</p>
      </div>
      <div class="large-5 columns">
        <%= image_tag "splash_my_groups_215x100.png", :size => "215x100" %>
      </div>
    </div>
  </div>
</script>
