<div class="cc-widget-text">
  <div class="cc-table cc-table-top-border">
    <table>
      <tr>
        <th scope="row" width="25%" class="cc-table-right-spacing cc-nowrap">User ID</th>
        <td data-ng-bind="api.user.profile.uid"></td>
      </tr>
    </table>
  </div>
  <div class="cc-table cc-table-top-border" data-ng-if="api.user.profile.sid">
    <table>
      <tr>
        <th scope="row" width="25%" class="cc-table-right-spacing cc-nowrap">Student ID</th>
        <td data-ng-bind="api.user.profile.sid"></td>
      </tr>
    </table>
  </div>
</div>
