<div class="cc-widget-text" data-ng-controller="ContactController" data-cc-spinner-directive>

  <!-- Phone Number -->
  <div class="cc-page-widget-profile-section" data-ng-controller="ProfilePhoneController">
    <div class="cc-page-widget-profile-section-label">Phone Number</div>
    <div class="cc-page-widget-profile-section-content">
      <div data-ng-repeat="phone in phones.content" class="cc-page-widget-profile-section-content-item">
        <div>
          <strong data-ng-bind-template="{{phone.type.description}} Phone"></strong>
          <span data-ng-if="phone.primary">(preferred)</span>
        </div>
        <div data-ng-bind="phone.number"></div>
        <div>
          <button class="cc-button-link">Edit</button>
        </div>
      </div>
    </div>
    <div class="cc-page-widget-profile-section-add">
      <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
    </div>
  </div>

  <!-- Email -->
  <div class="cc-page-widget-profile-section" data-ng-controller="ProfileEmailController" data-cc-spinner-directive>
    <div class="cc-page-widget-profile-section-label">Email</div>
    <div class="cc-page-widget-profile-section-content">
      <div data-ng-repeat="email in emails.content" class="cc-page-widget-profile-section-content-item">
        <div data-ng-if="!email.isEditing">
          <div>
            <strong data-ng-bind-template="{{email.type.description}} Email"></strong>
            <span data-ng-if="email.primary">(preferred)</span>
          </div>
          <div data-ng-bind="email.emailAddress"></div>
          <div>
            <button class="cc-button-link" data-ng-click="editEmail(email)">Edit</button>
          </div>
        </div>
        <div data-ng-if="email.isEditing" class="cc-page-widget-profile-section-content-item-editing">
          <form data-ng-submit="saveEmail(currentEditObject)" name="cc_page_widget_profile_email">
            <div>
              <label for="cc-page-widget-profile-email-type">
                Email Type <span class="cc-text-light">(Required)</span>
              </label>
            </div>
            <div class="cc-select" id="cc-page-widget-profile-email-type">
              <select data-ng-options="emailType.fieldvalue as emailType.xlatlongname for emailType in emailTypes" data-ng-model="currentEditObject.type.code" required aria-required="true" />
            </div>
            <div>
              <label for="cc-page-widget-profile-email-address">
                Email Address <span class="cc-text-light">(Required)</span>
              </label>
            </div>
            <div>
              <input type="text" id="cc-page-widget-profile-email-address" data-ng-model="currentEditObject.emailAddress" required aria-required="true" />
            </div>
            <div>
              <input type="checkbox" id="cc-page-widget-profile-email-preferred" data-ng-model="currentEditObject.primary" />
              <label for="cc-page-widget-profile-email-preferred">Preferred email address</label>
            </div>
            <div>
              <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="cc_page_widget_profile_email.$invalid || isSaving">
                <span data-ng-if="!isSaving">Save</span>
                <span data-ng-if="isSaving">Updating...</span>
              </button>
              <button class="cc-button" data-ng-click="closeEditor()" data-ng-disabled="isSaving">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="cc-page-widget-profile-section-add" data-ng-if="!emails.editorEnabled">
      <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
    </div>
  </div>

  <!-- Address -->
  <div class="cc-page-widget-profile-section"  data-ng-controller="ProfileAddressController">
    <div class="cc-page-widget-profile-section-label">Address</div>
    <div class="cc-page-widget-profile-section-content">
      <div data-ng-repeat="address in addresses.content" class="cc-page-widget-profile-section-content-item">
        <div>
          <strong data-ng-bind-template="{{address.type.description}} Address"></strong>
          <span data-ng-if="address.primary">(preferred)</span>
        </div>
        <div>
          <div data-ng-bind="address.street1"></div>
          <div data-ng-bind-template="{{address.locality}}, {{address.region}} {{address.postalCode}}"></div>
          <div data-ng-bind="address.country" data-ng-if="address.country !== 'USA'"></div>
        </div>
        <div>
          <button class="cc-button-link">Edit</button>
        </div>
      </div>
    </div>
    <div class="cc-page-widget-profile-section-add">
      <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
    </div>
  </div>

</div>
