<div class="cc-widget-text" data-ng-controller="ContactController" data-cc-spinner-directive>

  <!-- Phone Number -->
  <div class="cc-table cc-table-top-border">
    <table>
      <tr>
        <th scope="row" width="25%" class="cc-table-right-spacing cc-nowrap">Phone Number</th>
        <td></td>
        <td class="cc-table-right">
          <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
        </td>
      </tr>
    </table>
  </div>

  <!-- Email -->
  <div class="cc-table cc-table-top-border" data-ng-if="api.user.profile.googleEmail">
    <table>
      <tr>
        <th scope="row" width="25%" class="cc-table-right-spacing cc-nowrap">Email</th>
        <td>
          <strong>Campus Email</strong>
          <div data-ng-bind="api.user.profile.googleEmail"></div>
          <button class="cc-button-link">Edit</strong>
        </td>
        <td class="cc-table-right">
          <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
        </td>
      </tr>
    </table>
  </div>

  <!-- Address -->
  <div class="cc-table cc-table-top-border">
    <table>
      <tr>
        <th scope="row" width="25%" class="cc-table-right-spacing cc-nowrap">Address</th>
        <td>
          <div data-ng-repeat="address in addresses">
            <div>
              <strong data-ng-bind="address.addressTypeDescr"></strong>
            </div>
            <div data-ng-if="address.address1" data-ng-bind="address.address1"></div>
            <div data-ng-if="address.address2" data-ng-bind="address.address2"></div>
            <div data-ng-if="address.address3" data-ng-bind="address.address3"></div>
            <div data-ng-if="address.address4" data-ng-bind="address.address4"></div>
            <div data-ng-if="address.city" data-ng-bind-template="{{address.city}}, {{address.state}} {{address.postal}}"></div>
            <div data-ng-if="address.country" data-ng-bind="address.country"></div>
          <div>
        </td>
        <td class="cc-table-right">
          <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
        </td>
      </tr>
    </table>
  </div>
</div>
