<div class="cc-page-widget-profile-section-content-item-editing">
  <div class="cc-page-widget-profile-section-content-error cc-text-red" data-ng-if="errorMessage">
    <i class="cc-icon-red fa fa-exclamation-circle"></i>
    <span data-ng-bind="errorMessage"></span>
  </div>
  <form data-ng-submit="saveEmail(currentObject)" name="cc_page_widget_profile_email">
    <div>
      <label for="cc-page-widget-profile-email-type">
        Email Type <span class="cc-text-light">(Required)</span>
      </label>
    </div>
    <div class="cc-select" id="cc-page-widget-profile-email-type">
      <select data-ng-options="emailType.fieldvalue as emailType.xlatlongname for emailType in emailTypes" data-ng-model="currentObject.type.code" required aria-required="true" />
    </div>
    <div>
      <label for="cc-page-widget-profile-email-address">
        Email Address <span class="cc-text-light">(Required)</span>
      </label>
    </div>
    <div>
      <input type="text" id="cc-page-widget-profile-email-address" data-ng-model="currentObject.emailAddress" required aria-required="true" />
    </div>
    <div>
      <input type="checkbox" id="cc-page-widget-profile-email-preferred" data-ng-model="currentObject.primary" />
      <label for="cc-page-widget-profile-email-preferred">Preferred email address</label>
    </div>
    <div>
      <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="cc_page_widget_profile_email.$invalid || isSaving">
        <span data-ng-if="!isSaving">Save</span>
        <span data-ng-if="isSaving">Updating...</span>
      </button>
      <button class="cc-button" data-ng-click="closeEditor()" data-ng-disabled="isSaving">Cancel</button>
    </div>
  </form>
</div>
