<div class="cc-page-widget-profile-section" data-ng-controller="DemographicGenderController" data-cc-spinner-directive>
  <div class="cc-page-widget-profile-section-label">Gender Identity</div>
  <div class="cc-page-widget-profile-section-content">
    <div class="cc-page-widget-profile-section-content-item">
      <div data-ng-bind="gender.content.sexAtBirth.description"></div>
    </div>
  </div>
  <div class="cc-page-widget-profile-section-add">
    <button class="cc-button-link" data-ng-click="">
      Edit
    </button>
  </div>
</div>
