<div class="cc-page-widget-profile-section" data-ng-controller="DemographicVeteranController" data-cc-spinner-directive>
  <div class="cc-page-widget-profile-section-label">Veteran Status</div>
  <div class="cc-page-widget-profile-section-content">
    <div class="cc-page-widget-profile-section-content-item">

      <div data-ng-bind="veteranStatus.content.description"></div>
    </div>
  </div>
  <div class="cc-page-widget-profile-section-add">
    <button class="cc-button-link" data-ng-click="">
      Edit
    </button>
  </div>
</div>
