<div class="cc-page-widget-profile-section" data-ng-controller="EmergencyContactController">
  <div class="cc-page-widget-profile-section-label">Emergency Contact(s)</div>
  <div class="cc-page-widget-profile-section-content">
    <div data-ng-repeat="emergencyContact in emergencyContacts.content" class="cc-page-widget-profile-section-content-item">
      <div>
        <strong data-ng-bind="emergencyContact.name.formattedName"></strong>
        <span data-ng-bind-template="- {{emergencyContact.relationship.description}}"></span>
        <span data-ng-if="emergencyContact.primary">(primary contact)</span>
      </div>
      <div>
        <div data-ng-bind="emergencyContact.phone.number"></div>
      </div>
      <div>
        <button class="cc-button-link">Edit</button>
      </div>
    </div>
  </div>
  <div class="cc-page-widget-profile-section-add">
    <button class="cc-button-link"><i class="fa fa-plus"></i> Add</button>
  </div>
</div>
