<div class="cc-page-widget-profile-section" data-ng-controller="LanguagesSectionController">
  <div class="cc-page-widget-profile-section-label" data-ng-pluralize count="languages.content.length" when="{'1': 'Language', 'other': 'Languages'}">
    </div>
  <div class="cc-page-widget-profile-section-content">
    <div data-ng-repeat="language in languages.content" class="cc-page-widget-profile-section-content-item">
      <div>
        <strong data-ng-bind="language.name"></strong>
        <span data-ng-if="language.native">(native)</span>
      </div>
      <div data-ng-if="language.speakingProficiency.description" data-ng-bind-template="Speaking Proficiency: {{language.speakingProficiency.description}}"></div>
      <div data-ng-if="language.readingProficiency.description" data-ng-bind-template="Reading Proficiency: {{language.readingProficiency.description}}"></div>
      <div data-ng-if="language.writingProficiency.description" data-ng-bind-template="Writing Proficiency: {{language.writingProficiency.description}}"></div>
    </div>
    <div data-ng-if="!languages.content.length" class="cc-page-widget-profile-section-not-available">
      There are no languages available.
    </div>
  </div>
</div>
