<div class="cc-widget cc-widget-finaid-award" data-ng-controller="FinaidAwardController">
  <div class="cc-widget-title">
    <div class="row collapse">
      <div class="columns" data-ng-class="{true:'small-6',false:'small-12'}[!!finaidAwards.terms.length]"><h2>Financial Aid Awards</h2></div>
      <div class="columns small-6" data-ng-show="finaidAwards.terms.length">
        <div class="cc-right cc-select cc-widget-title-select">
          <select data-ng-model="term" class="cc-ellipsis" data-ng-options="term.termLabel for term in finaidAwards.terms"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-widget-text" data-cc-spinner-directive>

    <div class="cc-clearfix-container">
      <div class="cc-left">
        <div class="cc-text-light cc-text-small cc-uppercase">Academic Year</div>
        <strong class="cc-text-big cc-widget-finaid-award-block-big" data-ng-bind-template="{{term.startTerm}} {{term.startTermYear}} - {{term.endTerm}} {{term.endTermYear}}"></strong>
      </div>

      <div class="cc-widget-finaid-award-block-right cc-right cc-text-right">
        <div class="cc-text-light cc-text-small cc-uppercase">Total Accepted</div>
        <strong class="cc-text-big cc-widget-finaid-award-block-big" data-cc-amount-directive="term.totalAccepted"></strong>
      </div>

      <div class="cc-right cc-text-right">
        <div class="cc-text-light cc-text-small cc-uppercase">Total Offered</div>
        <strong class="cc-text-big cc-widget-finaid-award-block-big" data-cc-amount-directive="term.totalOffered"></strong>
      </div>
    </div>

    <div data-ng-repeat="category in term.categories" class="cc-clearfix cc-widget-finaid-award-table-container">
      <div class="cc-table cc-table-finances">
        <table>
          <thead>
            <tr>
              <th width="56%" scope="col" data-ng-bind="category.title"></th>
              <th width="22%" scope="col" class="cc-table-right" data-ng-if="category.items[0].offered">
                Offered
              </th>
              <th width="22%" scope="col" class="cc-table-right">
                Accepted
              </th>
            </tr>
          </thead>
          <tbody
            class="cc-widget-table-hover"
            data-cc-accessible-focus-directive
            data-ng-class="{'cc-widget-table-hover-opened cc-widget-list-selected':(item.show)}"
            data-ng-click="api.widget.toggleShow($event, category.items, item, 'Finaid - Award - Item')"
            data-ng-repeat="item in category.items">
            <tr>
              <td>
                <div data-ng-bind="item.title"></div>
                <div data-ng-if="item.type" data-ng-bind="item.type" class="cc-text-light cc-text-small"></div>
              </td>
              <td data-ng-if="item.offered" class="cc-table-right">
                <div data-cc-amount-directive="item.offered"></div>
                <div data-ng-if="item.disbursed" class="cc-text-light cc-text-small">
                  <span data-ng-if="item.disbursed==='no'" class="cc-text-red"><i class="fa fa-exclamation-circle cc-icon-red"></i> Not Disbursed</span>
                  <span data-ng-if="item.disbursed==='yes'" class="cc-text-green"><i class="fa fa-check-circle cc-icon-green"></i> Disbursed</span>
                  <span data-ng-if="item.disbursed==='partial'" class="cc-text-light">Partially Disbursed</span>
                </div>
              </td>
              <td class="cc-table-right">
                <div data-cc-amount-directive="item.amount"></div>
                <div data-ng-if="item.status" data-ng-bind="item.status" class="cc-text-light cc-text-small"></div>
              </td>
            </tr>
            <tr data-ng-if="item.show">
              <td data-ng-attr-colspan="{{item.offered ? 3 : 2}}">
                <div class="row collapse">
                  <div data-ng-if="item.transaction">
                    <strong>Transaction #</strong>
                    <span data-ng-bind="item.transaction"></span>
                  </div>
                  <div data-ng-if="item.originalAmount">
                    <strong>Original Amount</strong>
                    <span class="cc-page-myfinances-amount" data-cc-amount-directive="item.originalAmount"></span>
                  </div>
                  <div data-ng-if="item.fees">
                    <strong>Fees</strong>
                    <span data-ng-bind="item.fees"></span>
                  </div>
                  <div data-ng-if="item.servicer.website || item.servicer.phone">
                    <strong>Servicer</strong>
                    <a data-ng-if="item.servicer.website" data-ng-href="{{item.servicer.website.url}}" data-ng-bind="item.servicer.website.title"></a>
                    <span data-ng-bind="item.servicer.phone"></span>
                  </div>
                  <div data-ng-if="item.requirements">
                    <strong>Requirements</strong><br />
                    <div data-ng-bind="item.requirements"></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cc-clearfix-container cc-widget-finaid-award-table-total">
        <div class="cc-left" data-ng-if="category.link.title">
          <a data-ng-href="{{category.link.url}}" data-cc-outbound-disable="true">
            <i data-ng-if="category.link.type === 'add'" class="fa fa-plus"></i>
            <span data-ng-bind="category.link.title"></span>
          </a>
        </div>
        <div class="cc-right cc-text-right">
          <span data-ng-bind="category.title"></span> Total: <strong data-cc-amount-directive="category.total"></strong>
        </div>
      </div>
    </div>


  </div>
</div>
