<div class="cc-widget cc-widget-finaid-summary" data-ng-controller="FinaidSummaryController">
  <div class="cc-widget-title">
    <h2 class="cc-left">Financial Aid and Scholarships</h2>
    <a data-ng-if="!isMainFinaid" class="cc-right cc-widget-title-link" data-ng-href="{{finaidUrl}}">
      <strong>Details</strong>
    </a>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="finaidSummaryLoading.isLoading">
    <div data-ng-if="finaidSummary.finaidYears.length">
      <div data-ng-if="finaidSummary.finaidYears.length === 1">
        <span data-ng-bind="selected.finaidYear.name"></span>
      </div>
      <div data-ng-if="finaidSummary.finaidYears.length > 1">
        <div class="cc-select">
          <select data-ng-model="selected.finaidYear" data-ng-options="f as f.name for f in finaidSummary.finaidYears" data-ng-change="updateFinaidYear()"></select>
        </div>
        <hr>
        <div
          data-ng-if="!selected.finaidYear.termsAndConditions.approved"
          data-cc-finaid-summary-message-directive
          data-item="selected.finaidYear.termsAndConditions"
          data-button-text="'Complete Terms and Conditions'"
          data-finaid-url="finaidUrl"
        ></div>
        <div
          data-ng-if="selected.finaidYear.termsAndConditions.approved && finaidSummary.title4.approved === null"
          data-cc-finaid-summary-message-directive
          data-item="finaidSummary.title4"
          data-button-text="'Complete Title IV'"
          data-finaid-url="finaidUrl"
        ></div>
        <div data-ng-if="canSeeFinaidData">
          <div data-ng-if="selected.finaidYear.semesterOptions.length > 1">
            <div data-ng-repeat="semesterOption in selected.finaidYear.semesterOptions">
              <label>
                <input type="radio" data-ng-change="updateSemesterOption()" data-ng-model="selected.semesterOption" data-ng-value="semesterOption" />
                <span data-ng-bind="semesterOption.semesters | andFilter"></span>
              </label>
            </div>
          </div>
          <div data-ng-if="selected.finaidYear.semesterOptions.length === 1">
            <span data-ng-bind="selected.finaidYear.semesterOptions[0].semesters | andFilter"></span>
          </div>
          <p>More information</p>
        </div>
        <hr>
      </div>
    </div>

    <div class="cc-clearfix-container cc-text-small">
      <div class="cc-left" data-ng-if="canSeeFinaidData && !isMainFinaid">
        <a data-ng-href="{{finaidUrl}}">View Awards</a>
      </div>
      <div class="cc-right">
        <a href="http://financialaid.berkeley.edu/">Learn more about Financial Aid</a>
      </div>
    </div>
  </div>
</div>
