<div class="cc-widget cc-widget-classes" data-ng-controller="MyClassesController">
  <div class="cc-widget-title">
    <h2>My Classes <span class="cc-widget-title-sub" data-ng-bind="current_term"></span></h2>
  </div>
  <div data-cc-spinner-directive>
    <div data-ng-show="allClassesPresent" data-ng-repeat="category in allClasses"
         data-ng-class="'cc-widget-classes-{{ category.categoryId }}'">
      <div class="cc-widget-subtitle" data-ng-show="category.length && !onlyStudentInstructor">
        <h3 data-ng-bind="category.categoryTitle"></h3>
      </div>
      <ul class="cc-widget-list">
        <li class="cc-widget-icon-container" data-ng-repeat="class in category.data">
          <div data-ng-switch="category.categoryId">
            <a data-ng-switch-when="other" class="cc-widget-list-link" data-ng-href="{{class.site_url}}"
               data-ng-click="api.analytics.trackExternalLink('My Other Site Memberships', class.emitter, class.site_url)">
              <div class="cc-widget-list-column-left">
                <div class="cc-icon cc-widget-icon" data-ng-class="'cc-icon-{{ class.emitter|lowercase }}'"></div>
              </div>
              <div class="cc-widget-course-site">
                <div class="cc-ellipsis" data-ng-bind="class.name"></div>
                <div data-ng-bind="class.shortDescription" class="cc-ellipsis cc-text-light"></div>
              </div>
            </a>
            <div data-ng-switch-default>
              <div class="cc-ellipsis cc-widget-classes-title" data-ng-repeat="listing in class.listings">
                <a data-ng-click="api.analytics.trackExternalLink('My Classes', class.emitter, class.site_url)"
                   data-ng-href="{{class.site_url}}">
                  <strong data-ng-bind="listing.course_code" data-ng-class="{'cc-italic': class.waitlistPosition}"></strong>
                  <strong data-ng-bind="listing.courseCodeSection" data-ng-class="{'cc-italic': class.waitlistPosition}"></strong>
                </a>
              </div>
              <span class="cc-text-light" data-ng-show="class.waitlistPosition" data-ng-bind-template="- #{{ class.waitlistPosition }} on the wait list"></span>
              <div class="cc-ellipsis cc-text-light cc-widget-classes-subtitle" data-ng-class="{'cc-italic': class.waitlistPosition}" data-ng-show="!!class.name" data-ng-bind="class.name"></div>
              <ul class="cc-widget-sublist">
                <li class="cc-widget-icon-container" data-ng-repeat="subclass in class.subclasses">
                  <div class="cc-icon cc-widget-icon" data-ng-class="{'bSpace':'cc-icon-bspace', 'bCourses':'cc-icon-bcourses'}[subclass.emitter]">
                  </div>
                  <div class="cc-widget-course-site">
                    <a class="cc-ellipsis" data-ng-bind="subclass.name" data-ng-href="{{subclass.site_url}}"></a>
                    <div data-ng-if="subclass.shortDescription != subclass.name && subclass.shortDescription != class.name" data-ng-bind="subclass.shortDescription" class="cc-ellipsis cc-text-light"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
   <div data-ng-if="!allClassesPresent" class="cc-widget-text">
      <div data-ng-if="api.user.profile.roles.student && !api.user.profile.roles.teacher">
        <div data-ng-if="!api.user.profile.inEducationAbroadProgram">
          <p>You are not enrolled in any UC Berkeley classes this semester.</p>
        </div>
        <div data-ng-if="api.user.profile.inEducationAbroadProgram">
          <p>You are enrolled in the Education Abroad Program this semester.</p>
        </div>
        <ul class="cc-list-bullets">
          <li>Check <a href="/academics">My Academics</a> to see your academic history or upcoming semesters.</li>
          <li>If you still have questions, contact the <a href="http://registrar.berkeley.edu/">Office of the Registrar</a> or visit <a href="http://studentcentral.berkeley.edu/">Cal Student Central</a>.</li>
        </ul>
      </div>
      <div data-ng-if="!api.user.profile.roles.student && api.user.profile.roles.teacher">
        <p>You have no classes assigned to you this semester.</p>
        <ul class="cc-list-bullets">
          <li>Check <a href="/academics">My Academics</a> to see past or upcoming semesters.</li>
          <li>If you have any questions about your teaching assignments, please contact your academic department.</li>
        </ul>
      </div>
      <div data-ng-if="api.user.profile.roles.student && api.user.profile.roles.teacher">
        <p>You are not enrolled in any UC Berkeley classes and you have no classes assigned to you this semester.</p>
        <ul class="cc-list-bullets">
          <li>Check <a href="/academics">My Academics</a> to see your academic history or upcoming semesters.</li>
          <li>If you still have questions, contact the <a href="http://registrar.berkeley.edu/">Office of the Registrar</a> or visit <a href="http://studentcentral.berkeley.edu/">Cal Student Central</a>.</li>
          <li>If you have any questions about your teaching assignments, please contact your academic department.</li>
        </ul>
      </div>
      <div data-ng-if="!api.user.profile.roles.student && !api.user.profile.roles.teacher">
        You are not enrolled in any UC Berkeley classes this semester.
      </div>
    </div>
  </div>
</div>
