<div class="cc-widget cc-widget-student-lookup" data-ng-controller="StudentLookupController">
  <div class="cc-widget-title">
    <h2>Student Lookup</h2>
  </div>
  <div class="cc-widget-padding">
    <!-- Navigation -->
    <div class="cc-clearfix-container">
      <ul class="cc-button-group cc-even-3" role="tablist">
        <li data-ng-repeat="selectOption in selectOptions">
          <button class="cc-button"
            data-ng-click="admin.switchSelectedOption(selectOption)"
            data-ng-class="{'cc-button-selected':(admin.currentSelection === selectOption)}"
            aria-selected="{{admin.currentSelection === selectOption}}"
            role="tab"
            data-ng-bind="selectOption">
          </button>
        </li>
      </ul>
    </div>

    <!-- Search/Saved/Recent Users -->
    <div data-ng-show="admin.currentSelection === tab.name" data-ng-repeat="tab in admin.tabs" class="cc-widget-student-lookup-tab">
      <form data-ng-if="tab.name === 'Search'" data-ng-submit="admin.lookupUser()">
        <div class="row">
          <label for="cc-widget-student-lookup-search">Enter UID or SID</label>
          <div>
            <input id="cc-widget-student-lookup-search" class="cc-left" data-ng-pattern="api.util.uidPattern" data-ng-model="admin.query" type="number" data-cc-select-on-click-directive />
            <button
              class="cc-button cc-button-blue cc-widget-student-lookup-search-button"
              data-ng-disabled="!admin.query"
              type="submit">Search</button>
          </div>
        </div>
      </form>

      <div data-ng-if="!tab.users.length" data-ng-bind="tab.error"></div>
      <div data-ng-if="tab.users.length" class="row cc-table">
        <table>
          <thead>
            <tr>
              <th width="32%" scope="col" class="cc-widget-student-lookup-id">
                <span data-ng-if="admin.idType === 'UID'">
                  UID/<button class="cc-button-link cc-widget-student-lookup-id-button-link" data-ng-click="admin.changeIDType('SID')">SID</button>
                </span>
                <span data-ng-if="admin.idType === 'SID'">
                  <button class="cc-button-link cc-widget-student-lookup-id-button-link" data-ng-click="admin.changeIDType('UID')">UID</button>/SID
                </span>
              </th>
              <th width="58%" scope="col">Name</th>
              <th class="cc-visuallyhidden" width="10%" scope="col">Saved</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="user in tab.users | limitTo: showLimit">
            <td data-ng-if="admin.idType === 'SID'" class="cc-widget-student-lookup-id" data-ng-bind="user.student_id || 'none'"></td>
            <td data-ng-if="admin.idType === 'UID'" class="cc-widget-student-lookup-id" data-ng-bind="user.ldap_uid || 'none'"></td>
            <td class="cc-widget-student-lookup-name">
              <button type="button" class="cc-button-link cc-widget-student-lookup-actas-button" data-ng-bind="user.first_name + ' ' +  user.last_name" data-ng-click="admin.actAsUser(user)"></button>
            </td>
            <td>
              <button type="button" class="cc-button-star" data-ng-click="admin.toggleSaveState(user)">
                <i data-ng-if="user.saved" class="fa fa-star fa-stack-1x cc-icon-gold"></i>
                <i class="fa fa-star-o" data-ng-class="{'cc-button-star-grey': (!user.saved)}"></i>
                <span data-ng-if="user.saved" class="cc-visuallyhidden">Unsave</span>
                <span data-ng-if="!user.saved" class="cc-visuallyhidden">Save</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div data-ng-if="tab.users.length > globalShowLimit" data-cc-show-infinite-directive data-cc-show-infinite-limit="showLimit"></div>
      </div>
    </div>

  </div>
</div>
