<div class="cc-widget-padding cc-widget-webcast-content" data-ng-controller="WebcastController">
  <div data-cc-spinner-directive>

    <h1 class="cc-visuallyhidden" data-ng-if="isEmbedded">Webcasts</h1>

    <div data-ng-bind="proxyErrorMessage"></div>
    <div data-ng-if="!proxyErrorMessage">
      <div data-ng-if="!videos.length && !audio.length">There are no webcasts available.</div>
      <div data-ng-if="videos.length || audio.length">
        <div data-ng-if="videos.length && audio.length" class="cc-widget-webcast-button-group cc-clearfix-container">
          <ul class="cc-button-group cc-even-2" role="tablist">
            <li data-ng-repeat="selectOption in selectOptions">
              <button class="cc-button"
                      data-ng-click="switchSelectedOption(selectOption)"
                      data-ng-class="{'cc-button-selected':(currentSelection === selectOption)}"
                      aria-selected="{{currentSelection === selectOption}}"
                      role="tab"
                      data-ng-bind="selectOption">
              </button>
            </li>
          </ul>
        </div>
        <div data-ng-if="currentSelection === 'Video'">
          <div data-ng-if="videos.length">
            <div class="cc-select cc-widget-webcast-select">
              <label for="cc-widget-webcast-video-selection" class="cc-visuallyhidden">Select Video</label>
              <select id="cc-widget-webcast-video-selection" class="bc-canvas-embedded-form-select" data-ng-model="selectedVideo" data-ng-options="video.lecture for video in videos"></select>
            </div>
            <div class="cc-youtube-video">
              <div data-cc-youtube-directive="selectedVideo.youTubeId" data-cc-youtube-directive-title="{{selectedVideo.lecture}}"></div>
            </div>
          </div>
          <ul class="cc-widget-webcast-links" data-ng-if="itunes.video">
            <li class="cc-widget-webcast-itunes-link">
              Also available at
              <a data-ng-href="{{itunes.video}}">
                <i class="fa fa-apple cc-widget-webcast-icon-link"></i> iTunes U
              </a>
            </li>
          </ul>
          <div data-ng-if="!videos.length && !itunes.video" class="cc-widget-webcast-error">
            No video content available.
          </div>
        </div>
        <div data-ng-show="currentSelection === 'Audio'">
          <div data-ng-show="audio.length">
            <div class="cc-select cc-widget-webcast-select">
              <label for="cc-widget-webcast-audio-selection" class="cc-visuallyhidden">Select Audio</label>
              <select id="cc-widget-webcast-audio-selection" data-ng-model="selectedAudio" data-ng-options="item.title for item in audio"></select>
            </div>
            <div class="cc-widget-webcast-audio" controls>
              <div data-cc-audio-directive="selectedAudio.playUrl"></div>
            </div>
          </div>
          <ul class="cc-widget-webcast-links">
            <li data-ng-if="selectedAudio.downloadUrl">
              <a data-ng-href="{{selectedAudio.downloadUrl}}">
                <i class="fa fa-download cc-widget-webcast-icon-link"></i> Download audio
              </a>
            </li>
            <li data-ng-if="itunes.audio" class="cc-widget-webcast-itunes-link">
              Also available at
              <a data-ng-href="{{itunes.audio}}">
                <i class="fa fa-apple cc-widget-webcast-icon-link"></i> iTunes U
              </a>
            </li>
          </ul>
          <div data-ng-if="!audio.length && !itunes.audio" class="cc-widget-webcast-error">
            No audio content available.
          </div>
        </div>
        <div class="cc-widget-webcast-outbound-link">
          <a href="http://ets.berkeley.edu/forms/get-webcastpodcast-support-or-give-feedback">Report a problem with this recording</a>
        </div>
      </div>
    </div>
  </div>
</div>
