{"http_interactions":[

    {
        "request":{
            "method":"get",
            "uri":"https://ucberkeley.instructure.com/api/v1/accounts",
            "body":{
                "encoding":"US-ASCII",
                "string":""
            },
            "headers":{
                "Authorization":[""],
                "Content-Type":["application/x-www-form-urlencoded"],
                "x-sakai-token":[]
            }
        },
        "response":{
            "status":{
                "code":200,
                "message":null
            },
            "headers":{
                "content-type":["application/json; charset=utf-8"],
                "etag":["\"78c36321f3c90d5b7188846465006bf7\""],
                "link":["<https://ucberkeley.instructure.com/api/v1/accounts?page=1&per_page=10>; rel=\"first\""],
                "status":["200"],
                "x-canvas-user-id":["10000003075914"],
                "x-request-context-id":["7ba41330-27ae-0130-46ef-02e33ab9a62d"]
            },
            "body":{
                "encoding":"US-ASCII",
                "string":"[{\"name\":\"UC Berkeley\",\"root_account_id\":null,\"parent_account_id\":null,\"id\":90242}]"
            },
        },
        "recorded_at":"Thu, 13 Dec 2012 23:55:23 GMT"
    },
    {
        "request":{
            "method":"get",
            "uri":"https://ucberkeley.instructure.com/api/v1/users/self/profile",
            "body":{
                "encoding":"US-ASCII",
                "string":""
            },
            "headers":{
                "Authorization":[""],
                "Content-Type":["application/x-www-form-urlencoded"],
                "x-sakai-token":[]
            }
        },
        "response":{
            "status":{
                "code":200,
                "message":null
            },
            "headers":{
                "content-type":["application/json; charset=utf-8"],
                "etag":["\"27b25661792bd59e3e500e996895eb68\""],
                "status":["200"],
                "x-canvas-user-id":["10000003323890"],
                "x-request-context-id":["7c5d57b0-27ae-0130-6852-02e33a92ca49"]
            },
            "body":{
                "encoding":"US-ASCII",
                "string":"{\"calendar\":{\"ics\":\"https://ucberkeley.instructure.com/feeds/calendars/user_u3U82KgzE24stb9utKXb5YYxaXV3xFsq5jKvKdfd.ics\"},\"login_id\":\"300846\",\"primary_email\":\"test-300846@berkeley.edu\",\"sortable_name\":\"Testb, Stu\",\"name\":\"Stu Testb\",\"short_name\":\"Stu Testb\",\"avatar_url\":\"https://secure.gravatar.com/avatar/595e055e30397015914b97402393a291?s=50\\u0026d=https%3A%2F%2Fucberkeley.instructure.com%2Fimages%2Fmessages%2Favatar-50.png\",\"id\":3323890,\"title\":null,\"bio\":null}"
            },
        },
        "recorded_at":"Thu, 13 Dec 2012 23:55:24 GMT"
    }

], "recorded_with":"VCR 2.3.0"}