{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/drive/v2/files",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Etag": [
            "\"_U9FTLXcHskmKgrWAZqJlfW8kCo/wH86Gp0bYxVA92esn0B2CSlvCQU\""
          ],
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "{\n \"kind\": \"drive#fileList\",\n \"etag\": \"\\\"_U9FTLXcHskmKgrWAZqJlfW8kCo/wH86Gp0bYxVA92esn0B2CSlvCQU\\\"\",\n \"selfLink\": \"https://www.googleapis.com/drive/v2/files\",\n \"items\": [\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE\",\n   \"etag\": \"\\\"_U9FTLXcHskmKgrWAZqJlfW8kCo/MTM2MDEwOTE0ODUyMg\\\"\",\n   \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE\",\n   \"alternateLink\": \"https://docs.google.com/document/d/1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE/edit\",\n   \"embedLink\": \"https://docs.google.com/document/d/1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE/preview\",\n   \"iconLink\": \"https://ssl.gstatic.com/docs/doclist/images/icon_11_document_list.png\",\n   \"thumbnailLink\": \"https://docs.google.com/feeds/vt?gd=true&id=1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE&v=3&s=AMedNnoAAAAAUSWEkZrG5JiDabOLssK3sAHfBsm34D08&sz=s220\",\n   \"title\": \"Untitled document\",\n   \"mimeType\": \"application/vnd.google-apps.document\",\n   \"labels\": {\n    \"starred\": false,\n    \"hidden\": false,\n    \"trashed\": false,\n    \"restricted\": false,\n    \"viewed\": true\n   },\n   \"createdDate\": \"2012-12-07T20:19:44.327Z\",\n   \"modifiedDate\": \"2013-02-06T00:05:48.522Z\",\n   \"modifiedByMeDate\": \"2013-02-06T00:05:48.522Z\",\n   \"lastViewedByMeDate\": \"2013-02-06T00:05:48.522Z\",\n   \"parents\": [\n    {\n     \"kind\": \"drive#parentReference\",\n     \"id\": \"0AGoJT86sMi-yUk9PVA\",\n     \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE/parents/0AGoJT86sMi-yUk9PVA\",\n     \"parentLink\": \"https://www.googleapis.com/drive/v2/files/0AGoJT86sMi-yUk9PVA\",\n     \"isRoot\": true\n    }\n   ],\n   \"userPermission\": {\n    \"kind\": \"drive#permission\",\n    \"etag\": \"\\\"_U9FTLXcHskmKgrWAZqJlfW8kCo/5t7lRRB3UTahEBnI__ThjNIzrG0\\\"\",\n    \"id\": \"me\",\n    \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1RjhKLZmhKONUH_v2Ulls2LeGbV5HwRHsWjP4HPmgiIE/permissions/me\",\n    \"role\": \"owner\",\n    \"type\": \"user\"\n   },\n   \"quotaBytesUsed\": \"0\",\n   \"ownerNames\": [\n    \"Tammi Chang\"\n   ],\n   \"owners\": [\n    {\n     \"kind\": \"drive#user\",\n     \"displayName\": \"Tammi Chang\",\n     \"isAuthenticatedUser\": true,\n     \"permissionId\": \"16810873867619854146\"\n    }\n   ],\n   \"lastModifyingUserName\": \"Tammi Chang\",\n   \"lastModifyingUser\": {\n    \"kind\": \"drive#user\",\n    \"displayName\": \"Tammi Chang\",\n    \"isAuthenticatedUser\": true,\n    \"permissionId\": \"16810873867619854146\"\n   },\n   \"editable\": true,\n   \"writersCanShare\": true,\n   \"shared\": false\n  },\n  {\n   \"kind\": \"drive#file\",\n   \"id\": \"1C34Ot4sPtJSPiKLdlgdgMm0HHWphx5sPNtoj7VDpm84\",\n   \"etag\": \"\\\"_U9FTLXcHskmKgrWAZqJlfW8kCo/MTM2MDEwODYwNDI3OA\\\"\",\n   \"selfLink\": \"https://www.googleapis.com/drive/v2/files/1C34Ot4sPtJSPiKLdlgdgMm0HHWphx5sPNtoj7VDpm84\",\n   \"alternateLink\": \"https://docs.google.com/document/d/1C34Ot4sPtJSPiKLdlgdgMm0HHWphx5sPNtoj7VDpm84/edit\",\n   \"embedLink\": \"https://docs.google.com/document/d/1C34Ot4sPtJSPiKLdlgdgMm0HHWphx5sPNtoj[...]
