{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?maxResults=10&calendarId=primary","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"NybCyMgjkLQM6Il-p8A5652MtaE/at-uhQslQjUGe-DCjIZ97QATWBU\""], "content-type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"NybCyMgjkLQM6Il-p8A5652MtaE/at-uhQslQjUGe-DCjIZ97QATWBU\\\"\",\n \"summary\": \"tammi.chang.clc@gmail.com\",\n \"updated\": \"2012-11-16T20:41:41.000Z\",\n \"timeZone\": \"America/Los_Angeles\",\n \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\": \"popup\",\n   \"minutes\": 30\n  },\n  {\n   \"method\": \"email\",\n   \"minutes\": 30\n  }\n ],\n \"nextPageToken\": \"CksKPV9lZGhtZ3BiNGVsbTZhYjluNnNzamNkaGRjcGttc29iYzgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWcYASCAgICsyJCf0hM=\",\n \"items\": [\n  {\n   \"kind\": \"calendar#event\",\n   \"etag\": \"\\\"NybCyMgjkLQM6Il-p8A5652MtaE/Q05pUW9iNmtKeEVBQUFBQUFBQUFBQT09\\\"\",\n   \"id\": \"_edhmgpb4elm6ab9n6gp34c1d7106sqbed9gm6rrle9pmaspecdnmq\",\n   \"status\": \"confirmed\",\n   \"htmlLink\": \"https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42Z3AzNGMxZDcxMDZzcWJlZDlnbTZycmxlOXBtYXNwZWNkbm1xXzIwMTIwODIzVDE5MzAwMFogdGFtbWkuY2hhbmcuY2xjQG0\",\n   \"created\": \"1900-01-01T12:00:00.000Z\",\n   \"updated\": \"2012-10-09T23:07:19.000Z\",\n   \"summary\": \"EE 20N Lecture\",\n   \"location\": \"105 STANLEY\",\n   \"creator\": {\n    \"email\": \"tammi.chang.clc@gmail.com\",\n    \"displayName\": \"Tammi Chang\",\n    \"self\": true\n   },\n   \"organizer\": {\n    \"email\": \"tammi.chang.clc@gmail.com\",\n    \"displayName\": \"Tammi Chang\",\n    \"self\": true\n   },\n   \"start\": {\n    \"dateTime\": \"2012-08-23T12:30:00-07:00\",\n    \"timeZone\": \"America/Los_Angeles\"\n   },\n   \"end\": {\n    \"dateTime\": \"2012-08-23T14:00:00-07:00\",\n    \"timeZone\": \"America/Los_Angeles\"\n   },\n   \"recurrence\": [\n    \"RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20121209T080000Z;BYDAY=TU,TH\"\n   ],\n   \"iCalUID\": \"schedule-74220-8@ninjacourses.com\",\n   \"sequence\": 0,\n   \"reminders\": {\n    \"useDefault\": true\n   }\n  },\n  {\n   \"kind\": \"calendar#event\",\n   \"etag\": \"\\\"NybCyMgjkLQM6Il-p8A5652MtaE/Q05pUW9iNmtKeEVBQUFBQUFBQUFBQT09\\\"\",\n   \"id\": \"_edhmgpb4elm6ab9n6gp34c9d64o40rj9dpl62orfelp76pbj5phmur8\",\n   \"status\": \"confirmed\",\n   \"htmlLink\": \"https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42Z3AzNGM5ZDY0bzQwcmo5ZHBsNjJvcmZlbHA3NnBiajVwaG11cjhfMjAxMjA4MjdUMTUwMDAwWiB0YW1taS5jaGFuZy5jbGNAbQ\",\n   \"created\": \"1900-01-01T12:00:00.000Z\",\n   \"updated\"[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=10","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"NybCyMgjkLQM6Il-p8A5652MtaE/at-uhQslQjUGe-DCjIZ97QATWBU\""], "content-type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","st[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=10&pageToken=CksKPV9lZGhtZ3BiNGVsbTZhYjluNnNzamNkaGRjcGttc29iYzgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWcYASCAgICsyJCf0hM=","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"NybCyMgjkLQM6Il-p8A5652MtaE/RPF[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?maxResults=10&calendarId=primary&pageToken=CksKPV9lZGhtZ3BiNGVsbTZhYjluNnNzamNkaGRjcGttc29iYzgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWcYASCAgICsyJCf0hM%3D","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"NybCyMgjkLQM6Il-p8A5652MtaE/R[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=1000","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Etag":["\"NybCyMgjkLQM6Il-p8A5652MtaE/Zt0uNunhtP3a8a3Y1CNWk3ELfxY\""], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"{\n \"kind\": \"calendar#events\",\n \"etag\": \"\\\"NybCyMgjkLQM6Il-p8A5652MtaE/Zt0uNunhtP3a8a3Y1CNWk3ELfxY\\\"\",\n \"summary\": \"tammi.chang.clc@gmail.com\",\n \"updated\": \"2012-11-16T20:41:41.000Z\",\n \"timeZone\": \"America/Los_Angeles\",\n \"accessRole\": \"owner\",\n \"defaultReminders\": [\n  {\n   \"method\": \"popup\",\n   \"mi[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&fields=items(attendees(email,responseStatus),created,description,end,id,kind,location,start,summary),summary&maxResults=999&timeMax=2013-04-18T14:20:20-07:00&timeMin=2013-03-18T14:20:20-07:00","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":[""], "Content-Type":["application/x-www-form-urlencoded"], "x-sakai-token":[]}},"response":{"status":{"code":200,"messa[...]
[...]
{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=1000&orderBy=startTime&singleEvents=true&timeMax=2013-03-19T00:00:00-07:00&timeMin=2013-03-18T00:00:00-07:00","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":"", "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Www-Authenticate":["AuthSub realm=\"https://www.google.com/accounts/AuthSubRequest\" allowed-scopes=\"https://www.googleapis.com/auth/calendar.readonly,https://www.googleapis.com/auth/calendar\""], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n    \"reason\": \"authError\",\n    \"message\": \"Invalid Credentials\",\n    \"locationType\": \"header\",\n    \"location\": \"Authorization\"\n   }\n  ],\n  \"code\": 401,\n  \"message\": \"Invalid Credentials\"\n }\n}\n"},"http_version":null},"recorded_at":"Mon, 18 Mar 2013 21:57:04 GMT"}],"recorded_with":"VCR 2.4.0"}