<div class="bc-canvas-application bc-page-course-grade-export">

  <div class="cc-visuallyhidden" role="alert">
    <span data-ng-if="resolvingCourseState">Updating course site state. Please wait.</span>
  </div>

  <div aria-live="polite">
    <div data-ng-if="appState === 'loading'">
      <div class="row collapse">
        <div class="medium-5 columns end">
          <h1 class="bc-page-course-grade-export-header">Preparing E-Grades for Download</h1>
        </div>
      </div>

      <div data-ng-hide="jobStatus" class="bc-page-course-grade-export-notice-pending-request">
        <i class="fa fa-spinner fa-spin"></i>
        Sending preparation request...
      </div>

      <div data-ng-if="jobStatus === 'New'" class="bc-page-course-grade-export-notice-pending-request">
        <i class="fa fa-spinner fa-spin"></i>
        Preparation request sent. Awaiting processing....
      </div>

      <div data-ng-if="jobStatus">
        <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>
      </div>
    </div>

    <div data-ng-show="appState === 'selection'">
      <div class="row collapse">
        <div class="medium-12 columns">
          <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h1 class="bc-page-course-grade-export-header">What would you like to download?</h1>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-5 small-12 columns">

          <div class="row collapse" data-ng-show="officialSections.length > 1">
            <div class="medium-12 columns">
              <label for="course-sections" class="bc-page-course-grade-export-form-label">
                <strong>Select Section</strong>:
              </label>
              <select id="course-sections" class="bc-form-input-select" data-ng-model="selectedSection" data-ng-options="section as section.display_name for section in officialSections"></select>
            </div>
          </div>

        </div>
      </div>

      <div class="row collapse">
        <div class="medium-5 columns end">
          <h2 class="bc-page-course-grade-export-download-header">Current Grades Download</h2>
          <p class="bc-page-course-grade-export-download-description">
            Current grades download ignores unsubmitted assignments when calculating grades.
            Use this download when you want to excuse unsubmitted assignments.
          </p>
          <button data-ng-click="preloadGrades('current')" class="bc-canvas-button bc-canvas-button-primary">Download Current Grades</button>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-5 columns">
          <h2 class="bc-page-course-grade-export-download-header">Final Grades Download</h2>
          <p class="bc-page-course-grade-export-download-description">
            Final grades download counts unsubmitted assignments as zeroes when calculating grades.
            Use this download when you want to include all unsubmitted assignments as part of the grade.
          </p>
          <button data-ng-click="preloadGrades('final')" class="bc-canvas-button bc-canvas-button-primary">Download Final Grades</button>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <div class="bc-page-course-grade-export-more-info-container">
            <p class="bc-page-course-grade-export-more-info">
              For more information, see <a href="http://ets.berkeley.edu/bcourses/how-do-i-submit-grades-e-grades-bcourses">How do I submit grades to E-Grades from bCourses?</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns bc-page-course-grade-export-grade-link" data-ng-if="canvasCourseId && parentHostUrl">
          <button class="bc-button-link" data-ng-click="goToGradebook()">Back to Gradebook</a>
        </div>
      </div>
    </div>

    <div data-ng-show="appState === 'error'">

      <!-- Standard Error -->
      <div data-ng-if="errorStatus" role="alert">
        <p>
          <i class="fa fa-warning"></i>
          <span data-ng-bind="errorStatus"></span>
        </p>
        <p data-ng-if="contactSupport">Please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
        <p data-ng-if="unexpectedContactSupport">If this is not expected, please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
      </div>

      <!-- No Grading Standard Enabled -->
      <div data-ng-show="!errorStatus && (noGradingStandardEnabled || mutedAssignmentsPresent)">

        <div class="row collapse">
          <div class="medium-12 columns">
            <div>
              <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-12 columns">
            <h1 class="bc-page-course-grade-export-header">Required adjustments before downloading E-Grades</h1>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-12 columns">
            <div class="bc-alert cc-clearfix-container">
              <i class="fa fa-exclamation-triangle cc-icon-yellow"></i>
              <span data-ng-if="noGradingStandardEnabled && !mutedAssignmentsPresent">
                In order to download E-Grades, a <strong>grading scheme</strong> must be <strong>enabled</strong>.
              </span>
              <span data-ng-if="!noGradingStandardEnabled && mutedAssignmentsPresent">
                In order to download E-Grades, all <strong>assignments</strong> must be <strong>unmuted</strong>.
              </span>
              <span data-ng-if="noGradingStandardEnabled && mutedAssignmentsPresent">
                In order to download E-Grades, a <strong>grading scheme</strong> must be <strong>enabled</strong> and all <strong>assignments</strong> must be <strong>unmuted</strong>.
              </span>
            </div>
          </div>
        </div>

        <div data-ng-show="mutedAssignmentsPresent" class="bc-page-course-grade-export-error">

          <div class="row collapse">
            <div class="medium-12 columns">
              <h2 class="bc-page-course-grade-export-sub-header">Unmute All Assignments</h2>
              <p class="bc-page-course-grade-export-error-description">
                E-Grade.csv exports cannot be properly calculated when assignments within the Gradebook are muted.<br>
                <a href="http://guides.instructure.com/m/4152/l/45130-how-do-i-mute-an-assignment-in-the-gradebook#UnmuteAssignment">How to mute assignments in Gradebook</a>
              </p>

              <div class="bc-page-course-grade-export-unmute-action-container cc-clearfix-container">
                <div class="bc-page-course-grade-export-error-resolution-action-container">
                  <input id="bc-page-course-grade-export-unmute-assignments" type="checkbox" data-ng-model="unmuteAllAssignments" data-ng-disabled="resolvingCourseState">
                </div>
                <div class="bc-page-course-grade-export-error-resolution-action-container">
                  <label for="bc-page-course-grade-export-unmute-assignments" class="bc-page-course-grade-export-error-resolution-action-label">Unmute All</label>
                </div>
                <div class="bc-page-course-grade-export-muted-assignments-see-gradebook">
                  <button class="bc-button-link" data-ng-click="goToGradebook()">See in Gradebook</a>
                </div>
              </div>

              <table class="bc-table bc-table-striped bc-page-course-grade-export-muted-assignments-table">
                <thead>
                  <tr>
                    <th scope="col">Assignment</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Points Possible</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="assignment in mutedAssignments">
                    <td>
                      <span data-ng-bind="assignment.name"></span>
                    </td>
                    <td>
                      <span data-ng-if="assignment.due_at === null">N/A</span>
                      <span data-ng-if="assignment.due_at !== null" data-ng-bind="assignment.due_at"></span>
                    </td>
                    <td>
                      <span data-ng-bind="assignment.points_possible"></span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

        <div data-ng-show="noGradingStandardEnabled" class="bc-page-course-grade-export-error">
          <div class="row collapse">
            <div class="medium-12 columns">

              <h2 class="bc-page-course-grade-export-sub-header">Set Grading Scheme</h2>
              <p class="bc-page-course-grade-export-error-description">
                A grading scheme must be set before student letter grades can be calculated.<br>
                <a href="http://guides.instructure.com/m/4152/l/57089-how-do-i-enable-a-grading-scheme-for-my-course">How to set a Grading Scheme</a>
              </p>
              <div>
                <div class="bc-page-course-grade-export-error-resolution-action-container">
                  <input id="bc-page-course-grade-export-enable-grading-scheme" type="checkbox" data-ng-model="enableDefaultGradingScheme" data-ng-disabled="resolvingCourseState">
                </div>
                <div class="bc-page-course-grade-export-error-resolution-action-container">
                  <label for="bc-page-course-grade-export-enable-grading-scheme" class="bc-page-course-grade-export-error-resolution-action-label">Enable the default Letter Grades +/- grading scheme</label><br>
                  <strong>or</strong> set a custom grading scheme in <button class="bc-button-link" data-ng-click="goToCourseSettings()">Course Settings</button> and return here once completed.
                </div>
                <div class="cc-clearfix"></div>
              </div>

            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-12 columns">
            <div class="cc-text-right">
              <button class="bc-canvas-button" type="button" data-ng-click="goToGradebook()" type="button" aria-label="Go Back to Gradebook">Cancel</button>
              <button data-ng-disabled="notReadyForPreparation() || resolvingCourseState" data-ng-click="resolveIssues()" class="bc-canvas-button bc-canvas-button-primary" type="button">
                <span data-ng-if="!resolvingCourseState">Continue</span>
                <span data-ng-if="resolvingCourseState"><i class="fa fa-spinner fa-spin"></i> Saving</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
