<div class="cc-page-course-official-sections">

  <div data-ng-if="!feedFetched" data-cc-spinner-directive></div>

  <div data-ng-if="feedFetched && !displayError">

    <div data-ng-if="currentWorkflowStep === 'staging'">
      <div data-ng-include src="'canvas_embedded/_shared/maintenance_notice.html'"></div>
    </div>

    <h2 class="cc-page-site-provisioning-header cc-page-site-provisioning-header2">Official Sections</h2>

    <!-- ################################################################################################################################ -->

    <div data-ng-if="currentWorkflowStep === 'preview'">

      <div data-ng-show="jobStatusMessage !== ''" class="cc-notice-box cc-radius" data-ng-class="{'cc-notice-error':(lastJobStatus !== 'sectionEditsCompleted'), 'cc-notice-success':(lastJobStatus === 'sectionEditsCompleted')}">
        <span data-ng-bind="jobStatusMessage"></span>
        <div class="cc-notice-close-button">
          <button class="fa fa-times-circle button cc-close-button small" data-ng-click="jobStatusMessage=''" aria-label="Close"></button>
        </div>
      </div>

      <!-- Current Sections Preview Area -->
      <div class="cc-page-course-official-sections-sections-area cc-page-course-official-sections-current-sections-white-border">
        <div class="row">
          <div class="medium-4 columns">
            <h3 class="cc-page-site-provisioning-header cc-page-course-official-sections-existing-sections-header-label">
              Sections in this Course Site
            </h3>
          </div>
          <div class="medium-2 columns cc-text-right">
            <button data-ng-click="changeWorkflowStep('staging')" class="bc-canvas-button bc-canvas-button-primary" data-ng-if="isTeacher">
              Edit Sections
            </button>
          </div>
        </div>

        <div class="cc-page-course-official-sections-courses-container">
          <div class="cc-page-course-official-sections-current-course">
            <div class="row">
              <div class="medium-12 columns">
                <!-- *!*!*!*!*!*!* PREVIEW CURRENT SECTIONS *!*!*!*!*!*!* -->
                <div data-ng-if="existingCourseSections.length > 0">
                  <table class="cc-page-course-official-sections-table" role="grid">
                    <thead class="cc-visuallyhidden">
                      <tr>
                        <th>Course Code</th>
                        <th>Section Label</th>
                        <th>Course Control Number</th>
                        <th>Schedule</th>
                        <th>Location</th>
                        <th>Instructors</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-class="{'cc-page-course-official-sections-table-row':(!$last), 'cc-page-course-official-sections-table-row-last':($last)}" data-ng-repeat="section in existingCourseSections">
                        <td class="cc-page-course-official-sections-table-cell-course-code" data-ng-bind="section.courseCode"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-label" data-ng-bind="section.section_label"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-ccn" data-ng-bind="section.ccn"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-timestamps show-for-medium-up" >
                          <div data-ng-repeat="schedule in section.schedules" data-ng-bind="schedule.schedule"></div>
                        </td>
                        <td class="cc-page-course-official-sections-table-cell-section-locations show-for-medium-up" >
                          <div data-ng-repeat="schedule in section.schedules" data-ng-bind-template="{{schedule.buildingName}} {{schedule.roomNumber}}"></div>
                         </td>
                        <td class="cc-page-course-official-sections-table-cell-section-instructors show-for-large-up" >
                          <div data-ng-repeat="instructor in section.instructors" data-ng-bind="instructor.name"></div>
                        </td>
                        <td class="cc-page-course-official-sections-table-cell-section-action-option">
                          &nbsp;
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- *!*!*!*!*!*!* END PREVIEW CURRENT SECTIONS *!*!*!*!*!*!* -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- ################################################################################################################################ -->

    <div data-ng-if="currentWorkflowStep === 'staging'">

      <!-- Current Sections Area -->
      <div class="cc-page-course-official-sections-sections-area cc-page-course-official-sections-current-sections-grey-border">

        <div class="row">
          <div class="medium-3 columns">
            <h3 class="cc-page-site-provisioning-header cc-page-course-official-sections-existing-sections-header-label">
              Sections in this Course Site
            </h3>
          </div>
          <div class="medium-3 columns cc-text-right">
            <button data-ng-click="cancel()" class="bc-canvas-button" type="submit">
              Cancel
            </button>
            <button data-ng-click="saveChanges()" data-ng-disabled="totalStagedCount() === 0" class="bc-canvas-button bc-canvas-button-primary" type="submit">
              Save Changes
            </button>
          </div>
        </div>

        <div class="cc-page-course-official-sections-courses-container">
          <div class="cc-page-course-official-sections-current-course">
            <div class="row">
              <div class="medium-12 columns">
                <!-- *!*!*!*!*!*!* STAGING CURRENT SECTIONS *!*!*!*!*!*!* -->
                <div data-ng-if="allSections.length > 0">
                  <table class="cc-page-course-official-sections-table" role="grid">
                    <thead class="cc-visuallyhidden">
                      <tr>
                        <th>Course Code</th>
                        <th>Section Label</th>
                        <th>Course Control Number</th>
                        <th>Schedule</th>
                        <th>Location</th>
                        <th>Instructors</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-class="{'cc-page-course-official-sections-table-row':(!$last), 'cc-page-course-official-sections-table-row-last':($last), 'cc-page-course-official-sections-table-row-added':(section.stagedState === 'add')}" data-ng-repeat="section in allSections" data-ng-if="(section.isCourseSection && section.stagedState !== 'delete') || (!section.isCourseSection && section.stagedState === 'add')">
                        <td class="cc-page-course-official-sections-table-cell-course-code" data-ng-bind="section.courseCode"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-label" data-ng-bind="section.section_label"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-ccn" data-ng-bind="section.ccn"></td>
                        <td class="cc-page-course-official-sections-table-cell-section-timestamps show-for-medium-up" >
                          <div data-ng-repeat="schedule in section.schedules" data-ng-bind="schedule.schedule"></div>
                        </td>
                        <td class="cc-page-course-official-sections-table-cell-section-locations show-for-medium-up" >
                          <div data-ng-repeat="schedule in section.schedules" data-ng-bind-template="{{schedule.buildingName}} {{schedule.roomNumber}}"></div>
                         </td>
                        <td class="cc-page-course-official-sections-table-cell-section-instructors show-for-large-up" >
                          <div data-ng-repeat="instructor in section.instructors" data-ng-bind="instructor.name"></div>
                        </td>
                        <td class="cc-page-course-official-sections-table-cell-section-action-option">
                          <div data-ng-if="section.isCourseSection">
                            <button class="bc-canvas-button cc-page-course-official-sections-button" data-ng-click="stageDelete(section)">Delete</button>
                          </div>
                          <div data-ng-if="!section.isCourseSection">
                            <button class="bc-canvas-button cc-page-course-official-sections-button cc-page-course-official-sections-button-undo-add" data-ng-click="unstage(section)">Undo Add</button>
                          </div>
                        </td>
                      </tr>
                      <tr data-ng-if="noCurrentSections()">
                        <td colspan="7">No sections to remain in course site</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- *!*!*!*!*!*!* END STAGING CURRENT SECTIONS *!*!*!*!*!*!* -->
              </div>
            </div>
          </div>
        </div>

        <div data-ng-if="currentStagedCount() > 12" class="row">
          <div class="medium-12 columns cc-text-right">
            <button data-ng-click="changeWorkflowStep('preview')" class="bc-canvas-button">
              Cancel
            </button>
            <button data-ng-click="saveChanges()" data-ng-disabled="totalStagedCount() === 0" class="bc-canvas-button bc-canvas-button-primary">
              Save Changes
            </button>
          </div>
        </div>

      </div>

      <!-- Available Sections Area -->
      <div class="cc-page-course-official-sections-sections-area">
        <div class="row">
          <div class="medium-12 columns">
            <h3 class="cc-page-site-provisioning-header cc-page-course-official-sections-existing-sections-header-label">
              All sections available to add to this Course Site
            </h3>
          </div>
        </div>

        <div data-ng-if="courseSemester.classes.length > 0" class="cc-page-course-official-sections-courses-container">
          <div class="cc-page-course-official-sections-course-available" data-ng-repeat="course in courseSemester.classes">

            <div class="cc-page-course-official-sections-course">
              <div data-ng-click="course.collapsed = !course.collapsed" data-ng-attr-aria-controls="{{course.course_id}}">
                <i class="fa cc-left cc-page-course-official-sections-form-collapse-icon"
                  data-ng-class="{'fa-caret-right': course.collapsed, 'fa-caret-down': !course.collapsed}"></i>
                <strong class="cc-page-course-official-sections-form-course-title" data-ng-bind-template="{{course.course_code}} : {{course.title}}"></strong>
                <span data-ng-if="course.sections">
                  (<span data-ng-pluralize count="course.sections.length" when="{'one': '1 section', 'other': '{{course.sections.length}} sections'}"></span>)
                </span>
              </div>

              <div data-ng-attr-id="{{course.course_id}}" class="cc-page-course-official-sections-form-collapsible-container" data-ng-if="!course.collapsed" data-ng-attr-aria-expanded="{{!course.collapsed}}" role="region">
                <div class="cc-page-course-official-sections-form-select-all-option" data-ng-if="course.sections.length > 1">
                  <button class="cc-button-link cc-page-course-official-sections-form-select-all-option-button" type="button" data-ng-click="addAllSections(course)" data-ng-if="!allSectionsAdded(course)">Add All</button>
                  <span data-ng-if="allSectionsAdded(course)">All Added</span>
                </div>

                <div class="row">
                  <div class="medium-12 columns">

                    <!-- *!*!*!*!*!*!* STAGING AVAILABLE SECTIONS *!*!*!*!*!*!* -->
                    <div data-ng-if="course.sections.length > 0">
                      <table class="cc-page-course-official-sections-table" role="grid">
                        <thead class="cc-visuallyhidden">
                          <tr>
                            <th>Course Code</th>
                            <th>Section Label</th>
                            <th>Course Control Number</th>
                            <th>Schedule</th>
                            <th>Location</th>
                            <th>Instructors</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody data-ng-repeat="section in course.sections">
                          <tr data-ng-class="{'cc-page-course-official-sections-table-row':(!$last && !section.sites), 'cc-page-course-official-sections-table-row-last':($last || section.sites), 'cc-page-course-official-sections-table-row-deleted':(section.stagedState === 'delete'), 'cc-page-course-official-sections-table-row-disabled':(section.isCourseSection && section.stagedState !== 'delete') || (section.stagedState === 'add')}">
                            <td class="cc-page-course-official-sections-table-cell-course-code" data-ng-bind="section.courseCode"></td>
                            <td class="cc-page-course-official-sections-table-cell-section-label" data-ng-bind="section.section_label"></td>
                            <td class="cc-page-course-official-sections-table-cell-section-ccn" data-ng-bind="section.ccn"></td>
                            <td class="cc-page-course-official-sections-table-cell-section-timestamps show-for-medium-up" >
                              <div data-ng-repeat="schedule in section.schedules" data-ng-bind="schedule.schedule"></div>
                            </td>
                            <td class="cc-page-course-official-sections-table-cell-section-locations show-for-medium-up" >
                              <div data-ng-repeat="schedule in section.schedules" data-ng-bind-template="{{schedule.buildingName}} {{schedule.roomNumber}}"></div>
                             </td>
                            <td class="cc-page-course-official-sections-table-cell-section-instructors show-for-large-up" >
                              <div data-ng-repeat="instructor in section.instructors" data-ng-bind="instructor.name"></div>
                            </td>
                            <td class="cc-page-course-official-sections-table-cell-section-action-option">
                              <div data-ng-if="section.isCourseSection && section.stagedState === 'delete'">
                                <button class="bc-canvas-button cc-page-course-official-sections-button cc-page-course-official-sections-button-undo-delete" data-ng-click="unstage(section)">Undo Delete</button>
                              </div>

                              <div data-ng-if="!section.isCourseSection && section.stagedState === 'add'">
                                Added
                              </div>

                              <div data-ng-if="!section.isCourseSection && section.stagedState === null">
                                <button class="bc-canvas-button bc-canvas-button-primary cc-page-course-official-sections-button" data-ng-class="{'cc-page-course-official-sections-button-undo-add':(section.stagedState === 'add')}" data-ng-click="stageAdd(section)">Add</button>
                              </div>
                            </td>
                          </tr>
                          <tr data-ng-show="section.sites" data-ng-class="{'cc-page-course-official-sections-table-row':(!$last), 'cc-page-course-official-sections-table-row-last':($last)}">
                            <td colspan="7" class="cc-page-course-official-sections-sites-cell">
                              <div data-ng-repeat="site in section.sites" class="cc-page-course-official-sections-table-sites-container" data-ng-if="$parent.otherCourseSection(site)">
                                <i class="fa fa-info-circle cc-page-course-official-sections-table-sited-icon"></i>
                                This section is already in use by <a data-ng-bind="site.name" data-ng-href="{{site.site_url}}"></a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- *!*!*!*!*!*!* END STAGING AVAILABLE SECTIONS *!*!*!*!*!*!* -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!-- ################################################################################################################################ -->

    <div data-ng-if="currentWorkflowStep === 'processing'">
      <div class="cc-page-course-official-sections-sections-area cc-page-course-official-sections-current-sections-grey-border">
        <div class="row">
          <div class="medium-4 columns">
            <h3 class="cc-page-site-provisioning-header cc-page-course-official-sections-existing-sections-header-label">
              Updating Official Sections in Course Site
            </h3>
          </div>
        </div>

        <div data-ng-if="jobStatus === 'sendingRequest' || percent_complete === 0" class="cc-page-course-official-sections-pending-request">
          <i class="fa fa-spinner fa-spin"></i>
          Sending request...
        </div>

        <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>
      </div>
    </div>

    <!-- ################################################################################################################################ -->

  </div>

  <div data-ng-if="displayError" class="cc-notice-error-container">
    <div data-ng-include src="'canvas_embedded/_shared/canvas_errors.html'"></div>

    <div data-ng-if="displayError === 'invalidAction'" class="cc-notice-error-container">
      <i class="fa fa-warning cc-canvas-notice-icon"></i>
      <div class="cc-notice-text-container">
        <h1 class="cc-notice-text-header">Invalid Action</h1>
        <p data-ng-if="invalidActionError" data-ng-bind="invalidActionError"></p>
        <p data-ng-if="!invalidActionError">An error was detected with the action you attempted to take. Please contact bCourses support for further assistance.</p>
      </div>
    </div>
  </div>

</div>
