<div class="cc-page-course-grade-export">

  <div data-ng-if="appState === 'ready'">
    <div class="row collapse">
      <div class="medium-12 columns">
        <h1>Download E-Grades (.csv)</h1>
        <p>There are two options for downloading grades for use with E-Grades.</p>

        <p class="cc-page-course-grade-export-notice">
          Please click to download the CSV file only once. It may require up to 2 minutes to complete for courses with more than 200 enrolled students.
        </p>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-2 columns">
        <div class="cc-page-course-grade-export-section-select">
          <label for="course-sections" class="">Select Section:</label>
          <select id="course-sections" data-ng-model="selectedSection" data-ng-options="section as section.display_name for section in officialSections"></select>
        </div>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-4 columns">
        <div class="cc-page-course-grade-export-download-button-container">
          <h2 class="cc-page-course-grade-export-download-header">Current Grades Download</h2>
          <p class="cc-page-course-grade-export-download-description">
            Current grades download ignores unsubmitted assignments when calculating grades.
            Use this download when you want to excuse unsubmitted assignments.
          </p>
          <a data-ng-href="/api/academics/canvas/egrade_export/download.csv?ccn={{selectedSection.course_cntl_num}}&term_cd={{selectedSection.term_cd}}&term_yr={{selectedSection.term_yr}}&type=current" target="_self" class="cc-button cc-page-course-grade-export-download-button">Current Grades Download</a>
        </div>
      </div>

      <div class="medium-4 columns end">
        <div class="cc-page-course-grade-export-download-button-container">
          <h2 class="cc-page-course-grade-export-download-header">Final Grades Download</h2>
          <p class="cc-page-course-grade-export-download-description">
            Final grades download counts unsubmitted assignments as zeroes when calculating grades.
            Use this download when you want to include all unsubmitted assignments as part of the grade.
          </p>
          <a data-ng-href="/api/academics/canvas/egrade_export/download.csv?ccn={{selectedSection.course_cntl_num}}&term_cd={{selectedSection.term_cd}}&term_yr={{selectedSection.term_yr}}&type=final" target="_self" class="cc-button cc-page-course-grade-export-download-button">Final Grades Download</a>
        </div>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-12 columns">
        <p class="cc-page-course-grade-export-more-info-container">
          For more information, see <a href="http://ets.berkeley.edu/bcourses/how-do-i-submit-grades-e-grades-bcourses">How do I Submit Grades to E-Grades from bCourses?</a>
        </p>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-12 columns cc-page-course-grade-export-grade-link" data-ng-if="canvasCourseId && parentHostUrl">
        <button class="cc-button-link" data-ng-click="goToGradebook()">Back to Gradebook</a>
      </div>
    </div>
  </div>

  <div data-ng-if="appState === 'error'" class="cc-page-course-grade-export-error-display">

    <!-- Standard Error -->
    <div data-ng-if="errorStatus">
      <p>
        <i class="fa fa-warning"></i>
        <span data-ng-bind="errorStatus"></span>
      </p>
      <p data-ng-if="contactSupport">Please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
      <p data-ng-if="unexpectedContactSupport">If this is not expected, please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
    </div>

    <!-- No Grading Standard Enabled -->
    <div data-ng-if="!errorStatus && noGradingStandardEnabled">
      <h1>Download E-Grades (.csv)</h1>
      <div class="row collapse">
        <div class="medium-12 columns">
          <p>
            <i class="fa fa-warning cc-page-course-grade-export-warning"></i>
            ACTION REQUIRED!
          </p>
          <p>
            Letter grades are required by the E-Grades system. A grading scheme must be applied to calculate
            student letter grades.
          </p>
          <p>
            Please edit and enable the grading scheme in the <a data-ng-click="goToCourseDetails()">course details</a> page for this course site.
            You may need to choose an alternative grading scheme for your course site other than the default scheme. Once this
            step is completed, return here and try again.
          </p>
          <p>
            For more information see <a href="http://guides.instructure.com/m/4152/l/57089-how-do-i-enable-a-grading-scheme-for-my-course">How do I enable a grading scheme for my course?</a>
          </p>
        </div>
      </div>
    </div>


  </div>

</div>
