<div class="cc-page-course-grade-export">

  <div data-ng-if="appState === 'loading'">

    <div class="row collapse">
      <div class="medium-5 columns end">
        <div class="cc-page-course-grade-export-header">
          <h1>Preparing E-Grades for Download</h1>
        </div>
      </div>
    </div>

    <div data-ng-hide="jobStatus" class="cc-page-course-grade-export-notice-pending-request">
      <i class="fa fa-spinner fa-spin"></i>
      Sending preparation request...
    </div>

    <div data-ng-if="jobStatus === 'New'" class="cc-page-course-grade-export-notice-pending-request">
      <i class="fa fa-spinner fa-spin"></i>
      Preparation request sent. Awaiting processing....
    </div>

    <div data-ng-if="jobStatus">
      <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>
    </div>
  </div>

  <div data-ng-if="appState === 'ready'">
    <div class="row collapse">
      <div class="medium-12 columns">
        <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-5 columns end">
        <div class="cc-page-course-grade-export-header">
          <h1>What would you like to download?</h1>
        </div>
      </div>
    </div>

    <div class="row collapse" data-ng-show="officialSections.length > 1">
      <div class="medium-4 columns">
        <div class="cc-page-course-grade-export-section">
          <div class="cc-left">
            <label for="course-sections">Select Section:</label>
          </div>
          <div class="cc-left cc-page-course-grade-export-section-select">
            <select id="course-sections" data-ng-model="selectedSection" data-ng-options="section as section.display_name for section in officialSections"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-5 columns end">
        <h2 class="cc-page-course-grade-export-download-header">Current Grades Download</h2>
        <p class="cc-page-course-grade-export-download-description">
          Current grades download ignores unsubmitted assignments when calculating grades.
          Use this download when you want to excuse unsubmitted assignments.
        </p>
        <a data-ng-href="/api/academics/canvas/egrade_export/download/{{canvasCourseId}}.csv?ccn={{selectedSection.course_cntl_num}}&term_cd={{selectedSection.term_cd}}&term_yr={{selectedSection.term_yr}}&type=current" target="_self" class="bc-canvas-button bc-canvas-button-primary">Download Current Grades</a>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-5 columns">
        <h2 class="cc-page-course-grade-export-download-header">Final Grades Download</h2>
        <p class="cc-page-course-grade-export-download-description">
          Final grades download counts unsubmitted assignments as zeroes when calculating grades.
          Use this download when you want to include all unsubmitted assignments as part of the grade.
        </p>
        <a data-ng-href="/api/academics/canvas/egrade_export/download/{{canvasCourseId}}.csv?ccn={{selectedSection.course_cntl_num}}&term_cd={{selectedSection.term_cd}}&term_yr={{selectedSection.term_yr}}&type=final" target="_self" class="bc-canvas-button bc-canvas-button-primary">Download Final Grades</a>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-12 columns">
        <div class="cc-page-course-grade-export-more-info-container">
          <p class="cc-page-course-grade-export-more-info">
            For more information, see <a href="http://ets.berkeley.edu/bcourses/how-do-i-submit-grades-e-grades-bcourses">How do I Submit Grades to E-Grades from bCourses?</a>
          </p>
          <p class="cc-page-course-grade-export-more-info">
            Updated Gradebook?
            <button class="bc-canvas-button cc-page-course-grade-export-refresh-button" data-ng-click="getExportOptions()">
              <i class="fa fa-refresh"></i>
              Refresh Prepared Grades
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="row collapse">
      <div class="medium-12 columns cc-page-course-grade-export-grade-link" data-ng-if="canvasCourseId && parentHostUrl">
        <button class="cc-button-link" data-ng-click="goToGradebook()">Back to Gradebook</a>
      </div>
    </div>
  </div>

  <div data-ng-show="appState === 'error'">

    <!-- Standard Error -->
    <div data-ng-if="errorStatus">
      <p>
        <i class="fa fa-warning"></i>
        <span data-ng-bind="errorStatus"></span>
      </p>
      <p data-ng-if="contactSupport">Please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
      <p data-ng-if="unexpectedContactSupport">If this is not expected, please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
    </div>

    <!-- No Grading Standard Enabled -->
    <div data-ng-show="!errorStatus && (noGradingStandardEnabled || mutedAssignmentsPresent)">

      <div class="row collapse">
        <div class="medium-12 columns">
          <div class="cc-page-course-grade-export-back-link">
            <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h1 class="cc-page-course-grade-export-header">Required adjustments before downloading E-Grades</h1>
        </div>
      </div>

      <div data-ng-if="mutedAssignmentsPresent" class="cc-page-course-grading-export-error">

        <div class="row collapse">
          <div class="medium-12 columns">

            <div class="cc-notice-box cc-notice-warning cc-radius cc-page-course-grading-export-error-notice">
              <div class="cc-left cc-page-course-grading-export-error-notice-cell">
                <i class="fa fa-exclamation-triangle cc-icon-yellow cc-page-course-grade-export-error-notice-icon"></i>
              </div>
              <div class="cc-page-course-grading-export-error-notice-cell">
                In order to download E-Grades, all <strong>assignments</strong> must be <strong>unmuted</strong>.
              </div>
              <div class="cc-clearfix"></div>
            </div>

            <h2 class="cc-page-course-grade-export-sub-header">Unmute All Assignments</h2>
            <p class="cc-page-course-grade-export-error-description">
              E-Grade.csv exports cannot be properly calculated when assignments within the Gradebook are muted.<br>
              <a href="http://guides.instructure.com/m/4152/l/45130-how-do-i-mute-an-assignment-in-the-gradebook#UnmuteAssignment">How to mute assignments in Gradebook</a>
            </p>

            <table class="bc-table bc-table-striped cc-page-course-grading-export-muted-assignments-table" role="grid">
              <thead>
                <tr>
                  <th scope="col">Assignment</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Points Possible</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="assignment in mutedAssignments">
                  <td>
                    <span data-ng-bind="assignment.name"></span>
                  </td>
                  <td>
                    <span data-ng-if="assignment.due_at === null">N/A</span>
                    <span data-ng-if="assignment.due_at !== null" data-ng-bind="assignment.due_at"></span>
                  </td>
                  <td>
                    <span data-ng-bind="assignment.points_possible"></span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="cc-text-right">
              <button class="bc-canvas-button cc-page-course-grading-export-back-link" type="button" data-ng-click="goToGradebook()" type="button" aria-label="Go Back to Gradebook">Cancel</button>
              <button class="bc-canvas-button bc-canvas-button-primary cc-page-course-grade-export-gradebook-button" data-ng-click="goToGradebook()">Change in Gradebook</button>
            </div>

          </div>
        </div>
      </div>

      <div data-ng-show="noGradingStandardEnabled && !mutedAssignmentsPresent" class="cc-page-course-grading-export-error">
        <div class="row collapse">
          <div class="medium-12 columns">

            <div class="cc-notice-box cc-notice-warning cc-radius cc-page-course-grading-export-error-notice">
              <div class="cc-left cc-page-course-grading-export-error-notice-cell">
                <i class="fa fa-exclamation-triangle cc-icon-yellow cc-page-course-grade-export-error-notice-icon"></i>
              </div>
              <div class="cc-page-course-grading-export-error-notice-cell">
                In order to download E-Grades, a <strong>grading scheme</strong> must be <strong>enabled</strong>.
              </div>
              <div class="cc-clearfix"></div>
            </div>

            <h2 class="cc-page-course-grade-export-sub-header">Set Grading Scheme</h2>
            <p class="cc-page-course-grade-export-error-description">
              A grading scheme must be set before student letter grades can be calculated.<br>
              <a href="http://guides.instructure.com/m/4152/l/57089-how-do-i-enable-a-grading-scheme-for-my-course">How to set a Grading Scheme</a>
            </p>
            <div>
              <div class="cc-page-course-grading-export-enable-grading-scheme-checkbox-container">
                <input id="cc-page-course-grading-export-enable-grading-scheme" type="checkbox"
                data-ng-model="enableDefaultGradingScheme">
              </div>
              <div class="cc-page-course-grading-export-enable-grading-scheme-label-container">
                <label for="cc-page-course-grading-export-enable-grading-scheme" class="cc-page-course-grading-export-enable-grading-scheme-label">Enable the default Letter Grades +/- grading scheme</label><br>
                <strong>or</strong> set a custom grading scheme in <button class="cc-button-link" data-ng-click="goToCourseSettings()">Course Settings</button> and return here once completed.
              </div>
              <div class="cc-clearfix"></div>
            </div>

            <div class="cc-text-right">
              <button class="bc-canvas-button cc-page-course-grading-export-back-link" type="button" data-ng-click="goToGradebook()" type="button" aria-label="Go Back to Gradebook">Cancel</button>
              <button data-ng-click="preloadGrades()" data-ng-disabled="!enableDefaultGradingScheme" class="bc-canvas-button bc-canvas-button-primary" type="button">Continue</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
