<div class="bc-canvas-application bc-page-course-official-sections">

  <div data-ng-if="!feedFetched" data-cc-spinner-directive></div>

  <div data-ng-if="feedFetched && !displayError" aria-live="polite">

    <div data-ng-if="currentWorkflowStep === 'staging'">
      <div data-ng-include src="'canvas_embedded/_shared/maintenance_notice.html'"></div>
    </div>

    <h1 class="bc-page-course-official-sections-header1">Official Sections</h1>

    <!-- ############################################################################################# -->

    <div data-ng-if="currentWorkflowStep === 'preview'">

      <div data-ng-show="jobStatusMessage !== ''" class="bc-alert" data-ng-class="{'bc-notice-error':(lastJobStatus !== 'sectionEditsCompleted'), 'bc-alert-success':(lastJobStatus === 'sectionEditsCompleted')}" id="bc-page-course-official-sections-job-status-notice" data-ng-attr-aria-hidden="{{jobStatusMessage === ''}}" role="alert">
        <span data-ng-bind="jobStatusMessage"></span>
        <div class="bc-alert-close-button-container">
          <button class="fa fa-times-circle bc-close-button" data-ng-click="jobStatusMessage=''" aria-controls="bc-page-course-official-sections-job-status-notice">
            <span class="cc-visuallyhidden">Hide Notice</span>
          </button>
        </div>
      </div>

      <!-- Current Sections Preview Area -->
      <div class="bc-page-course-official-sections-sections-area bc-page-course-official-sections-current-sections-white-border">
        <div class="row bc-page-course-official-sections-current-sections-header">
          <div class="medium-4 columns">
            <h2 class="bc-header bc-page-course-official-sections-existing-sections-header-label">
              Sections in this Course Site
            </h2>
          </div>
          <div class="medium-2 columns cc-text-right">
            <button data-ng-click="changeWorkflowStep('staging')" class="bc-canvas-button bc-canvas-button-primary bc-canvas-no-decoration" data-ng-if="isTeacher">
              Edit Sections
            </button>
          </div>
        </div>

        <div class="bc-page-course-official-sections-courses-container">
          <div class="bc-page-course-official-sections-current-course">
            <div class="row">
              <div class="medium-12 columns">
                <!-- *!*!*!*!*!*!* PREVIEW CURRENT SECTIONS *!*!*!*!*!*!* -->
                <div data-bc-sections-table data-list-mode="'preview'" data-sections-list="existingCourseSections" data-row-class-logic="rowClassLogic(listMode, section)" data-row-display-logic="rowDisplayLogic(listMode, section)" data-no-current-sections="noCurrentSections()"></div>
                <!-- *!*!*!*!*!*!* END PREVIEW CURRENT SECTIONS *!*!*!*!*!*!* -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- ############################################################################################# -->

    <div data-ng-if="currentWorkflowStep === 'staging'">
      <!-- Current Sections Area -->
      <div class="bc-page-course-official-sections-sections-area bc-page-course-official-sections-current-sections-grey-border">

        <div class="row bc-page-course-official-sections-current-sections-header">
          <div class="medium-4 columns">
            <h2 class="bc-header bc-page-course-official-sections-existing-sections-header-label">
              Sections in this Course Site
            </h2>
          </div>
          <div class="medium-8 columns cc-text-right">
            <button class="bc-canvas-button bc-canvas-no-decoration" data-ng-click="cancel()" type="submit" aria-label="Cancel section modifications for this course site">
              Cancel
            </button>
            <button class="bc-canvas-button bc-canvas-button-primary bc-canvas-no-decoration" data-ng-click="saveChanges()" data-ng-disabled="totalStagedCount() === 0" type="submit" aria-label="Apply pending modifications to this course site">
              Save Changes
            </button>
          </div>
        </div>

        <div class="bc-page-course-official-sections-courses-container">
          <div class="bc-page-course-official-sections-current-course">
            <div class="row">
              <div class="medium-12 columns">
                <!-- *!*!*!*!*!*!* STAGING CURRENT SECTIONS *!*!*!*!*!*!* -->
                <div data-bc-sections-table data-list-mode="'currentStaging'" data-sections-list="allSections" data-unstage-action="unstage(section)" data-stage-delete-action="stageDelete(section)" data-no-current-sections="noCurrentSections()" data-row-class-logic="rowClassLogic(listMode, section)" data-row-display-logic="rowDisplayLogic(listMode, section)"></div>
                <!-- *!*!*!*!*!*!* END STAGING CURRENT SECTIONS *!*!*!*!*!*!* -->
              </div>
            </div>
          </div>
        </div>

        <div data-ng-if="currentStagedCount() > 12" class="row">
          <div class="medium-12 columns cc-text-right">
            <button data-ng-click="changeWorkflowStep('preview')" class="bc-canvas-button bc-canvas-no-decoration" aria-label="Cancel section modifications for this course site">
              Cancel
            </button>
            <button data-ng-click="saveChanges()" data-ng-disabled="totalStagedCount() === 0" class="bc-canvas-button bc-canvas-button-primary bc-canvas-no-decoration" aria-label="Apply pending modifications to this course site">
              Save Changes
            </button>
          </div>
        </div>

      </div>

      <!-- Available Sections Area -->
      <div class="bc-page-course-official-sections-sections-area">
        <div class="row">
          <div class="medium-12 columns">
            <h2 class="bc-header bc-page-course-official-sections-available-sections-header-label">
              All sections available to add to this Course Site
            </h2>
          </div>
        </div>

        <div data-ng-if="courseSemester.classes.length > 0" class="bc-page-course-official-sections-courses-container">
          <div class="bc-sections-course-container-bottom-margin" data-ng-repeat="course in courseSemester.classes">

            <div class="bc-sections-course-container">
              <button type="button" class="bc-button-link bc-page-course-official-sections-form-course-button" data-ng-click="course.collapsed = !course.collapsed" data-ng-attr-aria-controls="{{course.course_id}}">
                <i class="fa cc-left bc-sections-triangle-icon"
                  data-ng-class="{'fa-caret-right': course.collapsed, 'fa-caret-down': !course.collapsed}"></i>
                <h3 class="bc-sections-course-title">
                  <span data-ng-bind="course.course_code"></span>
                  <span data-ng-if="course.title" data-ng-bind-template=" : {{course.title}}"></span>
                </h3>
                <span data-ng-if="course.sections">
                  (<span data-ng-pluralize count="course.sections.length" when="{'one': '1 section', 'other': '{{course.sections.length}} sections'}"></span>)
                </span>
              </button>

              <div data-ng-attr-id="{{course.course_id}}" class="bc-page-course-official-sections-form-collapsible-container" data-ng-if="!course.collapsed" data-ng-attr-aria-expanded="{{!course.collapsed}}" role="region">
                <div class="bc-page-course-official-sections-form-select-all-option" data-ng-if="course.sections.length > 1">
                  <button class="bc-button-link bc-page-course-official-sections-form-select-all-option-button" type="button" data-ng-click="addAllSections(course)" data-ng-if="!allSectionsAdded(course)" aria-label="Add all sections for this course to the list of sections to be added">Add All</button>
                  <span data-ng-if="allSectionsAdded(course)">All Added</span>
                </div>

                <div class="row">
                  <div class="medium-12 columns">
                    <!-- *!*!*!*!*!*!* STAGING AVAILABLE SECTIONS *!*!*!*!*!*!* -->
                    <div data-bc-sections-table data-list-mode="'availableStaging'" data-sections-list="course.sections" data-unstage-action="unstage(section)" data-stage-add-action="stageAdd(section)" data-row-class-logic="rowClassLogic(listMode, section)" data-row-display-logic="rowDisplayLogic(listMode, section)"></div>
                    <!-- *!*!*!*!*!*!* END STAGING AVAILABLE SECTIONS *!*!*!*!*!*!* -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- ############################################################################################# -->

    <div data-ng-if="currentWorkflowStep === 'processing'">
      <h2 class="bc-header bc-page-course-official-sections-existing-sections-header-label">
        Updating Official Sections in Course Site
      </h2>

      <div data-ng-if="jobStatus === 'sendingRequest' || percent_complete === 0" class="bc-page-course-official-sections-pending-request">
        <i class="fa fa-spinner fa-spin"></i>
        Sending request...
      </div>

      <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>
    </div>

    <!-- ############################################################################################# -->

  </div>

  <div data-ng-if="displayError" class="bc-alert-container" role="alert">
    <div data-ng-include src="'canvas_embedded/_shared/canvas_errors.html'"></div>

    <div data-ng-if="displayError === 'invalidAction'" class="bc-alert-container">
      <i class="fa fa-warning bc-canvas-notice-icon"></i>
      <div class="bc-notice-text-container">
        <h1 class="bc-notice-text-header">Invalid Action</h1>
        <p data-ng-if="invalidActionError" data-ng-bind="invalidActionError"></p>
        <p data-ng-if="!invalidActionError">An error was detected with the action you attempted to take. Please contact bCourses support for further assistance.</p>
      </div>
    </div>
  </div>

</div>
