<div class="bc-canvas-application bc-page-create-project-site" data-cc-spinner-directive>

  <div data-ng-show="!displayError">
    <h1 class="bc-header bc-header2">Create a Project Site</h1>

    <div role="alert" id="cc-page-reader-alert" aria-live="polite" class="cc-visuallyhidden" data-ng-if="creatingSite">
      <span data-ng-bind="actionStatus"></span>
    </div>

    <form class="bc-canvas-page-form bc-canvas-form">
      <div class="row bc-page-create-project-site-form-fields">
        <div class="small-12 medium-3 columns">
          <div class="bc-page-create-project-site-form-area-container">
            <label for="bc-page-create-project-site-name" class="bc-page-create-project-site-form-label">Project Site Name</label>
          </div>
        </div>
        <div class="small-12 medium-4 columns end">
          <div class="bc-page-create-project-site-form-area-container">
            <input type="text" id="bc-page-create-project-site-name" name="projectSiteName" data-ng-model="projectSiteName" data-ng-disabled="creatingSite" placeholder="Enter a name for your site" class="bc-canvas-form-input-text">
          </div>
        </div>
      </div>

      <div class="bc-form-actions">
        <a data-cc-disabled="creatingSite" data-ng-href="{{linkToSiteOverview}}" class="bc-canvas-button">Cancel</a>
        <button data-ng-disabled="disableSubmit()" data-ng-click="createProjectSite()" class="bc-canvas-button bc-canvas-button-primary" aria-controls="cc-page-reader-alert" type="submit">
          <span data-ng-if="!creatingSite">Create a Project Site</span>
          <span data-ng-if="creatingSite"><i class="fa fa-spinner fa-spin"></i> Creating ...</span>
        </button>
      </div>
    </form>
  </div>

  <div data-ng-if="displayError" class="bc-alert-container">
    <div data-ng-include src="'canvas_embedded/_shared/canvas_errors.html'"></div>
  </div>

</div>
