<div class="bc-canvas-application bc-page-create-course-site">
  <div data-ng-if="!feedFetched" data-cc-spinner-directive></div>

  <div data-ng-show="feedFetched && !displayError" data-cc-focus-reset-directive="appfocus" class="bc-accessibility-no-outline">
    <div class="bc-page-create-course-site-admin-options" data-ng-show="is_admin">

      <h1 class="cc-visuallyhidden">Administrator Options</h1>

      <button class="bc-canvas-button bc-canvas-button-small bc-page-create-course-site-admin-mode-switch"
              data-ng-click="toggleAdminMode()" aria-controls="bc-page-create-course-site-admin-section-loader-form">
        <span data-ng-if="adminMode !== 'by_ccn'">Switch to CCN input</span>
        <span data-ng-if="adminMode === 'by_ccn'">Switch to acting as instructor</span>
      </button>

      <div id="bc-page-create-course-site-admin-section-loader-form">
        <div data-ng-if="adminMode !== 'by_ccn'">
          <h2 class="cc-visuallyhidden">Load Sections By Instructor UID</h2>
          <form data-ng-submit="fetchFeed()" class="bc-canvas-page-form bc-page-create-course-site-actas-form">
            <label for="instructor-uid" class="cc-visuallyhidden">Instructor UID</label>
            <input class="cc-left" placeholder="Instructor UID" data-ng-model="$parent.admin_acting_as" type="text"
              role="search" id="instructor-uid" />
            <button class="bc-canvas-button bc-canvas-button-primary" type="submit" aria-label="Load official sections for instructor"
              aria-controls="bc-page-create-course-site-steps-container">As instructor</button>
          </form>
        </div>

        <div data-ng-if="adminMode === 'by_ccn'">
          <h2 class="cc-visuallyhidden">Load Sections By Course Control Numbers (CCN)</h2>
          <form data-ng-submit="$parent.fetchFeed()" class="bc-canvas-page-form">
            <div data-ng-show="admin_semesters && admin_semesters.length > 0">
              <div class="bc-buttonset">
                <span data-ng-repeat="semester in admin_semesters">
                  <input type="radio" id="semester{{$index}}" name="adminSemester" class="cc-visuallyhidden"
                    aria-selected="{{currentAdminSemester==semester.slug}}"
                    data-ng-click="switchAdminSemester(semester)"
                    role="tab">
                  <label for="semester{{$index}}" class="bc-buttonset-button" role="button" aria-disabled="false"
                    data-ng-class="{'bc-buttonset-button-active':(currentAdminSemester==semester.slug),'bc-buttonset-corner-left':($first),'bc-buttonset-corner-right':($last)}" data-ng-bind="semester.name">
                  </label>
                </span>
              </div>

              <label for="bc-page-create-course-site-ccn-list" class="cc-visuallyhidden">Provide CCN List Separated by Commas or Spaces</label>
              <textarea id="bc-page-create-course-site-ccn-list" data-ng-model="$parent.admin_by_ccns"
                placeholder="Paste your list of CCNs here, separated by commas or spaces">
              </textarea>
              <button class="bc-canvas-button bc-canvas-button-primary" type="submit" aria-controls="bc-page-create-course-site-steps-container">Review matching CCNs</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div data-ng-if="showMaintenanceNotice" role="alert">
      <div data-ng-include src="'canvas_embedded/_shared/maintenance_notice.html'"></div>
    </div>

    <h1 class="bc-page-create-course-site-header bc-page-create-course-site-header1">Create a Course Site</h1>

    <div id="bc-page-create-course-site-steps-container" class="bc-page-create-course-site-steps-container">

      <div id="bc-page-create-course-site-selecting-step" data-ng-show="currentWorkflowStep === 'selecting'" data-ng-aria-expanded="{{currentWorkflowStep === 'selecting'}}">
        <div data-cc-spinner-directive></div>
        <div data-ng-if="teachingSemesters && teachingSemesters.length < 1" role="alert">
          <p>You are currently not listed as the instructor of record for any courses, so you cannot create a course site in bCourses.</p>
        </div>

        <div data-ng-if="teachingSemesters && teachingSemesters.length > 0">

          <div class="row collapse">
            <div class="medium-5 columns">
              <div class="bc-buttonset">
                <h2 class="bc-page-create-course-site-header bc-page-create-course-site-header2 bc-accessibility-no-outline" data-cc-focus-reset-directive="selectFocus">Term</h2>
                <span data-ng-repeat="semester in teachingSemesters">
                  <input type="radio" id="semester{{$index}}" name="semester" class="cc-visuallyhidden"
                    aria-selected="{{currentSemester==semester.slug}}"
                    data-ng-click="switchSemester(semester)"
                    role="tab">
                  <label for="semester{{$index}}" class="bc-buttonset-button" aria-disabled="false"
                    data-ng-class="{'bc-buttonset-button-active':(currentSemester==semester.slug),'bc-buttonset-corner-left':($first),'bc-buttonset-corner-right':($last)}" data-ng-bind="semester.name">
                  </label>
                </span>
              </div>
            </div>
          </div>

          <div class="row collapse">
            <div class="medium-12 columns">

              <h2 class="bc-page-create-course-site-header bc-page-create-course-site-header2">Official Sections</h2>
              <p>All official sections you select below will be put in ONE, single course site.</p>

              <div class="bc-page-help-notice bc-page-create-course-site-help-notice">
                <i class="fa fa-question-circle cc-left bc-page-help-notice-icon"></i>
                <div class="bc-page-help-notice-left-margin">
                  <button class="bc-button-link" data-ng-click="toggle.displayHelp = !toggle.displayHelp"
                    aria-haspopup="true"
                    aria-controls="section-selection-help"
                    data-ng-attr-aria-expanded="{{toggle.displayHelp}}">
                    Need help deciding which official sections to select?
                  </button>
                  <div aria-live="polite">
                    <div id="section-selection-help" class="bc-page-help-notice-content" data-ng-if="toggle.displayHelp">
                      <p>If you have a course with multiple sections, you will need to decide whether you want to:</p>
                      <ol class="bc-page-create-course-site-help-notice-ordered-list">
                        <li>Create one, single course site which includes official sections for both your primary and secondary sections, or</li>
                        <li>Create multiple course sites, perhaps with one for each section.</li>
                      </ol>
                      <p class="bc-page-create-course-site-help-notice-paragraph">Read about the pros and cons of each choice in this Help document:
                        <a href="http://ets.berkeley.edu/bcourses/official-sections-to-include">Which official sections should I include in my course site?</a>
                      </p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="row collapse">
            <div class="medium-12 columns">

              <form data-ng-submit="showConfirmation()" class="bc-canvas-page-form">

                <ul class="bc-page-create-course-site-section-margin">
                  <li data-ng-repeat="course in coursesList" class="bc-sections-course-container bc-sections-course-container-bottom-margin">

                    <button type="button" class="bc-button-link bc-page-create-course-site-form-course-button" data-ng-click="course.collapsed = !course.collapsed"
                      data-ng-attr-aria-controls="{{course.course_id}}" aria-label="Toggle course sections list for {{course.course_code}} {{course.title}}"
                      data-ng-attr-aria-expanded="{{!course.collapsed}}">
                      <i class="fa cc-left bc-sections-triangle-icon"
                        data-ng-class="{'fa-caret-right': course.collapsed, 'fa-caret-down': !course.collapsed}"></i>
                      <h3 class="bc-sections-course-title">
                        <span data-ng-bind="course.course_code"></span>
                        <span data-ng-if="course.title" data-ng-bind-template=" : {{course.title}}"></span>
                      </h3>
                      <span data-ng-if="course.sections">
                        &nbsp;(<span data-ng-pluralize count="course.sections.length" when="{'one': '1 section', 'other': '{{course.sections.length}} sections'}"></span>)
                      </span>
                    </button>

                    <div data-ng-attr-id="{{course.course_id}}" class="bc-page-create-course-site-form-collapsible-container" data-ng-if="!course.collapsed" data-ng-attr-aria-expanded="{{!course.collapsed}}" role="region">
                      <div class="bc-page-create-course-site-form-select-all-option" data-ng-show="course.sections.length > 1">
                        Select: <button class="bc-button-link bc-page-create-course-site-form-select-all-option-button" type="button" data-ng-bind="course.selectToggleText" data-ng-click="toggleCourseSectionsWithUpdate(course)" aria-label="Select {{course.selectToggleText}} of the course sections"></button>
                      </div>

                      <div data-bc-sections-table data-list-mode="'createCourseForm'" data-sections-list="course.sections" data-row-display-logic="rowDisplayLogic()" data-update-selected="updateSelected()"></div>
                    </div>

                  </li>
                </ul>

                <div class="bc-form-actions">
                  <button class="bc-canvas-button bc-canvas-button-primary"
                    type="submit" data-ng-disabled="selectedSectionsList.length == 0" aria-controls="bc-page-create-course-site-steps-container"
                    aria-label="Continue to next step" role="button">Next</button>
                  <a data-ng-href="{{linkToSiteOverview}}" class="bc-canvas-button" type="reset" aria-label="Cancel and return to Site Creation Overview">Cancel</a>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>

      <div id="bc-page-create-course-site-confirmation-step" data-ng-show="currentWorkflowStep === 'confirmation'" data-ng-aria-expanded="{{currentWorkflowStep === 'confirmation'}}">

        <div class="row collapse">
          <div class="medium-12 columns">
            <div class="bc-alert bc-alert-info" role="alert">
              <h2 class="cc-visuallyhidden" data-cc-focus-reset-directive="confirmFocus">Confirm Course Site Details</h2>
              <strong>
                You are about to create a {{currentSemesterName}} course site with <span data-ng-bind="selectedSections(coursesList).length"></span>
                <span data-ng-pluralize count="selectedSections(coursesList).length" when="{'1': 'section', 'other': 'sections'}">sections</span>:
              </strong>
              <ul class="bc-page-create-course-site-section-list">
                <li data-ng-repeat="section in selectedSections(coursesList)">
                  <span data-ng-bind="section.courseTitle"></span> - <span data-ng-bind="section.courseCode"></span> <span data-ng-bind="section.section_label"></span> (<span data-ng-bind="section.ccn"></span>)
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-12 columns">

            <form name="createCourseSiteForm" data-ng-submit="createCourseSiteJob()" class="bc-canvas-page-form">
              <div class="row">
                <div class="small-12 medium-6 end">

                  <div class="bc-page-create-course-site-form-fields-container">
                    <div class="row">
                      <div class="medium-offset-1 medium-4 columns">
                        <label for="siteName" class="right">Site Name:</label>
                      </div>
                      <div class="medium-7 columns">
                        <input type="text" name="siteName" id="siteName" data-ng-model="siteName" data-ng-required="true">
                        <div data-ng-if="createCourseSiteForm.siteName.$error.required" class="bc-alert bc-notice-error">
                          <i class="cc-left fa fa-exclamation-circle cc-icon-red bc-canvas-notice-icon"></i>
                          Please fill out a site name.
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="medium-offset-1 medium-4 columns">
                        <label for="siteAbbreviation" class="right">Site Abbreviation:</label>
                      </div>
                      <div class="medium-7 columns">
                        <input type="text" id="siteAbbreviation" data-ng-model="siteAbbreviation">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="medium-12 columns">
                  <div class="bc-form-actions">
                    <button data-ng-disabled="createCourseSiteForm.$invalid" class="bc-canvas-button bc-canvas-button-primary" type="submit"
                      role="button" aria-label="Create Course Site" aria-controls="bc-page-create-course-site-steps-container">Create Course Site</button>
                    <button class="bc-canvas-button" type="button" data-ng-click="showSelecting()">Go Back</button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div id="bc-page-create-course-site-monitor-step" data-ng-show="currentWorkflowStep === 'monitoring_job'" data-ng-aria-expanded="{{currentWorkflowStep === 'monitoring_job'}}">

        <h2 class="cc-visuallyhidden" data-cc-focus-reset-directive="confirmFocus">Course Site Creation</h2>

        <div aria-live="polite">
          <div data-ng-hide="jobStatus" class="bc-page-create-course-site-pending-request">
            <i class="fa fa-spinner fa-spin"></i>
            Sending request...
          </div>

          <div data-ng-if="jobStatus === 'New'" class="bc-page-create-course-site-pending-request">
            <i class="fa fa-spinner fa-spin"></i>
            Course provisioning request sent. Awaiting processing....
          </div>

          <div data-ng-if="jobStatus">
            <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>

            <div data-ng-if="jobStatus === 'Error'">
              <div data-ng-include src="'canvas_embedded/_shared/background_job_error.html'"></div>
              <div class="row bc-page-create-course-site-step-options">
                <div class="medium-12 columns">
                  <div class="bc-form-actions">
                    <button class="bc-canvas-button bc-canvas-button-primary" type="button" data-ng-click="fetchFeed()" type="button" aria-control="bc-page-create-course-site-selecting-step" aria-label="Start over course site creation process">Start Over</button>
                    <button class="cc-button cc-page-button-grey" type="button" data-ng-click="showConfirmation()" type="button" aria-control="bc-page-create-course-site-confirmation-step" aria-label="Go Back to Site Details Confirmation">Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-ng-if="jobStatus === 'Completed'" data-ng-aria-expanded="{{jobStatus === 'Completed'}}">
          <div data-cc-spinner-directive></div>
          <div class="cc-visuallyhidden" role="alert">
            Redirecting to new course site.
          </div>
        </div>
      </div>

    </div>
  </div>

  <div data-ng-if="displayError" class="bc-alert-container">
    <div data-ng-include src="'canvas_embedded/_shared/canvas_errors.html'"></div>
  </div>

</div>
