<div data-ng-controller="CanvasSiteCreationController" class="cc-page-site-creation">
  <div class="cc-page-site-creation-container">

    <h2 class="cc-page-site-creation-header cc-page-site-creation-header2">Create a Site</h2>

    <div class="row">
      <div class="large-12">

        <div class="small-12 medium-3 columns">
          <div class="cc-page-site-creation-feature-icon-container">
            <div class="cc-page-site-creation-feature-icon-box">
              <i class="fa fa-graduation-cap cc-page-site-creation-feature-icon"></i>
            </div>
          </div>
        </div>

        <div class="small-12 medium-5 columns end">
          <div class="cc-page-site-creation-feature-details">
            <h3 class="cc-page-site-creation-header cc-page-site-creation-header3">Course Sites</h3>
            <h5 class="cc-page-site-creation-header cc-page-site-creation-header5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do euismod tempor incididunt ut labore et dolore manga aliqua.
            </h5>
            <a data-ng-href="{{createCourseSiteUrl()}}" class="cc-page-site-creation-feature-button">Create a Course Site</a>
          </div>
        </div>

      </div>
    </div>

    <div class="cc-page-site-creation-features-divider"></div>

    <div class="row">
      <div class="large-12">

        <div class="small-12 medium-3 columns">
          <div class="cc-page-site-creation-feature-icon-container">
            <div class="cc-page-site-creation-feature-icon-box">
              <i class="fa fa-cubes cc-page-site-creation-feature-icon"></i>
            </div>
          </div>
        </div>

        <div class="small-12 medium-5 columns end">
          <div class="cc-page-site-creation-feature-details">
            <h3 class="cc-page-site-creation-header cc-page-site-creation-header3">Project Sites</h3>
            <h5 class="cc-page-site-creation-header cc-page-site-creation-header5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do euismod tempor incididunt ut labore et dolore manga aliqua.
            </h5>
            <a data-ng-href="{{createProjectSiteUrl()}}" class="cc-page-site-creation-feature-button">Create a Project Site</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
