<div data-cc-spinner-directive="process.isLoading">
  <ul class="cc-widget-activities-list">
    <li data-ng-repeat="activity in list | limitTo:activitiesLimit | filter:search" data-ng-class="{'cc-widget-list-selected': activity.show, 'cc-widget-activities-list-undated': activity.isLastUndated}">
      <div class="cc-widget-list-hover"
        data-ng-class="{'cc-widget-list-hover-opened':(activity.show)}"
        data-cc-accessible-focus-directive
        data-ng-click="api.widget.toggleShow($event, list, activity, 'Recent Activity')">
        <div>
          <div class="cc-widget-activities-text-column">
            <i class="fa fa-{{typeToIcon[activity.type]}} cc-left"></i>
            <div class="cc-widget-activities-text-margin">
              <strong>{{activity.title}}</strong>
              <div>
                <span data-ng-bind="activity.source"></span><span data-ng-if="activity.source && activity.date">, </span>
                <span data-ng-if="activity.date">{{activity.date.epoch * 1000 | dateInYearFilter:'MMM d':'MMM d yyyy'}}</span>
              </div>
              <div class="cc-widget-activities-status-line" data-ng-if="activity.status">
                <strong>Status:</strong> <span data-ng-bind="activity.status"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="cc-widget-activities-text-margin" data-ng-show="activity.show && !activity.elements">
          <div class="cc-widget-activities-term-year" data-ng-if="activity.termYear">
            <strong>Academic Year:</strong> <span data-ng-bind="activity.termYear"></span>
          </div>
          <div data-ng-switch="activity.emitter">
            <p data-ng-switch-when="Bear Facts" data-cc-compile-directive="activity.summary" class="cc-widget-activities-summary"></p>
            <p data-ng-switch-default data-ng-bind-html="activity.summary | linky" class="cc-widget-activities-summary"></p>
          </div>
          <a class="cc-widget-activities-info-link" data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Activities', activity.source, activity.sourceUrl)" data-ng-if="activity.sourceUrl" data-ng-href="{{activity.sourceUrl}}">
            More info
            <span class="cc-visuallyhidden">View more info about {{ activity.title }} in {{ activity.source }}</span>
          </a>
          <button class="cc-button" data-ng-if="mode === 'activity' && addTask && api.user.profile.features.activity_to_task && api.user.profile.hasGoogleAccessToken"
                  data-ng-click="addTask(activity)">Make task</button>
        </div>
        <div class="cc-widget-activities-sub-text-margin" data-ng-show="activity.show && activity.elements">
          <ul class="cc-widget-activities-sub-activity-list">
            <li data-ng-repeat="subActivity in activity.elements" class="cc-widget-activities-sub-activity-container">
              <div class="cc-widget-list-hover cc-widget-list-hover-notriangle"
                data-cc-accessible-focus-directive
                data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, activity.elements, subActivity, 'Recent Threaded Activity')">
                <div class="cc-widget-activities-sub-activity" data-ng-class="{'cc-widget-activities-sub-activity-closed': !subActivity.show, 'cc-widget-activities-sub-activity-open': subActivity.show}">
                  {{subActivity.title}}
                </div>
                <div class="cc-widget-activities-sub-activity-more" data-ng-show="subActivity.show">
                  <div class="cc-widget-activities-sub-activity-date-string">
                    at {{subActivity.date.epoch * 1000 | date:'h:mma'}}
                  </div>
                  <p class="cc-widget-activities-sub-activity-summary cc-break-word" data-ng-bind-html="subActivity.summary | linky">
                  </p>
                  <a class="cc-widget-activities-info-link" data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Activities', subActivity.source, subActivity.sourceUrl)" data-ng-href="{{subActivity.sourceUrl}}">
                    More info
                    <span class="cc-visuallyhidden">View more info about {{ subActivity.title }} in {{ subActivity.source }}</span>
                  </a>
                  <button class="cc-button" data-ng-if="mode === 'activity' && addTask && api.user.profile.features.activity_to_task && api.user.profile.hasGoogleAccessToken"
                          data-ng-click="addTask(subActivity)">Make task</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div data-cc-show-more-directive data-cc-show-more-list="list | filter:search" data-cc-show-more-limit="activitiesLimit"></div>
  <div data-ng-show="!list.length" class="cc-widget-text">
    You have no recent activity at this time.
  </div>
</div>
