<div class="cc-popover-container cc-popover-gear">
  <button class="cc-header-icon cc-header-icon-font"
  data-ng-click="api.util.preventBubble($event);api.popover.toggle('cc-popover-menu')"
  data-ng-class="{true:'cc-header-icon-selected'}[api.popover.status('cc-popover-menu')]"
  title="Settings">
    <i class="fa fa-cog"></i>
    <span class="cc-visuallyhidden" data-ng-hide="api.popover.status('cc-popover-menu')">Show</span>
    <span class="cc-visuallyhidden" data-ng-show="api.popover.status('cc-popover-menu')">Hide</span>
    <span class="cc-visuallyhidden">settings menu</span>
  </button>
  <div class="cc-popover cc-dropdown cc-launcher-dropdown-menu" data-ng-show="api.popover.status('cc-popover-menu')">
    <div class="cc-popover-title">
      <h4 data-ng-bind="api.user.profile.fullName"></h4>
    </div>
    <ul class="cc-popover-items">
      <li class="cc-popover-item">
        <button class="cc-button-link cc-popover-link"
          data-ng-click="api.popover.clickThrough('Gear - Settings');api.util.redirect('settings')">Settings
        </button>
      </li>
      <li class="cc-popover-item">
        <button class="cc-button-link cc-popover-link"
          data-ng-click="api.popover.clickThrough('Gear - Logout');api.user.signOut()">Log out
        </button>
      </li>
    </ul>
  </div>
</div>
