<div class="cc-widget cc-widget-last cc-widget-activities" data-ng-controller="ActivityController">
  <div class="cc-widget-title">
    <div class="row collapse">
      <div class="columns" data-ng-class="{true:'small-6',false:'small-12'}[!!activities.length]"><h2>Recent Activity</h2></div>
      <div class="columns small-6" data-ng-show="activities.length">
        <div class="cc-right cc-select">
          <select data-ng-model="search.source" class="cc-ellipsis">
            <option value="">All Activity</option>
            <option value="{{source}}" data-ng-repeat="source in activities.sources">{{source}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div data-cc-spinner-directive>
    <ul class="cc-widget-activities-list">
      <li data-ng-repeat="activity in activities.list | filter:search" data-ng-class="{'cc-widget-list-selected': activity.show, 'cc-widget-activities-list-undated': activity.is_last_undated}">
        <div class="cc-widget-list-hover"
          data-ng-class="{'cc-widget-list-hover-opened':(activity.show)}"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow($event, activities.list, activity, 'Recent Activity')">
          <div>
            <div class="cc-widget-activities-text-column">
              <i class="fa fa-{{activities.typeToIcon[activity.type]}} cc-left"></i>
              <div class="cc-widget-activities-text-margin">
                <strong>{{activity.title}}</strong>
                <div>
                  {{activity.source}}
                  <span data-ng-if="activity.source && activity.date">, </span>
                  <span data-ng-if="activity.date">{{activity.date.epoch * 1000 | cc.dateInYear:'MMM d':'MMM d yyyy'}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cc-widget-activities-text-margin cc-widget-tasks-activities-more" data-ng-show="activity.show && !activity.elements">
            <div data-ng-switch="activity.emitter">
              <p data-ng-switch-when="BearFacts" data-cc-compile-directive="activity.summary" class="cc-widget-activities-summary"></p>
              <p data-ng-switch-default data-ng-bind-html="activity.summary | linky" class="cc-widget-activities-summary"></p>
            </div>
            <a class="cc-button cc-activities-button-margin" data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Activities', activity.source, activity.source_url)" data-ng-if="activity.source_url" data-ng-href="{{activity.source_url}}">
              View in {{activity.emitter}}
              <span class="cc-visuallyhidden">View more info about {{ activity.title }} in {{ activity.source }}</span>
            </a>
            <button class="cc-button" data-ng-if="api.user.profile.features.activity_to_task && api.user.profile.has_google_access_token"
                    data-ng-click="addTask(activity)">Make task</button>
          </div>
          <div class="cc-widget-activities-sub-text-margin cc-widget-tasks-activities-more" data-ng-show="activity.show && activity.elements">
            <ul class="cc-widget-activities-sub-activity-list">
              <li data-ng-repeat="sub_activity in activity.elements" class="cc-widget-activities-sub-activity-container">
                <div class="cc-widget-list-hover cc-widget-list-hover-notriangle"
                  data-cc-accessible-focus-directive
                  data-ng-click="api.util.preventBubble($event);api.widget.toggleShow($event, activity.elements, sub_activity, 'Recent Threaded Activity')">
                  <div class="cc-widget-activities-sub-activity" data-ng-class="{'cc-widget-activities-sub-activity-closed': !sub_activity.show, 'cc-widget-activities-sub-activity-open': sub_activity.show}">
                    {{sub_activity.title}}
                  </div>
                  <div class="cc-widget-activities-sub-activity-more" data-ng-show="sub_activity.show">
                    <div class="cc-widget-activities-sub-activity-date-string">
                      at {{sub_activity.date.epoch * 1000 | date:'h:mma'}}
                    </div>
                    <p class="cc-widget-activities-sub-activity-summary cc-break-word" data-ng-bind-html="sub_activity.summary | linky">
                    </p>
                    <a class="cc-button cc-activities-button-margin" data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Activities', sub_activity.source, sub_activity.source_url)" data-ng-href="{{sub_activity.source_url}}">
                      View in {{sub_activity.emitter}}
                      <span class="cc-visuallyhidden">View more info about {{ sub_activity.title }} in {{ sub_activity.source }}</span>
                    </a>
                    <button class="cc-button"  data-ng-if="api.user.profile.features.activity_to_task && api.user.profile.has_google_access_token"
                            data-ng-click="addTask(sub_activity)">Make task</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div data-ng-show="!activities.length" class="cc-widget-text">
      You have no recent activity at this time.
    </div>
  </div>
</div>
