<div data-ng-controller="BadgesController" class="cc-launcher-icons cc-left">
  <div data-ng-repeat="badge in badges"
    class="cc-popover-container cc-popover-status cc-left">
    <button class="cc-header-icon"
      data-ng-class="{true:'cc-header-icon-selected'}[api.popover.status('cc-{{badge.display.name}}-popover-status')]"
      data-ng-click="api.util.preventBubble($event);api.popover.toggle('cc-{{badge.display.name}}-popover-status')">
      <div class="cc-ir cc-icon cc-icon-24 cc-left {{badge.display.additionalClasses}}"></div>
      <span class="cc-visuallyhidden" data-ng-bind-template="Show your {{badge.display.name}} info"></span>
      <div class="cc-left cc-badge-count" data-ng-bind="badge.count"></div>
    </button>
    <div class="cc-popover cc-popover-arrow cc-badgepopover" data-ng-show="api.popover.status('cc-{{badge.display.name}}-popover-status')">
      <!-- Title -->
      <div class="cc-popover-title" data-ng-switch on="user.profile.has_google_access_token && badge.display.name">
        <h4 data-ng-switch-when="bMail"
        data-ng-bind-template="Recent {{badge.display.name}} Messages"></h4>
        <h4 data-ng-switch-when="bCal"
        data-ng-bind-template="{{badge.display.name}} Updates ({{api.date.now | date:'M/d/yy'}})"></h4>
        <div data-ng-switch-default>
          <h4 data-ng-bind-template="{{badge.display.name}} (Not connected)"
          data-ng-show="!user.profile.has_google_access_token"></h4>
          <h4 data-ng-bind-template="{{badge.display.name}} Updates"
          data-ng-show="user.profile.has_google_access_token"></h4>
        </div>
        <a class="cc-popover-title-link cc-right" data-ng-href="{{badge.display.href}}"><i class="icon-external-link"></i>
          <span class="cc-visuallyhidden" data-ng-bind-template="Go to {{badge.display.name}}"></span>
        </a>
      </div>
      <div class="cc-badgepopover-noitems" data-ng-show="!badge.items.length && user.profile.has_google_access_token">
        No items available for your <a data-ng-href="{{badge.display.href}}" data-ng-bind-template="{{badge.display.name}} account"></a>
      </div>
      <div class="cc-badgepopover-noitems" data-ng-show="!badge.items.length && !user.profile.has_google_access_token">
        To display your bConnected activity, visit the
         <button class="cc-button-link cc-popover-link" data-ng-click="user._redirectToSettingsPage()">settings page</button>
      </div>
      <!-- Item container -->
      <ul class="cc-popover-items">
        <li class="cc-popover-item" data-ng-repeat="item in badge.items">
          <div data-ng-switch on="badge.display.name">
            <div data-ng-switch-when="bMail">
              <a data-ng-href="{{item.link}}" class="cc-badgepopover-item-details">
                <div class="cc-ellipsis cc-badgepopover-item-details-title cc-popover-link" data-ng-bind="item.editor"></div>
                <div class="cc-ellipsis">
                  <span data-ng-bind="item.title"></span>
                </div>
                <div class="cc-ellipsis cc-badgepopover-item-details-summary" data-ng-show="item.summary">
                  <i class="icon-envelope-alt"></i><span data-ng-bind="item.summary"></span>
                </div>
              </a>
            </div>
            <div data-ng-switch-when="bCal">
              <div class="cc-badgepopover-item-calendar-container">
                <a data-ng-href="{{item.link}}" class="cc-badgepopover-item-details">
                  <div class="cc-left cc-badgepopover-item-calendar">
                    <div class="cc-badgepopover-item-calendar-day-of-week" data-ng-bind="item.start_time.display.day_of_week"></div>
                    <div class="cc-badgepopover-item-calendar-day" data-ng-bind="item.start_time.display.day"></div>
                    <div class="cc-badgepopover-item-calendar-month" data-ng-bind="item.start_time.display.month"></div>
                  </div>
                  <div class="cc-badgepopover-item-calendar-details">
                    <div class="cc-badgepopover-item-details-title cc-popover-link cc-ellipsis" data-ng-bind="item.title"></div>
                    <div class="cc-ellipsis">
                      <span class="cc-badgepopover-item-details-all-day" data-ng-show="item.all_day_event">[all-day]</span>
                      <span data-ng-bind-template="{{item.start_time.display.range_start}} - {{item.end_time.display.range_end}}"></span>
                    </div>
                    <div class="cc-ellipsis cc-badgepopover-item-details-summary">
                      <span data-ng-switch on="item.change_state">
                        <span data-ng-switch-when="new" data-ng-bind-template="created by {{item.editor}}"></span>
                        <span data-ng-switch-default data-ng-bind-template="last {{item.change_state}}"></span>
                      </span>
                      <span data-ng-bind-template=" &bull; {{api.date.moment(item.modified_time.epoch * 1000).fromNow()}}"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div data-ng-switch-when="bDrive">
              <a class="cc-badgepopover-item-details cc-badgepopover-item-drive" data-ng-href="{{item.link}}">
                <i class="icon-hdd cc-left icon-muted icon-2x"></i>
                <div class="cc-badgepopover-item-details-title cc-ellipsis">
                  <span class="cc-popover-link" data-ng-bind="item.title"></span>
                </div>
                <div class="cc-badgepopover-item-details-summary cc-ellipsis" data-ng-bind-template="{{item.change_state}} by {{item.editor}} &bull; {{api.date.moment(item.modified_time.epoch * 1000).fromNow()}}"></div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
