<div class="cc-widget cc-widget-classes" data-ng-controller="MyClassesController">
  <div class="cc-widget-title">
    <h2>My Classes <span class="cc-widget-title-sub" data-ng-bind="current_term"></span></h2>
  </div>
  <div data-cc-spinner-directive>
    <div data-ng-show="allClassesPresent" data-ng-repeat="category in allClasses"
         data-ng-class="'cc-widget-classes-{{ category.categoryId }}'">
      <div class="cc-widget-subtitle" data-ng-show="category.length">
        <h3 data-ng-bind="category.categoryTitle"></h3>
      </div>
      <ul class="cc-widget-list">
        <li data-ng-repeat="class in category.data"
            data-ng-class="{'cc-widget-list-selected': class._show && category.categoryId !== 'other'}">
          <div data-ng-switch="category.categoryId">
            <a data-ng-switch-when="other" class="cc-widget-list-link" data-ng-href="{{class.site_url}}"
               data-ng-click="api.analytics.trackExternalLink('My Other Site Memberships', class.emitter, class.site_url)">
              <div class="cc-widget-list-column-left">
                <div class="cc-icon" data-ng-class="'cc-icon-{{ class.emitter|lowercase }}'"></div>
              </div>
              <strong class="cc-ellipsis" data-ng-bind="class.name"></strong>
            </a>
            <div data-ng-switch-default
                 class="cc-widget-list-hover"
                 data-ng-class="{'cc-widget-list-hover-opened':(class._show)}"
                 data-cc-accessible-focus-directive
                 data-ng-click="api.widget.toggleShow($event, category.data, class, 'My Classes')">
              <span class="cc-visuallyhidden" data-ng-bind-template="Show {{class._show ? 'less' : 'more'}} information about {{class.course_code}}"></span>
              <div class="cc-ellipsis">
                <strong data-ng-bind="class.course_code" data-ng-class="{'cc-italic': class.waitlist_position}"></strong>
                <span class="cc-text-light" data-ng-show="class.waitlist_position" data-ng-bind-template="- #{{ class.waitlist_position }} on the wait list"></span>
              </div>
              <div class="cc-ellipsis cc-text-light" data-ng-class="{'cc-italic': class.waitlist_position}" data-ng-show="!!class.name" data-ng-bind="class.name">
              </div>
              <div data-ng-show="class._show">
                <ul class="cc-widget-sublist">
                  <li data-ng-repeat="subclass in class.subclasses">
                    <div class="cc-icon" data-ng-class="{'bSpace':'cc-icon-bspace', 'bCourses':'cc-icon-bcourses'}[subclass.emitter]">
                    </div>
                    <strong><a class="cc-ellipsis" data-ng-bind="subclass.name" data-ng-href="{{subclass.site_url}}"></a></strong>
                  </li>
                </ul>
                <a class="cc-widget-sublist-extra"
                   data-ng-show="class.site_url"
                   data-ng-click="api.analytics.trackExternalLink('My Classes', class.emitter, class.site_url)"
                   data-ng-href="{{class.site_url}}">
                  <strong>Class details</strong>
                </a>
                <div data-ng-show="!class.site_url">
                  Class details unavailable
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div data-ng-show="!allClassesPresent" class="cc-widget-text">
      There are currently no classes available.
    </div>
  </div>
</div>
