<div data-ng-controller="MyClassesController">
  <div class="cc-widget-title">
    <h2>My Classes <span class="cc-widget-title-sub cc-right"><%= Settings.sakai_proxy.current_terms.first %></span></h2>
  </div>
  <div class="cc-widget-myclasses-container" data-cc-spinner-directive>
    <div class="cc-widget-mygroups-myclasses-list">
      <ul class="cc-widget-list">
        <li data-ng-repeat="class in classes" data-ng-show="class.emitter!='Campus'">
          <a data-ng-click="api.analytics.trackExternalLink('My Classes', class.emitter, class.site_url)"
            data-ng-href="{{class.site_url}}">
            <div class="cc-widget-list-column-left">
              <div
                class="cc-icon"
                data-ng-class="{true:'cc-icon-canvas',false:'cc-icon-bspace'}[class.emitter=='Canvas']">
              </div>
            </div>
            <strong class="cc-ellipsis" data-ng-bind="class.course_code"></strong>
            <div class="cc-ellipsis cc-widget-list-light" data-ng-show="!!class.name" data-ng-bind="class.name"></div>
          </a>
        </li>
      </ul>
    </div>
    <div data-ng-show="!classes.length" class="cc-widget-text">
      There are currently no classes available.
    </div>
  </div>
</div>
