<div class="cc-widget" data-ng-controller="MyGroupsController">
  <div class="cc-widget-title">
    <h2>My Groups</h2>
  </div>
  <div class="cc-widget-mygroups-container" data-cc-spinner-directive>
    <ul class="cc-widget-list">
      <li data-ng-repeat="group in groups">
        <a data-ng-href="{{group.site_url}}"
           data-ng-click="api.analytics.trackExternalLink('My Groups', group.emitter, group.site_url)">
          <div class="cc-widget-list-column-left">
            <div
            class="cc-icon"
            data-ng-class="'cc-icon-{{group.emitter|lowercase}}'">
            </div>
          </div>
          <strong class="cc-ellipsis" data-ng-bind="group.name"></strong>
        </a>
      </li>
    </ul>
    <div data-ng-if="api.user.profile.features.research && research.length">
      <div class ="cc-widget-subtitle">
        <h3>Research Hub Groups</h3>
      </div>
      <ul class="cc-widget-list">
        <li data-ng-repeat="group in research">
          <a data-ng-href="https://hub-qa.berkeley.edu/page/site/{{group.shortName}}/dashboard">
            <div class="cc-widget-list-column-left">
              <div
              class="cc-icon"
              data-ng-class="'cc-icon-researchhub'">
              </div>
            </div>
            <strong class="cc-ellipsis" data-ng-bind="group.title"></strong>
          </a>
        </li>
      </ul>
    </div>
    <div data-ng-show="!groups.length" class="cc-widget-text">
      There are currently no groups available.
    </div>
  </div>
</div>
