<div class="cc-widget-activities" data-ng-controller="NotificationsController">

  <div class="cc-widget-title">
    <h2>Notifications</h2>
  </div>

  <ul class="cc-widget-tasks-activities-list">
    <li data-ng-repeat="notification in notifications" data-ng-class="{'cc-widget-list-selected': activity.show}">
      <div class="row cc-widget-list-hover" data-ng-click="api.widget.toggleShow(notification, 'Notifications')">

        <div class="large-10 small-8 columns cc-widget-activities-text-column">
          <div
            class="cc-emitter-square cc-left cc-emitter-{{notification.color_class}}"
            title="{{notification.emitter}} notification">
          </div>
          <div class="cc-widget-activities-text-margin cc-widget-list-hover-title">
            {{notification.title}}
            <div class="cc-widget-activity-source">{{notification.source}}</div>
          </div>
        </div>

        <div class="large-2 small-4 columns cc-widget-tasks-activities-date-string">
          {{notification.date.date_string}}
        </div>

      <div class="row cc-widget-activities-text-margin cc-widget-tasks-activities-more" data-ng-show="notification.show">
        <p>
          {{notification.summary}}
        </p>
        <p>
          <a
            class="cc-widget-more-view-in"
            data-ng-click="api.analytics.trackExternalLink('Notifications', notification.source, notification.source_url)"
            data-ng-href="{{notification.source_url}}">
            View in {{notification.source}}
          </a>
        </p>
      </div>
    </li>
  </ul>

  <div data-ng-show="!notifications.length" class="cc-widget-text">
    There are no recent notifications to show.
  </div>
</div>
