<div class="cc-widget-notifications" data-ng-controller="NotificationsController">
  <div class="cc-widget-title">
    <h2>Notifications</h2>
  </div>

  <ul class="cc-widget-tasks-notifications-list">
    <li data-ng-repeat="notification in notifications" data-ng-class="{'cc-widget-list-selected': notification.show}">
      <div class="row cc-widget-list-hover" data-ng-click="api.widget.toggleShow(notification, 'Notifications')">

        <div class="ten mobile-three columns cc-widget-notifications-text-column">
          <div
            class="cc-emitter-square cc-left cc-emitter-{{notification.color_class}}"
            title="{{notification.emitter}} notification">
          </div>
          <div class="cc-widget-notifications-text-margin cc-widget-list-hover-title">
            {{notification.title}}
            <div class="cc-widget-notification-source">{{notification.source}}</div>
          </div>
        </div>

        <div class="two mobile-one columns cc-widget-tasks-notifications-date-string">
          {{notification.date.date_string}}
        </div>

      <div class="row cc-widget-notifications-text-margin cc-widget-tasks-notifications-more" data-ng-show="notification.show">
        <p>
          {{notification.summary}}
        </p>
        <p>
          <a
            class="cc-widget-more-view-in"
            data-ng-click="api.util.trackExternalLink('Notifications', notification.source, notification.source_url)"
            data-ng-href="{{notification.source_url}}">
            View in {{notification.source}}
          </a>
        </p>
      </div>
    </li>
  </ul>

  <div data-ng-show="!notifications.length" class="cc-widget-text">
    You have no notifications at this time.
  </div>
</div>
