<div class="cc-widget-tasks" data-ng-controller="TasksController">
  <div data-ng-controller="TaskAdderController">
    <div class="cc-widget-title cc-widget-title-transparent">
      <h2 class="cc-left">Assignments and Tasks</h2>
      <button
          class="cc-button cc-right"
          data-ng-class="{'cc-button-selected':(show_add_task)}"
          data-ng-show="user.profile.has_google_access_token"
          data-ng-click="toggleAddTask()">
        <i class="icon-plus cc-button-plus-icon"></i>
        <span>New Task</span>
      </button>
    </div>
    <div class="cc-widget-body">
      <div data-ng-include src="'templates/dashboard_task_editor.html'"></div>
    </div>
  </div>
  <div class="cc-tasks-list" data-cc-spinner-directive>
    <div data-ng-switch data-on="tasks_mode">

      <div class="row collapse">
        <div class="large-10 large-centered columns">
          <ul class="cc-button-group cc-even-3">
            <li>
              <button class="cc-button"
                data-ng-click="switchTasksMode('scheduled')"
                data-ng-class="{'cc-button-selected':(tasks_mode=='scheduled')}">Scheduled
              </button>
            </li>
            <li>
              <button class="cc-button"
                data-ng-click="switchTasksMode('unscheduled')"
                data-ng-class="{'cc-button-selected':(tasks_mode=='unscheduled')}">Unscheduled
              </button>
            </li>
            <li>
              <button class="cc-button"
                data-ng-click="switchTasksMode('completed')"
                data-ng-class="{'cc-button-selected':(tasks_mode=='completed')}">Completed
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div data-ng-switch-when="scheduled">
        <div data-ng-init="overdueTasks = (tasks | orderBy:'due_date.epoch' | filter:filterOverdue)">
          <h3 class="cc-widget-tasks-section-label"><span class="cc-widget-tasks-section-label-red">Overdue</span> <span class="cc-widget-tasks-section-label-count cc-widget-tasks-section-label-count-red" data-ng-bind="overdueTasks.length"></span> <span class="cc-right">Due</span></h3>
          <ul class="cc-widget-tasks-list cc-widget-tasks-list-red">
            <li
              data-ng-repeat="task in overdueTasks"
              data-ng-class="{'cc-widget-list-selected': task._show}">
              <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
            </li>
          </ul>
          <p data-ng-show="!overdueTasks.length" class="cc-widget-text">
            There are currently no {{tasks_mode}} tasks/assignments that are overdue.
          </p>
        </div>

        <div data-ng-init="dueTodayTasks = (tasks | orderBy:'due_date.epoch' | filter:filterDueToday)">
          <h3 class="cc-widget-tasks-section-label">Due Today <span class="cc-widget-tasks-section-label-count cc-widget-tasks-section-label-count-green" data-ng-bind="dueTodayTasks.length"></span></h3>
          <ul class="cc-widget-tasks-list cc-widget-tasks-list-green">
            <li
              data-ng-repeat="task in dueTodayTasks"
              data-ng-class="{'cc-widget-list-selected': task._show}">
                <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
            </li>
          </ul>
          <p data-ng-show="!dueTodayTasks.length" class="cc-widget-text">
            There are currently no {{tasks_mode}} tasks/assignments that are due today.
          </p>
        </div>

        <div data-ng-init="dueThisWeekTasks = (tasks | orderBy:'due_date.epoch' | filter:filterDueThisWeek)">
          <h3 class="cc-widget-tasks-section-label">Due This Week <span class="cc-widget-tasks-section-label-count" data-ng-bind="dueThisWeekTasks.length"></span></h3>
          <ul class="cc-widget-tasks-list">
            <li
              data-ng-repeat="task in dueThisWeekTasks"
              data-ng-class="{'cc-widget-list-selected': task._show}">
              <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
            </li>
          </ul>
          <p data-ng-show="!dueThisWeekTasks.length" class="cc-widget-text">
            There are currently no {{tasks_mode}} tasks/assignments that are due this week.
          </p>
        </div>

        <div data-ng-init="dueNextWeekTasks = (tasks | orderBy:'due_date.epoch' | filter:filterDueNextWeek)">
          <h3 class="cc-widget-tasks-section-label">Due Next Week <span class="cc-widget-tasks-section-label-count" data-ng-bind="dueNextWeekTasks.length"></span></h3>
          <ul class="cc-widget-tasks-list">
            <li
              data-ng-repeat="task in dueNextWeekTasks"
              data-ng-class="{'cc-widget-list-selected': task._show}">
              <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
            </li>
          </ul>
          <p data-ng-show="!dueNextWeekTasks.length" class="cc-widget-text">
            There are currently no {{tasks_mode}} tasks/assignments that are due next week.
          </p>
        </div>
      </div>

      <div data-ng-switch-when="unscheduled" data-ng-init="unscheduledTasks = (tasks | orderBy:'updated' | filter:filterUnScheduled)">
        <h3 class="cc-widget-tasks-section-label">Unscheduled <span class="cc-widget-tasks-section-label-count" data-ng-bind="unscheduledTasks.length"></span> </h3>
        <ul class="cc-widget-tasks-list">
          <li
            data-ng-repeat="task in unscheduledTasks"
            data-ng-class="{'cc-widget-list-selected': task._show}">
            <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
          </li>
        </ul>
        <p data-ng-show="!unscheduledTasks.length" class="cc-widget-text">
          There are currently no {{tasks_mode}} tasks/assignments that are unscheduled.
        </p>
      </div>

      <div data-ng-switch-when="completed" data-ng-init="completedTasks = (tasks | orderBy:'completed_date.epoch':true | filter:{status:'completed'})">
        <h3 class="cc-widget-tasks-section-label">Total <span class="cc-widget-tasks-section-label-count" data-ng-bind="completedTasks.length"></span> <span class="cc-right">Completed</span></h3>

        <ul class="cc-widget-tasks-list">
          <li
            data-ng-repeat="task in completedTasks"
            data-ng-class="{'cc-widget-list-selected': task._show}">
            <div data-ng-include src="'templates/dashboard_task_loop.html'"></div>
          </li>
        </ul>
        <p data-ng-show="!completedTasks.length" class="cc-widget-text">
          There are currently no completed tasks/assignments.
        </p>
        <div class="cc-widget-tasks-clear-completed" data-ng-show="completedTasks.length">
          <button class="cc-button" data-ng-click="clearCompletedTasks()">Delete completed tasks</button>
        </div>
      </div>
    </div>
  </div>
</div>
