<div class="cc-widget-mycalendar" data-ng-controller="UpNextController">
  <div class="cc-widget-title">
    <h2>
      <span data-ng-bind="api.date.now | date:'EEEE'"></span>
      <span data-ng-bind="api.date.now | date:'MMM d'" class="cc-widget-title-sub"></span>
    </h2>
  </div>
  <div class="cc-widget-mycalendar-container" data-cc-spinner-directive>
    <ul class="cc-widget-list cc-widget-mycalendar-datelist">
      <!-- First loop: timestamped items -->
      <li data-ng-repeat="item in items" data-ng-class="{'cc-widget-list-selected': item._show}">
        <div
          class="cc-widget-list-hover"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow(items, item, 'Up Next')">
          <div class="cc-widget-list-column-left cc-widget-mycalendar-datelist-time">
            <div data-ng-switch data-on="item.is_all_day">
              <div data-ng-switch-when="true" class="cc-widget-mycalendar-datelist-time-allday cc-widget-list-light">all<br />day</div>
              <div data-ng-switch-when="false">
                <div class="cc-widget-mycalendar-datelist-time cc-left">
                  <strong data-ng-bind="item.start.epoch * 1000 | date:'h:mm'"></strong><br>
                  <span class="cc-widget-list-light" data-ng-bind="item.start.epoch * 1000 | date:'a' | uppercase"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="cc-widget-mycalendar-datelist-summary">
            <strong class="cc-ellipsis" data-ng-bind="item.summary"></strong>
            <div class="cc-ellipsis cc-widget-mycalendar-datelist-location cc-widget-list-light" data-ng-bind="item.location" data-ng-show="item.location"></div>
          </div>
          <div class="cc-widget-mycalendar-more" data-ng-show="item._show">
            <div class="cc-widget-mycalendar-startend">
              <div data-ng-switch data-on="item.is_all_day">
                <div data-ng-switch-when="true"><p data-ng-bind="item.start.epoch * 1000 | date:'EEE, MMMM d'"></p></div>
                <div data-ng-switch-when="false">
                  <div class="cc-widget-mycalendar-header small-3 columns">Start:</div>
                  <div class="small-9 columns" data-ng-bind="item.start.epoch * 1000 | date:'short' | lowercase"></div>
                  <div class="cc-widget-mycalendar-header small-3 columns">End:</div>
                  <div class="small-9 columns" data-ng-bind="item.end.epoch * 1000 | date:'short' | lowercase"></div>
                </div>
              </div>
            </div>
            <span class="cc-widget-mycalendar-header">Organizer:</span>
            <p class="cc-widget-mycalendar-indent" data-ng-bind="item.organizer"></p>
            <span data-ng-show="item.attendees" class="cc-widget-mycalendar-header">Invitees:</span>
            <ul class="cc-widget-mycalendar-list-attendees cc-widget-mycalendar-indent">
              <li data-ng-repeat="attendee in item.attendees" class="cc-ellipsis" data-ng-bind="attendee"></li>
            </ul>
            <p class="cc-widget-mycalendar-indent">
              <a class="cc-button" data-ng-href="{{item.html_link}}" data-ng-click="api.util.preventBubble($event);api.analytics.trackExternalLink('Up Next', 'bCal', item.html_link)">View in bCal</a>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div data-ng-show="!items.length" class="cc-widget-text">
      You have no events scheduled for the rest of the day.
    </div>
  </div>
</div>
