{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://sakai-dev.berkeley.edu/sakai-hybrid/sites?categorized=true",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "x-sakai-token": [

          ],
          "Authorization": [
            ""
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"principal\":\"300939\",\"display\":4,\"categories\":[{\"category\":\"All sites\",\"sites\":[{\"title\":\"My Workspace\",\"id\":\"~11586ee9-00cd-485a-84e8-f99d252a7843\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/~11586ee9-00cd-485a-84e8-f99d252a7843\",\"description\":\"<p>MyWorkspace Site<\\/p>\"},{\"title\":\"AFRICAM R1A LEC 001 Fa09\",\"id\":\"58875fd1-6bf3-4658-8aee-a8330e01421e\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/58875fd1-6bf3-4658-8aee-a8330e01421e\"},{\"title\":\"Digital Library Project\",\"id\":\"29d475ae-a1c1-493f-b721-fcfeebdb038d\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/29d475ae-a1c1-493f-b721-fcfeebdb038d\"},{\"title\":\"HISTORY 7A LEC 001 Fa09\",\"id\":\"163664d0-d0dd-40ba-80fb-ba95a3e10555\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/163664d0-d0dd-40ba-80fb-ba95a3e10555\",\"description\":\"<br/>\"},{\"title\":\"MATH 53\",\"id\":\"697e4e1c-da87-4524-a299-ec37c970f8fb\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/697e4e1c-da87-4524-a299-ec37c970f8fb\",\"shortDescription\":\"Multivariable Calculus\"},{\"title\":\"PHYSICS 7B\",\"id\":\"cddb1acd-3e57-4f6a-9e66-a27a9a59b55f\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/cddb1acd-3e57-4f6a-9e66-a27a9a59b55f\",\"description\":\"<p>\\r\\n\\t<br/>\\r\\n\\tgood grief!<\\/p>\",\"shortDescription\":\"Physics for Scientists and Engineers\"}]},{\"category\":\"Fall 2012\",\"sites\":[{\"title\":\"MATH 53\",\"id\":\"697e4e1c-da87-4524-a299-ec37c970f8fb\",\"url\":\"https://sakai-dev.berkeley.edu/portal/site/697e4e1c-da87-[...]
    {
      "request": {
        "method": "get",
        "uri": "https://sakai-dev.berkeley.edu/sakai-hybrid/sites?unread=true",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "x-sakai-token": null,
          "Authorization": ""
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json;ch[...]
