{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/organizations?apikey=berkeley-01&time=1362433230668&random=571f878e-2829-4b25-9617-453a731fd4a5&hash=f7f7ba5e7893bcf623c2ebe20329f76dbb2b027ffbf326e849dc234376eb0ab7&organizationId=46085",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "{\r\n  \"pageNumber\": 1,\r\n  \"pageSize\": 100,\r\n  \"totalItems\": 1,\r\n  \"totalPages\": 1,\r\n  \"items\": [\r\n    {\r\n      \"organizationId\": 46085,\r\n      \"name\": \"Theater Rice\",\r\n      \"status\": \"Active\",\r\n      \"shortName\": \"TR\",\r\n      \"summary\": \"Theatre Rice, the first modern Asian American theater group at the University of California, Berkeley, was started in the fall of 1998. Since its conception, Theatre Rice has grown considerably, both artistically and physically. In the past several \",\r\n      \"description\": \"<p>Theatre Rice, the first modern Asian American theater group at the University of California, Berkeley, was started in the fall of 1998. Since its conception, Theatre Rice has grown considerably, both artistically and physically. In the past several years, the group has begun to attract an increasingly larger audience and a greater membership. Theatre Rice has emerged from a relatively unknown group to a group whose performances have become an anticipated community event.</p>\\r\\n<p>&nbsp;[...]
