{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/memberships?username=300846&apikey=berkeley-01&time=1361317854404&random=5afdb717-770c-47fa-a615-b3d2a8fbef3a&hash=a4e33f2250fbac7ee02623cb54aaca48072851079ec8c7ccc1fa70a2b3258ae9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "{\r\n  \"pageNumber\": 1,\r\n  \"pageSize\": 100,\r\n  \"totalItems\": 9,\r\n  \"totalPages\": 1,\r\n  \"items\": [\r\n    {\r\n      \"membershipId\": 1115708,\r\n      \"organizationId\": 46059,\r\n      \"organizationName\": \"AAVPG - Academic Opportunity Fund\",\r\n      \"organizationShortName\": \"AOF\",\r\n      \"positionTemplateId\": 1887,\r\n      \"positionTemplateName\": \"Member\",\r\n      \"positionTypeId\": 1160,\r\n      \"positionTypeName\": \"Member / Participant\",\r\n      \"positionId\": 463904,\r\n      \"positionName\": \"Member\",\r\n      \"userId\": 649850,\r\n      \"username\": \"300846\",\r\n      \"userFirstName\": \"Stu\",\r\n      \"userLastName\": \"TestB\",\r\n      \"userCampusEmail\": \"test-300846@berkeley.edu\",\r\n      \"positionRecordedStartDate\": 1296104400000,\r\n      \"positionRecordedEndDate\": 1346644800000,\r\n      \"positionReportedStartDate\": 1296104400000,\r\n      \"positionReportedEndDate\": null,\r\n      \"reflection\": \"\",\r\n      \"userShownOnCampusRoster\": \"False\",\r\n      \"userShownOnPublicRoster\": \"False\"\r\n    },\r\n    {\r\n      \"membershipId\": 1116412,\r\n      \"organizationId\": 46063,\r\n      \"organizationName\": \"AAVPG - Intellectual Community Fund\",\r\n      \"organizationShortName\": \"ICF\",\r\n      \"positionTemplateId\": 1889,\r\n      \"positionTemplateName\": \"Organization Created\",\r\n      \"positionTypeId\": 1160,\r\n      \"positionTypeName\": \"Member / Participant\",\r\n      \"positionId\": 470236,\r\n      \"positionName\": \"Financial Requestor - 1st S[...]
