{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/memberships?username=300846&apikey=berkeley-01&time=1361317854404&random=5afdb717-770c-47fa-a615-b3d2a8fbef3a&hash=a4e33f2250fbac7ee02623cb54aaca48072851079ec8c7ccc1fa70a2b3258ae9",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "pageNumber": 1,
            "pageSize": 100,
            "totalItems": 9,
            "totalPages": 1,
            "items": [
              {
                "membershipId": 1115708,
                "organizationId": 46059,
                "organizationName": "AAVPG - Academic Opportunity Fund",
                "organizationShortName": "AOF",
                "positionTemplateId": 1887,
                "positionTemplateName": "Member",
                "positionTypeId": 1160,
                "positionTypeName": "Member / Participant",
                "positionId": 463904,
                "positionName": "Member",
                "userId": 649850,
                "username": "300846",
                "userFirstName": "Stu",
                "userLastName": "TestB",
                "userCampusEmail": "test-300846@berkeley.edu",
                "positionRecordedStartDate": 1296104400000,
                "positionRecordedEndDate": 1346644800000,
                "positionReportedStartDate": 1296104400000,
                "positionReportedEndDate": null,
                "reflection": "",
                "userShownOnCampusRoster": "False",
                "userShownOnPublicRoster": "False"
              },
              {
                "membershipId": 1116412,
                "organizationId": 46063,
                "organizationName": "AAVPG - Intellectual Community Fund",
                "organizationShortName": "ICF",
                "positionTemplateId": 1889,
                "positionTemplateName": "Organization Created",
                "positionTypeId": 1160,
                "positionTypeName": "Member / Participant",
                "positionId": 470236,
       [...]
