{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/organizations?apikey=berkeley-01&time=1361317854404&random=5afdb717-770c-47fa-a615-b3d2a8fbef3a&hash=a4e33f2250fbac7ee02623cb54aaca48072851079ec8c7ccc1fa70a2b3258ae9&organizationId=69703",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "s": [
            "buf-web-v18"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "pageNumber": 1,
            "pageSize": 100,
            "totalItems": 1,
            "totalPages": 1,
            "items": [
              {
                "organizationId": 69703,
                "name": "*LEAD Center*",
                "status": "Active",
                "shortName": "LEAD",
                "summary": "The LEAD Center is a new one-stop-shop for UC Berkeley students looking to find leadership training, get involved with organizations, or receive advising for student groups.",
                "description": "",
                "addressStreet1": "",
                "addressStreet2": "",
                "addressCity": "",
                "addressStateProvince": "",
                "addressZipPostal": "",
                "phoneNumber": "",
                "extension": "",
                "faxNumber": "",
                "email": "foo@stanford.edu",
                "externalWebsite": "http://calcentral.berkeley.edu",
                "facebookUrl": "https://www.facebook.com/calcentral",
                "twitterUrl": "",
                "flickrFeedUrl": "",
                "youtubeChannelUrl": "",
                "googleCalendarUrl": "",
                "profileImageUrl": "callink.berkeley.edu/images/W170xL170/0/noshadow/Profile/12345.jpg",
                "profileUrl": "callink.berkeley.edu/organization/CalCentral",
                "directoryVisibility": "Visible",
                "membershipType": "Closed",
                "typeId": 2823,
                "typeName": "Campus Departments",
                "parentId": 45852,
                "parentName": "Associated Students of the University of California",
                "primaryContactId": 2015295,
                "primaryContactName": "Oski Bear",
                "primaryContactCampusEmail": "oski.bear@berkeley.edu",
                "categories": [
                  {
                    "categoryId": 5101,
                    "categoryName": "Campus Departments"
                  }
                ],
                "customFields": [

                ]
              }
            ]
          }
        },
      },
      "recorded_at": "Fri, 06 Sep 2013 15:25:07 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/organizations?apikey=berkeley-01&time=1361317854404&random=5afdb717-770c-47fa-a615-b3d2a8fbef3a&hash=a4e33f2250fbac7ee02623cb54aaca48072851079ec8c7ccc1fa70a2b3258ae9&organizationId=45953",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "pageNumber": 1,
            "pageSize": 100,
            "totalItems": 1,
            "totalPages": 1,
            "items": [
              {
                "organizationId": 45953,
                "name": "For Christ's Sake",
                "status": "Active",
                "shortName": "FCS",
                "summary": "For Christ's Sake is a Christian a Capella group that seeks to glorify God and share the gospel of Jesus Christ through song.",
                "description": "<div class=\"mhl\">&nbsp;</div>\r\n<div class=\"mhl\">\r\n<div id=\"id_520ff26ac5f532540216577\" class=\"text_exposed_root\">As Cal's Christian a cappella group, we have come together across campus fellowships and churches to proclaim the good news of the Gospel through song to our campus and community. Our hope is that through music we can better understand and share with others the knowledge that every good thing in us is for the sake of Christ, as expressed in Philemon 1:6.<br /><br /></div>\r\n<div class=\"text_exposed_root\"><span>We were founded by a group of Cal students</span><span>&nbsp;in 2000. This spring, we celebrate 13 years of God's faithfulness to this group, and our prayer is that you might also be blessed by the joy we experience through Him.&nbsp;<br /><br />FCS has had the privilege of producing 3 studio albums: Nothing Compares (2004), Voicemail (2009), and Send Some Rain (2013). To listen to and purchase our most recent album, visit&nbsp;http://fcsberkeley.bandcamp.com/<br /><br />Interested in gigs, purc[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://callink.berkeley.edu/api/organizations?apikey=berkeley-01&time=1361317854404&random=5afdb717-770c-47fa-a615-b3d2a8fbef3a&hash=a4e33f2250fbac7ee02623cb54aaca48072851079ec8c7ccc1fa70a2b3258ae9&organizationId=46376",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "s": [
            "buf-web-v19"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "base64_string": "ew0KICAicGFnZU51bWJlciI6IDEsDQogICJwYWdlU2l6ZSI6IDEwMCwNCiAg\nInRvdGFsSXRlbXMiOiAxLA0KICAidG90YWxQYWdlcyI6IDEsDQogICJpdGVt\ncyI6IFsNCiAgICB7DQogICAgICAib3JnYW5pemF0aW9uSWQiOiA0NjM3NiwN\nCiAgICAgICJuYW1lIjogIlN1cmZpbmcgQ2x1YiBhdCBCZXJrZWxleSIsDQog\nICAgICAic3RhdHVzIjogIkFjdGl2ZSIsDQogICAgICAic2hvcnROYW1lIjog\nIlNDIiwNCiAgICAgICJzdW1tYXJ5IjogIlRvIHVuaXRlIEJlcmtlbGV577+9\ncyBzdXJmaW5nIGNvbW11bml0eSB0aHJvdWdoIGNvb3BlcmF0aXZlIHRyaXBz\nIGFuZCBldmVudHMsIHByb3ZpZGluZyBhIGZ1biBhbmQgc29jaWFsIGVudmly\nb2[...]
[...]
