{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/767330/external_tools",
        "body": {
          "encoding": "US-ASCII",
          "string": "config_type=by_xml&config_xml=%3C%3Fxml+version%3D%221.0%22+encoding%3D%22UTF-8%22%3F%3E%0A%3Ccartridge_basiclti_link+xmlns%3D%22http%3A%2F%2Fwww.imsglobal.org%2Fxsd%2Fimslticc_v1p0%22%0A++++xmlns%3Ablti+%3D+%22http%3A%2F%2Fwww.imsglobal.org%2Fxsd%2Fimsbasiclti_v1p0%22%0A++++xmlns%3Alticm+%3D%22http%3A%2F%2Fwww.imsglobal.org%2Fxsd%2Fimslticm_v1p0%22%0A++++xmlns%3Alticp+%3D%22http%3A%2F%2Fwww.imsglobal.org%2Fxsd%2Fimslticp_v1p0%22%0A++++xmlns%3Axsi+%3D+%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSch[...]
