{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/sis_imports.json?batch_mode=1&batch_mode_term_id=sis_term_id:2012-D&import_type=instructure_csv",
        "body": {
          "encoding": "US-ASCII",
          "string": "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"attachment\"; filename=\"dev-2012-D-enrollments-export.csv\"\r\nContent-Length: 1060\r\nContent-Type: text/comma-separated-values\r\nContent-Transfer-Encoding: binary\r\n\r\ncourse_id,user_id,role,section_id,status,associated_user_id\n2012-D-PSYCH-101,211159,teacher,2012-D-74005,active,\n\r\n-------------RubyMultipartPost--\r\n\r\n"
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "multipart/form-data;boundary=-----------RubyMultipartPost"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "\"3dce72522c43d321ebdcc77134cd6f4f\""
          ],
          "Status": [
            "200 OK"
          ],
          "X-Canvas-User-Id": [
            "10000003075918"
          ],
          "X-Request-Context-Id": [
            "f3f14770-b451-0130-0233-02f885576c21"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "created_at": "2013-06-10T16:18:16-07:00",
            "ended_at": null,
            "updated_at": "2013-06-10T16:18:16-07:00",
            "progress": 0,
            "id": 5842632,
            "workflow_state": "created",
            "data": {
              "import_type": "instructure_csv"
            }
          }
        },
      },
      "recorded_at": "Mon, 10 Jun 2013 23:18:15 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}