{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/1234001/assignments?per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"00b0d80f94c21a8601709930d3ffdb61\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/courses/1234001/assignments?page=1&per_page=100>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1234001/assignments?page=1&per_page=100>; rel=\"first\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1234001/assignments?page=1&per_page=100>; rel=\"last\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=19;c=cluster19;z=us-east-1b;b=937720;m=937784;u=0.46;y=0.02;d=0.24;"
          ],
          "x-canvas-user-id": [
            "190000004868640"
          ],
          "x-request-context-id": [
            "f4ca5ba0-c224-0132-3d5b-02f88540aa71"
          ],
          "x-session-id": [
            "63f9021140adecd4511a6e297a186a1f"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "anonymous_peer_reviews": false,
              "assignment_group_id": 1753521,
              "automatic_peer_reviews": false,
              "created_at": "2015-04-11T02:34:15Z",
              "description": "<p>Assignment 1 description</p>",
              "due_at": "2015-05-12T19:40:00Z",
              "grade_group_students_individually": false,
              "grading_standard_id": null,
              "grading_type": "points",
              "group_category_id": null,
              "id": 6175848,
              "lock_at": null,
              "peer_reviews": false,
              "points_possible": 100,
              "position": 1,
              "post_to_sis": null,
              "unlock_at": null,
              "updated_at": "2015-04-11T02:35:36Z",
              "course_id": 1234001,
              "name": "Assignment 1",
              "submission_types": [
                "online_url"
              ],
              "has_submitted_submissions": false,
              "muted": false,
              "html_url": "https://ucberkeley.beta.instructure.com/courses/1234001/assignments/6175848",
              "has_overrides": false,
              "needs_grading_count": 0,
              "integration_id": null,
              "integration_data": {

              },
              "published": true,
              "unpublishable": true,
              "locked_for_user": false
            },
            {
              "anonymous_peer_reviews": false,
              "assignment_group_id": 1753521,
              "automatic_peer_reviews": false,
              "created_at": "2015-04-11T02:35:20Z",
              "description": "<p>Assignment 2 description</p>",
              "due_at": null,
              "grade_group_students_individually": false,
              "grading_standard_id": null,
              "grading_type": "points",
              "group_category_id": null,
              "id": 6175849,
              "lock_at": null,
              "peer_reviews": false,
              "points_possible": 50,
              "position": 2,
              "post_to_sis": null,
              "unlock_at": null,
              "updated_at": "2015-04-11T02:44:19Z",
              "course_id": 1234001,
              "name": "Assignment 2",
              "submission_types": [
                "online_url"
              ],
              "has_submitted_submissions": false,
              "muted": true,
              "html_url": "https://ucberkeley.beta.instructure.com/courses/1234001/assignments/6175849",
              "has_overrides": false,
              "needs_grading_count": 0,
              "integration_id": null,
              "integration_data": {

              },
              "published": true,
              "unpublishable": true,
              "locked_for_user": false
            }
          ]
        },
      },
      "recorded_at": "Sat, 11 Apr 2015 03:01:23 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
