{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/sis_login_id:MaynardGKrebs/profile",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "status": [
            "404"
          ],
          "x-canvas-user-id": [
            "10000003057506"
          ],
          "x-request-context-id": [
            "bebc73d0-5dbb-0130-fdfe-02e33a86fa36"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "status": "not_found",
            "error_report_id": 33962530,
            "message": "The specified resource does not exist."
          }
        },
      },
      "recorded_at": "Wed, 20 Feb 2013 18:46:22 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/sis_login_id:300846/profile",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"7a9731487f62de7c4890546168473c13\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003057506"
          ],
          "x-request-context-id": [
            "c81f71c0-5dbd-0130-8279-02e33a85bc71"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": 3323890,
            "name": "Stu Testb",
            "short_name": "Stu Testb",
            "sortable_name": "Testb, Stu",
            "sis_user_id": "300846",
            "sis_login_id": "300846",
            "login_id": "300846",
            "avatar_url": "https://secure.gravatar.com/avatar/595e055e30397015914b97402393a291?s=50&d=https%3A%2F%2Fucberkeley.instructure.com%2Fimages%2Fmessages%2Favatar-50.png",
            "title": null,
            "bio": null,
            "primary_email": "test-300846@berkeley.edu"
          }
        },
      },
      "recorded_at": "Wed, 20 Feb 2013 19:00:57 GMT"
    }
  ],
  "recorded_with": "VCR 2.4.0"
}
