{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"011600ff82e92715ff3c07f588200c7b\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?page=1&per_page=100>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?page=1&per_page=100>; rel=\"first\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1c;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "a7ecc170-39da-0131-5869-02f8856d54b5"
          ],
          "x-session-id": [
            "35d5c9c7d8972a4c9b922407a14ac22a"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "consumer_key": "xx",
              "created_at": "2013-07-29T16:36:13Z",
              "description": "A very handy tool for creating seating charts and keeping track of attendance.",
              "domain": null,
              "id": 24486,
              "name": "Attendance Tool",
              "updated_at": "2013-07-29T16:36:13Z",
              "url": "https://rollcall.instructure.com/launch",
              "privacy_level": "public",
              "custom_fields": {

              },
              "workflow_state": "public",
              "vendor_help_link": null,
              "user_navigation": null,
              "course_navigation": {
                "url": "https://rollcall.instructure.com/launch",
                "text": "Attendance",
                "visibility": "admins",
                "label": "Attendance",
                "selection_width": 800,
                "selection_height": 400
              },
              "account_navigation": {
                "url": "https://rollcall.instructure.com/launch",
                "text": "Attendance",
                "visibility": "admins",
                "label": "Attendance",
                "selection_width": 800,
                "selection_height": 400
              },
              "resource_selection": null,
              "editor_button": null,
              "homework_submission": null
            },
            {
              "consumer_key": "xxx",
              "created_at": "2013-07-29T16:35:26Z",
              "description": "A very handy tool for hosting live chat sessions.",
              "domain": null,
              "id": 24485,
              "name": "Chat",
              "updated_at": "2013-07-29T16:35:26Z",
              "url": "https://chat.instructure.com/lti/launch",
              "privacy_level": "public",
              "custom_fields": {

              },[...]
