{
  "http_interactions": [

    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/courses?as_user_id=sis_user_id%3A300846",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"4b680dc594f297e0f884ebd575ee5fd9\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003323890"
          ],
          "x-request-context-id": [
            "7af98a60-27ae-0130-f61c-02e33ab9a62d"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "course_code": "API101",
              "enrollments": [
                {
                  "type": "student"
                }
              ],
              "name": "API Testing and Design 101",
              "start_at": "2012-09-04T00:00:00-07:00",
              "end_at": null,
              "account_id": 90243,
              "hide_final_grades": false,
              "calendar": {
                "ics": "https://ucberkeley.instructure.com/feeds/calendars/course_zEaJooSacLbZBLIdPKqIdFKwRpSGm7c2PpdG4ulA.ics"
              },
              "default_view": "feed",
              "id": 767330
            },
            {
              "course_code": "EE 20N",
              "enrollments": [
                {
                  "type": "student"
                }
              ],
              "name": "Structure and Interpretation of Systems and Signals",
              "start_at": "2012-09-04T00:00:00-07:00",
              "end_at": null,
              "account_id": 90242,
              "hide_final_grades": false,
              "calendar": {
                "ics": "https://ucberkeley.instructure.com/feeds/calendars/course_SMIaFMD5gDiViGXUX73oA8pfABQwRI94uFIoOvbT.ics"
              },
              "default_view": "feed",
              "id": 833382
            }
          ]
        },
      },
      "recorded_at": "Thu, 13 Dec 2012 23:55:22 GMT"
    }
  ],
  "recorded_with": "VCR 2.3.0"
}