{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/sections/1311313/enrollments",
        "body": {
          "encoding": "US-ASCII",
          "string": "enrollment%5Buser_id%5D=1234567&enrollment%5Btype%5D=TaEnrollment&enrollment%5Benrollment_state%5D=active&enrollment%5Bcourse_section_id%5D=1311313&enrollment%5Bnotify%5D=false"
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"631fd077c2ba035eb72796344f308850\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1b;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "281f4150-40cf-0131-d7fb-02f88540aa71"
          ],
          "x-session-id": [
            "4da125622c429d29ec5bc10a77fa5acc"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "associated_user_id": null,
            "course_id": 1161161,
            "course_section_id": 1311313,
            "id": 20618200,
            "limit_privileges_to_course_section": false,
            "root_account_id": 90242,
            "type": "TaEnrollment",
            "updated_at": "2013-12-06T18:07:13Z",
            "user_id": 1234567,
            "enrollment_state": "active",
            "role": "TaEnrollment",
            "last_activity_at": null,
            "html_url": "https://ucberkeley.beta.instructure.com/courses/1161161/users/1234567"
          }
        },
      },
      "recorded_at": "Fri, 06 Dec 2013 18:07:15 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}
