{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/users/3323890/profile",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"1bf49735bb37139d4040560a3226bd68\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1c;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "ad60f1d0-b485-0131-868a-02f8856d54b5"
          ],
          "x-session-id": [
            "c7e70f6cbbc3cdd0c3b7ad4e9c0ebacc"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": 3323890,
            "name": "STUDENT TEST-300846",
            "short_name": "STUDENT TEST-300846",
            "sortable_name": "TEST-300846, STUDENT",
            "sis_user_id": "UID:300846",
            "sis_login_id": "300846",
            "login_id": "300846",
            "avatar_url": "https://secure.gravatar.com/avatar/595e055e30397015914b97402393a291?s=50&d=https%3A%2F%2Fcanvas.instructure.com%2Fimages%2Fmessages%2Favatar-50.png",
            "title": null,
            "bio": null,
            "primary_email": "test-300846@berkeley.edu",
            "time_zone": "America/Los_Angeles"
          }
        },
      },
      "recorded_at": "Sat, 03 May 2014 00:13:29 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}