{
  "http_interactions": [

    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/self/groups?as_user_id=sis_user_id%3A300846",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"96e0c8c92b8d1f4f708d64e5503efb57\""
          ],
          "link": [
            "<https://ucberkeley.instructure.com/api/v1/users/self/groups?as_user_id=sis_user_id%3A300846?page=1&per_page=10>; rel=\"first\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003357913"
          ],
          "x-request-context-id": [
            "c7653d90-2a9d-0130-e355-02e33aa813d9"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "avatar_url": null,
              "group_category_id": 18335,
              "name": "Canvas hackshop",
              "join_level": "invitation_only",
              "description": null,
              "is_public": false,
              "members_count": 2,
              "role": null,
              "context_type": "Account",
              "id": 73864,
              "followed_by_user": true,
              "account_id": 90242
            }
          ]
        },
      },
      "recorded_at": "Mon, 17 Dec 2012 17:33:22 GMT"
    }
  ],
  "recorded_with": "VCR 2.3.0"
}