{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/reports/provisioning_csv?parameters%5Benrollment_term%5D=sis_term_id%3ATERM%3A2013-C&parameters%5Bsections%5D=1",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"e68e6fc094dc675f251a5f70006c33d4\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003075918"
          ],
          "x-request-context-id": [
            "2c00e630-b12c-0130-e424-02f885779982"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": 11938,
            "parameters": {
              "enrollment_term": "sis_term_id:TERM:2013-C",
              "sections": "1"
            },
            "progress": 0,
            "status": "running",
            "report": "provisioning_csv",
            "file_url": null
          }
        },
      },
      "recorded_at": "Thu, 06 Jun 2013 23:10:16 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}