{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/1/logins/2963066?login%5Bsis_user_id%5D=UID%3A211159",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "x-canvas-user-id": [
            "1"
          ],
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"7e99debf3b27da1f0cf2ffa9ba0ee5d5\""
          ],
          "x-session-id": [
            "bb0f651835d33b00dd877273606fabaf"
          ],
          "x-request-context-id": [
            "7a4a96e0-ddde-0130-afaf-002500d02516"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "account_id": 90242,
            "id": 2963066,
            "sis_user_id": "UID:211159",
            "unique_id": "211159",
            "user_id": 3057506
          }
        },
      },
      "recorded_at": "Fri, 02 Aug 2013 20:17:28 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}