{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/users/3057506/logins",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "x-canvas-user-id": [
            "1"
          ],
          "link": [
            "<https://ucberkeley.test.instructure.com/api/v1/users/3057506/logins?page=1&per_page=10>; rel=\"first\""
          ],
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"05c1119124f7df1812f8d1328e7776a9\""
          ],
          "x-request-context-id": [
            "0edb1f80-ddde-0130-afaf-002500d02516"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "account_id": 90242,
              "id": 2963066,
              "sis_user_id": "211159",
              "unique_id": "211159",
              "user_id": 3057506
            },
            {
              "account_id": 90242,
              "id": 4647947,
              "sis_user_id": null,
              "unique_id": "raydavis-test",
              "user_id": 3057506
            }
          ]
        },
      },
      "recorded_at": "Fri, 02 Aug 2013 20:14:28 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}