{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/self/todo?as_user_id=sis_user_id%3A300846",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"e071af08b2b5529937ac009354b5f21f\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003323890"
          ],
          "x-request-context-id": [
            "7a478380-27ae-0130-1490-02e33ab4feba"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "type": "submitting",
              "ignore_permanently": "https://ucberkeley.instructure.com/api/v1/users/self/todo/assignment_2588302/submitting?permanent=1",
              "course_id": 767330,
              "ignore": "https://ucberkeley.instructure.com/api/v1/users/self/todo/assignment_2588302/submitting?permanent=0",
              "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/2588302#submit",
              "context_type": "Course",
              "assignment": {
                "course_id": 767330,
                "points_possible": null,
                "due_at": ":::TWO_DAYS_AGO_MIDNIGHT_PST:::",
                "description": "",
                "muted": false,
                "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/2588302",
                "discussion_topic": {
                  "locked": false,
                  "attachments": [

                  ],
                  "author": {
                    "avatar_image_url": "https://secure.gravatar.com/avatar/963423426d6da2a4d30657d90310098e?s=50&d=https%3A%2F%2Fucberkeley.instructure.com%2Fimages%2Fmessages%2Favatar-50.png",
                    "display_name": "Chris Tweney",
                    "html_url": "https://ucberkeley.instructure.com/courses/767330/users/3075914",
                    "id": 3075914
                  },
                  "assignment_id": 2588302,
                  "delayed_post_at": null,
                  "podcast_has_student_posts": null,
                  "discussion_subentry_count": 0,
                  "permissions": {
                    "delete": false,
                    "attach": false,
                    "update": false
                  },
                  "read_state": "unread",
                  "unread_count": 0,
                  "last_reply_at": "2012-12-13T15:49:21-08:00",
                  "require_initial_post": null,
                  "url": "https://ucberkeley.instructure.com/courses/767330/discussion_topics/1646260",
                  "topic_children": [

                  ],
                  "user_name": "Chris Tweney",
                  "html_url": "https://ucberkeley.instructure.com/courses/767330/discussion_topics/1646260",
                  "posted_at": "2012-12-13T15:49:21-08:00",
                  "discussion_type": "side_comment",
                  "id": 1646260,
                  "root_topic_id": null,
                  "title": "Past Discussion",
                  "podcast_url": null,
                  "message": ""
                },
                "submission_types": [
                  "discussion_topic"
                ],
                "name": "Past Discussion",
                "id": 2588302
              }
            },
            {
              "type": "submitting",
              "ignore_permanently": "https://ucberkeley.instructure.com/api/v1/users/self/todo/assignment_2588242/submitting?permanent=1",
              "course_id": 767330,
              "ignore": "https://ucberkeley.instructure.com/api/v1/users/self/todo/assignment_2588242/submitting?permanent=0",
              "html_url": "https://ucberkeley.instructure.com/course[...]
