{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/terms?per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"edbad24b0ce13376d45551502a6e27d7\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/terms?page=1&per_page=100>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/terms?page=1&per_page=100>; rel=\"first\",<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/terms?page=1&per_page=100>; rel=\"last\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=19;c=cluster19;z=us-east-1c;b=1071344;m=1071408;u=0.16;y=0.00;d=0.06;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "c834c560-7ccd-0132-fdcd-02f8856d54b5"
          ],
          "x-session-id": [
            "20d32d307d3d8663f3c769feb42a7166"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "enrollment_terms": [
              {
                "end_at": "2013-05-31T07:00:00Z",
                "id": 3791,
                "name": "Fall 2012",
                "start_at": "2012-08-23T07:00:00Z",
                "workflow_state": "active",
                "sis_term_id": "2012-D"
              },
              {
                "end_at": "2013-05-31T07:00:00Z",
                "id": 4223,
                "name": "Spring 2013",
                "start_at": "2013-01-01T08:00:00Z",
                "workflow_state": "active",
                "sis_term_id": "TERM:2013-B"
              },
              {
                "end_at": "2013-08-30T07:00:00Z",
                "id": 4694,
                "name": "Summer 2013",
                "start_at": "2013-04-01T07:00:00Z[...]
