{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/1164764/users?include%5B%5D=enrollments&per_page=30",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"16dfc1fa24e2f523d3c3377406136812\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/courses/1164764/users?include%5B%5D=enrollments&page=1&per_page=30>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1164764/users?include%5B%5D=enrollments&page=1&per_page=30>; rel=\"first\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1b;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "600ca260-4049-0131-ac58-02f88540aa71"
          ],
          "x-session-id": [
            "8f92ac4818e640acf4a28a02d5eb9859"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "id": 4862319,
              "name": "Ted Andrew Greenwald",
              "sortable_name": "Greenwald, Ted Andrew",
              "short_name": "Ted Andrew Greenwald",
              "sis_user_id": "UID:4000123",
              "sis_login_id": "4000123",
              "login_id": "4000123",
              "enrollments": [
                {
                  "associated_user_id": null,
                  "course_id": 1164764,
                  "course_section_id": 1312012,
                  "id": 20187382,
                  "limit_privileges_to_course_section": false,
                  "root_account_id": 90242,
                  "type": "StudentEnrollment",
                  "updated_at": "2013-09-24T21:27:23Z",
                  "user_id": 4862319,
                  "enrollment_state": "active",
                  "role": "StudentEnrollment",
                  "last_activity_at": "2013-11-22T00:40:29Z",
                  "grades": {
                    "html_url": "https://ucberkeley.beta.instructure.com/courses/1164764/grades/4862319",
                    "current_score": 34.9,
                    "final_score": 34.9,
                    "current_grade": "F",
                    "final_grade": "F"
                  },
                  "html_url": "https://ucberkeley.beta.instructure.com/courses/1164764/users/4862319"
                }
              ],
              "analytics_url": "/courses/1164764/analytics/users/4862319"
            },
            {
              "id": 4861899,
              "name": "Harold Arnold DACUS",
              "sortable_name": "DACUS, Harold",
              "short_name": "Harold DACUS",
              "sis_user_id": "UID:4000169",
              "sis_login_id": "4000169",
              "login_id": "4000169",
              "enrollments": [
                {
                  "associated_user_id": null,
                  "course_id": 1164764,
    [...]
