{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/self/upcoming_events?as_user_id=sis_user_id%3A300846",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"cf5e26c9b03fa869b13304b7ecc9142c\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-real-user-id": [
            "10000003075918"
          ],
          "x-canvas-user-id": [
            "10000003323890"
          ],
          "x-request-context-id": [
            "3c8b3420-af76-0130-1e80-02f88540aa71"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "all_day": true,
              "all_day_date": "2013-06-05",
              "created_at": "2013-06-04T09:36:26-07:00",
              "end_at": "2013-06-05T00:00:00-07:00",
              "id": 975667,
              "location_address": null,
              "location_name": null,
              "start_at": "2013-06-05T00:00:00-07:00",
              "title": "Class Seven",
              "updated_at": "2013-06-04T09:36:26-07:00",
              "workflow_state": "active",
              "description": "<h4>This time for sure</h4>\n<p>Please sit down.</p>",
              "context_code": "course_767330",
              "child_events_count": 0,
              "parent_event_id": null,
              "hidden": false,
              "child_events": [

              ],
              "url": "https://ucberkeley.instructure.com/api/v1/calendar_events/975667",
              "html_url": "https://ucberkeley.instructure.com/calendar?event_id=975667&include_contexts=course_767330#7b2273686f77223a2267726f75705f636f757273655f373637333330227d"
            },
            {
              "all_day": true,
              "all_day_date": "2013-06-05",
              "created_at": "2012-12-13T15:50:31-08:00",
              "title": "Future Quiz",
              "updated_at": "2013-06-04T09:12:12-07:00",
              "workflow_state": "published",
              "description": null,
              "id": "assignment_25883051",
              "assignment": {
                "assignment_group_id": 502044,
                "automatic_peer_reviews": false,
                "description": null,
                "due_at": ":::LATER_IN_WEEK:::",
                "grade_group_students_individually": null,
                "grading_standard_id": null,
                "grading_type": "points",
                "group_category_id": null,
                "id": 2588305,
                "lock_at": null,
                "peer_reviews": false,
                "points_possible": null,
                "position": 14,
                "unlock_at": null,
                "course_id": 767330,
                "name": "Future Quiz",
                "submission_types": [
                  "online_quiz"
                ],
                "muted": false,
                "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/25883051",
                "quiz_id": 871151,
                "anonymous_submissions": false
              },
              "context_code": "course_767330",
              "end_at": ":::LATER_IN_WEEK:::",
              "start_at": ":::LATER_IN_WEEK:::",
              "url": "https://ucberkeley.instructure.com/api/v1/calendar_events/assignment_25883051",
              "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/25883051"
            },
            {
              "all_day": true,
              "all_day_date": "2013-06-05",
              "created_at": [...]
