{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/courses?per_page=50",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"8bfeed05c2424e8ac4f07509d1cd79aa\""
          ],
          "link": [
            "<https://ucberkeley.test.instructure.com/api/v1/accounts/90242/courses?page=2&per_page=50>; rel=\"next\",<https://ucberkeley.test.instructure.com/api/v1/accounts/90242/courses?page=1&per_page=50>; rel=\"first\",<https://ucberkeley.test.instructure.com/api/v1/accounts/90242/courses?page=2&per_page=50>; rel=\"last\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003075918"
          ],
          "x-request-context-id": [
            "6cd99270-b061-0130-9366-02f885779982"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
           {
              "account_id": 90243,
              "course_code": "INFO430e",
              "default_view": "feed",
              "id": 760850,
              "name": "INFO 430: Accessible Web Design ",
              "start_at": "2012-08-23T00:00:00-07:00",
              "end_at": "2013-06-21T23:55:00-07:00",
              "public_syllabus": false,
              "calendar": {
                "ics": "https://ucberkeley.test.instructure.com/feeds/calendars/course_2By9p54fZzTnuWhg8oYKa4aZVRNliy7znuJConyZ.ics"
              },
              "sis_course_id": null,
              "hide_final_grades": true,
              "workflow_state": "available"
            },
            {
              "account_id": 90243,
              "course_code": "ENGL RAY",
              "default_view": "modules",
              "id": 765706,
              "name": "Restoration Literature",
              "start_at": "2012-10-08T16:27:14-07:00",
              "end_at": null,
              "public_syllabus": false,
              "calendar": {
                "ics": "https://ucberkeley.test.instructure.com/feeds/calendars/course_CzNAKxFhJLAotympDjK7kdoE7[...]
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/courses?page=2&per_page=50",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
  [...]
