{
  "http_interactions": [

    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/self/coming_up",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"1fb60eacca81abddeb06a18db153d980\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003323890"
          ],
          "x-request-context-id": [
            "7d117330-27ae-0130-3f90-02e33a92f9bc"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "[{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588244\",\"title\":\"Online-Submission Future Assignment\",\"start_at\":\"2012-11-27T00:00:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588303\",\"title\":\"Future Discussion\",\"start_at\":\"2012-11-27T23:59:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588307\",\"title\":\"Future External Tool Assignment\",\"start_at\":\"2012-12-03T23:59:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588305\",\"title\":\"Future Quiz\",\"start_at\":\"2012-12-03T23:59:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588310\",\"title\":\"Future Ungraded Assignment\",\"start_at\":\"2012-12-03T23:59:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588234\",\"title\":\"No-Submission Future Assignment\",\"start_at\":\"2012-12-03T23:59:00-08:00\"},{\"type\":\"Assignment\",\"html_url\":\"https://ucberkeley.instructure.com/courses/767330/assignments/2588250\",\"title\":\"Paper Submission Future Assignment\",\"start_at\":\"2012-12-03T23:59:00-08:00\"}]",
          "debug_json": [
            {
              "type": "Assignment",
              "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/2588244",
              "title": "Online-Submission Future Assignment",
              "start_at": ":::TODAY_LATE:::"
            },
            {
              "type": "Assignment",
              "html_url": "https://ucberkeley.instructure.com/courses/767330/assignments/2588303",
              "title": "Future Discussion",
              "start_at": ":::TOD[...]
