{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.instructure.com/api/v1/users/self/activity_stream?as_user_id=sis_user_id%3A300846",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"8d7f04434ff1dfa2989da91ce21e735c\""
          ],
          "link": [
            "<https://ucberkeley.instructure.com/api/v1/users/self/activity_stream?as_user_id=sis_user_id%3A300846?page=1&per_page=21>; rel=\"first\""
          ],
          "status": [
            "200"
          ],
          "x-canvas-user-id": [
            "10000003357913"
          ],
          "x-request-context-id": [
            "dd651050-47b8-0130-0d42-02e33a9d08e8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "html_url": "https://ucberkeley.instructure.com/groups/78395/discussion_topics/1714988",
              "message": "<p>let's talk!</p>",
              "id": 43223063,
              "context_type": "Group",
              "updated_at": ":::SEVEN_MONTHS_AGO:::",
              "created_at": ":::SEVEN_MONTHS_AGO:::",
              "user_has_posted": null,
              "discussion_topic_id": 1714988,
              "require_initial_post": false,
              "total_root_discussion_entries": 1,
              "type": "DiscussionTopic",
              "root_discussion_entries": [
                {
                  "message": "<p>Can we discuss a document and do annotation?</p>",
                  "user": {
                    "user_name": "Jon Hays",
                    "user_id": 3075912
                  }
                }
              ],
              "group_id": 78395,
              "title": "Talk amongst yourselves"
            },
            {
              "html_url": "http://ucberkeley.instructure.com/courses/833382/assignments/2765389",
              "message": "\n  due: Jan 17 at 11:59pm\n",
              "id": 43657016,
              "context_type": "Course",
              "updated_at": ":::TODAY_AT_TEA_TIME:::",
              "created_at": ":::SEVEN_MONTHS_AGO:::",
              "notification_category": "Due Date",
              "url": "http://ucberkeley.instructure.com/courses/833382/assignments/2765389",
              "message_id": null,
              "type": "Message",
              "course_id": 833382,
              "title": "Assignment Created - Assignment 12, Structure and Interpretation of Systems and Signals"
            },
            {
              "html_url": "http://ucberkeley.instructure.com/courses/833382/assignments/2765310",
              "message": "\n  due: Jan 18 at  4pm\n",
              "id": 43655617,
              "context_type": "Course",
              "updated_at": ":::TODAY_AT_TEA_TIME:::",
              "created_at": ":::TODAY_AT_TEA_TIME:::",
              "no[...]
