{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/reports/provisioning_csv/11938",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"b1fac19657c06e8ad655bbde65790070\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003075918"
          ],
          "x-request-context-id": [
            "2facd190-b12c-0130-e424-02f885779982"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": 11938,
            "parameters": {
              "enrollment_term": "sis_term_id:TERM:2013-C",
              "sections": "1",
              "extra_text": "Term: Summer 2013; Reports: sections "
            },
            "progress": 100,
            "status": "complete",
            "report": "provisioning_csv",
            "file_url": "https://ucberkeley.instructure.com/accounts/90242/files/35810460/download"
          }
        },
      },
      "recorded_at": "Thu, 06 Jun 2013 23:10:22 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}