{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/courses/1093165?course%5Bsis_course_id%5D=C%3A1093165",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"32aa1a2a65ea0b333c0308db768fe9d3\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003075918"
          ],
          "x-request-context-id": [
            "a1126e30-b508-0130-3cd2-02f885576c21"
          ],
          "x-session-id": [
            "f22d3216e1b2e4649249fd9cda746369"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "account_id": 90242,
            "course_code": "RAYTC Bio Disc 2",
            "default_view": "feed",
            "id": 1093165,
            "name": "Ray-Test No SIS_ID",
            "start_at": null,
            "end_at": null,
            "public_syllabus": false,
            "hide_final_grades": false,
            "calendar": {
              "ics": "https://ucberkeley.test.instructure.com/feeds/calendars/course_D6pGKi37wFx34xg0Fr8iPjmegNJ8J5OB97CltJ5x.ics"
            },
            "sis_course_id": "C:1093165",
            "workflow_state": "unpublished"
          }
        },
      },
      "recorded_at": "Tue, 11 Jun 2013 21:05:55 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}