{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools/24961?config_type=by_url&config_url=http%3A%2F%2Fwww.example.com%2Flti_roster_photos-dev.xml",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"5e01c369fb7028806f15690ae2a1520e\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1b;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "fcd55290-39da-0131-9ecc-02f88540aa71"
          ],
          "x-session-id": [
            "28285a10c2aa74b8c322fb54bfd44b7a"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "consumer_key": "xxx",
            "created_at": "2013-08-05T22:22:15Z",
            "description": "Browse and search official roster photos",
            "domain": null,
            "id": 24961,
            "name": "Roster Photos",
            "updated_at": "2013-11-27T21:44:17Z",
            "url": "https://cc-dev.example.com/canvas/embedded/rosters",
            "privacy_level": "public",
            "custom_fields": {

            },
            "workflow_state": "public",
            "vendor_help_link": null,
            "user_navigation": null,
            "course_navigation": {
              "url": "https://cc-dev.example.com/canvas/embedded/rosters",
              "text": "Roster Photos",
              "visibility": "admins",
              "default": "enabled",
              "enabled": "true",
              "label": "Roster Photos",
              "selection_width": 800,
              "selection_height": 400,
              "icon_url": ""
            },
            "account_navigation": null,
            "resource_selection": null,
            "editor_button": null,
            "homework_submission": null,
            "icon_url": ""
          }
        },
      },
      "recorded_at": "Wed, 27 Nov 2013 21:44:17 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}
