{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"b11729083a5e62be4fe4ddeb34ef1dd9\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&include%5B%5D=analytics_url&page=1&per_page=100>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&include%5B%5D=analytics_url&page=2&per_page=100>; rel=\"next\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&include%5B%5D=analytics_url&page=1&per_page=100>; rel=\"first\",<https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&include%5B%5D=analytics_url&page=2&per_page=100>; rel=\"last\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;g=yGkEvpxAPyTeKLHaHOxZqJNjMXbA5ZV86ZZ6139o;s=19;c=cluster19;z=us-east-1c;b=1131236;m=1129252;u=3.53;y=0.07;d=0.50;"
          ],
          "x-canvas-user-id": [
            "190000004868640"
          ],
          "x-request-context-id": [
            "715ba1c0-c1e1-0132-b09b-02f8856d54b5"
          ],
          "x-session-id": [
            "d22ab659d4f4f1b0adb78532a8d109eb"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "id": 4862319,
              "name": "Ted Andrew Greenwald",
              "sortable_name": "Greenwald, Ted Andrew",
              "short_name": "Ted Andrew Greenwald",
              "sis_user_id": "UID:4000123",
              "sis_login_id": "4000123",
              "login_id": "4000123",
              "enrollments": [
                {
                  "associated_user_id": null,
                  "course_id": 1276293,
                  "course_section_id": 1312012,
                  "id": 20187382,
                  "limit_privileges_to_course_section": false,
                  "root_account_id": 90242,
                  "type": "StudentEnrollment",
                  "updated_at": "2013-09-24T21:27:23Z",
                  "user_id": 4862319,
                  "enrollment_state": "active",
                  "role": "StudentEnrollment",
                  "last_activity_at": "2013-11-22T00:40:29Z",
                  "grades": {
                    "html_url": "https://ucberkeley.beta.instructure.com/courses/1276293/grades/4862319",
                    "current_score": 34.9,
                    "final_score": 34.9,
                    "current_grade": "F",
                    "final_grade": "F"
                  },
                  "html_url": "https://ucberkeley.beta.instructure.com/courses/1276293/users/4862319"
                }
              ],
              "analytics_url": "/courses/1276293/analytics/users/4862319"
            },
            {
              "id": 4861899,
              "name": "Harold Arnold DACUS",
              "sortable_name": "DACUS, Harold",
              "short_name": "Harold DACUS",
              "sis_user_id": "UID:4000169",
              "sis_login_id": "4000169",
              "login_id": "4000169",
              "enrollments": [
                {
                  "associated_user_id": null,
                  "course_id": 1276293,
    [...]
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/1276293/users?include%5B%5D=enrollments&include%5B%5D=analytics_url&page=2&per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

      [...]
