{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/courses/767330/sections",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"25fedc62aa546e344806a2ad30c60299\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003057506"
          ],
          "x-request-context-id": [
            "f1093080-bc23-0130-3150-02f885576c21"
          ],
          "x-session-id": [
            "faa91ecba6f74030e2238f9b68c90066"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "course_id": 767330,
              "end_at": null,
              "id": 1237012,
              "name": "Canvas-only Section",
              "nonxlist_course_id": null,
              "start_at": null,
              "sis_section_id": null
            },
            {
              "course_id": 767330,
              "end_at": null,
              "id": 1237009,
              "name": "2013-C-7309",
              "nonxlist_course_id": null,
              "start_at": null,
              "sis_section_id": "SEC:2013-C-7309"
            }
          ]
        },
      },
      "recorded_at": "Thu, 20 Jun 2013 22:09:03 GMT"
    },
[...]
