{
  "http_interactions": [
    {
      "request": {
        "method": "put",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/767330/external_tools/40786",
        "body": {
          "encoding": "UTF-8",
          "string": "course_navigation[text]=NoRosterNoPhoto"
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"460c6e43361295118c0eb3a67bbd5a02\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "126cf5b0-9544-0132-7dbe-02f8856d54b5"
          ],
          "x-session-id": [
            "3281991c9e5cf1d4575898ea132fd1cb"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "consumer_key": "someMumboJumbo",
            "created_at": "2015-02-10T20:15:03Z",
            "description": "Browse and search official roster photos",
            "domain": null,
            "id": 40782,
            "name": "Course-site test roster",
            "updated_at": "2015-02-10T20:16:56Z",
            "url": "https://cc-dev.example.com/canvas/embedded/rosters",
            "privacy_level": "public",
            "custom_fields": {

            },
            "workflow_state": "public",
            "vendor_help_link": null,
            "user_navigation": null,
            "course_navigation": {
              "text": "NoRosterNoPhoto",
              "label": "NoRosterNoPhoto",
              "selection_width": 800,
              "selection_height": 400,
              "icon_url": ""
            },
            "account_navigation": null,
            "resource_selection": null,
            "editor_button": null,
            "homework_submission": null,
            "migration_selection": null,
            "course_home_sub_navigation": null,
            "course_settings_sub_navigation": null,
            "global_navigation": null,
            "assignment_menu": null,
            "file_menu": null,
            "discussion_topic_menu": null,
            "module_menu": null,
            "quiz_menu": null,
            "wiki_page_menu": null,
            "tool_configuration": null,
            "icon_url": "",
            "not_selectable": false
          }
        },
      },
      "recorded_at": "Fri, 13 Feb 2015 00:20:43 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}