{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/accounts/90242/sis_imports/5842657",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "x-canvas-user-id": [
            "1"
          ],
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"bdfeba461627061c24aace000767932b\""
          ],
          "x-request-context-id": [
            "ccad95b0-d54b-0130-e58c-48bcc88fdc8e"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "created_at": "2013-07-22T16:06:37-06:00",
            "ended_at": "2013-07-22T16:06:40-06:00",
            "updated_at": "2013-07-22T16:06:40-06:00",
            "progress": 100,
            "id": 5842657,
            "workflow_state": "imported",
            "data": {
              "import_type": "instructure_csv",
              "supplied_batches": [
                "user"
              ],
              "counts": {
                "accounts": 0,
                "terms": 0,
                "abstract_courses": 0,
                "courses": 0,
                "sections": 0,
                "xlists": 0,
                "users": 1,
                "enrollments": 0,
                "groups": 0,
                "group_memberships": 0,
                "grade_publishing_results": 0
              }
            }
          }
        },
      },
      "recorded_at": "Mon, 22 Jul 2013 22:27:21 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}