{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/accounts/sis_account_id:ACCT:L%20&%20S",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"5dddd339255153d034b8921d6e362f8d\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=190000000090242;s=19;c=cluster19;z=us-east-1c;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "87f88d90-0209-0131-ae47-02f8856d54b5"
          ],
          "x-session-id": [
            "57a9cb62d86df9d4092f93ca91657a3a"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": 1845,
            "name": "L & S",
            "parent_account_id": 90242,
            "root_account_id": 90242,
            "default_storage_quota_mb": 1024,
            "default_user_storage_quota_mb": 50,
            "default_group_storage_quota_mb": 50,
            "default_time_zone": "America/Denver",
            "sis_account_id": "ACCT:L & S"
          }
        },
      },
      "recorded_at": "Tue, 17 Sep 2013 20:56:22 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}