{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"011600ff82e92715ff3c07f588200c7b\""
          ],
          "link": [
            "<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?page=1&per_page=100>; rel=\"current\",<https://ucberkeley.beta.instructure.com/api/v1/accounts/90242/external_tools?page=1&per_page=100>; rel=\"first\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1c;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "a7ecc170-39da-0131-5869-02f8856d54b5"
          ],
          "x-session-id": [
            "35d5c9c7d8972a4c9b922407a14ac22a"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "consumer_key": "xx",
              "created_at": "2013-07-29T16:36:13Z",
              "description": "A very handy tool for creating seating charts and keeping track of attendance.",
              "domain": null,
              "id": 24486,
              "name": "Attendance Tool",
              "updated_at": "2013-07-29T16:36:13Z",
              "url": "https://rollcall.instructure.com/launch",
              "privacy_level": "public",
              "custom_fields": {

              },
              "workflow_state": "public",
              "vendor_help_link": null,
              "user_navigation": null,
              "course_navigation": {
                "url": "https://rollcall.instructure.com/launch",
                "text": "Attendance",
                "visibility": "admins",
                "label": "Attendance",
                "selection_width": 800,
                "selection_height": 400
              },
              "account_navigation": {
                "url": "https://rollcall.instructure.com/launch",
                "text": "Attendance",
                "visibility": "admins",
                "label": "Attendance",
                "selection_width": 800,
                "selection_height": 400
              },
              "resource_selection": null,
              "editor_button": null,
              "homework_submission": null
            },
            {
              "consumer_key": "xxx",
              "created_at": "2013-07-29T16:35:26Z",
              "description": "A very handy tool for hosting live chat sessions.",
              "domain": null,
              "id": 24485,
              "name": "Chat",
              "updated_at": "2013-07-29T16:35:26Z",
              "url": "https://chat.instructure.com/lti/launch",
              "privacy_level": "public",
              "custom_fields": {

              },
              "workflow_state": "public",
              "vendor_help_link": null,
              "user_navigation": null,
              "course_navigation": {
                "url": "https://chat.instructure.com/lti/launch",
                "text": "Chat",
                "visibility": "members",
                "label": "Chat",
                "selection_width": 800,
                "selection_height": 400
              },
              "account_navigation": null,
              "resource_selection": null,
              "editor_button": null,
              "homework_submission": null
            },
            {
              "consumer_key": "xxx",
              "account_navigation": null,
              "assignment_menu": null,
              "course_home_sub_navigation": null,
              "course_navigation": null,
              "course_settings_sub_navigation": null,
              "created_at": "2015-02-03T18:01:44Z",
              "custom_fields": {},
              "description": "Provides access to Course and Project site creation",
              "discussion_topic_menu": null,
              "domain": null,
              "editor_button": null,
              "file_menu": null,
              "global_navigation": null,
              "homework_submission": null,
              "icon_url": "NO ICO",
              "id": 24966,
              "migration_selection": null,
              "module_menu": null,
              "name": "Create a Site",
              "not_selectable": false,
              "privacy_level": "public",
              "quiz_menu": null,
              "resource_selection": null,
              "updated_at": "2015-02-03T18:01:44Z",
              "url": "https://cc-dev.example.com/canvas/embedded/site_creation",
              "user_navigation": {
                  "enabled": "true",
                  "icon_url": "NO ICO",
                  "label": "Create a Site",
                  "selection_height": 400,
                  "selection_width": 800,
                  "text": "Create a Site",
                  "url": "https://cc-dev.example.com/canvas/embedded/site_creation"
              },
              "vendor_help_link": null,
              "wiki_page_menu": null,
              "workflow_state": "public"
            },
            {
              "consumer_key": "xxx",
              "created_at": "2013-08-05T22:22:15Z",
              "description": "Browse and search official roster photos",
              "domain": null,
              "id": 24961,
              "name": "Roster Photos",
              "updated_at": "2013-11-25T01:00:10Z",
              "url": "https://cc-dev.example.com/canvas/embedded/rosters",
              "privacy_level": "public",
              "custom_fields": {

              },
              "workflow_state": "public",
              "vendor_help_link": null,
              "user_navigation": null,
              "course_navigation": {
                "url": "https://cc-dev.example.com/canvas/embedded/rosters",
                "text": "Roster Photos",
                "visibility": "admins",
                "default": "enabled",
                "enabled": "true",
                "label": "Roster Photos",
                "selection_width": 800,
                "selection_height": 400,
                "icon_url": ""
              },
              "account_navigation": null,
              "resource_selection": null,
              "editor_button": null,
              "homework_submission": null,
              "icon_url": ""
            },
            {
              "consumer_key": "xxx",
              "created_[...]
