{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/courses/767330/users?enrollment_type=student&include%5B%5D=enrollments&per_page=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"3696e615dc10c0c25548b53bb5d6a99f\""
          ],
          "link": [
            "<https://ucberkeley.test.instructure.com/api/v1/courses/767330/users?enrollment_type=student&include%5B%5D=enrollments&page=2&per_page=30>; rel=\"next\",<https://ucberkeley.test.instructure.com/api/v1/courses/767330/users?enrollment_type=student&include%5B%5D=enrollments&page=1&per_page=30>; rel=\"first\",<https://ucberkeley.test.instructure.com/api/v1/courses/767330/users?enrollment_type=student&include%5B%5D=enrollments&page=4&per_page=30>; rel=\"last\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-user-id": [
            "10000003057506"
          ],
          "x-request-context-id": [
            "e7cbe2f0-cd3a-0130-181d-02f885576c21"
          ],
          "x-session-id": [
            "536c3f4e9f751cc745acf377bac7a275"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": [
            {
              "id": 76543,
              "name": "JANET GAYNOR SMITH-ROBINSON",
              "sortable_name": "SMITH-ROBINSON, JANET GAYNOR",
              "short_name": "JANET GAYNOR SMITH-ROBINSON",
              "sis_user_id": "34322433",
              "sis_login_id": "34322433",
              "login_id": "34322433",
              "enrollments": [
                {
                  "associated_user_id": null,
                  "course_id": 767330,
                  "course_section_id": 3473577,
                  "id": 18331451,
                  "limit_privileges_to_course_section": false,
                  "root_account_id": 11,
                  "type": "StudentEnrollment",
                  "updated_at": "2013-06-17T14:03:08-07:00",
                  "user_id": 76543,
                  "enrollment_state": "active",
                  "role": "StudentEnrollment",
                  "grades": {
                    "html_url": "https://ucberkeley.test.instructure.com/courses/767330/grades/76543",
                    "current_score": null,
                    "final_score": null,
                    "current_grade": null,
                    "final_grade": null
                  },
                  "html_url": "https://ucberkeley.test.instructure.com/courses/767330/users/76543"
                }
              ],
              "analytics_url": "/courses/767330/analytics/users/76543"
            }
          ]
        },
      },
      "recorded_at": "Fri, 12 Jul 2013 16:06:20 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.test.instructure.com/api/v1/courses/767330/users?enrollment_type=student&include%5B%5D=enrollments&page=2&per_page=30",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
[...]
[...]
