{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://integration-qa.berkeley.edu/cfv/student/11667051",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Cfv-Search-Status": [
            "success"
          ],
          "x_cfv_api_version": "1.0.6",
          "X-Exec-End-Time": [
            "2013-11-12 12:59:39.078"
          ],
          "X-Exec-Start-Time": [
            "2013-11-12 12:59:38.969"
          ],
          "X-Student-Id": [
            "[11667051]"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "student": {
              "summary": {
                "anticipatedAid": 0.0,
                "futureActivity": 25.0,
                "lastStatementBalance": 19419.75,
                "lastStatementDate": "2013-10-19",
                "minimumAmountDue": 517.0,
                "minimumAmountDueDate": "2013-11-15",
                "isOnDPP": false,
                "isDppPastDue": true,
                "dppNormalInstallmentAmount": 0.0,
                "dppBalance": 0.0,
                "totalCurrentBalance": 85.0,
                "totalPastDueAmount": 432.0,
                "unbilledActivity": 0.0,
                "lastUpdateDate": "2013-11-12",
                "accountBalance": 542.0
              },
              "activity": [
                {
                  "transAmount": 1007.0,
                  "transBalance": 1007.0,
                  "transDate": "2013-10-07",
                  "transTime": "11:10:18",
                  "transDept": "Office of the Registrar",
                  "transDeptUrl": "http://registrar.berkeley.edu/prospective_students/registration_enrollment/feesched.html",
                  "transDesc": "HEALTH INSURANCE",
                  "transDueDate": "2013-11-15",
                  "transId": "DM0000589622",
                  "transStatus": "Closed",
                  "transType": "Charge",
                  "transTerm": "Fall 2013",
                  "transTermCd": "Fall",
                  "transTermYr": "2013",
                  "agingOpt": "",
                  "transPmtType": ""
                },
                {
                  "transAmount": 5610.0,
                  "transBalance": 5610.0,
                  "transDate": "2013-10-07",
                  "transTime": "11:10:18",
                  "transDept": "Office of the Registrar",
                  "transDeptUrl": "http://registrar.berkeley.edu/prospective_students/registration_enrollment/feesched.html",
                  "transDesc": "TUITION - NONRESIDENT",
                  "transDueDate": "2013-11-15",
[...]
