{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "etag": [
            "\"NybCyMgjkLQM6Il-p8A5652MtaE/at-uhQslQjUGe-DCjIZ97QATWBU\""
          ],
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "kind": "calendar#events",
            "etag": "\"NybCyMgjkLQM6Il-p8A5652MtaE/at-uhQslQjUGe-DCjIZ97QATWBU\"",
            "summary": "tammi.chang.clc@gmail.com",
            "updated": "2012-11-16T20:41:41.000Z",
            "timeZone": "America/Los_Angeles",
            "accessRole": "owner",
            "defaultReminders": [
              {
                "method": "popup",
                "minutes": 30
              },
              {
                "method": "email",
                "minutes": 30
              }
            ],
            "nextPageToken": "CksKPV9lZGhtZ3BiNGVsbTZhYjluNnNzamNkaGRjcGttc29iYzgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWcYASCAgICsyJCf0hM=",
            "items": [
              {
                "kind": "calendar#event",
                "etag": "\"NybCyMgjkLQM6Il-p8A5652MtaE/Q05pUW9iNmtKeEVBQUFBQUFBQUFBQT09\"",
                "id": "_edhmgpb4elm6ab9n6gp34c1d7106sqbed9gm6rrle9pmaspecdnmq",
                "status": "confirmed",
                "htmlLink": "https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42Z3AzNGMxZDcxMDZzcWJlZDlnbTZycmxlOXBtYXNwZWNkbm1xXzIwMTIwODIzVDE5MzAwMFogdGFtbWkuY2hhbmcuY2xjQG0",
                "created": "1900-01-01T12:00:00.000Z",
                "updated": "2012-10-09T23:07:19.000Z",
                "summary": "EE 20N Lecture",
                "location": "105 STANLEY",
                "creator": {
                  "email": "tammi.chang.clc@gmail.com",
                  "displayName": "Tammi Chang",
                  "self": true
                },
                "organizer": {
                  "email": "tammi.chang.clc@gmail.com",
                  "displayName": "Tammi Chang",
                  "self": true
                },
                "start": {
                  "dateTime": "2012-08-23T12:30:00-07:00",
                  "timeZone": "America/Los_Angeles"
                },
                "end": {
                  "dateTime": "2012-08-23T14:00:00-07:00",
                  "timeZone": "America/Los_Angeles"
                },
                "recurrence": [
                  "RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=20121209T080000Z;BYDAY=TU,TH"
                ],
                "iCalUID": "schedule-74220-8@ninjacourses.com",
                "sequence": 0,
                "reminders": {
                  "useDefault": true
                }
              },
              {
                "kind": "calendar#event",
                "etag": "\"NybCyMgjkLQM6Il-p8A5652MtaE/Q05pUW9iNmtKeEVBQUFBQUFBQUFBQT09\"",
                "id": "_edhmgpb4elm6ab9n6gp34c9d64o40rj9dpl62orfelp76pbj5phmur8",
                "status": "confirmed",
                "htmlLink": "https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42Z3AzNGM5ZDY0bzQwcmo5ZHBsNjJvcmZlbHA3NnBiajVwaG11cjhfMjAxMjA4MjdUMTUwMDAwWiB0YW1taS5jaGFuZy5jb[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=10&pageToken=CksKPV9lZGhtZ3BiNGVsbTZhYjluNnNzamNkaGRjcGttc29iYzgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWcYASCAgICsyJCf0hM=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-w[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events?calendarId=primary&maxResults=1000&orderBy=startTime&singleEvents=true&timeMax=:::TOMORROW_MIDNIGHT_PST:::&timeMin=:::TODAY_MIDNIGHT_PST:::",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Etag": [
            "\"NybCyMgjkLQM6Il-p8A5652MtaE/Zt0uNunhtP3a8a3Y1CNWk3ELfxY\""
          ],
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "kind": "calendar#events",
            "etag": "\"NybCyMgjkLQM6Il-p8A5652MtaE/Zt0uNunhtP3a8a3Y1CNWk3ELfxY\"",
            "summary": "tammi.chang.clc@gmail.com",
            "updated": "2012-11-16T20[...]
