{
  "http_interactions": [

    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/tasks/v1/lists/@default/tasks?maxResults=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Etag": [
            "\"xpAkFLPl6-bJ80GtpdmouLYETwo/MTM1MTI4NzU2Mg\""
          ],
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "kind": "tasks#tasks",
            "etag": "\"xpAkFLPl6-bJ80GtpdmouLYETwo/MTM1MTI4NzU2Mg\"",
            "items": [
              {
                "kind": "tasks#task",
                "id": "MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDoxMDU1MTkyNDc1",
                "etag": "\"xpAkFLPl6-bJ80GtpdmouLYETwo/LTE3NzU2NDcwNTQ\"",
                "title": "Math 53 Midterm Teaching Evaluation ",
                "updated": "2012-11-28T20:20:56.000Z",
                "selfLink": "https://www.googleapis.com/tasks/v1/lists/MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDow/tasks/MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDoxMDU1MTkyNDc1",
                "position": "00000000000033554431",
                "notes": "Turn in your teaching evaluation for Math 53",
                "status": "needsAction",
                "due": ":::UTC_LATER_IN_WEEK:::"
              },
              {
                "kind": "tasks#task",
                "id": "MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDoxNTQ3MjA3ODkz",
                "etag": "\"xpAkFLPl6-bJ80GtpdmouLYETwo/Mzg2MDQzMTg2\"",
                "title": "Telebears Phase II Appointment",
                "updated": "2012-11-28T20:23:38.000Z",
                "selfLink": "https://www.googleapis.com/tasks/v1/lists/MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDow/tasks/MDM3NDMyMTM2NzUwNzM1MDg0MTc6MDoxNTQ3[...]
[...]
    {
      "request": {
        "method": "post",
        "uri": "https://www.googleapis.com/tasks/v1/users/@me/lists",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"title\": \"test\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "etag": [
            "\"xpAkFLPl6-bJ80GtpdmouLYETwo/0Cwp04Njfy3FLT1EW1OTtb7SxIc\""
          ],
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "kind": "tasks#taskList",
            "id": "MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA",
            "etag": "\"xpAkFLPl6-bJ80GtpdmouLYETwo/0Cwp04Njfy3FLT1EW1OTtb7SxIc\"",
            "title": "test",
            "updated": "2012-12-06T22:24:32.000Z",
            "selfLink": "https://www.googleapis.com/tasks/v1/users/@me/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA"
          }
        },
      },
      "recorded_at": "Thu, 06 Dec 2012 22:24:33 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://www.googleapis.com/tasks/v1/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA/tasks",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"title\": \"New Task\", \"notes\": \"Please Complete me\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
 [...]
    {
      "request": {
        "method": "put",
        "uri": "https://www.googleapis.com/tasks/v1/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA/tasks/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjEzODE3NzMzNzg",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"id\":\"MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjEzODE3NzMzNzg\",\"status\":\"needsAction\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          [...]
[...]
    {
      "request": {
        "method": "put",
        "uri": "https://www.googleapis.com/tasks/v1/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA/tasks/MDM3NDMyMTM2NzUwNzM1MDg0MTc6NDUxMDEyMTc2OjE0Mjg1Mjk5MDI",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"id\":\"MDM3NDMyMTM2NzUwNzM1MDg0MTc6NDUxMDEyMTc2OjE0Mjg1Mjk5MDI\",\"status\":\"completed\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "A[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/tasks/v1/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA/tasks?maxResults=100",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            ""
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": [

          ]
        }
      },
      "resp[...]
    {
      "request": {
        "method": "delete",
        "uri": "https://www.googleapis.com/tasks/v1/users/@me/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": null
        },
        "headers": {
          "etag": [
            "\"xpAkFLPl6-bJ80GtpdmouLYETwo/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
      },
      "recorded_at": "Thu, 06 Dec 2012 22:24:39 GMT"
    }
  ],
  "recorded_with": "VCR 2.3.0"
}