{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://www.googleapis.com/tasks/v1/lists/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjA/tasks/MDkwMzQyMTI0OTE3NTY4OTU0MzY6NzAzMjk1MTk3OjEzODE3NzMzNzg",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "Etag": [
            "\"08IZRpxIN0K4HSoj5rs7YI7_ses/vyGp6PvFo4RvsFtPoIWeCReyIC8\""
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
      },
      "recorded_at": "Fri, 01 Mar 2013 00:28:38 GMT"
    }
  ],
  "recorded_with": "VCR 2.4.0"
}