{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events?maxResults=1000&orderBy=startTime&singleEvents=true&timeMin=2013-05-21T15%3A44%3A40-07%3A00&timeMax=2013-06-21T15%3A44%3A40-07%3A00&fields=items%28htmlLink%2Cattendees%28responseStatus%2Cself%29%2Ccreated%2Cupdated%2Ccreator%2Csummary%2Cstart%2Cend%29",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "etag": [
            "\"78Bu1G8fWt0vPGZK2Ckfad3ZtNE/Tai92jlCLekxVdH81I93fC1fo08\""
          ],
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "items": [
              {
                "htmlLink": "https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42Z3AzNmM5ZDc1MDZzcWJlZDlnbTZycmxlOXBtYXNwZWNkbm1xXzIwMTMwNTIyVDE2MDAwMFogdGFtbWkuY2hhbmcuY2xjQG0",
                "created": "1900-01-01T12:00:00.000Z",
                "updated": "2013-04-10T22:11:18.623Z",
                "summary": "EE 20N Discussion",
                "creator": {
                  "email": "tammi.chang.clc@gmail.com",
                  "displayName": "Tammi Chang",
                  "self": true
                },
                "start": {
                  "dateTime": "2013-05-22T09:00:00-07:00"
                },
                "end": {
                  "dateTime": "2013-05-22T10:00:00-07:00"
                },
                "attendees": [
                  {
                    "self": true,
                    "responseStatus": "needsAction"
                  }
                ]
              },
              {
                "htmlLink": "https://www.google.com/calendar/event?eid=X2VkaG1ncGI0ZWxtNmFiOW42b3NqMGI5aDgxbjZpcmphYzVobXV0YmllZGluNmJqM2R0bWdfMjAxMzA1MjJUMTcwMDAwWiB0YW1taS5jaGFuZy5jbGNAbQ",
                "created": "1900-01-01T12:00:00.000Z",
                "updated": "2013-04-10T22:11:01.524Z",
                "summary": "ETH STD 21AC DIS 101",
                "creator": {
                  "email": "tammi.chang.clc@gmail.com",
                  "displayName": "Tammi Chang",
                  "self": true
                },
                "start": {
                  "date": "2013-04-10"
                },
                "end": {
                  "date": ":::TOMORROW_NO_TIME:::"
                },
                "attendees": [
                  {
                    "self": true,
                    "responseStatus": "needsAction"
                  }
                ]
              },
              {
                "htmlLink": "https://www.google.com/calendar/event?eid=dnRjZ3QyNzQ1ZWRua3VhN2hvZ2pnMmRtMmdfMjAxMzA1MjJUMTgwMDAwWiB0YW1taS5jaGFuZy5jbGNAbQ",
        [...]
