{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"calendarId\":\"primary\",\"summary\":\"Fancy event\",\"start\":{\"dateTime\":\"2013-09-24T02:06:00.000-07:00\"},\"end\":{\"dateTime\":\"2013-09-24T03:06:00.000-07:00\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": [
            ""
          ],
          "x-sakai-token": [

          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Etag": [
            "\"B0R-JqZ1uFKvtifdS4AVDz7BCB4/MTM4MDA1OTczNDAzNDAwMA\""
          ],
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "Alternate-Protocol": [
            "443:quic"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "kind": "calendar#event",
            "etag": "\"B0R-JqZ1uFKvtifdS4AVDz7BCB4/MTM4MDA1OTczNDAzNDAwMA\"",
            "id": "vbi7fn47g1kq8olcorq2grujhc",
            "status": "confirmed",
            "htmlLink": "https://www.google.com/calendar/event?eid=dmJpN2ZuNDdnMWtxOG9sY29ycTJncnVqaGMgeXVodW5nQGJlcmtlbGV5LmVkdQ",
            "created": "2013-09-24T21:55:34.000Z",
            "updated": "2013-09-24T21:55:34.034Z",
            "summary": "Fancy event",
            "creator": {
              "email": "oskibear@stanford.edu",
              "displayName": "Oski Bear",
              "self": true
            },
            "organizer": {
              "email": "oskibear@berkeley.edu",
              "self": true
            },
            "start": {
              "dateTime": "2013-09-24T02:06:00-07:00"
            },
            "end": {
              "dateTime": "2013-09-24T03:06:00-07:00"
            },
            "iCalUID": "fake@google.com",
            "sequence": 0,
            "reminders": {
              "useDefault": true
            }
          }
        },
      },
      "recorded_at": "Tue, 24 Sep 2013 21:55:34 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "body": {
          "encoding": "US-ASCII",
          "string": "{\"calendarId\":\"primary\",\"summary\":\"Fancy event\",\"start\":{\"dateTime\":\"2013-09-24T02:06:00.000-07:00\"},\"end\":{\"dateTime\":\"2013-09-24T03:06:00.000-07:0\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "Alternate-Protocol": [
            "443:quic"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "error": {
              "errors": [
                {
                  "domain": "global",
                  "reason": "invalid",
                  "message": "Invalid value for: Invalid format: \"2013-09-24T03:06:00.000-07:0\" is malformed at \"-07:0\""
                }
              ],
              "code": 400,
              "message": "Invalid value for: Invalid format: \"2013-09-24T03:06:00.000-07:0\" is malformed at \"-07:0\""
            }
          }
        },
      },
      "recorded_at": "Tue, 24 Sep 2013 21:58:59 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}