{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/oauth2/v2/userinfo",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "id": "114856790171836979104",
            "email": "tammi.chang.clc@gmail.com",
            "verified_email": true,
            "name": "Tammi Chang",
            "given_name": "Tammi",
            "family_name": "Chang",
            "link": "https://plus.google.com/114856790171836979104",
            "gender": "female",
            "birthday": "0000-01-01",
            "locale": "en"
          }
        },
      },
      "recorded_at": "Mon, 25 Feb 2013 21:52:26 GMT"
    }
  ],
  "recorded_with": "VCR 2.4.0"
}