{
  "http_interactions": [
    {
      "request": {
        "method": "delete",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events/non_existent",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "Alternate-Protocol": [
            "443:quic"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "error": {
              "errors": [
                {
                  "domain": "global",
                  "reason": "notFound",
                  "message": "Not Found"
                }
              ],
              "code": 404,
              "message": "Not Found"
            }
          }
        },
      },
      "recorded_at": "Tue, 24 Sep 2013 22:04:35 GMT"
    },
    {
      "request": {
        "method": "delete",
        "uri": "https://www.googleapis.com/calendar/v3/calendars/primary/events/evil_event",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "headers": {
          "Etag": [
            "\"B0R-JqZ1uFKvtifdS4AVDz7BCB4/JXL04tPa7flMNxQvRXl6LgP8hhE\""
          ],
          "Alternate-Protocol": [
            "443:quic"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
      },
      "recorded_at": "Tue, 24 Sep 2013 21:56:38 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}