{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://apis-dev.berkeley.edu/myfinaid/11667051/finaid",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "text/xml;charset=ISO-8859-1"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_xml": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SSIDOC>\n  <Action>Pull</Action>\n  <SystemInfo>\n    <AidYears>\n      <AidYear Default=\"X\" Desc=\"System Default\">2013</AidYear>\n    </AidYears>\n  </SystemInfo>\n  <FALifecycle AidYear=\"2013\" AltID=\"\" SID=\"11667051\">\n    <CurrentDate>2013-08-28</CurrentDate>\n    <Correspondence>\n      <Type>WEB</Type>\n    </Correspondence>\n    <Demographic>\n      <Title> </Title>\n      <FirstName>OSKI</FirstName>\n      <MiddleName> </MiddleName>\n      <LastName>BEAR</LastName>\n      <Gender>M</Gender>\n      <BirthDate>1975-02-05</BirthDate>\n      <Addresses>\n        <Address Type=\"B1\">\n          <Communications>\n            <Communication Status=\"\" Type=\"EM\">papa@xx.com</Communication>\n            <Communication Status=\"\" Type=\"PN\">925-222-2222</Communication>\n          </Communications>\n        </Address>\n        <Address Type=\"B2\">\n          <Communications>\n            <Communication Status=\"\" Type=\"EM\">mamma@xx.com</Communication>\n            <Communication Status=\"\" Type=\"PN\">925-333-3333</Communication>\n          </Communications>\n        </Address>\n        <Address Type=\"C3\">\n          <Commu[...]
