<div class="cc-widget cc-widget-sir" data-ng-controller="SirItemController">
  <div class="cc-widget-sir-header {{item.header.background}}">
    <div data-ng-if="item.header.picture" class="cc-widget-sir-picture {{item.header.picture}}" title="Picture of the Dean"></div>
    <div>
      <h2 class="cc-widget-sir-header-intro">Congratulations and Welcome!</h2>
      <div class="cc-widget-sir-header-name" data-ng-if="item.header.name" data-ng-bind="item.header.name"></div>
      <div class="cc-widget-sir-header-title" data-ng-if="item.header.title">
        <i data-ng-bind="item.header.title"></i>
      </div>
    </div>
  </div>
  <div class="cc-widget-text">
    <div data-ng-bind="item.config.descrLong"></div>
    <hr />
    <h3>Next Steps</h3>
    <div>
      The next step for you to take is formal acceptance of our admission offer. Let us know your decission by <span data-ng-bind="api.date.moment(item.dueDt, 'YYYY-MM-DD').format('MMMM Do, YYYY')"></span>.
    </div>
    <!-- SIR Options -->
    <form class="cc-widget-sir-form">
      <div data-ng-repeat="sirOption in item.config.sirOptions">
        <label class="cc-widget-sir-form-label">
          <input class="cc-widget-sir-form-radio" type="radio" data-ng-model="sirItem.form.option" data-ng-value="sirOption"></input>
          <div class="cc-widget-sir-form-description" data-ng-bind="sirOption.descrLong"></div>
        </label>
        <!-- Show conditions when the user accepts SIR -->
        <div data-ng-if="sirOption.progAction === 'DEIN' && sirItem.form.option.progAction === 'DEIN'" class="cc-widget-sir-form-subcontainer">
          <div data-ng-repeat="sirCondition in item.config.sirConditions">
            <label class="cc-widget-sir-form-label">
              <input class="cc-widget-sir-form-check" type="checkbox" data-ng-model="sirItem.form.check[sirCondition.seqnum].valid" data-ng-attr-id="cc-widget-sir-form-check-{{$index}}"></input>
              <label class="cc-widget-sir-form-description cc-widget-sir-form-label" data-ng-bind="sirCondition.messageText" data-ng-attr-for="cc-widget-sir-form-check-{{$index}}"></label>
            </label>
          </div>
        </div>
        <div data-ng-if="sirOption.progAction === 'WAPP' && sirItem.form.option.progAction === 'WAPP'" class="cc-widget-sir-form-subcontainer">
          <div class="cc-widget-sir-form-decline-explanation">
            You have indicated that you wish to <strong>decline</strong> our offer of admission. We understand that your decision is an important one and we'd appreciate your reason for doing so.
          </div>
          <label for="cc-widget-sir-form-reasons" class="cc-visuallyhidden">Select your reason:</label>
          <div class="cc-select">
            <select id="cc-widget-sir-form-reasons" data-ng-model="sirItem.form.decline.reasonCode" data-ng-options="r.responseReason as r.descr for r in item.responseReasons">
            </select>
          </div>
          <div data-ng-if="sirItem.form.decline.reasonCode === 'SCHL' || sirItem.form.decline.reasonCode === 'OTHR'" class="cc-widget-sir-form-reason-description">
            <label for="cc-widget-sir-form-reason-description" class="cc-visuallyhidden">Description:</label>
            <input type="text" id="cc-widget-sir-form-reason-description" data-ng-model="sirItem.form.decline.reasonDescription"></input>
          </div>
          <hr />
          <div class="cc-text-small">
            To confirm this decision, please select the <strong>I Decline This Offer</span> button.
          </div>
        </div>
      </div>
      <div class="cc-widget-sir-form-button">
        <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="!sirItem.isFormValid">
          <span data-ng-if="sirItem.form.option.progAction !== 'WAPP'">Continue</span>
          <span data-ng-if="sirItem.form.option.progAction === 'WAPP'">I Decline This Offer</span>
        </button>
      </div>
    </form>
  </div>
</div>
