<div class="cc-widget-sir-header {{item.header.background}}">
  <div data-ng-if="item.header.picture" class="cc-widget-sir-picture {{item.header.picture}}" title="Picture of the Dean"></div>
  <div>
    <h2 class="cc-widget-sir-header-intro">Congratulations and Welcome!</h2>
    <div class="cc-widget-sir-header-name" data-ng-if="item.header.name" data-ng-bind="item.header.name"></div>
    <div class="cc-widget-sir-header-title" data-ng-if="item.header.title">
      <i data-ng-bind="item.header.title"></i>
    </div>
  </div>
</div>
