<div data-ng-show="feedFetched && !isCourseCreator" class="cc-page-unexpected-error-notice">
  <i class="fa fa-warning"></i>
  <span>This feature is currently only available to instructors with course sections scheduled in the current or upcoming terms.</span>
</div>

<div data-ng-show="!feedFetched && feedFetchError" class="cc-page-unexpected-error-notice">
  <i class="fa fa-warning"></i>
  <span>An unexpected error has occurred with this tool.</span>
  <p>Please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
</div>
