<div data-ng-show="!isCourseCreator && !feedFetchError" class="cc-page-error-notice">
  <i class="fa fa-warning cc-notice-icon"></i>
  <div class="cc-notice-text-container">
    <h1 class="cc-notice-text-header">Access Denied</h1>
    <p>This feature is currently only available to instructors with course sections scheduled in the current or upcoming terms.</p>
  </div>
</div>

<div data-ng-show="feedFetchError" class="cc-page-error-notice">
  <i class="fa fa-warning cc-notice-icon"></i>
  <div class="cc-notice-text-container">
    <h1 class="cc-notice-text-header">Unexpected Error</h1>
    <p>Please contact <a href="http://ets.berkeley.edu/bcourses/support">bCourses support</a> for further assistance.</p>
  </div>
</div>
