<div class="bc-template-progress-bar">
  <div class="bc-template-progress-bar-container" data-ng-show="percentCompleteRounded">
    <div class="bc-template-progress-bar-display" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{percentCompleteRounded}}">
      <div class="bc-template-progress-bar-status">{{percentCompleteRounded}}% Complete</div>
      <div class="bc-template-progress-bar-value" data-ng-style="{'width':percentCompleteRounded + '%'}"></div>
    </div>
  </div>
</div>

