<div class="bc-template-sections-table-container">
  <table class="bc-template-sections-table">
    <thead class="cc-visuallyhidden">
      <tr>
        <th data-ng-if="listMode === 'createCourseForm'">Action</th>
        <th>Course Code</th>
        <th>Section Label</th>
        <th>Course Control Number</th>
        <th>Schedule</th>
        <th>Location</th>
        <th>Instructors</th>
        <th data-ng-if="listMode !== 'createCourseForm' && listMode !== 'preview'">
          <span data-ng-if="listMode !== 'preview'">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody data-ng-repeat="section in sectionsList" data-ng-if="rowDisplayLogic({listMode: listMode, section: section})">
      <tr data-ng-class="rowClassLogic({listMode: listMode, section: section})">
        <td class="bc-template-sections-table-cell-checkbox" data-ng-if="listMode === 'createCourseForm'">
          <input type="checkbox"
            id="cc-template-canvas-manage-sections-checkbox-{{section.ccn}}"
            data-ng-model="section.selected" data-ng-click="updateSelected()" aria-label="Checkbox for {{section.courseCode}} {{section.section_label}}"
            aria-checked="{{section.selected}}">
        </td>
        <td class="bc-template-sections-table-cell-course-code">
          <span data-ng-bind="section.courseCode"></span>
        </td>
        <td class="bc-template-sections-table-cell-section-label">
          <label class="bc-template-sections-table-cell-section-label-label" for="cc-template-canvas-manage-sections-checkbox-{{section.ccn}}" data-ng-bind="section.section_label" data-ng-if="listMode === 'createCourseForm'"></label>
          <span data-ng-bind="section.section_label" data-ng-if="listMode !== 'createCourseForm'"></span>
        </td>
        <td class="bc-template-sections-table-cell-section-ccn" data-ng-bind="section.ccn"></td>
        <td class="bc-template-sections-table-cell-section-timestamps show-for-medium-up" >
          <div data-ng-repeat="schedule in section.schedules" data-ng-bind="schedule.schedule"></div>
        </td>
        <td class="bc-template-sections-table-cell-section-locations show-for-medium-up" >
          <div data-ng-repeat="schedule in section.schedules" data-ng-bind-template="{{schedule.buildingName}} {{schedule.roomNumber}}"></div>
         </td>
        <td class="bc-template-sections-table-cell-section-instructors show-for-large-up" >
          <div data-ng-repeat="instructor in section.instructors" data-ng-bind="instructor.name"></div>
        </td>
        <td class="bc-template-sections-table-cell-section-action-option" data-ng-if="listMode !== 'createCourseForm' && listMode !== 'preview'">
          <!-- Current Staging Actions -->
          <div data-ng-if="listMode === 'currentStaging' && section.isCourseSection">
            <button class="bc-canvas-button bc-template-sections-table-button bc-canvas-no-decoration" data-ng-click="stageDeleteAction({section: section})" aria-label="Remove '{{section.courseCode}} {{section.section_label}}' from list of sections to remain in course site">Delete</button>
          </div>

          <div data-ng-if="listMode === 'currentStaging' && !section.isCourseSection">
            <button class="bc-canvas-button bc-template-sections-table-button bc-template-sections-table-button-undo-add bc-canvas-no-decoration" data-ng-click="unstageAction({section: section})" aria-label="Remove '{{section.courseCode}} {{section.section_label}}' from list of sections to remain in course site">Undo Add</button>
          </div>

          <!-- Available Staging Actions -->
          <div data-ng-if="listMode === 'availableStaging' && section.isCourseSection && section.stagedState === 'delete'">
            <button class="bc-canvas-button bc-template-sections-table-button bc-template-sections-table-button-undo-delete bc-canvas-no-decoration" data-ng-click="unstageAction({section: section})" aria-label="Add '{{section.courseCode}} {{section.section_label}}' to list of sections to remain in course site">Undo Delete</button>
          </div>

          <div data-ng-if="listMode === 'availableStaging' && !section.isCourseSection && section.stagedState === 'add'">
            Added <span class="cc-visuallyhidden">to pending list of new sections</span>
          </div>

          <div data-ng-if="listMode === 'availableStaging' && !section.isCourseSection && section.stagedState === null">
            <button class="bc-canvas-button bc-canvas-button-primary bc-template-sections-table-button bc-canvas-no-decoration" data-ng-class="{'bc-template-sections-table-button-undo-add':(section.stagedState === 'add')}" data-ng-click="stageAddAction({section: section})" aria-label="Add '{{section.courseCode}} {{section.section_label}}' to list of sections to remain in course site">
              Add
            </button>
          </div>
        </td>
      </tr>
      <tr data-ng-if="(listMode !== 'preview' && listMode !== 'currentStaging' && section.sites)" data-ng-class="rowClassLogic({listMode: listMode, section: section})">
        <td colspan="7" class="bc-template-sections-table-sites-cell">
          <div data-ng-repeat="site in section.sites" class="bc-template-sections-table-sites-container">
            <i class="fa fa-info-circle bc-template-sections-table-sited-icon"></i>
            This section is already in use by <a data-ng-bind="site.name" data-ng-href="{{site.site_url}}"></a>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody data-ng-if="listMode === 'preview' && sectionsList.length < 1">
      <tr>
        <td colspan="7">There are no official sections in this course site</td>
      </tr>
    </tbody>
    <tbody data-ng-if="listMode === 'currentStaging' && noCurrentSections()">
      <tr>
        <td colspan="7">No official sections will remain in course site</td>
      </tr>
    </tbody>
  </table>
</div>
