.cc-page-academics {
  overflow: hidden;
  h1, h2, h3, h4 {
    color: $cc-color-medium-grey;
  }
  h1 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  h4 {
    font-size: 14px;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  .cc-academics-block-history {
    margin-top: 15px;
  }
  .cc-academics-calculator-disclaimer {
    p {
      font-size: 11px;
      line-height: 1.3;
      margin: 0;
    }
    padding: 5px 0;
  }
  .cc-academics-calculator-row {
    line-height: 2;
    select {
      min-width: 50px;
    }
  }
  .cc-academics-calendar {
    font-size: 11px;
    line-height: 1.5em;
  }
  .cc-academics-calendar-link {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .cc-academics-class-sites-list {
    a {
      display: block;
      padding: 2px 10px;
    }
    i {
      display: block;
      margin-right: 10px;
    }
  }
  .cc-academics-column-labels {
    color: $cc-color-light-medium-grey;
    font-weight: bold;
  }
  .cc-academics-empasize {
    font-weight: bold;
  }
  .cc-academics-exam-block {
    margin-bottom: 20px;
    max-width: 400px;
  }
  .cc-academics-instructors {
    color: $cc-color-green-light;
    list-style-type: square;
    li {
      margin-left: 20px;
    }
  }
  .cc-academics-nolink {
    color: $cc-color-light-medium-grey;
    font-size: 14px;
  }
  .cc-academics-orderlink {
    margin: 10px;
  }
  .cc-academics-page-left {
    .row {
      margin-bottom: 5px;
    }
  }
  .cc-academics-prev-next {
    font-size: 11px;
    margin: 20px 20px 10px 10px;
    .cc-academics-next, .cc-academics-prev {
      position: relative;
      &:before {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        top: 1px;
        width: 0;
      }
    }
    .cc-academics-next {
      &:before {
        border-left: 4px solid $cc-color-link;
        right: -8px;
      }
    }
    .cc-academics-prev {
      &:before {
        border-right: 4px solid $cc-color-link;
        left: -8px;
      }
    }
    .cc-academics-prev-next-disabled {
      color: $cc-color-lighter-medium-grey;
      &.cc-academics-next {
        &:before {
          border-left: 4px solid $cc-color-lighter-medium-grey;
        }
      }
      &.cc-academics-prev {
        &:before {
          border-right: 4px solid $cc-color-lighter-medium-grey;
        }
      }
    }
  }
  .cc-academics-schedule-room {
    line-height: 1.3;
    margin-bottom: 5px;
  }
  .cc-academics-semester {
    padding: 0 20px 20px 0;
    width: 100%;
    > div {
      border: 1px solid $cc-color-list-border;
      padding: 10px;
    }
    h3 {
      font-size: 14px;
      margin: 0;
    }
    table {
      font-size: 10px;
    }
  }
  .cc-academics-semester-current {
    font-size: 100%;
    > div {
      background: $cc-color-blue-hover;
    }
    h3 {
      font-size: 18px;
    }
    table {
      font-size: 12px;
    }
  }
  .cc-academics-semester-future {
    > div {
      background: $cc-color-widget-more-background;
    }
  }
  .cc-academics-semesters {
    padding: 20px 0 0 20px;
  }
  .cc-academics-showhide-block-history {
    margin-top: 10px;
    a {
      font-weight: bold;
    }
  }
  .cc-academics-status-and-blocks {
    border: 2px solid $cc-color-shadow-color;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 10px 10px 10px;

    .cc-widget-list-hover {
      padding: 0;
      i {
        padding-right: 5px;
      }
      p {
        font-size: 12px;
        line-height: 1.3;
        margin: 5px 0;
      }
    }
    .cc-unavailable {
      padding-right: 5px;
    }
  }
  .cc-academics-telebears {
    h4 {
      font-size: 12px;
      font-weight: bold;
      margin: 0;
    }
    .cc-adviser-message {
      color: $cc-color-black;
      font-size: 13px;
      margin-left: 10px;
      overflow: hidden;
      padding-left: 10px;
    }
    .cc-adviser-message-container {
      padding: 10px 0;
    }
    .cc-more-info {
      padding-top: 10px;
    }
    .cc-telebears-phases {
      overflow: hidden;
      padding-bottom: 10px;
    }
    .cc-telebears-time-tag {
      color: $cc-color-lighter-medium-grey;
    }
  }
  .cc-academics-what-is-registration-block {
    margin-left: 10px;
    i {
      padding-right: 5px;
    }
  }
  .cc-widget {
    overflow: hidden;
  }
}
