.cc-page-academics {
  overflow: hidden;
  .header-margin-top {
    margin-top: 20px;
  }
  h2, h3, h4 {
    color: $cc-color-medium-grey;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  h4 {
    font-size: 14px;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  .cc-academics-adviser-message {
    color: $cc-color-black;
    font-size: 13px;
    margin-left: 10px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 10px;
  }
  .cc-academics-adviser-message-container {
    padding: 0 0 10px;
  }
  .cc-academics-adviser-more-info {
    float: right;
    font-size: 12px;
    padding: 2px;
  }
  .cc-academics-block-history {
    margin-top: 15px;
  }
  .cc-academics-block-history-block-show {
    padding: 5px 10px;
  }
  .cc-academics-calculator-disclaimer {
    padding: 5px 0;
    p {
      font-size: 11px;
      line-height: 1.3;
      margin: 0;
    }
  }
  .cc-academics-calculator-row {
    line-height: 2;
    select {
      min-width: 50px;
    }
  }
  .cc-academics-calendar {
    font-size: 11px;
    line-height: 1.5em;
  }
  .cc-academics-calendar-link {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .cc-academics-class-info {
    margin-bottom: 10px;
  }
  .cc-academics-class-primary-row {
    font-weight: bold;
  }
  .cc-academics-class-sites-list {
    a {
      display: block;
      padding: 2px 10px;
    }
    i {
      display: block;
      margin-right: 10px;
    }
  }
  .cc-academics-column-labels {
    color: $cc-color-light-medium-grey;
    font-weight: bold;
  }
  .cc-academics-course-number {
    width: 22%;
  }
  .cc-academics-emphasize {
    font-weight: bold;
  }
  .cc-academics-instructors {
    color: $cc-color-green-light;
    list-style-type: square;
    li {
      margin-left: 20px;
    }
  }
  .cc-academics-nocontent-container {
    p {
      margin-bottom: 0;
    }
    .cc-academics-nocontent {
      margin: 20px;
    }
  }
  .cc-academics-even {
    background: $cc-color-lightest-grey;
  }
  .cc-academics-page-left {
    .row {
      margin-bottom: 5px;
    }
  }
  .cc-academics-prev-next {
    font-size: 11px;
    margin: 20px 20px 10px 10px;
    .cc-academics-next, .cc-academics-prev {
      position: relative;
      &:before {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        top: 1px;
        width: 0;
      }
    }
    .cc-academics-next {
      &:before {
        border-left: 4px solid $cc-color-link;
        right: -8px;
      }
    }
    .cc-academics-prev {
      &:before {
        border-right: 4px solid $cc-color-link;
        left: -8px;
      }
    }
    .cc-academics-prev-next-disabled {
      color: $cc-color-lighter-medium-grey;
      &.cc-academics-next {
        &:before {
          border-left: 4px solid $cc-color-lighter-medium-grey;
        }
      }
      &.cc-academics-prev {
        &:before {
          border-right: 4px solid $cc-color-lighter-medium-grey;
        }
      }
    }
  }
  .cc-academics-schedule-room {
    line-height: 1.3;
    margin-bottom: 5px;
  }
  .cc-academics-semester {
    padding: 0 15px 15px 0;
    width: 100%;
    > div {
      border: 1px solid $cc-color-list-border;
      padding: 10px;
    }
    h3 {
      font-size: 14px;
      margin: 0;
    }
    table tr {
      th, td {
        font-size: 11px !important;
        line-height: 1.4;
      }
    }
  }
  .cc-academics-semester-current {
    font-size: 100%;
    > div {
      background: $cc-color-blue-hover;
    }
    h3 {
      font-size: 18px;
    }
    table tr {
      th, td {
        font-size: 12px !important;
      }
    }
  }
  .cc-academics-semester-future {
    > div {
      background: $cc-color-widget-more-background;
    }
  }
  .cc-academics-semesters {
    padding: 15px 0 0 15px;
  }
  .cc-academics-semester-title-link {
    margin-top: 7px;
  }
  .cc-academics-no-block-history {
    color: $cc-color-light-medium-grey;
    font-size: 14px;
    margin-top: 10px;
  }
  .cc-academics-status-and-blocks {
    .cc-academics-status-and-blocks-status-table {
      margin-bottom: 15px;
      tbody tr:nth-child(odd) {
        td, th {
          padding-top: 10px;
        }
      }
    }
    .cc-widget-list-hover, .cc-widget-table-hover {
      padding: 0;
      i {
        padding-right: 5px;
      }
      p {
        font-size: 12px;
        line-height: 1.3;
        margin: 5px 0;
      }
    }
  }
  .cc-academics-subtitle {
    background: $cc-color-dark-blue;
    h3 {
      color: $cc-color-white;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
      padding: 2px 15px;
    }
  }
  .cc-academics-teaching-button-group {
    float: right;
    margin-right: 10px;
    width: 200px;
  }
  .cc-academics-teaching-class {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .cc-academics-teaching-course-number {
    padding-bottom: 5px;
  }
  .cc-academics-teaching-semester {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
    }
  }
  .cc-academics-telebears {
    h3 {
      font-size: 13px;
      font-weight: bold;
    }
    h4 {
      font-size: 12px;
      font-weight: bold;
      margin: 0;
    }
    .cc-academics-telebears-indicator {
      margin: 7px 5px 0;
    }
    .cc-telebears-title {
      width: 100%;
    }
    .cc-telebears-phases {
      overflow: hidden;
      padding-bottom: 10px;
      ul {
        font-size: .9em;
      }
    }
    .cc-telebears-time-tag {
      color: $cc-color-lighter-medium-grey;
    }
  }
  .cc-academics-what-is-registration-block {
    margin-left: 10px;
    i {
      padding-right: 5px;
    }
  }
  .cc-widget {
    overflow: hidden;
  }
  .cc-academics-semester-books {
    .cc-textbook-category-separator {
      display: none;
    }
  }

  @media print {
    .cc-widget-title {
      text-align: center;
    }
  }
}
