.cc-page-campus {
  h1 {
    color: #004677;
    font-size: 24px;
  }
  h2 {
    border-bottom: 1px solid $cc-border-color;
    font-size: 16px;
    padding-bottom: 5px;
  }
  ul {
    list-style-type: none;
    padding-left: 15px;
    a {
      display: block;
    }
  }
  .cc-page-campus-content-subcontainer {
    float: left;
    padding-right: 15px;
    width: 50%;
  }
  .cc-page-campus-navigation, .cc-page-campus-content {
    @include cc-column-sameheight;
  }
  .cc-page-campus-navigation {
    background: #fafafa;
    border-right: 5px solid #dedede;
  }
  @media only screen and (max-width: 767px) {
    .cc-page-campus-content-subcontainer {
      float: none;
      width: 100%;
    }
    .cc-page-campus-navigation {
      background: transparent;
      border-right: none;
    }
  }
}
