.cc-page-campus {
  h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 0.9em;
    margin-top: 0;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .cc-widget {
    width: 40%;
  }
  .cc-page-campus-navigation h3 {
    border-top: 1px solid #b9c8d0;
    color: #b9c8d0;
    font-size: 16px;
    margin: 0;
    padding: 10px 15px 0;
  }
  ul {
    margin: 10px 0;
    padding-left: 0;
    a {
      display: block;
    }
  }
  .cc-page-campus-content {
    padding: 15px 25px;
    a {
      margin-left: 16px;
      &:before {
        content: '\25A0';
        color: #61889d;
        float: left;
        margin-left: -16px;
        margin-top: -2px;
        padding-right: 8px;
      }
    }
    ul {
      list-style-type: none;
    }
  }
  .cc-page-campus-content-explanation {
    max-width: 400px;
  }
  .cc-page-campus-content-subcontainer {
    padding-left: 10px;
    h3 {
      font-size: 14px;
      margin: 10px 0;
    }
  }
  .cc-page-campus-navigation, .cc-page-campus-content {
    @include cc-column-sameheight;
  }
  .cc-page-campus-navigation {
    background: $cc-color-navigation-sub;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1px;
    ul {
      list-style-type: none;
    }
    li {
      &.active a, a:hover, a:focus {
        background: #61889e;
        border-radius: 5px;
        color: #fff;
      }
      &.active a {
        font-weight: bold;
      }
      > a {
        color: #e6e6e6;
        display: block;
        margin: 1px 10px 0 10px;
        padding: 2px 5px;
        position: relative;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .cc-widget {
      width: 100%;
    }
    .cc-page-campus-navigation {
      border-right: none;
    }
    .cc-page-campus-content {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }
}
