.cc-page-course-provision {
  padding: 10px 20px;

  .cc-page-provision-actas-form {
    background: $cc-color-white;
    input[type="text"] {
      margin: 2px 10px 0 0;
      padding: 0 2px;
      width: 140px;
    }
  }

  .cc-page-provision-choices {
    overflow: hidden;
    li {
      border-left: 1px solid $cc-color-popover-border;
      max-width: 250px;
      float: left;
      padding: 15px;
      width: 50%;
      &:first-child {
        border: none;
      }
    }
  }

  .cc-page-provision-feedback {
    padding: 5px 0 15px;
    i {
      margin-right: 5px;
    }
    > div {
      margin-top: 5px;
    }
  }

  .cc-page-provision-section-label {
    display: inline;
    margin-left: 1em;
    text-align: left;
  }

  .cc-page-provision-margin {
    margin: 0 0 10px;
    overflow: hidden;
  }

}
