/* bCourses Colors */
$bc-color-dark-blue: #0e7eb8;
$bc-color-grey: #cccccc;
$bc-color-help-link-blue: #2274A7;
$bc-color-light-blue: #37c9ff;
$bc-color-medium-blue: #028ed6;
$bc-color-notice-default: #888888;
$bc-color-notice-error: #b94a48;
$bc-color-notice-info: #3a87ad;
$bc-color-notice-success: #468847;
$bc-color-notice-warning: #f9a42b;
$bc-color-off-black: #333333;
$bc-color-white: #ffffff;
$bc-color-success-green: #43ac6a;

/* Global Styles for Canvas Embedded Applications */
.cc-canvas-embedded {

  .cc-container-main {
    background: #fff;
    min-height: 570px;
  }
}
