.cc-page-course-provision {
  background: $cc-color-white;
  padding: 10px 20px;

  .cc-button {
    padding: 10px;
  }

  h2, h3 {
    color: $bc-color-headers;
    font-family: $bc-header-font-family;
    font-weight: normal;
    line-height: 40px;
    margin: 5px 0px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 18px;
    margin: 10px 0;
  }

  // Reset to avoid default Foundation form styling
  form {
    background: transparent;
    border: 0;
    padding: 0;
  }

  .cc-page-button-grey {
    @include background(linear-gradient($bc-color-button-grey-gradient-1, $bc-color-button-grey-gradient-2));
    color: $bc-color-button-grey-text;
    border: 1px solid $bc-color-button-grey-border;
  }

  .cc-page-provision-confirmation {
    @include background(linear-gradient($bc-color-notice-yellow-bg-gradient1, $bc-color-notice-yellow-bg-gradient2));
    border-radius: 5px;
    padding: 20px;
    .cc-page-provision-roster-list {
      list-style-type: disc;
      margin: 10px 0 0 39px;
    }
  }

  .cc-page-provision-site-labels-form {
    margin-top: 10px;
  }

  .cc-page-provision-pending-request {
    margin: 15px auto;
  }

  .cc-page-provision-no-courses {
    color: $bc-color-headers;
    font-family: $bc-header-font-family;
    font-size: 14px;
    font-weight: normal;
    padding: 20px;
  }

  .cc-page-provision-select-rosters {
    padding: 10px 0;
    border-top: 1px solid $bc-color-top-border;
  }

  .cc-page-provision-step-indent {
    padding-left: 18px;
  }

  .cc-page-provision-step-options {
    padding: 20px 0;
  }

  .cc-page-provision-roster-area {
    background: $bc-color-roster-background;
    border: 1px solid $bc-color-roster-background;
    padding: 10px 5px;
  }

  .cc-page-provision-form-actions {
    background: $bc-color-roster-background;
    border: 1px solid $bc-color-roster-background;
    padding: 10px 5px;
  }

  .cc-page-provision-acting-as {
    height: 24px;
  }

  .cc-page-provision-student-warning {
    margin: 10px 0;
  }

  .cc-page-provision-actas-form {
    background: $cc-color-white;
    input[type="text"] {
      margin: 2px 10px 0 0;
      padding: 3px 2px;
      width: 140px;
    }
  }

  .cc-page-provision-success-intro {
    margin: 15px 0 0;
  }

  .cc-page-provision-choices {
    overflow: hidden;
    li {
      border-left: 1px solid $cc-color-popover-border;
      max-width: 250px;
      float: left;
      padding: 15px;
      width: 50%;
      &:first-child {
        border: 0;
      }
    }
  }

  .cc-page-provision-error {
    background-color: $bc-color-notice-red-bg;
    border: 1px solid $bc-color-notice-red-border;
    border-radius: 5px;
    padding: 20px;
    i {
      margin-right: 5px;
    }
    > div {
      margin-top: 5px;
    }
    p {
      color: $bc-color-grey-text;
      font-size: 15px;
      margin: 0 10px 10px 0;
    }
    ul {
      font-size: 15px;
      margin: 5px 20px 5px;
      list-style: disc inside none;
    }
  }

  .cc-page-provision-error-header {
    color: $bc-color-notice-red-header;
    font-size: 17px;
  }

  .cc-page-provision-error-icon {
    color: $bc-color-notice-red-header;
    font-size: 17px;
    line-height: 27px;
  }

  .cc-page-provision-error-notice {
    background-color: $bc-color-notice-red-bg;
  }

  .cc-page-provision-section-label {
    display: inline;
    margin-left: 1em;
    text-align: left;
  }

  .cc-page-provision-section-sited-label {
    color: $cc-color-berkeley-south-hall;
  }

  .cc-page-provision-section-sites {
    margin-left: 40px;
  }

  .cc-page-provision-section-sited-icon {
    color: $cc-color-berkeley-south-hall;
    margin-right: 10px;
  }

  .cc-page-provision-margin {
    margin: 0;
    overflow: hidden;
  }

  .cc-page-provision-form-course {
    margin: 0 0 20px;
  }

  .cc-page-provision-form-select-all-option {
    font-size: 12px;
    font-weight: bold;
    margin: 6px 0 0 7px;
  }

  .cc-page-provision-has-sites-message {
    margin: 5px 0 0 23px;
  }

  .cc-page-provision-form-button {
    @include background(linear-gradient($bc-color-form-button-gradient1, $bc-color-form-button-gradient2));
  }

  .cc-page-provision-progress-bar-container {
    margin: 35px auto;
    width: 75%;
  }

  .cc-page-provision-progress-bar {
    @include background(linear-gradient($bc-color-progressbar-bg-gradient1, $bc-color-progressbar-bg-gradient2));
    border: 2px solid #c6c7c7;
    border-radius: 5px;
    height: 25px;
    position: relative;
    overflow: hidden;
  }

  .cc-page-provision-progress-bar-value {
    @include background(linear-gradient($bc-color-progressbar-fg-gradient1, $bc-color-progressbar-fg-gradient2));
    height: 100%;
  }

  .cc-page-provision-progress-bar-status {
    color: #2f2e2e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    left: 50%;
    line-height: 25px;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    width: 150px;
  }

}
