/* bCourses Colors */
$bc-color-dark-blue: #0e7eb8;
$bc-color-medium-blue: #028ed6;
$bc-color-light-blue: #37c9ff;
$bc-color-white: #ffffff;
$bc-color-grey: #cccccc;

/* Global Styles for Canvas Embedded Applications */
.cc-canvas-embedded {

  .cc-container-main {
    background: #fff;
    min-height: 570px;
  }
}
