// bCourses Colors
$bc-color-button-grey-gradient-1: #fefefe;
$bc-color-button-grey-gradient-2: #ececec;
$bc-color-button-grey-text: #464646;
$bc-color-button-grey-border: #d0d0d0;
$bc-color-dark-blue: #0e7eb8;
$bc-color-error-border: #eed3d7;
$bc-color-error-background: #f2dede;
$bc-color-error-foreground: #b94a48;
$bc-color-form-button-gradient1: #07c8fd;
$bc-color-form-button-gradient2: #03a5e1;
$bc-color-grey: #ccc;
$bc-color-grey-text: #333;
$bc-color-headers: #424242;
$bc-color-help-link-blue: #2274a7;
$bc-color-light-blue: #37c9ff;
$bc-color-medium-blue: #028ed6;
$bc-color-notice-default: #888;
$bc-color-notice-info: #3a87ad;
$bc-color-notice-red-bg: #f2dede;
$bc-color-notice-red-border: #eed3d7;
$bc-color-notice-red-header: #b94a48;
$bc-color-notice-success: #468847;
$bc-color-notice-warning: #f9a42b;
$bc-color-notice-yellow-bg-gradient1: #fcf0d1;
$bc-color-notice-yellow-bg-gradient2: #f1e2b0;
$bc-color-off-black: #333;
$bc-color-progressbar-bg-gradient1: #fff;
$bc-color-progressbar-bg-gradient2: #c5d8e2;
$bc-color-progressbar-fg-gradient1: #88cef7;
$bc-color-progressbar-fg-gradient2: #4baff6;
$bc-color-roster-background: #edf0f2;
$bc-color-success-border: #d6e9c6;
$bc-color-success-background: #dff0d8;
$bc-color-success-foreground: #468847;
$bc-color-top-border: #b3b3b3;
$bc-color-warning-border: #fbeed5;
$bc-color-warning-background: #fcf8e3;
$bc-color-warning-foreground: #c09853;
$bc-color-white: #fff;

// bCourses Fonts
$bc-header-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Global Styles for Canvas Embedded Applications
.cc-canvas-embedded {

  .cc-container-main {
    background: #fff;
    min-height: 570px;
  }

  .bc-table {
    overflow-x: auto;
    table-layout: auto;
    width: auto;
  }

  .cc-notice-box {
    background-color: $bc-color-notice-default;
    border: 0;
    color: $bc-color-white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 10px;
    i {
      margin-right: 5px;
    }
    .cc-close-button {
      background-color: transparent;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }
    }
    .cc-notice-close-button {
      display: inline-block;
      float: right;
      .small {
        margin: 0;
        padding: 0;
      }
    }
  }

  .cc-maintenance-notice {
    color: $bc-color-off-black;
    font-size: 13px;
    margin: 8px 6px;
    min-height: 20px;

    .fa-lg {
      font-size: 36px;
      line-height: 44px;
    }

    .cc-notice-text {
      line-height: 18px;
      margin-left: 45px;
      h4 {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin: 4px 0;
      }
    }

  }

  .cc-radius {
    border-radius: 3px;
  }

  .cc-notice-success {
    background-color: $bc-color-success-background;
    border: 1px solid $bc-color-success-border;
    color: $bc-color-success-foreground;
  }

  .cc-notice-warning {
    background-color: $bc-color-warning-background;
    border: 1px solid $bc-color-warning-border;
    color: $bc-color-warning-foreground;
  }

  .cc-notice-error {
    background-color: $bc-color-error-background;
    border: 1px solid $bc-color-error-border;
    color: $bc-color-error-foreground;
  }

}
