/* bCourses Colors */
$bc-color-dark-blue: #0e7eb8;
$bc-color-grey: #cccccc;
$bc-color-help-link-blue: #2274A7;
$bc-color-light-blue: #37c9ff;
$bc-color-medium-blue: #028ed6;
$bc-color-notice-default: #888888;
$bc-color-notice-info: #3a87ad;
$bc-color-notice-success: #468847;
$bc-color-notice-warning: #f9a42b;
$bc-color-off-black: #333333;
$bc-color-white: #ffffff;
$bc-color-error-border: #eed3d7;
$bc-color-error-background: #f2dede;
$bc-color-error-foreground: #b94a48;
$bc-color-success-border: #d6e9c6;
$bc-color-success-background: #dff0d8;
$bc-color-success-foreground: #468847;
$bc-color-warning-border: #fbeed5;
$bc-color-warning-background: #fcf8e3;
$bc-color-warning-foreground: #c09853;
$bc-color-top-border: #b3b3b3;
$bc-color-roster-background: #edf0f2;

/* Global Styles for Canvas Embedded Applications */
.cc-canvas-embedded {

  .cc-container-main {
    background: #fff;
    min-height: 570px;
  }
}
