// bCourses Colors
$bc-color-button-grey-gradient-1: #fefefe;
$bc-color-button-grey-gradient-2: #ececec;
$bc-color-button-grey-text: #464646;
$bc-color-button-grey-border: #d0d0d0;
$bc-color-dark-blue: #0e7eb8;
$bc-color-error-border: #eed3d7;
$bc-color-error-background: #f2dede;
$bc-color-error-foreground: #b94a48;
$bc-color-form-button-gradient1: #07c8fd;
$bc-color-form-button-gradient2: #03a5e1;
$bc-color-grey: #ccc;
$bc-color-grey-text: #333;
$bc-color-headers: #424242;
$bc-color-help-link-blue: #2274a7;
$bc-color-light-blue: #37c9ff;
$bc-color-medium-blue: #028ed6;
$bc-color-notice-default: #888;
$bc-color-notice-info: #3a87ad;
$bc-color-notice-red-bg: #f2dede;
$bc-color-notice-red-border: #eed3d7;
$bc-color-notice-red-header: #b94a48;
$bc-color-notice-success: #468847;
$bc-color-notice-warning: #f9a42b;
$bc-color-notice-yellow-bg-gradient1: #fcf0d1;
$bc-color-notice-yellow-bg-gradient2: #f1e2b0;
$bc-color-off-black: #333;
$bc-color-progressbar-bg-gradient1: #fff;
$bc-color-progressbar-bg-gradient2: #c5d8e2;
$bc-color-progressbar-fg-gradient1: #88cef7;
$bc-color-progressbar-fg-gradient2: #4baff6;
$bc-color-roster-background: #edf0f2;
$bc-color-section-list-border: #d1d5d8;
$bc-color-section-list-secondary-bg: #f7f9f8;
$bc-color-section-list-alert: #7e4702;
$bc-color-section-list-alert-grey: #777;
$bc-color-success-border: #d6e9c6;
$bc-color-success-background: #dff0d8;
$bc-color-success-foreground: #468847;
$bc-color-top-border: #b3b3b3;
$bc-color-warning-border: #fbeed5;
$bc-color-warning-background: #fcf8e3;
$bc-color-warning-foreground: #c09853;
$bc-color-white: #fff;

// bCourses Fonts
$bc-header-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Global Styles for Canvas Embedded Applications
.cc-canvas-embedded {

  .cc-container-main {
    background: #fff;
    min-height: 570px;
  }

  .bc-table {
    overflow-x: auto;
    table-layout: auto;
    width: auto;
  }

  .cc-notice-box {
    background-color: $bc-color-notice-default;
    border: 0;
    color: $bc-color-white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 10px;
    i {
      margin-right: 5px;
    }
    .cc-close-button {
      background-color: transparent;
      font-size: 20px;
      &:hover {
        text-decoration: none;
      }
    }
    .cc-notice-close-button {
      display: inline-block;
      float: right;
      .small {
        margin: 0;
        padding: 0;
      }
    }
  }

  .cc-maintenance-notice {
    color: $bc-color-off-black;
    font-size: 13px;
    margin: 8px 6px;
    min-height: 20px;

    .fa-lg {
      font-size: 36px;
      line-height: 44px;
    }

    .cc-notice-text {
      line-height: 18px;
      margin-left: 45px;
      h4 {
        color: #333;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin: 4px 0;
      }
    }

  }

  .cc-notice-success {
    background-color: $bc-color-success-background;
    border: 1px solid $bc-color-success-border;
    color: $bc-color-success-foreground;
  }

  .cc-notice-warning {
    background-color: $bc-color-warning-background;
    border: 1px solid $bc-color-warning-border;
    color: $bc-color-warning-foreground;
  }

  .cc-notice-error {
    background-color: $bc-color-error-background;
    border: 1px solid $bc-color-error-border;
    color: $bc-color-error-foreground;
  }

  .cc-page-unexpected-error-notice {
    margin: 10px 0;
  }

  .cc-radius {
    border-radius: 3px;
  }

  // Error display for remote background jobs
  .cc-template-background-job-error {
    background-color: $bc-color-notice-red-bg;
    border: 1px solid $bc-color-notice-red-border;
    border-radius: 5px;
    padding: 20px;
    i {
      margin-right: 5px;
    }
    > div {
      margin-top: 5px;
    }
    p {
      color: $bc-color-grey-text;
      font-size: 15px;
      margin: 0 10px 10px 0;
    }
    ul {
      font-size: 15px;
      list-style: disc inside none;
      margin: 5px 20px;
    }

    .cc-template-background-job-error-paragraph {
      margin-bottom: 10px;
    }

    .cc-template-background-job-error-icon {
      color: $bc-color-notice-red-header;
      font-size: 17px;
      line-height: 27px;
    }

    .cc-template-background-job-error-header {
      color: $bc-color-notice-red-header;
      font-size: 17px;
    }
  }

  // Progress Bar
  .cc-template-progress-bar {
    .cc-template-progress-bar-container {
      margin: 35px auto;
      width: 75%;
    }

    .cc-template-progress-bar-display {
      background: linear-gradient($bc-color-progressbar-bg-gradient1, $bc-color-progressbar-bg-gradient2);
      border: 2px solid #c6c7c7;
      border-radius: 5px;
      height: 25px;
      overflow: hidden;
      position: relative;
    }

    .cc-template-progress-bar-status {
      color: #2f2e2e;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: bold;
      left: 50%;
      line-height: 25px;
      margin-left: -75px;
      position: absolute;
      text-align: center;
      width: 150px;
    }

    .cc-template-progress-bar-value {
      background: linear-gradient($bc-color-progressbar-fg-gradient1, $bc-color-progressbar-fg-gradient2);
      height: 100%;
    }
  }

  // Styling for Sections Form used by Course Provisioning and Official Sections LTI tools
  .cc-template-canvas-manage-sections {

    .cc-template-canvas-manage-sections-section-list {
      border: $bc-color-section-list-border 1px solid;
      border-bottom: 0;
      margin: 0;
      .cc-template-canvas-manage-sections-section {
        background-color: $bc-color-white;
        border-bottom: $bc-color-section-list-border 1px solid;
        padding: 9px;
      }
      .cc-template-canvas-manage-sections-section-secondary {
        background-color: $bc-color-section-list-secondary-bg;
      }
    }

    .cc-template-canvas-manage-sections-margin {
      margin: 0;
      overflow: hidden;
    }

    .cc-template-canvas-manage-sections-form-course {
      background: $bc-color-roster-background;
      border: 1px solid $bc-color-roster-background;
      cursor: pointer;
      margin: 0 0 20px;
      padding: 15px;
    }

    .cc-template-canvas-manage-sections-form-select-all-option {
      font-size: 12px;
      font-weight: normal;
      margin: 6px 0 4px 2px;
    }

    .cc-template-canvas-manage-sections-form-select-all-option-button {
      outline: none;
    }

    .cc-template-canvas-manage-sections-checkbox {
      float: left;
      text-align: center;
      width: 30px;
    }

    .cc-template-canvas-manage-sections-form-collapse-icon {
      font-size: 18px;
      margin-left: 2px;
    }

    .cc-template-canvas-manage-sections-form-collapsible-container {
      margin-top: 7px;
    }

    .cc-template-canvas-manage-sections-form-course-title {
      margin-left: 10px;
    }

    .cc-template-canvas-manage-sections-course-code {
      float: left;
      width: 115px;
    }

    .cc-template-canvas-manage-sections-row {
      overflow: auto;
      width: 100%;
    }

    .cc-template-canvas-manage-sections-sites-row {
      margin-top: 10px;
    }

    .cc-template-canvas-manage-sections-section-label {
      float: left;
      width: 75px;
    }

    .cc-template-canvas-manage-sections-section-ccn {
      float: left;
      width: 70px;
    }

    .cc-template-canvas-manage-sections-section-timestamps {
      float: left;
      width: 155px;
    }

    .cc-template-canvas-manage-sections-section-locations {
      float: left;
      width: 150px;
    }

    .cc-template-canvas-manage-sections-section-instructors {
      float: left;
      width: 190px;
    }

    .cc-template-canvas-manage-sections-in-use {
      clear: both;
    }

    .cc-template-canvas-manage-sections-label {
      display: inline;
      margin-left: 1em;
      text-align: left;
    }

    .cc-template-canvas-manage-sections-has-sites-message {
      margin: 5px 0 0 23px;
    }

    .cc-template-canvas-manage-sections-sites {
      color: $bc-color-section-list-alert-grey;
      margin-left: 43px;
    }

    .cc-template-canvas-manage-sections-sited-icon {
      color: $bc-color-help-link-blue;
      font-size: 15px;
      margin-right: 4px;
      margin-top: 2px;
    }
  }

  // Collapsed help notice area
  .cc-page-help-notice {
    margin: 4px 1px;
    min-height: 15px;

    .cc-page-help-notice-icon {
      color: $bc-color-help-link-blue;
      font-size: 15px;
      margin-top: 2px;
    }

    .cc-page-help-notice-toggle-button {
      color: $bc-color-help-link-blue;
      font-size: 13px;
      outline: none;
    }

    .cc-page-help-notice-left-margin {
      margin-left: 16px;
    }

    .cc-page-help-notice-content {
      border: $bc-color-button-grey-border solid 1px;
      margin: 10px 0 20px;
      padding: 10px;
    }
  }

}
