.cc-page-course-grade-export {
  margin: 10px;

  .cc-page-course-grade-export-container {
    padding: 20px;
    width: 190px;

    .cc-page-course-grade-export-download-button {
      padding: 10px 24px;
    }

    .cc-page-course-grade-export-grade-link {
      margin: 15px 0;
      text-align: center;
    }
  }

  .cc-page-course-grade-export-unauthorized {
    padding: 20px;
  }
}
