.cc-widget-classes {
  .cc-widget-classes-other {
    .cc-icon {
      margin-left: 5px;
    }
    .cc-widget-list-hover {
      padding-left: 0;
    }
  }
  .cc-widget-list {
    .cc-widget-list-hover {
      padding-left: 5px;
    }
    .cc-widget-sublist {
      margin-left: 5px;
    }
  }

}