.cc-page-course-provision {
  background: $cc-color-white;
  padding: 20px;
  overflow: hidden;

  .cc-provision-section-label {
    display:inline;
    margin-left: 1em;
    text-align: left;
  }

}
