.cc-container-main {
  overflow: hidden;

  .cc-page-dashboard-column-a,
  .cc-page-dashboard-column-b,
  .cc-page-dashboard-column-c {
    @include cc-column-sameheight;
  }
  .cc-page-dashboard-column-b, .cc-page-dashboard-column-c {
    border-left: 5px solid $cc-column-border-color;
  }
  .cc-page-dashboard-column-a, .cc-page-dashboard-column-c {
    background: #fafafa;
  }

  .cc-emitter-col {
    padding-right: 0;
  }
  .cc-emitter {
    color: #fff;
    background: #1d6592;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 100%;
  }
  .cc-emitter-square {
    border-radius: 4px;
    height: 18px;
    width: 18px;
  }
  // Emitter lozenge colors
  .cc-emitter-bspace-class {
    background: #3e7fbe;
  }
  .cc-emitter-bspace-group {
    background: #dba247;
  }
  .cc-emitter-callink-group {
    background: #954f30;
  }
  .cc-emitter-canvas-class {
    background: #8f428a;
  }
  .cc-emitter-canvas-group {
    background: #fc6c40;
  }
  .cc-emitter-google-task {
    background: #b7dca6;
    color: #000;
  }

  .cc-widget-section-label-due {
    color: $cc-widget-section-label-color;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
  }

  .cc-widget-tasks-activities-date, .cc-widget-tasks-activities-date-string {
    color: #999999;
    float: right;
    text-align: right;
    text-transform: uppercase;
  }
  .cc-widget-tasks-activities-date-string {
    font-size: 12px;
  }
  .cc-widget-add-icon {
    @include user-select("none");
    background: #fff;
    // Border color equals section bg color so button doesn't jump when hover border appears
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px 0 0 5px;
    padding: 1px 3px 0 2px;
    text-align: center;
    &:focus, &:hover {
      background-color: #fff;
      border: 2px solid $cc-action-button-color;
      .cc-widget-add-icon-plus {
        background-color: $cc-action-button-color;
        float: left;
      }
      .cc-widget-add-icon-text {
        color: $body-font-color;
        display: inline-block;
        font-weight: normal;
        height: auto;
        position: relative;
        width: auto;
      }
    }
  }
  .cc-widget-add-icon-plus {
    color: #fff;
    background-color: #ccc;
    border-color: #eaeff3;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 2px;
    padding: 2px 5px;
  }
  .cc-widget-add-icon-text {
    margin: 2px 2px 0 5px;
  }

  /* Mobile styles */
  @media only screen and (max-width: 767px) {
    .cc-page-dashboard-column-b, .cc-page-dashboard-column-c {
      border: none;
    }
  }
}
