.cc-container-main {
  overflow: hidden;

  .cc-page-dashboard-column-a,
  .cc-page-dashboard-column-b,
  .cc-page-dashboard-column-c {
    @include cc-column-sameheight;
  }
  .cc-page-dashboard-column-b, .cc-page-dashboard-column-c {
    border-left: 1px solid $cc-color-widget-background;
  }

  /* Mobile styles */
  @media only screen and (max-width: 767px) {
    .cc-page-dashboard-column-b, .cc-page-dashboard-column-c {
      border: none;
    }
  }
}
