@import "pikaday";

/* CalCentral overrides */
.pika-single {
  position: absolute;
  width: 260px;
  table {
    thead {
      background: none;
    }
    thead tr th, table tbody tr td, tr td {
      padding: 0
    }
  }
}
