/* Footer */
body {
  footer {
    background: $cc-color-main-background;
    clear: both;
    line-height: 1.5;
    overflow: hidden;
    padding: 10px 10px 15px;

    a {
      font-weight: bold;
    }
    .cc-footer-links {
      margin-top: 10px;
      text-align: right;
      a {
        padding-left: 21px;
      }
    }
    .cc-footer-berkeley {
      &:hover {
        cursor: pointer;
      }
    }
    .cc-footer-copyright {
      margin-top: 10px;
    }

    svg {
      float: left;
      margin-right: 20px;
    }

    ul {
      margin-top: 20px;
      padding-left: 18px;
    }

    .cc-footer-confirmation {
      padding-top: 5px;
    }
  }
}
