// Foundation overrides
$base-font-size: 13px;
$block-grid-default-spacing: 100px;
$body-font-color: #474747;
$body-font-family: Arial, sans-serif;
$button-font-weight: bold;
$button-margin-bottom: 2px;
$form-spacing: .5rem;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500;
$primary-color: #2683bc;
$rem-base: 13px;
$row-width: 1200px;
$table-head-font-size: 13px;
$table-row-font-size: 13px;

// Includes
$include-html-form-classes: false;
$include-open-sans: false;

// Responsive
$small-breakpoint: (767px);
$medium-breakpoint: (768px);
$screen: "only screen";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{$small-breakpoint})";
$medium-up: "#{$screen} and (min-width:#{$medium-breakpoint})";
$medium-only: "#{$screen} and (min-width:#{$medium-breakpoint})";

// Foundation Components
@import
"foundation/components/global",
"foundation/components/grid",
"foundation/components/visibility",
"foundation/components/forms",
"foundation/components/tables";
