.cc-icon {
  margin-top: 1px;
  background: no-repeat;
  height: 16px;
  width: 16px;
}
.cc-icon-22 {
  background-size: 22px;
  height: 22px;
  width: 22px;
}

.cc-icon-bcourses {
  background-image: asset-data-url('icon_bcourses_16x16.png');
}
.cc-icon-bspace {
  background-image: asset-data-url('icon_bspace_16x16.png');
}
.cc-icon-calendar {
  background-image: asset-data-url('svg/icon_calendar_256x256.svg');
}
.cc-icon-callink {
  background-image: asset-data-url('icon_callink_16x16.png');
}
.cc-icon-drive {
  background-image: asset-data-url('svg/icon_drive_256x256.svg');
}
.cc-icon-mail {
  background-image: asset-data-url('svg/icon_mail_256x256.svg');
}
.cc-icon-researchhub{
  background-image: asset-data-url('icon_research_16x16.png')
}

/* Fontawesome icons */
.fa-exclamation-circle, .fa-exclamation-triangle {
  color: $cc-color-red-dark !important;
}
.cc-unavailable {
  color: $cc-color-gold !important;
}
.cc-icon-green {
  color: $cc-color-green-icon !important;
}
.fa-stop {
  color: $cc-color-medium-grey !important;
}

.cc-icon-amazon {
  background-image: asset-data-url('icon_amazon_16x16.png');
  display: inline-block;
}

.cc-icon-chegg {
  background-image: asset-data-url('icon_chegg_16x16.png');
  display: inline-block;
}

.cc-icon-oskicat {
  background-image: asset-data-url('icon_oskicat_16x16.png');
  display: inline-block;
}

.cc-icon-googlebook {
  background-image: asset-data-url('icon_googlebook_32x32.png');
  background-size: 16px 16px;
  display: inline-block;
}
