.cc-icon {
  margin-top: 2px;
  background: no-repeat;
  height: 16px;
  width: 16px;
}
.cc-icon-24 {
  height: 24px;
  width: 24px;
}

.cc-icon-bcourses {
  background-image: asset-data-url('icon_bcourses_16x16.png');
}
.cc-icon-bspace {
  background-image: asset-data-url('icon_bspace_16x16.png');
}
.cc-icon-calendar {
  background-image: asset-data-url('icon_calendar_24x24.png');
}
.cc-icon-callink {
  background-image: asset-data-url('icon_callink_16x16.png');
}
.cc-icon-drive {
  background-image: asset-data-url('icon_drive_24x24.png');
}
.cc-icon-mail {
  background-image: asset-data-url('icon_mail_24x24.png');
}
.cc-icon-researchhub{
  background-image: asset-data-url('icon_research_16x16.png')
}

/* Fontawesome icons */
.fa-exclamation-circle, .fa-exclamation-triangle {
  color: #ac120e !important;
}

.cc-unavailable {
  color: $cc-color-gold !important;
}

.cc-icon-green {
  color: $cc-color-green-icon !important;
}
.fa-stop {
  color: $cc-color-medium-grey !important;
}

.cc-icon-amazon {
  background-image: asset-data-url('icon_amazon_16x16.png');
  display: inline-block;
}

.cc-icon-chegg {
  background-image: asset-data-url('icon_chegg_16x16.png');
  display: inline-block;
}

.cc-icon-oskicat {
  background-image: asset-data-url('icon_oskicat_16x16.png');
  display: inline-block;
}
