.cc-icon {
  background: no-repeat;
  height: 16px;
  width: 16px;
}
.cc-icon {
  background: no-repeat;
}

.cc-icon-bspace {
  background-image: asset-data-url('icon_bspace_16x16.png');
}
.cc-icon-calendar {
  background-image: asset-data-url('icon_calendar_16x16.png');
}
.cc-icon-callink {
  background-image: asset-data-url('icon_callink_16x16.png');
}
.cc-icon-canvas {
  background-image: asset-data-url('icon_canvas_16x16.png');
}
.cc-icon-drive {
  background-image: asset-data-url('icon_drive_16x16.png');
}
.cc-icon-mail {
  background-image: asset-data-url('icon_mail_16x16.png');
}

/* Status icons */
.cc-icon-status-level-check-small {
  background-image: asset-data-url('icon_status_level_check_small_16x16.png');
}
.cc-icon-status-level-check {
  background-image: asset-data-url('icon_status_level_check_16x16.png');
}
.cc-icon-status-level-exclamation {
  background-image: asset-data-url('icon_status_level_exclamation_16x16.png');
}
.cc-icon-status-person {
  background-image: asset-data-url('icon_status_level_person_22x22.png');
  height: 22px;
  width: 22px;
  &:hover {
    background-color: transparent;
    background-image: asset-data-url('icon_status_level_person_hover_22x22.png');
  }
}
