.cc-icon {
  background: no-repeat;
  height: 16px;
  width: 16px;
}
.cc-icon-24 {
  height: 24px;
  width: 24px;
}

.cc-icon-bcourses {
  background-image: asset-data-url('icon_bcourses_16x16.png');
}
.cc-icon-bspace {
  background-image: asset-data-url('icon_bspace_16x16.png');
}
.cc-icon-calendar {
  background-image: asset-data-url('icon_calendar_24x24.png');
}
.cc-icon-callink {
  background-image: asset-data-url('icon_callink_16x16.png');
}
.cc-icon-drive {
  background-image: asset-data-url('icon_drive_24x24.png');
}
.cc-icon-mail {
  background-image: asset-data-url('icon_mail_24x24.png');
}

/* Fontawesome icons */
.icon-exclamation-sign, .icon-warning-sign {
  color: #ac120e !important;
}
.icon-ok, .icon-ok-sign {
  color: #007748 !important;
}
.icon-stop {
  color: $cc-color-medium-grey !important;
}
