/* Icon */
.cc-widget-mycalendar {
  @include user-select("none");

  /* List */
  .cc-widget-mycalendar-datelist {
    .cc-widget-mycalendar-datelist-time-allday {
      text-transform: uppercase;
    }
    .cc-widget-mycalendar-datelist-time {
      text-align: right;
    }
  }
  .cc-widget-mycalendar-list-attendees {
    margin-bottom: 10px;
  }
  .cc-widget-mycalendar-indent {
    margin-left: 5px;
    line-height: 1.3;
  }
  .cc-widget-mycalendar-header {
    color: #232323;
  }
  /* Summary & location */
  .cc-widget-mycalendar-datelist-location {
    font-size: 10px;
    margin-top: 2px;
    text-transform: uppercase;
  }
  .cc-widget-mycalendar-more {
    clear: both;
    font-size: 0.9em;
    margin-top: 5px;
    padding-left: 35px;
    p {
      margin-bottom: 10px;
    }
  }
}
