.cc-page-myfinances {
  .cc-page-myfinances-account-activity-search {
    margin: 6px 10px 0 5px;
    input {
      font-size: 12px;
    }
  }
  .cc-page-myfinances-account-activity-selection {
    margin: 20px 10px;
    .cc-button-group {
      margin-right: 10px;
      max-width: 200px;
    }
    .cc-select {
      max-width: 120px;
    }
  }
  .cc-page-myfinances-account-summary-buttons {
    margin: 10px 20px 10px 10px;
  }
  .cc-page-myfinances-account-summary-list {
    font-size: 14px;
    padding: 0;
    .cc-page-myfinances-account-summary-item {
      padding: 8px 20px 8px 10px;
    }
    .cc-page-myfinances-account-summary-subtitle {
      font-size: 11px;
      margin-top: -5px;
    }
  }
  .cc-page-myfinances-amount {
    text-align: right;
  }
  .cc-page-myfinances-dpp {
    background: $cc-color-widget-background;
  }
  .cc-page-myfinances-dpp-amounts {
    font-size: 12px;
  }
  .cc-page-myfinances-dpp-note {
    font-size: 11px;
    margin-top: 5px;
  }
  .cc-page-myfinances-footer {
    border-top: 2px solid $cc-color-widget-background;
    padding: 10px 15px;
    ul li {
      float: left;
      margin-right: 10px;
    }
    .cc-page-myfinances-footer-updated {
      color: $cc-color-lighter-medium-grey;
      float: right;
      font-size: 10px;
      margin-top: 3px;
    }
  }
  .cc-page-myfinances-green {
    &, & td {
      color: $cc-color-green;
    }
  }
  .cc-page-myfinances-light {
    color: $cc-color-light-medium-grey;
    font-size: 11px;
  }
  .cc-page-myfinances-lighter {
    color: $cc-color-lighter-medium-grey;
  }
  .cc-page-myfinances-not-amount-due-dpp {
    font-size: 11px;
  }
  .cc-page-myfinances-red {
    &, & td {
      color: $cc-color-red;
    }
  }
  .cc-page-myfinances-table {
    margin: 0 10px 30px;
    table {
      table-layout: fixed;
    }
    td, th {
      border-bottom: 1px solid $cc-color-widget-background;
      font-size: 12px;
      padding: 4px;
    }
    .cc-widget-list-selected tr:first-child td {
      border-bottom: none;
    }
  }
  .cc-page-myfinances-type {
    i {
      margin-left: 9px;
    }
  }
  .cc-page-myfinances-unapplied {
    font-style: italic;
    font-weight: bold;
    opacity: 0.6;
  }
  .cc-page-myfinances-unapplied-awards {
    border-top: 2px solid $cc-color-widget-background;
    font-style: italic;
  }
}
