.cc-page-myfinances {
  .cc-page-myfinances-account-activity-search {
    input {
      font-size: 12px;
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
  .cc-page-myfinances-account-filter {
    background: transparent;
    border: 0;
    margin: 10px 15px 0;
    padding: 0;
    .cc-select {
      margin-right: 10px;
      max-height: 24px;
      max-width: 130px;
    }
    i {
      margin-right: 10px;
    }
  }
  .cc-page-myfinances-account-summary-buttons {
    margin: 10px 20px 10px 15px;
  }
  .cc-page-myfinances-account-summary-error {
    margin-bottom: 0;
  }
  .cc-page-myfinances-account-summary-list {
    font-size: 14px;
    padding: 0;
    .cc-page-myfinances-account-summary-item {
      padding: 8px 20px 8px 15px;
    }
    .cc-page-myfinances-account-summary-subtitle {
      font-size: 11px;
      line-height: 13px;
      margin-top: -2px;
    }
  }
  .cc-page-myfinances-amount {
    text-align: right;
  }
  .cc-page-myfinances-date-input {
    width: auto;
  }
  .cc-page-myfinances-dpp {
    background: $cc-color-widget-more-background;
  }
  .cc-page-myfinances-dpp-amounts {
    font-size: 12px;
  }
  .cc-page-myfinances-dpp-note {
    font-size: 11px;
    margin-top: 5px;
  }
  .cc-page-myfinances-filter-content {
    margin-left: 45px;
  }
  .cc-page-myfinances-filter-element {
    margin-top: 10px;
    input[type="text"] {
      margin: 0;
      max-width: 130px;
    }
  }
  .cc-page-myfinances-filter-form {
    float: right;
    margin-left: -45px;
    width: 100%;
  }
  .cc-page-myfinances-filter-label {
    float: left;
    width: 45px;
  }
  .cc-page-myfinances-footer {
    border-top: 2px solid $cc-color-widget-background;
    margin-top: 20px;
    padding: 10px 15px;
    ul li {
      float: left;
      margin-right: 10px;
    }
    .cc-page-myfinances-footer-updated {
      color: $cc-color-lighter-medium-grey;
      float: right;
      font-size: 10px;
      margin-top: 3px;
    }
  }
  .cc-page-myfinances-green {
    &, td {
      color: $cc-color-green;
    }
  }
  .cc-page-myfinances-light {
    color: $cc-color-light-medium-grey;
    font-size: 11px;
  }
  .cc-page-myfinances-lighter {
    color: $cc-color-lighter-medium-grey;
  }
  .cc-page-myfinances-not-amount-due-dpp {
    font-size: 11px;
  }
  .cc-page-myfinances-red {
    &, td {
      color: $cc-color-red;
    }
  }
  .cc-page-myfinances-resources-more {
    padding: 10px 15px 15px;
    a {
      display: block;
      font-size: 14px;
    }
  }
  .cc-page-myfinances-table {
    margin: 20px 10px 10px;
    table {
      table-layout: fixed;
    }
    td, th {
      border-bottom: 1px solid $cc-color-widget-background;
      font-size: 12px;
      padding: 4px;
    }
    th {
      white-space: nowrap;
    }
    .cc-widget-list-selected tr:first-child td {
      border-bottom: 0;
    }
  }
  .cc-page-myfinances-type {
    i {
      margin-left: 9px;
    }
  }
  .cc-page-myfinances-unapplied {
    font-style: italic;
  }
  .cc-page-myfinances-unapplied-award {
    font-weight: bold;
    opacity: .6;
  }
  @media print {
    .cc-page-myfinances-account-activity-search input {
      border: 0;
    }
    .cc-page-myfinances-print-label {
      margin: 4px 0;
    }
    .cc-select {
      border: 0;
      select {
        padding-left: 0;
      }
    }
  }
}
