.nav-bar {
  background-color: $cc-nav-color;
  height: auto;
  margin: 0;
  overflow: hidden;
  > li {
    @include box-shadow(none);
    border: none;
    line-height: 32px;
    &:hover {
      background: transparent;
    }
    &.active {
      background: transparent;
      &:hover {
        background: transparent;
      }
      &::before, &::after {
        bottom: 0;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        width: 0;
      }
      &::before {
        border-bottom: 6px solid white;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        margin-left: -6px;
      }
    }
    &:last-child {
      border: none;
      @include box-shadow(none);
    }
    > a {
      font-weight: bold;
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }
}
