.cc-navigation-bar {
  background-color: $cc-nav-color;
  margin: 0;
  overflow: hidden;
  padding: 0;
  > li {
    float: left;
    display: block;
    position: relative;
    padding: 0;
    line-height: 32px;
    margin: 0;
    &.active {
      a {
        color: #fff;
      }
      &::before, &::after {
        bottom: 0;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        width: 0;
      }
      &::before {
        border-bottom: 6px solid white;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        margin-left: -6px;
      }
    }
    &:last-child {
      border: none;
      @include box-shadow(none);
    }
    > a {
      display: block;
      padding: 0 20px;
      position: relative;
      color: #e6e6e6;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
