/* Notifications widget */
.cc-widget-notifications {
  .cc-widget-notification-source {
    color: #515151;
    font-size: 11px;
  }
  .cc-widget-notifications-summary {
    padding-left: 30px;
    width: 270px;
  }
  .row {
    .cc-widget-notifications-text-column {
      line-height: 1.4;
    }
  }
  .cc-widget-tasks-notifications-more {
    padding-left: 15px;
  }
  .cc-widget-notifications-text-margin {
    margin-left: 30px;
  }
  .cc-widget-notification-note-text {
    font-size: 12px;
    line-height: 1.3;
  }
}
