.cc-settings {
  background: #fff;
  button {
    &.secondary {
      text-decoration: none;
    }
  }
  h1 {
    margin-top: 20px;
  }
  h2 {
    color: $cc-color-medium-grey;
  }
  .cc-settings-apitest-list {
    margin-left: 20px;
    .cc-settings-apitest-failed {
      color: $cc-color-red;
    }
    .cc-settings-apitest-success {
      color: $cc-color-green-plus;
    }
  }
  .cc-settings-dashboard-link {
    display: block;
    font-weight: bold;
    margin: 40px 0 30px;
  }
  .cc-settings-section {
    margin-top: 30px !important;
  }
  .cc-settings-service-bconnected-icon {
    background-image: asset-url("icon_bconnected_32x32.png");
    max-height: 32px;
    max-width: 32px;
  }
  .cc-settings-service-icon {
    margin: 0 auto;
  }
  .cc-settings-service-row {
    border-top: 1px solid $cc-color-light-grey;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .cc-settings-service-sure-buttons {
    display: inline;
  }
  .cc-settings-service-sure-disclaimer {
    margin-top: 5px;
  }
  .cc-settings-service-sure-question {
    margin-right: 10px;
  }
  .cc-settings-table {
    margin: 20px 10px 30px;
    table {
      table-layout: fixed;
    }
    td, th {
      border-bottom: 1px solid $cc-color-widget-background;
      font-size: 12px;
      padding: 4px;
    }
  }
  .cc-settings-recent-uids {
    margin-top: 7px;
  }
  @media #{$small-only} {
    .cc-settings-service {
      font-size: 13px;
    }
    .cc-settings-service-sure-buttons {
      display: block;
    }
    .cc-settings-service-sure-question {
      display: block;
      margin-bottom: 5px;
    }
  }
}


