.cc-settings {
  background: #fff;
  button {
    &.secondary {
      text-decoration: none;
    }
  }
  h1 {
    color: $cc-color-dark-grey;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
  }
  h2 {
    color: $cc-color-medium-grey;
    font-size: 18px;
  }
  .cc-settings-apitest-list {
    margin-left: 20px;
    .cc-settings-apitest-failed {
      color: $cc-color-red;
    }
    .cc-settings-apitest-success {
      color: $cc-color-green-plus;
    }
  }
  .cc-settings-dashboard-link {
    display: block;
    font-weight: bold;
    margin: 40px 0 30px 0;
  }
  .cc-settings-section {
    margin-top: 30px;
  }
  .cc-settings-service-description {
    color: #797979;
  }
  .cc-settings-service-description-block {
    padding-left: 0;
  }
  .cc-settings-service-row {
    border-top: 1px solid $cc-color-light-grey;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  @media only screen and (max-width: 767px) {
    .cc-settings-service {
      font-size: 13px;
    }
  }
}


