$cc-color-splash-blue-dark: #004677;
$cc-color-splash-blue-light: #0073C3;

.cc-page-splash {
  .cc-container-main {
    padding: 0 35px;
    background: #fff asset-data-url('calcentral_bubble_background.png') no-repeat right 5px;
  }

  > header, .cc-navigation-bar {
    display: none;
  }

  .cc-page-splash-logo {
    margin-top: 60px;
  }
  h1 {
    color: $cc-color-splash-blue-dark;
    font-size: 24px;
    margin: 15px 0 5px;
  }
  h2 {
    color: $cc-color-splash-blue-dark;
    font-size: 18px;
    margin: 0 0 10px;
  }
  .cc-page-splash-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .cc-page-splash-signin {
    background: $cc-color-splash-blue-dark;
    @include background(linear-gradient(top, $cc-color-splash-blue-light, $cc-color-splash-blue-dark));
    box-shadow: none;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .cc-page-splash-status {
    background: asset-data-url('splash_status.png') no-repeat 0 0;
    background-position: center;
    @include background-size(cover);
    border: 1px solid #666;
    margin-top: 60px;
    padding-bottom: 48.56%;
    position: relative;
    a {
      bottom: 10px;
      float: right;
      right: 10px;
      position: absolute;
    }
    h2 {
      color: #666;
      font-size: 14px;
      left: 10px;
      position: absolute;
      top: 5px;
    }
  }

  .cc-page-splash-features {
    padding: 0 30px 110px;
    p {
      font-size: 14px;
    }
    img {
      @include box-shadow(0 4px 8px #888);
      float: right;
    }
    .row {
      margin-bottom: 10px;
      margin-top: 40px;
    }
  }
  .cc-page-splash-features-title {
    border-bottom: 1px solid $cc-color-list-border;
    color: $body-font-color;
    line-height: 1.6;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
  }

  .cc-page-splash-blog-panel {
    margin: 150px 0 0 0;
    padding: 10px;
    .cc-page-splash-blog-date {
      padding: 0;
      p {
        color: $cc-color-launcher-border;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .cc-splash-blog-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 0;
    }
    .cc-splash-blog-summary {
      margin-bottom: 0;
    }
  }

  /* Mobile only */
  @media only screen and (max-width: 767px) {
    .cc-container-main {
      background-position: center 225px;
      background-size: contain;
    }
    .cc-page-splash-features {
      padding: 0 0 30px;
    }
    .cc-page-splash-features-title {
      margin: 100px 0 0;
    }
    .cc-page-splash-features img {
      float: none;
    }
  }

}
