$cc-color-splash-blue-dark: #025A86;

.cc-page-splash {
  h1 {
    color: $cc-color-splash-blue-dark;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  p {
    line-height: 1.3;
  }
  > header, .cc-navigation-bar {
    display: none;
  }
  .cc-container-main {
    background: $cc-color-white;
    padding: 30px;
  }
  .cc-page-splash-blog-panel {
    background: $cc-color-main-background;
    margin: 135px 0 0 0 !important ;
    padding: 10px;
    .cc-page-splash-blog-date {
      padding: 0;
      p {
        color: $cc-color-launcher-border;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .cc-page-splash-blog-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 0;
    }
    .cc-page-splash-blog-summary {
      margin-bottom: 0;
    }
  }
  .cc-page-splash-buttons .cc-button {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    width: 200px;
  }
  .cc-page-splash-center {
    text-align: center;
  }
  .cc-page-splash-container {
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
    > .columns {
      @include cc-column-sameheight;
    }
  }
  .cc-page-splash-container-left {
    border-right: 2px solid $cc-color-widget-background;
    height: 100%;
    padding-top: 10px;
  }
  .cc-page-splash-container-right {
    position: relative;
  }
  .cc-page-splash-container-right-images {
    max-height: 500px;
    overflow-y: auto;
    padding-top: 15px;
    > div:last-child {
      padding-bottom: 100px;
    }
    &::before {
      @include background(linear-gradient($cc-color-white, $cc-color-white-transparant));
      top: 0;
      content: " ";
      height: 40px;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &::after {
      @include background(linear-gradient($cc-color-white-transparant, $cc-color-white));
      bottom: 0;
      content: " ";
      height: 100px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  .cc-page-splash-info {
    margin: 20px 10px 0;
  }
  .cc-page-splash-info-image, .cc-page-splash-video>button, .cc-page-splash-video>div {
    border: 1px solid $cc-color-button-border;
    @include box-shadow(3px 3px 5px $cc-color-placeholder);
    margin-bottom: 20px;
  }
  .cc-page-splash-info-text {
    text-align: left;
  }
  .cc-page-splash-logo {
    margin: 20px auto;
  }
  .cc-page-splash-logo-container {
    margin: 0 auto;
    overflow: hidden;
  }

  /* Mobile only */
  @media #{$small-only} {
    h1 {
      font-size: 20px;
    }
    .cc-container-main {
      padding: 0 10px;
    }
    .cc-page-splash-blog-panel {
      margin-top: 80px !important;
    }
    .cc-page-splash-container-left {
      border-right: none;
    }
    .cc-page-splash-container-right-images {
      max-height: none;
      > div:last-child {
        padding-bottom: 0;
      }
      &::after {
        content: initial;
      }
    }
  }

}
