/* Status pages - 404/sorry */
.cc-page-status {
  background: $cc-color-dark-blue;
  overflow: hidden;
  .cc-page-status-container {
    font-size: 18px;
    margin: 135px auto;
    padding: 0;
    width: 635px;
    h3 {
      font-size: 20px;
      margin: 0 0 15px 0;
      padding: 0;
    }
    .cc-page-status-button {
      clear: both;
      float: left;
      font-size: 18px;
    }
    .cc-widget-title h2 {
      font-size: 25px;
      padding: 10px 35px;
    }
    .cc-widget-padding {
      overflow: hidden;
      padding: 25px 35px;
    }
  }
  .cc-page-status-container-text {
    width: 350px;
  }

  @media #{$small-only} {
    img {
      display: none;
    }
    .cc-page-status-container  {
      margin: 0;
      width: 100%;
    }
    .cc-page-status-container-text {
      width: 100%;
    }
  }
}

.cc-page-sorry {
  .cc-page-sorry-beta {
    background: $cc-color-green-light;
    border: 10px solid $cc-color-blue-dark;
    border-left: none;
    border-right: none;
    @include box-shadow(0 4px 8px #888);
    color: $cc-color-white;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 25px;
  }
}
