// Status pages - 404/sorry
.cc-page-status {
  background: $cc-color-dark-blue;
  overflow: hidden;
  .cc-page-status-container {
    font-size: 18px;
    margin: 135px auto;
    padding: 0;
    width: 635px;
    h3 {
      font-size: 20px;
      margin: 0 0 15px;
      padding: 0;
    }
    .cc-page-status-button {
      clear: both;
      float: left;
      font-size: 18px;
    }
    .cc-widget-title h2 {
      font-size: 25px;
      padding: 10px 35px;
    }
    .cc-widget-padding {
      overflow: hidden;
      padding: 25px 35px;
    }
  }
  .cc-page-status-container-text {
    width: 350px;
  }
  .cc-page-status-magnifying {
    background-image: asset-url("glass_magnifying_200x175.jpg");
    height: 175px;
    width: 200px;
  }

  @media #{$small-only} {
    img {
      display: none;
    }
    .cc-page-status-container {
      margin: 0;
      width: 100%;
    }
    .cc-page-status-container-text {
      width: 100%;
    }
  }
}
