.cc-styles-reference {
  ul {
    margin-left: 30px;
  }

  .cc-styles-button-demo {
    margin-top: 20px;
    a, button {
      display: block;
      margin-bottom: 10px;
      max-width: 200px;
    }
  }
  .cc-styles-color-panel {
    height: 100px;
    width: 300px;
    p {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .cc-styles-infopanel {
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    padding: 15px;
  }
  .cc-styles-contrast-text {
    color: #e3e3e3;
  }
  .cc-styles-section {
    border-bottom: 1px solid $cc-color-medium-grey;
    border-top: 1px solid $cc-color-medium-grey;
    color: $cc-color-medium-grey;
    font-size: 36px;
    margin-top: 40px;
  }
  .cc-styles-sub-section {
    color: $cc-color-medium-grey;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .cc-styles-toplink {
    font-weight: bold;
    margin-top: 20px;
  }
}
