.cc-table {
  overflow-x: auto;
  table {
    background: transparent;
    border: none;
    border-spacing: 0;
    font-size: 12px;
    margin: 0;
    width: 100%;
    thead {
      background: transparent;
    }
    tr {
      &:nth-of-type(even) {
        background: transparent;
      }
      td, th {
        color: $body-font-color;
        padding: 2px 2px 2px 0;
        vertical-align: top;
      }
      th {
        color: $cc-color-light-medium-grey;
        font-weight: bold;
      }
      .cc-table-subheader {
        color: $body-font-color;
        font-weight: normal;
        text-align: left;
      }
    }
  }
  p {
    margin: 0;
    padding: 5px 10px;
  }
  ul {
    margin-left: 35px;
  }
  @media only screen and (max-width: 767px) {
    overflow: auto;
  }
}
.cc-table-top-border {
  border-top: 1px solid $cc-color-popover-border;
  margin-top: 5px;
  padding-top: 5px;
}
