.cc-table {
  overflow-x: auto;
  table {
    background: transparent;
    border: 0;
    border-spacing: 0;
    font-size: 12px;
    margin: 0;
    overflow-y: hidden;
    width: 100%;
    thead {
      background: transparent;
    }
    tr {
      &:nth-of-type(even) {
        background: transparent;
      }
      td, th {
        color: $body-font-color;
        padding: 2px 2px 2px 0;
        vertical-align: top;
      }
      th {
        color: $cc-color-light-medium-grey;
        font-weight: bold;
        text-align: left;
      }
      .cc-table-subheader {
        color: $body-font-color;
        font-weight: normal;
        text-align: left;
      }
    }
    tbody tr th {
      line-height: $table-line-height;
    }
  }
  p {
    margin: 0;
    padding: 5px 10px;
  }
  ul {
    margin-left: 35px;
  }
  .cc-table-center {
    text-align: center;
  }
  .cc-table-right {
    text-align: right;
  }
  .cc-table-right-spacing {
    padding-right: 5% !important;
  }
  @media #{$small-only} {
    overflow: auto;
  }
}
.cc-table-sortable {
  th {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.cc-table-top-border {
  border-top: 1px solid $cc-color-popover-border;
  margin-top: 5px;
  padding-top: 5px;
}
