.cc-textbooks-list {
  overflow: hidden;
  padding-bottom: 10px;
  li {
    color: $cc-color-textbooks-details;
    font-family: Arial;
    font-size: 11px;
    line-height: 15px;
    a {
      vertical-align: text-bottom;
    }
    button, button:hover {
      font-size: 11px;
      line-height: 13px;
      vertical-align: text-bottom;
    }
  }
  ul {
    margin-bottom: 10px;
  }
}
.cc-textbooks-bookstore {
  margin-bottom: 10px;
}
.cc-textbooks-bookstore-form {
  background: transparent;
  border: 0;
  padding: 0;
}
.cc-textbooks-details {
  margin-bottom: 10px;
}
.cc-textbooks-image {
  padding: 4px 10px 0 0;
}
.cc-textbooks-image-not-available {
  background: $cc-color-lighter-grey;
  margin: 4px 10px 0 0;
  max-width: 130px;
  position: relative;
  &:after {
    padding-top: 130%;
    display: block;
    content: '';
  }
  .cc-textbooks-image-not-available-text {
    bottom: 0;
    font-size: 15px;
    left: 0;
    padding: 15px 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}
.cc-textbooks-links li {
  float: left;
  width: 50%;
}
.cc-textbooks-title {
  color: $cc-color-textbooks-title;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
}
