/* Useful mixins */
@mixin cc-column-sameheight {
  margin-bottom: -99969px;
  padding-bottom: 99999px;
}

/* Useful classes */
.cc-alert {
  color: $cc-color-red !important;
}
.cc-break-word {
  word-wrap: break-word;
  @include hyphens(auto);
}
.cc-capitalize {
  text-transform: capitalize;
}
.cc-clearfix {
  clear: both;
}
.cc-clearfix-container:before,
.cc-clearfix-container:after {
    content: " ";
    display: table;
}
.cc-clearfix-container:after {
    clear: both;
}
.cc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cc-italic {
  font-style: italic;
}
.cc-left {
  float: left;
}
.cc-loading {
  i {
    margin-right: 5px;
  }
}
.cc-required-field-indicator {
  color: $cc-color-red;
}
.cc-right {
  float: right;
}
.cc-strikethrough {
  color: $cc-color-list-border !important;
  text-decoration: line-through !important;
}
.cc-uppercase {
  text-transform: uppercase;
}

/* Spinner */
.cc-spinner {
  margin: 20px auto;
  max-height: 20px;
  max-width: 20px;
  * {
    display: none;
  }
  &:after {
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    content: '\f110';
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
  }
}

/* Popover */
.cc-popover {
  background: #ececec;
  border-radius: 5px;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  padding: 0;
  position: absolute;
  z-index: 1;

  h4 {
    color: $body-font-color;
    font-size: 16px;
    margin: 0 0 10px;
  }

  p {
    line-height: 1;
    margin: 10px 0 0;
  }
}
.cc-popover-arrow {
  &:after, &:before {
    bottom: 100%;
    content: "";
    right: 10%;
    position: absolute;
  }

  /*
    This allows us to create an arrow for the popover
    We also add a border by painting another arrow behind the first one
   */
  &:after {
    border-bottom: 10px solid $cc-color-popover-title-background;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
  }
  &:before {
    border-bottom: 11px solid #cbcbcb;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: -11px;
  }
}
.cc-popover-container {
  position: relative;
}

.cc-dropdown {
  min-width: 80px;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 1;
  button {
    display: block;
  }
}

/* Image replacement */
.cc-ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}
/* Hide only visually, but have it available for screenreaders / accessibility: h5bp.com/v */
.cc-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media #{$small-only} {
  .cc-hide-for-small {
    display: none !important;
  }
}
