// Useful mixins
@mixin cc-column-sameheight {
  margin-bottom: -99969px;
  padding-bottom: 99999px;
}
@mixin cc-column-sameheight-nopadding {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

// Useful classes
.cc-alert {
  color: $cc-color-red !important;
}
.cc-alert-box {
  background-color: $alert-color;
  color: $cc-color-white;
  padding: 15px;
}
.cc-break-word {
  word-wrap: break-word;
  @include hyphens(auto);
}
.cc-capitalize {
  text-transform: capitalize;
}
.cc-clearfix {
  clear: both;
}
.cc-clearfix-container:before,
.cc-clearfix-container:after {
  content: " ";
  display: table;
}
.cc-clearfix-container:after {
  clear: both;
}
.cc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cc-image-responsive {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.cc-image-responsive-square {
  padding-bottom: 100%;
}
.cc-italic {
  font-style: italic;
}
.cc-left {
  float: left;
}
.cc-loading {
  i {
    margin-right: 5px;
  }
}
.cc-required-field-indicator {
  color: $cc-color-red;
}
.cc-right {
  float: right;
}
.cc-strikethrough {
  color: $cc-color-list-border !important;
  text-decoration: line-through !important;
}
.cc-uppercase {
  text-transform: uppercase;
}

// Spinner
@-webkit-keyframes spin-normal {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin-normal {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin-extra {
  to {
    -webkit-transform: rotate(1.125turn);
    transform: rotate(1.125turn);
  }
}
@keyframes spin-extra {
  to {
    -webkit-transform: rotate(1.125turn);
    transform: rotate(1.125turn);
  }
}

.cc-spinner {
  display: block;
  font-size: 8px;
  height: 50px;
  position: relative;
  text-align: center;
  * {
    display: none !important;
  }
  &:before,
  &:after {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: .5em;
    left: 50%;
    position: absolute;
    top: 50%;
    width: .5em;
  }
  &:before {
    -webkit-animation: spin-extra 1s infinite steps(8);
    animation: spin-extra 1s infinite steps(8);
    // 1 3 5 7
    box-shadow: 0 1em #ccc, -1em 0 #ccc, 0 -1em #ccc, 1em 0 #444;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-animation: spin-normal 1s infinite steps(8);
    animation: spin-normal 1s infinite steps(8);
    // 2 4 6 8
    box-shadow: -1em 0 #ccc, 0 -1em #ccc, 1em 0 #888, 0 1em #000;
  }
}

// Popover
.cc-popover {
  background: #ececec;
  border-radius: 5px;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, .2));
  padding: 0;
  position: absolute;
  z-index: 100;

  h4 {
    color: $body-font-color;
    font-size: 16px;
    margin: 0 0 10px;
  }

  p {
    line-height: 1;
    margin: 10px 0 0;
  }
}
.cc-popover-arrow {
  &:after, &:before {
    bottom: 100%;
    content: "";
    position: absolute;
    right: 10%;
  }

  // This allows us to create an arrow for the popover
  // We also add a border by painting another arrow behind the first one
  &:after {
    border-bottom: 10px solid $cc-color-popover-title-background;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
  }
  &:before {
    border-bottom: 11px solid #cbcbcb;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: -11px;
  }
}
.cc-popover-container {
  position: relative;
}

.cc-dropdown {
  min-width: 80px;
  position: absolute;
  right: 0;
  width: auto;
  button {
    display: block;
  }
}

// Image replacement
.cc-ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}
.cc-hidden {
  display: none;
}
// Hide only visually, but have it available for screenreaders / accessibility: h5bp.com/v
.cc-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media #{$small-only} {
  .cc-hide-for-small {
    display: none !important;
  }
}
