.cc-widget-webcast {
  .cc-widget-webcast-audio {
    margin-top: 15px;
  }
  .cc-widget-webcast-button-group {
    width: 200px;
  }
  .cc-widget-webcast-error {
    margin-top: 15px;
  }
  .cc-widget-webcast-icon-link {
    display: inline;
  }
  .cc-widget-webcast-links {
    margin-top: 10px;
    a {
      display: block;
    }
  }
  .cc-widget-webcast-select {
    margin-top: 15px;
    max-width: 300px;
  }
}
