.cc-widget-list {
  font-size: 12px;
  margin: 0;
  overflow-x: hidden;
  padding: 0 10px;

  > li {
    border-bottom: 1px solid $cc-color-widget-background;
    list-style-type: none;
    &:last-child {
      border-bottom: none;
    }
    > a {
      display: block;
    }
  }
  .cc-icon {
    margin-left: 10px;
  }
}
.cc-widget-list-subtitle {
  font-size: 11px;
  line-height: 8px;
  margin-left: 21px;
  padding-bottom: 7px;
}
.cc-widget-list-light {
  color: $cc-color-lighter-medium-grey;
}
.cc-widget-list-column-left {
  float: left;
  margin-right: 5px;
  min-height: 20px;
  width: 30px;
}
.cc-widget-list-selected {
  background: $cc-color-widget-more-background;
}
.cc-widget-list li > a, .cc-widget-list-hover {
  overflow: hidden;
  padding: 10px 15px;
  &:hover, &:focus {
    background: $cc-color-blue-hover;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    i {
      color: $cc-color-popover-icon-hover;
    }
  }
}
.cc-widget-text {
  padding: 15px 20px 20px 20px;
}
.cc-widget-title {
  background: $cc-color-widget-background;
  overflow: hidden;

  h2 {
    color: $cc-color-medium-grey;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
  }
}
.cc-widget-title-transparent {
  background: transparent;
  border-bottom: 1px solid $cc-color-widget-background;
}
.cc-widget-title-sub {
  color: $cc-color-lighter-medium-grey;
  font-size: 13px;
  /* Margin will only kick in when there is a float on the span */
  margin-top: 5px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .cc-widget-title-sub {
    margin-top: 0;
  }
}
