.cc-widget {
  background: #fff;
  margin: 15px 15px 0 0;

  /*
    See https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
    For an explanation of this magic
  */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.cc-widget-last {
  margin-right: 0;
}
.cc-widget-list {
  font-size: 12px;
  margin: 0;
  overflow-x: hidden;
  padding: 0 10px;

  > li {
    border-bottom: 1px solid $cc-color-widget-background;
    &:last-child {
      border-bottom: none;
    }
    > a {
      display: block;
    }
  }
  .cc-icon {
    margin-left: 10px;
  }
}
.cc-widget-list-subtitle {
  font-size: 11px;
  line-height: 8px;
  margin-left: 21px;
  padding-bottom: 7px;
}
.cc-widget-list-column-left {
  float: left;
  margin-right: 5px;
  min-height: 20px;
  width: 30px;
}
.cc-widget-list-selected {
  background: $cc-color-widget-more-background;
}
.cc-widget-list > li > a, .cc-widget-list .cc-widget-list-link, .cc-widget-list-hover {
  overflow: hidden;
  position: relative;
  padding: 10px 15px;
  &:hover, &:focus {
    background: $cc-color-blue-hover;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    i {
      color: $cc-color-popover-icon-hover;
    }
  }
}
.cc-widget-list > li > a, .cc-widget-list .cc-widget-list-link {
  display: block;
}
.cc-widget-list-hover:not(tr):not(.cc-widget-list-hover-notriangle) {
  &:hover, &:focus {
    &:before {
      border-bottom: 4px solid transparent;
      border-right: 4px solid $body-font-color;
      border-top: 4px solid transparent;
      content: "";
      height: 0;
      right: 7px;
      position: absolute;
      top: 14px;
      width: 0;
    }
  }
}
.cc-widget-list-hover-opened:not(tr):not(.cc-widget-list-hover-notriangle) {
  &:hover, &:focus {
    &:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $body-font-color;
      content: "";
      height: 0;
      right: 7px;
      position: absolute;
      top: 17px;
      width: 0;
    }
  }
}

.cc-widget-padding {
  padding: 10px;
}
.cc-widget-sublist {
  margin-left: 0;
  margin-top: 5px;
  > li {
    a {
      display: block;
    }
    padding: 5px 0 0 0;
    .cc-icon {
      float: left;
      margin: 0 10px 0 0;
    }
  }
}
.cc-widget-sublist-extra {
  display: block;
  margin-top: 10px;
}
.cc-widget-subtitle {
  background: $cc-color-lighter-medium-grey;

  h3 {
    color: $cc-color-white;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 2px 16px;
  }
}

.cc-widget-text {
  padding: 15px 20px 20px 20px;
}
.cc-widget-title {
  background: $cc-color-widget-background;
  overflow: hidden;

  h2 {
    color: $cc-color-medium-grey;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 5px 10px;
  }
}
.cc-widget-title-sub {
  color: $cc-color-lighter-medium-grey;
  font-size: 13px;
  /* Margin will only kick in when there is a float on the span */
  margin-top: 5px;
  text-transform: uppercase;
}

.cc-widget-interesting {
  .cc-widget-title {
    background: $cc-color-dark-blue;
    h2 {
      color: $cc-color-white;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cc-widget-title-sub {
    margin-top: 0;
  }
  .cc-widget {
    margin: 0;
  }
}
