.cc-widget-list-icon {
  background-color: transparent;
  background-position: 0 2px;
  background-repeat: no-repeat;
}
.cc-widget-list-subtitle {
  font-size: 11px;
  line-height: 8px;
  margin-left: 21px;
  padding-bottom: 7px;
}
.cc-widget-list {
  margin: 0;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;

  > li {
    border-bottom: 1px dotted $cc-list-border-color;
    &:last-child {
      border-bottom: none;
    }
    a {
      display: block;
      padding: 4px 0 3px 5px;
    }
  }
}
.cc-widget-list-hover {
  overflow: hidden;
  &:hover {
    cursor: pointer;
    .cc-widget-list-hover-title {
      text-decoration: underline;
    }
  }
}
.cc-widget-short-title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.25;
  width: 100%;
}
.cc-widget-section-label {
  clear: both;
  color: $cc-widget-section-label-color;
  font-size: 14px;
  margin: 0;
}
.cc-widget-list-selected {
  background: $cc-widget-more-background-color;
}
.cc-widget-tasks-activities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    &:first-child {
      margin-top: 12px;
    }
    .row {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .cc-widget-list-selected {
    margin-bottom: 1px; /* Effectively creates white line above selected tasks */

    .row {
      background: $cc-widget-more-background-color;
      padding-bottom: 2px;
    }
  }

  .cc-widget-tasks-activities-more {
    p {
      clear: left;
      line-height: 1.2;
      padding-right: 20px;
      padding-top: 10px;
      margin-bottom: 10px;
    }

  }
  .cc-widget-more-view-in {
    background-color: #e8eff3;
    color: #16191b;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
  }
}
.cc-widget-text {
  padding: 15px 20px 20px 20px;
}
.cc-widget-title {
  border-bottom: 1px solid $cc-border-color;
  overflow: hidden;

  h2 {
    color: $cc-medium-grey;
    margin: 4px 0 0;
    padding: 1px 0;
    font-size: 16px;
  }
}
.cc-widget-title-small {
  margin-top: 3px;
  font-size: 13px;
  font-weight: normal;
}
