.cc-youtube-video {
  margin-top: 15px;
  width: 100%;
  .cc-youtube-image-placeholder {
    background: transparent;
    min-height: 150px;
    padding: 0;
    position: relative;
    max-width: 100%;
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    .cc-youtube-thumbnail-button {
      background-image: asset-data-url('icon_youtube_85x60.svg');
      height: 60px;
      left: 50%;
      margin: 0;
      margin-top: -30px;
      margin-left: -42px;
      opacity: 0.9;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 85px;
      z-index: 100;
    }
    &:focus, &:hover {
      cursor: pointer;
      .cc-youtube-thumbnail-button {
        background-image: asset-data-url('icon_youtube_red_85x60.svg');
        opacity: 1;
      }
    }
  }
  .cc-youtube-video-placeholder {
    height: 300px;
  }
}
