@import "compass/css3";
@import "compass/css3/user-interface";

$cc-color-action-button: #72cb12;
$cc-color-alert: #fb0007;
$cc-color-border: #999;
$cc-color-button: #80c7de;
$cc-color-column-border: #dedede;
$cc-color-dark-grey: #2c2d2e;
$cc-color-launcher-border: #114d80;
$cc-color-light-grey: #dddddd;
$cc-color-light-medium-grey: #6e6e6e;
$cc-color-list-border: #cacaca;
$cc-color-main-background: #f2f2f2;
$cc-color-medium-grey: #4a4b4d;
$cc-color-navigation: #366079;
$cc-color-placeholder: #aaa;
$cc-color-shadow-color: #ccc;
$cc-color-super-light-grey: #fbfbfb;
$cc-color-widget-highlight-background: #f2fef3;
$cc-color-widget-more-background: #c8dee9;
$cc-color-widget-section-label: #515151;

/* Body */
body {
  background-color: $cc-color-main-background;
}

/* Headings */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}

/* Inset list items */
ul {
  padding: 0;
}

/* Anchor tag */
a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* Form */
form {
  background: #eaeaea;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;

  input {
    font-family: Arial;
    &[type="text"] {
      border: 1px solid #aeaeae;
      border-radius: 3px;
      width: 100%;
    }
  }

  label {
    display: block;
    margin-top: 5px;
    text-align: right;
  }

  textarea {
    resize: vertical;
  }

  // Placeholder selector duplication intentional, re: http://bit.ly/ZnuZFo
  input:-moz-placeholder {
    color: $cc-color-placeholder;
  }
  input:-ms-input-placeholder {
    color: $cc-color-placeholder;
  }
  ::-moz-placeholder {
    color: $cc-color-placeholder;
  }

}

/* Buttons */
button {
  font-family: Arial, sans-serif;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}
.button {
  background-color: $cc-color-button;
  &.medium {
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
  }
  &.selected {
    @include background(linear-gradient(#7ec9df, #35b5d4));
  }
  &.secondary {
    border-left: 1px solid $cc-color-border;
  }
  &.button.small {
    font-size: 13px;
    padding: 4px 6px;
  }
  &.tiny {
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

@mixin cc-button-common {
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 15px;
}
.cc-button-submit-enabled {
  @include cc-button-common;
  background: $cc-color-action-button;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
}
.cc-button-submit-disabled {
  @include cc-button-common;
  background: #e5e5e5 !important;
  @include background(linear-gradient(#fff, #e5e5e5));
  border: 2px solid #d2d2d2 !important;
  color: #d2d2d2 !important;
  cursor: default !important;
  text-decoration: none !important;
}
.cc-button-reset {
  @include cc-button-common;
  background: #fff;
  @include background(linear-gradient(#fff, #e5e5e5));
  border: 2px solid #d2d2d2;
  color: $cc-color-medium-grey;
  &:focus, &:hover {
    background: #fff;
    @include background(linear-gradient(#fff, #e5e5e5));
    color: $cc-color-medium-grey;
  }
}

.cc-button-link {
  padding: 0;
  &, &:hover, &:focus {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
  }
}

/* Message for oldIE */
.cc-old-ie {
  margin-bottom: 20px !important;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

/* Container */
.cc-container-main {
  background-color: #fff;
}

/*
Read more about why we're using @import instead of require at
http://stackoverflow.com/questions/6269420
*/

/* Header */
@import "header";
/* Top navigation */
@import "navigation";
/* Footer */
@import "footer";

/* Icons */
@import "icons";
/* Widgets */
@import "widgets";
/* Widgets */
@import "useful";

/* Dashboard */
@import "dashboard";
@import "mycalendar";
@import "activities";
@import "tasks";
@import "mygroups_myclasses";

/* Academics */
@import "academics";

/* Campus */
@import "campus";

/* Settings */
@import "settings";

/* Splash */
@import "splash";

/* Date Picker */
@import "datepicker";

/* Demo Styles */
@import "styles-ref";
