@import "compass/css3";
@import "compass/css3/hyphenation";
@import "compass/css3/user-interface";

/* CalCentral Specific */
@import "colors";

/* HTML */
html {
  -webkit-text-size-adjust: 100%;
}

/* Body */
body {
  background-color: $cc-color-main-background;
}

/* Headings */
h1 {
  font-size: 32px;
}
.cc-heading-page-title {
  color: $cc-color-medium-grey;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 10px;
  @media #{$small-only} {
    margin-bottom: 15px;
  }
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}

/* Inset list items */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Anchor tag */
a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* Form */
form {
  background: $cc-color-widget-more-background;
  border: 1px solid #dedede;
  padding: 10px 5px;

  input[type="number"],
  input[type="password"],
  input[type="text"],
  textarea {
    background: $cc-color-white;
    border: transparent 1px solid;
    box-shadow: inset 0 1px 2px $cc-color-button-regular;
    font-family: Arial;
    font-size: 12px;
    margin: 0 0 8px 0;
    padding: 3px;
    width: 100%;
    &:focus {
      border: 1px solid $cc-color-button-border;
    }
  }

  label {
    display: block;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: right;
  }

  textarea {
    resize: vertical;
  }

  // Placeholder selector duplication intentional, re: http://bit.ly/ZnuZFo
  input:-moz-placeholder {
    color: $cc-color-placeholder;
  }
  input:-ms-input-placeholder {
    color: $cc-color-placeholder;
  }
  ::-moz-placeholder {
    color: $cc-color-placeholder;
  }

}

/* Buttons */
button {
  @include box-shadow(none);
  font-family: $body-font-family;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    @include box-shadow(none);
  }
}
.button {
  background-color: $cc-color-button;
  &.medium {
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
  }
  &.selected {
    @include background(linear-gradient(#7ec9df, #35b5d4));
  }
  &.button.small {
    font-size: 13px;
    padding: 4px 6px;
  }
  &.tiny {
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.cc-button {
  background: $cc-color-white;
  @include background(linear-gradient($cc-color-white, $cc-color-button-regular));
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  color: $cc-color-medium-grey;
  cursor: pointer;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 10px;
  &:focus, &:hover {
    background: $cc-color-button-hover;
    @include background(linear-gradient($cc-color-white, $cc-color-button-hover));
    color: $cc-color-medium-grey;
    text-decoration: none;
  }
}
.cc-button-transparent {
  background: transparent;
  border: none;
  color: $body-font-color !important;
  padding: 0;
  &:focus, &:hover {
    background: transparent;
    i {
      color: $cc-color-lighter-medium-grey !important;
    }
  }
}
.cc-button-blue {
  background: $cc-color-action-button;
  border: 1px solid transparent;
  color: $cc-color-white;
  &:focus, &:hover {
    background: $cc-color-action-button-hover;
    color: $cc-color-white;
  }
}
.cc-button-disabled {
  background: $cc-color-button-disabled-background !important;
  border: 1px solid transparent !important;
  color: $cc-color-button-disabled !important;
  cursor: auto !important;
  opacity: 1 !important;
  &:focus, &:hover {
    background: $cc-color-button-disabled-background !important;
    color: $cc-color-button-disabled !important;
  }
}
.cc-button-large {
  font-size: 16px;
  font-weight: normal;
  padding: 8px 10px;
}
.cc-button-selected {
  background: $cc-color-button-selected;
  @include background(linear-gradient($cc-color-button-grey, $cc-color-button-selected));
  color: $cc-color-white;
  &:focus, &:hover {
    background: $cc-color-button-selected;
    @include background(linear-gradient($cc-color-button-grey, $cc-color-button-selected));
    color: $cc-color-white;
  }
  i {
    color: $cc-color-white;
  }
}
.cc-button-plus-icon {
  color: $cc-color-green-plus;
}
.cc-button-link {
  padding: 0;
  &, &:hover, &:focus {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
  }
}

.cc-button-group {
  li {
    float: left;
    margin: 0 0 0 -1px;
    &:first-child {
      margin: 0;
      .cc-button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    &:last-child {
      .cc-button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .cc-button {
    border-radius: 0;
    width: 100%;
  }
}
.cc-even-1 {
  li {
    width: 100%;
  }
}
.cc-even-2 {
  li {
    width: 50%;
  }
}
.cc-even-3 {
  li {
    width: 33.33333%;
  }
}
.cc-even-4 {
  li {
    width: 25%;
  }
}

/* List */
.cc-list-links {
  margin: 10px 0;
  a {
    display: block;
    margin-left: 16px;
    &:before {
      content: '\25A0';
      color: #61889d;
      float: left;
      margin-left: -16px;
      margin-top: -2px;
      padding-right: 8px;
    }
  }
}

/* Select */
/* We need to wrap a select in a <div> to have consistent styling */
.cc-select {
  background: $cc-color-white;
  @include background(asset-data-url('select_arrow_20x28.png') no-repeat right center, linear-gradient($cc-color-white, $cc-color-button-regular));
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  select {
    background: transparent;
    border: 0;
    color: $cc-color-medium-grey;
    cursor: pointer;
    font-size: 11px;
    margin: 0;
    padding: 4px 45% 5px 10px;
    width: 130%;
    -moz-appearance: window;
    -webkit-appearance: none;
    option {
      width: 100%;
    }
  }
}

/* Text */
.cc-text-light {
  color: $cc-color-lighter-medium-grey;
}

/* Message for oldIE */
.cc-old-ie {
  margin-bottom: 20px !important;
  a {
    color: $cc-color-white;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

/* Container */
.cc-container-main {
  background-color: $cc-color-main-background;
}

/* Row collapse bug by foundation */
.row.collapse {
  .column, .columns {
    padding-left: 0;
    padding-right: 0;
  }
}

/*
Read more about why we're using @import instead of require at
http://stackoverflow.com/questions/6269420
*/

/* Accessibility */
@import "accessibility";

/* Header */
@import "header";
/* Top navigation */
@import "navigation";
/* Footer */
@import "footer";

/* Icons */
@import "icons";
/* Widgets */
@import "widgets";
/* Tables */
@import "tables";
/* Scrollbars */
@import "scrollbars";
/* Useful */
@import "useful";
/* Date Picker */
@import "datepicker";
/* Act As */
@import "actas";
/* Updated Feeds */
@import "updated_feeds";

/* Academics */
@import "academics";

/* Textbooks */
@import "textbooks";

/* Dashboard */
@import "classes";
@import "mycalendar";
@import "activities";
@import "tasks";
@import "google_reminder";

/* Campus */
@import "campus";

/* Canvas external apps */
@import "canvas_embedded";
@import "canvas_course_add_user";
@import "canvas_course_provision";
@import "canvas_user_provision";
@import "canvas_roster";

/* My Finances */
@import "myfinances";

/* Settings */
@import "settings";

/* Splash */
@import "splash";

/* Status pages: 404/sorry */
@import "status";

/* Off Canvas */
@import "offcanvas";

/* Demo Styles */
@import "styles-ref";

/* Class Page Youtube Videos Styles */
@import "youtube_videos"
