@import "compass/css3";
@import "compass/css3/user-interface";

/* CalCentral Specific */
$cc-color-action-button: #2787b6;
$cc-color-action-button-hover: #1f7099;
$cc-color-button: #80c7de;
$cc-color-button-border: #d2d2d2;
$cc-color-button-disabled: #d6d6d6;
$cc-color-button-disabled-background: #8098a5;
$cc-color-button-grey: #bebebe;
$cc-color-button-hover: #d5d5d5;
$cc-color-button-regular: #e5e5e5;
$cc-color-button-selected: #949494;
$cc-color-blue-hover: #f2f9fe;
$cc-color-dark-grey: #2c2d2e;
$cc-color-header: #002e5b;
$cc-color-header-icon-background: #4a6a8a;
$cc-color-green-dark: #2a627b;
$cc-color-green-label: #b3c8b4;
$cc-color-green-light: #42768e;
$cc-color-green-plus: #51a351;
$cc-color-launcher-border: #114d80;
$cc-color-light-grey: #dddddd;
$cc-color-lighter-medium-grey: #999;
$cc-color-light-medium-grey: #6e6e6e;
$cc-color-list-border: #cacaca;
$cc-color-main-background: #f2f2f2;
$cc-color-medium-grey: #424242;
$cc-color-navigation: #366079;
$cc-color-placeholder: #aaa;
$cc-color-popover-border: #d6d6d6;
$cc-color-popover-calendar: #f6f6f6;
$cc-color-popover-calendar-week: #2d637f;
$cc-color-popover-hover: #e6ebef;
$cc-color-popover-icon: #afc5d2;
$cc-color-popover-icon-hover: #0a3361;
$cc-color-popover-text: #797979;
$cc-color-popover-title-gradient: #e8e8e8;
$cc-color-red: #cf1715;
$cc-color-shadow-color: #ccc;
$cc-color-super-light-grey: #fbfbfb;
$cc-color-white: #fff;
$cc-color-widget-background: #ebebeb;
$cc-color-widget-highlight-background: #f2fef3;
$cc-color-widget-more-background: #f7f7f7;
$cc-color-widget-section-label: #515151;

/* Body */
body {
  background-color: $cc-color-main-background;
}

/* Headings */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}

/* Inset list items */
ul {
  padding: 0;
}

/* Anchor tag */
a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* Form */
form {
  background: $cc-color-widget-more-background;
  border: 1px solid #dedede;
  padding: 10px 5px;

  input {
    background: $cc-color-white;
    font-family: Arial;
    &[type="text"] {
      border: transparent;
      font-size: 12px;
      width: 100%;
      &:focus {
        border: 1px solid #aeaeae;
      }
    }
  }

  label {
    display: block;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: right;
  }

  textarea {
    background: $cc-color-white;
    border: transparent;
    font-size: 12px;
    resize: vertical;
  }

  // Placeholder selector duplication intentional, re: http://bit.ly/ZnuZFo
  input:-moz-placeholder {
    color: $cc-color-placeholder;
  }
  input:-ms-input-placeholder {
    color: $cc-color-placeholder;
  }
  ::-moz-placeholder {
    color: $cc-color-placeholder;
  }

}

/* Buttons */
button {
  @include box-shadow(none);
  font-family: $body-font-family;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    @include box-shadow(none);
  }
}
.button {
  background-color: $cc-color-button;
  &.medium {
    font-size: 13px;
    font-weight: normal;
    padding: 7px 12px;
  }
  &.selected {
    @include background(linear-gradient(#7ec9df, #35b5d4));
  }
  &.secondary {
    border-left: 1px solid $cc-color-lighter-medium-grey;
  }
  &.button.small {
    font-size: 13px;
    padding: 4px 6px;
  }
  &.tiny {
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.cc-button {
  background: $cc-color-white;
  @include background(linear-gradient($cc-color-white, $cc-color-button-regular));
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  color: $cc-color-medium-grey;
  cursor: pointer;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  padding: 7px 10px;
  &:focus, &:hover {
    background: $cc-color-button-hover;
    @include background(linear-gradient($cc-color-white, $cc-color-button-hover));
    color: $cc-color-medium-grey;
    text-decoration: none;
  }
}
.cc-button-transparent {
  background: transparent;
  border: none;
  color: $body-font-color !important;
  padding: 0;
  &:focus, &:hover {
    background: transparent;
    i {
      color: $cc-color-lighter-medium-grey !important;
    }
  }
}
.cc-button-blue {
  background: $cc-color-action-button;
  border: 1px solid transparent;
  color: $cc-color-white;
  &:focus, &:hover {
    background: $cc-color-action-button-hover;
    color: $cc-color-white;
  }
}
.cc-button-disabled {
  background: $cc-color-button-disabled-background !important;
  border: 1px solid transparent !important;
  color: $cc-color-button-disabled !important;
  opacity: 1 !important;
  &:focus, &:hover {
    background: $cc-color-button-disabled-background !important;
    color: $cc-color-button-disabled !important;
  }
}
.cc-button-selected {
  background: $cc-color-button-selected;
  @include background(linear-gradient($cc-color-button-grey, $cc-color-button-selected));
  color: $cc-color-white;
  &:focus, &:hover {
    background: $cc-color-button-selected;
    @include background(linear-gradient($cc-color-button-grey, $cc-color-button-selected));
    color: $cc-color-white;
  }
  i {
    color: $cc-color-white;
  }
}
.cc-button-plus-icon {
  color: $cc-color-green-plus;
}
.cc-button-link {
  padding: 0;
  &, &:hover, &:focus {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
  }
}

.cc-button-group {
  list-style-type: none;
  li {
    float: left;
    margin: 0 0 0 -1px;
    &:first-child {
      margin: 0;
      .cc-button {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
    &:last-child {
      .cc-button {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .cc-button {
    border-radius: 0;
    width: 100%;
  }
}
.cc-even-3 {
  li {
    width: 33.33333%;
  }
}

/* Select */
/* We need to wrap a select in a <div> to have consistent styling */
.cc-select {
  background: $cc-color-white;
  @include background(asset-data-url('select_arrow_20x28.png') no-repeat right center, linear-gradient($cc-color-white, $cc-color-button-regular));
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  select {
    background: transparent;
    border: 0;
    color: $cc-color-medium-grey;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px 7px;
    width: 130%;
    -webkit-appearance: none;
    option {
      width: 100%;
    }
  }
}

/* Message for oldIE */
.cc-old-ie {
  margin-bottom: 20px !important;
  a {
    color: $cc-color-white;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

/* Container */
.cc-container-main {
  background-color: $cc-color-white;
}

.bummer-404 {
  font-family: monospace;
  font-size: 64px;
  margin: 0 20px;
}

/*
Read more about why we're using @import instead of require at
http://stackoverflow.com/questions/6269420
*/

/* Header */
@import "header";
/* Top navigation */
@import "navigation";
/* Footer */
@import "footer";

/* Icons */
@import "icons";
/* Widgets */
@import "widgets";
/* Widgets */
@import "useful";

/* Dashboard */
@import "dashboard";
@import "mycalendar";
@import "activities";
@import "tasks";

/* Academics */
@import "academics";

/* Campus */
@import "campus";

/* Settings */
@import "settings";

/* Splash */
@import "splash";

/* Date Picker */
@import "datepicker";

/* Off Canvas */
@import "offcanvas";

/* Demo Styles */
@import "styles-ref";
