@import "compass/css3";
@import "compass/css3/user-interface";

$cc-action-button-color: #72cb12;
$cc-alert-color: #fb0007;
$cc-border-color: #999;
$cc-button-color: #80c7de;
$cc-column-border-color: #dedede;
$cc-dark-grey: #2c2d2e;
$cc-launcher-border-color: #114d80;
$cc-light-grey: #4a4b4d;
$cc-list-border-color: #cacaca;
$cc-main-background-color: #f2f2f2;
$cc-main-header-border-color: #d3d8d8;
$cc-medium-grey: #dddddd;
$cc-nav-gradient1-color: #012955;
$cc-nav-gradient2-color: #3b5d86;
$cc-nav-link-color: #fdd692;
$cc-placeholder-color: #aaa;
$cc-shadow-color: #ccc;
$cc-widget-section-label-color: #515151;
$cc-widget-highlight-background-color: #f2fef3;
$cc-widget-hover-background-color: #e3ffff;
$cc-widget-more-background-color: #c8dee9;

/* Body */
body {
  background-color: $cc-main-background-color;
}

/* Headings */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}

/* Inset list items */
ul {
  padding: 0 0 0 40px;
}

/* Anchor tag */
a {
  &:hover, &:focus {
    text-decoration: underline;
  }
}

/* Form */
form {
  background: #eaeaea;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;

  input {
    font-family: Arial;
    &[type="text"] {
      border: 1px solid #aeaeae;
      border-radius: 3px;
      width: 100%;
    }
  }

  label {
    display: block;
    margin-top: 5px;
    text-align: right;
  }

  ::-moz-placeholder {
    color: $cc-placeholder-color;
  }
  input:-moz-placeholder {
    color: $cc-placeholder-color;
  }

}

/* Buttons */
button {
  font-family: Arial, sans-serif;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}
.button {
  background-color: $cc-button-color;
  &.medium {
    font-weight: normal;
    padding: 7px 12px;
  }
  &.selected {
    @include background(linear-gradient(#7ec9df, #35b5d4));
  }
  &.secondary {
    border-left: 1px solid $cc-border-color;
  }
  &.small {
    font-size: 13px;
    padding: 4px 6px;
  }
  &.tiny {
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

@mixin cc-button-common {
  font-size: 13px;
  padding: 6px 15px;
}
.cc-button-submit-enabled {
  @include cc-button-common;
  background: $cc-action-button-color;
  border: 2px solid transparent;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.cc-button-submit-disabled {
  @include cc-button-common;
  @include background(linear-gradient(#fff, #e5e5e5));
  border: 2px solid #d2d2d2;
  border-radius: 6px;
  color: #d2d2d2;
  cursor: default !important;
  text-decoration: none !important;
}
.cc-button-reset {
  @include cc-button-common;
  @include background(linear-gradient(#fff, #e5e5e5));
  border: 2px solid #d2d2d2;
  border-radius: 6px;
  color: $cc-light-grey;
}

.cc-button-link {
  &, &:hover, &:focus {
    background-color: transparent;
    border: none;
    color: $mainColor;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
  }
}

/* Message for oldIE */
.cc-old-ie {
  margin-bottom: 20px !important;
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Container */
.cc-container-main {
  background-color: $white;
}

/*
Read more about why we're using @import instead of require at
http://stackoverflow.com/questions/6269420
*/

/* Header */
@import "header";
/* Top navigation */
@import "navigation";
/* Footer */
@import "footer";

/* Icons */
@import "icons";
/* Widgets */
@import "widgets";
/* Widgets */
@import "useful";

/* Dashboard */
@import "dashboard";
@import "mycalendar";
@import "activities";
@import "tasks";
@import "mygroups_myclasses";

/* Settings */
@import "settings";

/* Splash */
@import "splash";
