/* Tasks and Assigments widget */
#cc-widget-myclasses {
  .cc-widget-mygroups-myclasses-title-link {
    font-size: 0.85em;
    color: $txtColor;
  }
  .cc-myclasses-link-with-title {
    padding-left: 5px;
  }
}
