// CalCentral Specific
$cc-color-berkeley-south-hall: #6c3302;
$cc-color-button: #80c7de;
$cc-color-button-action: #2787b6;
$cc-color-button-action-disabled-background: #8098a5;
$cc-color-button-action-hover: #1f7099;
$cc-color-button-action-large-bottom: #1f7396;
$cc-color-button-action-large-hover: #065a7d;
$cc-color-button-action-large-top: #2889b2;
$cc-color-button-border: #d2d2d2;
$cc-color-button-disabled: #d6d6d6;
$cc-color-button-disabled-background: #f6f6f6;
$cc-color-button-grey: #bebebe;
$cc-color-button-hover: #d5d5d5;
$cc-color-button-regular: #e5e5e5;
$cc-color-button-selected: #949494;
$cc-color-black: #000;
$cc-color-blue-dark: #002f58;
$cc-color-blue-hover: #f2f9fe;
$cc-color-dark-blue: #6e7a83;
$cc-color-dark-grey: #2c2d2e;
$cc-color-facebook-icon-splash: #3c599b;
$cc-color-footer-dark-background: #474f56;
$cc-color-footer-links: #8bc4ff;
$cc-color-header: #002e5b;
$cc-color-header-icon-background: #4a6a8a;
$cc-color-heading: #222;
$cc-color-gold: #f1a91e;
$cc-color-green: #0d863d;
$cc-color-green-dark: #2a627b;
$cc-color-green-icon: #007748;
$cc-color-green-label: #b3c8b4;
$cc-color-green-light: #42768e;
$cc-color-green-plus: #51a351;
$cc-color-launcher-border: #114d80;
$cc-color-light-grey: #ddd;
$cc-color-lighter-grey: #e6e6e6;
$cc-color-lighter-medium-grey: #999;
$cc-color-lightest-grey: #ededed;
$cc-color-light-medium-grey: #6e6e6e;
$cc-color-link: #2274a7;
$cc-color-list-border: #cacaca;
$cc-color-main-background: #f6f6f6;
$cc-color-medium-grey: #424242;
$cc-color-navigation: #2b6281;
$cc-color-navigation-sub: #427694;
$cc-color-placeholder: #aaa;
$cc-color-popover-border: #d6d6d6;
$cc-color-popover-calendar: #f6f6f6;
$cc-color-popover-calendar-week: #2d637f;
$cc-color-popover-hover: #e6ebef;
$cc-color-popover-icon: #afc5d2;
$cc-color-popover-icon-hover: #0a3361;
$cc-color-popover-text: #797979;
$cc-color-popover-title-background: #e8e8e8;
$cc-color-red: #cf1715;
$cc-color-red-dark: #ac120e;
$cc-color-shadow-color: #ccc;
$cc-color-super-light-grey: #fbfbfb;
$cc-color-textbooks-section: #666;
$cc-color-textbooks-details: #444;
$cc-color-textbooks-title: #333;
$cc-color-twitter-icon-splash: #69bcf0;
$cc-color-white: #fff;
$cc-color-white-transparant: rgba(255, 255, 255, 0);
$cc-color-widget-background: #ebebeb;
$cc-color-widget-more-background: #f7f7f7;
$cc-color-widget-section-label: #515151;
