@import "compass/css3";

.cc-container-main {
  overflow: hidden;

  .cc-page-dashboard-column-a,
  .cc-page-dashboard-column-b,
  .cc-page-dashboard-column-c {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .cc-page-dashboard-column-b, .cc-page-dashboard-column-c {
    border-left: 5px solid $cc-column-border-color;
  }
  .cc-page-dashboard-column-a, .cc-page-dashboard-column-c {
    background: #fafafa;
  }
  .cc-emitter-col {
    padding-right: 0;
  }
  .cc-emitter {
    color: #fff;
    background: #1d6592;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
  }

  .cc-emitter-square {
    border-radius: 4px;
    height: 18px;
    width: 18px;
  }

  // Emitter lozenge colors
  .cc-emitter-bspace-class {
    background: #3e7fbe;
  }
  .cc-emitter-bspace-group {
    background: #dba247;
  }
  .cc-emitter-canvas-class {
    background: #8f428a;
  }
  .cc-emitter-canvas-group {
    background: #fc6c40;
  }
  .cc-emitter-google-task {
    background: #b7dca6;
    color: #000;
  }
  .cc-emitter-campus-item {
    background: image-url('icon_notifications_campus_16x16.png') no-repeat;
  }
  .cc-widget-section-label-due {
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
  }
  .cc-widget-tasks-notifications-date-string {
    color: #999999;
    text-align: right;
    text-transform: uppercase;
  }
}

/* Shared between mygroups and myclasses */
.cc-widget-mygroups-myclasses-list {

  .cc-widget-mygroups-myclasses-emitter-column {
    padding-left: 0;
    margin-top: 4px;
  }
  .cc-widget-mygroups-myclasses-icon-column {
    height: 20px;
    width: 20px;
    padding-right: 20px;
  }
  .cc-widget-mygroups-myclasses-list-item {
    line-height: 0.5;
    padding-bottom: 4px;
  }
  .cc-widget-mygroups-myclasses-title-column {
    padding-left: 0;
    width: 65%;
  }
  .cc-widget-mygroups-myclasses-title-link {
    line-height: 1.1;
  }
}


/* Mobile styles */
@media only screen and (max-width: 767px) {
  .cc-container-main {
    .cc-page-dashboard-column-b {
      box-shadow: none;
    }
    .cc-page-dashboard-column-c {
      border: none;
    }
  }
}
