/* Tasks and Assigments widget */
#cc-widget-mygroups-list {

  .cc-widget-mygroups-emitter-column {
    padding-left: 0;
    margin-top: 4px;
  }
  .cc-widget-mygroups-icon-column {
    height: 20px;
    width: 20px;
    padding-right: 20px;
  }
  .cc-widget-mygroups-list-item {
    line-height: 0.5;
    padding-bottom: 4px;
  }
  .cc-widget-mygroups-title-column {
    padding-left: 0;
    width: 65%;
  }
  .cc-widget-mygroups-title-link {
    line-height: 1.1;
    padding-left: 0;
  }
}
