/* Notifications widget */
#cc-widget-notifications {

  .cc-widget-notifications-summary {
    padding-left: 30px;
    width: 270px;
  }
  .cc-widget-notifications-date-string {
    color: #999999;
    text-align: right;
    text-transform: uppercase;
  }
  .row {
    .cc-widget-tasks-notifications-text-column {
      font-size: 14px;
    }
    .cc-emitter-square {
      margin-top: 5px;
    }
  }
  .cc-widget-notifications-more {
    .cc-widget-notifications-text-column {
      font-size: 13px;
    }
  }
}
