/* Notifications widget */
#cc-widget-notifications {
  .cc-widget-notifications-summary {
    padding-left: 30px;
    width: 270px;
  }
  .cc-widget-notifications-date-string {
    color: #999999;
    text-transform: uppercase;
  }
  .row .cc-notification-text-column {
    font-size: 14px;
    padding-left: 0;
  }
  .row .cc-emitter-square {
    margin-top: 5px;
  }
}
