/* Tasks and Assigments widget */
#cc-widget-tasks {
  .cc-widget-tasks-taskslider {
    margin: 10px 0;
  }
  .cc-widget-tasks-button-top-pad {
    padding-top: 15px;
  }
  .cc-widget-tasks-completed-toggle {
    padding-top: 5px;
  }
  .cc-widget-tasks-status-completed {
    text-decoration: line-through;
  }
}
