/* Tasks and Assigments widget */
#cc-widget-tasks {
  .cc-widget-tasks-taskslider {
    margin: 10px 0;
  }
  .cc-widget-tasks-button-top-pad {
    padding-top: 15px;
  }
  .cc-widget-tasks-completed-toggle {
    padding-top: 5px;
  }
  .cc-widget-tasks-status-completed {
    text-decoration: line-through;
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .row .cc-mobile-task-checkbox-column {
    width: 10% !important;
  }
  .row .cc-mobile-task-title-column {
    width: 40% !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  .row .cc-mobile-task-emitter-column {
    width: 30% !important;
  }
  .row .cc-mobile-task-date-column {
    width: 20% !important;
  }
}
