/* Tasks and Assigments widget */
#cc-widget-tasks {
  .cc-widget-tasks-taskslider {
    margin: 10px 0;
  }
  .cc-widget-tasks-button-top-margin {
    margin-top: 15px;
  }
  .cc-widget-tasks-completed-toggle {
    padding-top: 5px;
  }
  .cc-task-title-column {
    padding-left: 0;
  }
  .cc-task-checkbox-column {
    padding-left: 5px;
    padding-right: 5px;
  }
  .cc-widget-tasks-section-top {
    border-top: 1px solid $cc-list-border-color;
    padding-top: 7px;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }
  .cc-widget-body p {
    margin: 0;
    padding-top: 0;
  }
  .cc-widget-tasks-more {
    padding-left: 10px;
    p {
      margin-bottom: 10px;
    }
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .row .cc-mobile-task-checkbox-column {
    width: 10% !important;
  }
  .row .cc-mobile-task-title-column {
    width: 40% !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  .row .cc-mobile-task-emitter-column {
    width: 30% !important;
  }
  .row .cc-mobile-task-date-column {
    width: 20% !important;
  }
}
