/* UC Berkeley Canvas customization CSS
 * copyright 2013, the Regents of Unversity of California
 * all rights reserved.
 */

/* Note: Canvas files need to referenced with a full URL because the origin for this file is the CalCentral server */

/* CalCentral Navigation */

#calcentral-custom-header {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    font-size: 12px;
    margin-left: 13px;
    margin-bottom: 4px;
    padding: 0 10px;
    background: transparent url('https://ucberkeley.instructure.com/images/canvas/top_bar_bg.png?1358195888') repeat-x;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: 0;
}

#calcentral-custom-header li {
    position: relative;
    color: white;
    float: left;
    line-height: 1em;
    margin: 5px 5px 5px 0;
}

#calcentral-custom-header a {
    color: white;
    padding-left: 20px;
    background: url(/canvas/calcentral-return-arrow.png) 0 no-repeat;
}

/* Canvas Header */

#header {
  background: #45758B;
}

#header-inner {
    height: 45px;
}

#identity {
  box-shadow: none;
}

#header-logo, #header.no-user #header-logo {
    background: url(/canvas/berkeley-canvas-logo.png) no-repeat;
    width: 136px;
    bottom: 12px;
    top: auto;
    left: 16px;
}

#main {
    margin-bottom: 20px;
}

/* Canvas Footer */

#footer {
    padding: 0 0 0 120px;
    background: url(/canvas/ucberkeley-logo.png) center left no-repeat;
    height: 50px;
}

#footer div {
    padding-left: 10px;
    border-left: 1px solid #AAA;
    height: 100%;
}

#footer img {
    display: none;
}

#footer-links a:first-child {
    padding-left: 0;
}

#footer p {
    font-size: 12px;
    line-height: 12px;
    padding: 10px 0 2px;
    margin: 0;
}

#footer p span {
    font-size: 14px;
    font-weight: bold;
}
