/* UC Berkeley Canvas customization CSS
 * copyright 2013, the Regents of Unversity of California
 * all rights reserved.
 */

/* Note: Canvas files need to referenced with a full URL because the origin for this file is the CalCentral server */

/* Canvas Header */
#header {
  background: #003262 url(/canvas/bcourses_background_2628x72.png) no-repeat 0 0;
}
#header.no-user {
  background-position: 0 0;
}
#header-inner {
  height: 45px;
}
#identity {
  box-shadow: none;
}
#header-logo, #header.no-user #header-logo {
  background: url(/canvas/bcourses_logotype_header_150x33.png) no-repeat;
  bottom: 20px;
  height: 33px;
  left: 19px;
  top: auto;
  width: 150px;
}
#main {
  margin-bottom: 20px;
}

/* Canvas Footer */
.with-left-side #footer {
  margin-left: 56px;
}
#footer {
  background: url(/canvas/ucberkeley_logo_110x34.png) center left no-repeat;
  height: 50px;
  padding: 0 0 0 120px;
}
#footer div {
  background: transparent url(/canvas/canvas_logo_footer_137x33.png) no-repeat right center;
  border-left: 1px solid #AAA;
  height: 100%;
  margin-right: 286px;
  padding-left: 10px;
  padding-right: 137px;
  width: 470px;
}

#footer img {
  display: none;
}

.footer-links {
  padding-left: 0;
}

.footer-links a {
  border-left: 1px solid #5c5c5c;
  color: #5c5c5c;
  padding: 0 5px;
}

.footer-links a:first-child {
  padding-left: 0;
  border: 0;
  padding-right: 5px;
}

.footer-links a[class=icon-twitter]:before, .footer-links a[class=icon-facebook-boxed]:before {
  font-size: 14px !important;
}

#footer p {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 2px;
}

#footer p.bcourses-footer-message {
  margin-bottom: 4px;
}

#footer p span {
  font-size: 14px;
  font-weight: bold;
}

/* Hide 'Add People' button in Course People section */
a#addUsers.btn.btn-primary {
  display: none;
}

/* Hide 'Start a New Course' button on User Dashboard and Courses index pages */
button#start_new_course.btn.button-sidebar-wide {
  display: none;
}
