<div
  class="cc-page-academics"
  data-cc-spinner-directive
  data-ng-show="canViewAcademics"
>
  <div data-ng-controller="BooklistController">
    <h1 class="cc-heading-page-title cc-left cc-print-hide">
      <a href="/academics">My Academics</a> &raquo;
      <a data-ng-href="/academics/semester/{{semesterSlug}}" data-ng-bind="semesterName"></a> &raquo;
      Book List
    </h1>

    <div class="cc-widget medium-8 columns cc-academics-row-margin cc-clearfix">
      <div class="cc-widget-title">
        <div class="cc-left">
          <h2>My Book List &raquo; <span data-ng-bind="semesterName"></span></h2>
        </div>
      </div>
      <div data-cc-spinner-directive class="cc-academics-semester-books">
        <div class="cc-widget-padding" data-ng-if="api.user.profile.features.textbooks">
          <div data-ng-repeat="courseBooks in semesterBooks" class="cc-clearfix-container">
            <h3 class="cc-book-title" data-ng-bind="courseBooks.course"></h3>
            <div data-ng-repeat="books in courseBooks">
              <div data-ng-include="'textbook.html'"></div>
              <div class="cc-text-line-height" data-ng-if="!books.items.length" data-ng-bind="books.bookUnavailableError"></div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
