<div class="cc-widget">
  <div class="cc-widget-title">
    <h2 class="cc-left">Semesters</h2>
    <a href="https://telebears.berkeley.edu/tranreq/" class="cc-right cc-widget-title-link">
      <strong>Order Transcripts</strong>
    </a>
  </div>

  <div class="cc-academics-semesters">
    <div class="cc-table cc-academics-semester cc-academics-semester-{{semester.timeBucket}}" data-ng-repeat="semester in semesters | limitTo:pastSemestersLimit">
      <div>
        <h3><a class="cc-left" data-ng-href="/academics/semester/{{semester.slug}}" data-ng-bind="semester.name"></a></h3>
        <a class="cc-right cc-academics-semester-title-link" data-ng-href="/academics/booklist/{{semester.slug}}" data-ng-if="semester.timeBucket === 'current' || semester.timeBucket === 'future'">Book List</a>
        <table data-ng-if="semester.classes">
          <thead>
            <tr>
              <th width="30%" scope="col">Class</th>
              <th width="60%" scope="col">Title</th>
              <th width="20%" scope="col" class="cc-table-right" data-ng-class="{'cc-table-right-spacing':(semester.timeBucket === 'past')}">
                <span data-ng-if="semester.timeBucket !== 'past'">Units</span>
                <span data-ng-if="semester.timeBucket === 'past'" title="Units">Un.</span>
              </th>
              <th width="10%" scope="col" data-ng-if="semester.timeBucket === 'past'" title="Grades">Gr.</th>
            </tr>
          </thead>
          <tbody data-ng-if="semester.timeBucket !== 'past'" data-ng-repeat="class in semester.classes">
            <tr data-ng-repeat="section in class.sections" data-ng-if="section.is_primary_section">
              <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
              <td data-ng-bind="class.title"></td>
              <td data-ng-bind="section.units | number:1" class="cc-table-right"></td>
            </tr>
          </tbody>
          <tbody data-ng-if="semester.timeBucket === 'past'" data-ng-repeat="class in semester.classes">
            <tr data-ng-if="class.transcript" data-ng-repeat="transcript in class.transcript">
              <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
              <td data-ng-bind="class.title"></td>
              <td data-ng-bind="transcript.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
              <td data-ng-bind="transcript.grade" data-ng-if="semester.timeBucket === 'past'"></td>
            </tr>
            <tr data-ng-if="!class.transcript && section.is_primary_section" data-ng-repeat="section in class.sections">
              <td><a data-ng-href="{{class.url}}" data-ng-bind="class.course_code"></a></td>
              <td data-ng-bind="class.title"></td>
              <td data-ng-bind="section.units | number:1" class="cc-table-right cc-table-right-spacing"></td>
              <td>--</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div data-ng-show="pastSemestersCount > 1 && pastSemestersLimit !== 100">
    <button class="cc-button cc-widget-show-more" data-ng-click="pastSemestersLimit = 100">
      Show Previous Semesters
    </button>
  </div>
</div>
