<div
  class="cc-page-academics"
  data-cc-spinner-directive
  data-ng-show="canViewAcademics"
>
  <div>
    <h1 class="cc-heading-page-title cc-left">
      <a href="/academics">My Academics</a> &raquo; <span data-ng-bind="selectedSemester.name"></span>
    </h1>
  </div>
  <div class="cc-right cc-academics-prev-next cc-uppercase" data-ng-if="previousNextSemesterShow">
    <a class="cc-academics-prev" data-ng-if="previousSemester.slug" data-ng-href="/academics/semester/{{previousSemester.slug}}">Prev semester</a>
    <span class="cc-academics-prev cc-academics-prev-next-disabled" data-ng-hide="previousSemester.slug">Prev semester</span>
    <span class="cc-academics-prev-next-devider"> | </span>
    <a class="cc-academics-next" data-ng-if="nextSemester.slug" data-ng-href="/academics/semester/{{nextSemester.slug}}">Next semester</a>
    <span class="cc-academics-next cc-academics-prev-next-disabled" data-ng-hide="nextSemester.slug">Next semester</span>
  </div>

  <div class="medium-8 columns cc-academics-row-margin cc-clearfix" data-ng-hide="selectedStudentSemester && !selectedCourses.length && selectedSemester.timeBucket === 'future'">
    <div data-ng-include="'academics_semester_classes.html'"></div>

    <div data-ng-include="'academics_final_exam_schedule.html'" data-ng-if="selectedSemester.timeBucket === 'current'"></div>

  </div>

  <div class="medium-4 columns cc-column-last" data-ng-class="{'pull-8 cc-clearfix':(!selectedCourses.length && selectedSemester.timeBucket === 'future')}">
    <div data-ng-include="'widgets/telebears.html'" data-ng-if="telebears.slug === selectedSemester.slug"></div>

    <div data-ng-include="'academics_final_grades.html'" data-ng-if="selectedStudentSemester && (selectedSemester.timeBucket === 'past') && !selectedSemester.gradingInProgress"></div>

    <div data-ng-include="'academics_gpa.html'" data-ng-if="(selectedStudentSemester && (selectedSemester.timeBucket !== 'future') && ((selectedSemester.timeBucket !== 'past') || selectedSemester.gradingInProgress)) && !studentInfo.isLawStudent"></div>

  </div>
</div>
