<div
  class="cc-page-academics"
  data-cc-spinner-directive>
  <div data-ng-if="canViewAcademics">
    <div class="column">
      <h1 class="cc-heading-page-title">My Academics</h1>
    </div>

    <div class="medium-4 columns cc-academics-row-margin" data-ng-if="api.user.profile.hasStudentHistory || api.user.profile.roles.student">
      <div data-ng-include src="'academics_student_profile.html'"></div>
      <div data-ng-include src="'academics_status_and_blocks.html'"></div>
    </div>

    <div class="medium-4 columns cc-academics-row-margin">
      <div data-ng-include src="'academics_semesters.html'" data-ng-if="api.user.profile.hasStudentHistory && semesters.length"></div>
      <div data-ng-include src="'academics_teaching.html'" data-ng-if="api.user.profile.roles.faculty || teachingLength"></div>
    </div>

    <div class="medium-4 columns cc-column-last">
      <div data-ng-include="'widgets/telebears.html'" data-ng-if="telebears.slug"></div>

      <div data-ng-include="'academics_final_exam_schedule.html'" data-ng-if="examSchedule.length"></div>

      <div data-ng-include="'academics_ls_advising.html'" data-ng-if="api.user.profile.features.advising && isLSStudent"></div>

      <div data-ng-include="'academics_university_requirements.html'" data-ng-if="requirements && isUndergraduate"></div>
    </div>
  </div>
</div>
<div class="cc-page-academics" data-ng-if="!canViewAcademics" data-ng-cloak>
  <div class="small-12 columns">
    <h2>Data not available</h2>
    <p>
      This page displays academic status information for UC Berkeley students and faculty, and is not available to staff.
    </p>
    <p>
      If you believe you are seeing this message is an error, please contact <a href="https://ets.berkeley.edu/help/calcentral">CalCentral Help</a>.
    </p>
  </div>
</div>
