<div class="cc-widget cc-widget-exam-schedule">
  <div class="cc-widget-title">
    <h2>Final Exam Schedule</h2>
  </div>
  <div class="cc-widget-padding" data-ng-if="examSchedule.length">
    <div data-ng-repeat="exam in examSchedule" class="cc-widget-exam-schedule-item cc-clearfix-container">
      <div class="cc-widget-exam-schedule-time cc-left">
        <span data-ng-bind="exam.date.epoch * 1000 | date:'EEE MMM d'"></span><br />
        <span data-ng-bind="exam.time" class="cc-text-small cc-text-light"></span>
      </div>
      <div class="cc-widget-exam-schedule-content">
        <strong data-ng-bind="exam.course_code"></strong><br />
        <div class="cc-text-small" data-cc-map-link-builder-directive></div>
      </div>
    </div>
  </div>
  <div class="cc-widget-text" data-ng-hide="examSchedule.length">No exam schedules listed.</div>
</div>
