<div class="medium-5 columns medium-push-3 cc-page-dashboard-column-b">
  <div data-ng-include="'widgets/hookup_google_reminder.html'"></div>
  <div data-ng-include="'widgets/tasks.html'"></div>
</div>

<div class="medium-4 columns medium-push-3 cc-page-dashboard-column-c cc-column-last">
  <div data-ng-include="'widgets/activity.html'"></div>
</div>

<div class="medium-3 columns medium-pull-9 cc-page-dashboard-column-a">
  <div data-ng-include="'widgets/up_next.html'"></div>
  <div data-ng-include="'widgets/my_classes.html'"></div>
  <div data-ng-include="'widgets/my_groups.html'"></div>
</div>
