<div class="cc-page-profile" data-ng-show="api.user.profile.features.profile_page">
  <div class="cc-heading-page-title">
    <a href="dashboard">My Dashboard</a> » Profile
  </div>
  <div class="medium-3">
    <div class="cc-widget">
      <div class="cc-widget-title">
        <h2>Profile Picture</h2>
      </div>
      <div data-cc-spinner-directive="profilePictureLoading">
        <div class="cc-widget-padding">
          <img data-cc-image-loaded-directive="profilePictureLoading" alt="{{api.user.profile.fullName}}'s Profile Picture" data-ng-src="{{api.user.profile.profilePicture}}" width="105" height="140">
        </div>
        <div class="cc-widget-padding">
          <div ng-show="api.user.profile.fullName">
            <strong>Name: </strong> <span ng-bind="api.user.profile.fullName"></span>
            <br/>
          </div>
          <div ng-show="api.user.profile.preferred_name">
            <strong>Preferred Name: </strong> <span ng-bind="api.user.profile.preferred_name"></span>
            <br/>
          </div>
          <div ng-show="api.user.profile.googleEmail">
            <strong>Email: </strong> <span ng-bind="api.user.profile.googleEmail"></span>
            <br/>
          </div>
          <div ng-show="api.user.profile.canvasEmail">
            <strong>Email: </strong> <span ng-bind="api.user.profile.canvasEmail"></span>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
