<div class="medium-12 columns cc-settings">
  <h1>Settings for {{api.user.profile.fullName}}</h1>

  <section data-ng-show='connectedServices.length' class="cc-settings-section">
    <div class="medium-10 medium-centered columns">

      <h2>Connected Services</h2>
      <div data-ng-repeat="service in connectedServices">
        <div class="row cc-settings-service-row" data-ng-init="loopname='connected'" data-ng-include src="'settings_service_loop.html'"></div>
      </div>

    </div>
  </section>

  <section data-ng-show='nonConnectedServices.length' class="cc-settings-section">
    <div class="medium-10 medium-centered columns">

      <h2>Services to Connect</h2>

      <div data-ng-repeat="service in nonConnectedServices">
        <div class="row cc-settings-service-row" data-ng-init="loopname='unconnected'" data-ng-include src="'settings_service_loop.html'"></div>
      </div>

    </div>
  </section>

  <a class="cc-settings-dashboard-link" href="/dashboard">&laquo; Take me to my Dashboard
  </a>

  <div data-ng-show="api.user.profile.isViewer || api.user.profile.actingAsUid" data-ng-controller="AdminController">
    <h2>Admin</h2>
    <h3>View as</h3>
    <form data-ng-submit="admin.actAsSomeone()">
      <div class="row">
        <div class="small-3 columns">
          <label for="cc-settings-act-as-uid">UID</label>
        </div>
        <div class="small-9 columns">
          <input id="cc-settings-act-as-uid" data-ng-model="admin.actAs.uid" type="number" data-cc-select-on-click-directive />
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <button
            class="cc-button cc-button-blue"
            data-ng-disabled="!admin.actAs.uid"
            type="submit">Submit</button>
        </div>
      </div>

      <div class="row cc-settings-recent-uids" data-ng-repeat="uidDiv in admin.uidDivs">
        <div class="small-9 small-offset-3 columns" data-ng-if="supportsLocalStorage && uidDiv.UIDs.length">
          <h6>{{uidDiv.title}} (<button type="button" class="cc-button-link" data-ng-click="uidDiv.clearAllUIDs()">clear all</button>)</h6>
          <ul>
            <li data-ng-repeat="UID in uidDiv.UIDs track by $index">
              <button type="submit" class="cc-button-link" data-ng-click="uidDiv.updateUIDField(UID)" data-ng-bind="UID"></button>
              <span data-ng-if="uidDiv.storeUID">(<button type="button" class="cc-button-link" data-ng-click="uidDiv.storeUID(UID)">save</button>)</span>
              <span data-ng-if="uidDiv.clearUID">(<button type="button" class="cc-button-link" data-ng-click="uidDiv.clearUID($index)">delete</button>)</span>
            </li>
          </ul>
        </div>
      </div>

    </form>
    <form data-ng-if="api.user.profile.actingAsUid" data-ng-submit="admin.stopActAs()">
      <button class="cc-button cc-button-blue" type="submit">Stop viewing as</button>
    </form>

    <h3>UID/SID Lookup</h3>
    <form data-ng-submit="admin.uidToSidLookup()">
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <input id="cc-settings-id" placeholder="Enter UID or SID here" data-ng-model="admin.id" type="number"/>
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <button
            class="cc-button cc-button-blue"
            data-ng-disabled="!admin.id"
            type="submit">Look Up</button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-offset-3 columns">
          <span data-ng-bind="admin.errorStatus"></span>
        </div>
      </div>
      <div data-ng-if="admin.users" class="row">
        <div class="small-6 small-offset-3 columns cc-table">
          <table class="cc-settings-table">
            <thead>
              <tr>
                <th width="50%" scope="col">UID</th>
                <th width="50%" scope="col">SID</th>
              </tr>
            </thead>
            <tbody data-ng-repeat="user in admin.users">
              <tr>
                <td data-ng-bind="user.ldap_uid"></td>
                <td data-ng-bind="user.student_id || 'This user has no SID'"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>

    <div data-ng-controller="ApiTestController" data-ng-show="apiTest.enabled">
      <h3>Api Test</h3>
      <form class="api-test-form" data-ng-submit="runApiTest()">
        <button class="cc-button cc-button-blue" id="cc-settings-run-api-test-submit" data-ng-disabled="apiTest.running" type="submit">Run test</button>
        <div class="cc-settings-section" data-ng-show="apiTest.showTests">
          <ul class="cc-settings-apitest-list">
            <li data-ng-class="{'cc-settings-apitest-failed': (route.status == 'failed'), 'cc-settings-apitest-success': (route.status == 'success')}"
                data-ng-repeat="route in apiTest.data" data-ng-bind-template="{{route.route}}: {{route.status}}"></li>
          </ul>
        </div>
      </form>
    </div>
  </div>

</div>
