<div class="cc-page-status cc-page-sorry">
  <h1 class="cc-visuallyhidden">Problems with CalNet Login</h1>
  <div class="cc-widget cc-page-status-container">
    <div class="cc-widget-title">
      <h2>Unrecognized Log-In</h2>
    </div>

    <div class="cc-widget-padding">
      <div class="cc-left">
        <p>
          Sorry, we didn't recognize your login. Please <a data-ng-click="api.user.signOut()">log out</a> and try again, or contact our <a href="https://ets.berkeley.edu/forms/request-calcentral-support-or-give-feedback">support team</a>."
        </p>
        <p><a href="/">Return to CalCentral</a></p>
      </div>
      <p class="cc-clearfix">
        In the meantime, you can learn more about the project by clicking the button below.
      </p>
      <a href="http://ets.berkeley.edu/calcentral" class="cc-button cc-button-blue cc-page-status-button">Learn More</a>
    </div>
  </div>

</div>
