.cc-accessibility-links {
  position: relative;
  z-index: 1;

  a {
    background: $cc-color-white;
    display: block;
    font-weight: bold;
    padding: 8px;
    position: absolute;
    top: -999em;
    z-index: 1;
    &:focus, &:active {
      left: 50%;
      margin-left: -100px;
      text-align: center;
      top: 5px;
      width: 200px;
    }
  }
}
