// Activities widget
.cc-widget-activities {

  a {
    hyphens: auto;
    // This apparent duplicate property is needed for cross-browser compatibility.
    word-break: break-all;
    word-break: break-word;
  }

  .cc-widget-activities-list {
    font-size: 12px;
    margin: 0;
    padding: 0 15px;

    > li {
      border-bottom: 1px solid $cc-color-widget-background;
      &:last-child {
        border-bottom: 0;
      }
    }
    .cc-widget-activities-list-undated {
      border-bottom: 2px solid $cc-color-shadow-color;
    }
  }

  .cc-widget-activities-sub-activity-container {
    .cc-widget-list-hover {
      padding: 0;
    }
  }

  .cc-widget-activities-sub-activity {
    border-top: 1px solid $cc-color-light-grey;
    padding: 6px 0 6px 15px;
    position: relative;
  }

  .cc-widget-activities-sub-activity-more {
    margin-bottom: 10px;
  }

  .cc-widget-activities-sub-activity-open {
    &:before {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $body-font-color;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: 13px;
      width: 0;
    }
  }
  .cc-widget-activities-sub-activity-closed {
    &:before {
      border-bottom: 4px solid transparent;
      border-left: 4px solid $body-font-color;
      border-top: 4px solid transparent;
      content: "";
      height: 0;
      left: 3px;
      position: absolute;
      top: 10px;
      width: 0;
    }
  }

  .cc-widget-activities-sub-text-margin {
    margin-left: 10px;
  }

  .cc-widget-activities-sub-activity-list {
    margin-top: 15px;
    li {
      .cc-widget-activities-sub-activity-date-string {
        color: $cc-color-lighter-medium-grey;
        float: right;
        font-size: 10px;
        text-align: right;
        text-transform: none;
      }
      .cc-widget-activities-sub-activity-summary {
        clear: both;
      }
    }
  }
  .cc-widget-activities-summary {
    margin-right: 16px;
    margin-top: 16px;
  }
  .cc-widget-activities-text-column {
    line-height: 1.4;
    i {
      color: $cc-color-popover-icon;
      font-size: 20px;
    }
    .fa-usd {
      margin-left: 2px;
    }
  }
  .cc-widget-activities-text-margin {
    margin-left: 30px;
    .cc-widget-activities-info-link {
      display: block;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .cc-widget-activities-status-line {
      margin-top: 4px;
    }
    .cc-widget-activities-term-year {
      margin-top: 16px;
    }
  }

}
