.bc-page-course-official-sections {
  background-color: $bc-color-white;
  padding: 25px;
  .cc-button {
    padding: 10px;
  }

  .bc-page-course-official-sections-header1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0 16px;
  }

  .bc-page-course-official-sections-button {
    text-decoration: none;
  }

  .bc-page-course-official-sections-courses-container {
    margin: 0;
  }

  .bc-page-course-official-sections-current-course {
    margin-left: 10px;
  }

  .bc-page-course-official-sections-current-sections-grey-border {
    border: $bc-color-grey-area-border-dark solid 1px;
  }

  .bc-page-course-official-sections-current-sections-header {
    margin-bottom: 5px;
  }

  .bc-page-course-official-sections-current-sections-white-border {
    border: $cc-color-white solid 1px;
  }

  .bc-page-course-official-sections-sections-area {
    padding: 18px;
  }

  .bc-page-course-official-sections-existing-sections-header-label {
    font-size: 19px;
    margin-top: 10px;
  }

  .bc-page-course-official-sections-available-sections-header-label {
    margin-bottom: 15px;
  }

  .bc-page-course-official-sections-form-course-button {
    color: $bc-color-body-black;

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  .bc-page-course-official-sections-form-collapsible-container {
    margin-top: 7px;
  }

  .bc-page-course-official-sections-form-select-all-option {
    font-size: 12px;
    margin: 6px 0 4px 2px;
  }

  .bc-page-course-official-sections-form-select-all-option-button {
    outline: none;
  }

  .bc-page-course-official-sections-pending-request {
    margin: 20px 0;
  }

  @media #{$small-only} {
    .bc-page-course-official-sections-small-only-align-left {
      text-align: left;
    }
  }

}
