.cc-page-course-grade-export {
  background-color: $bc-color-white;
  padding: 13px;

  // Reset to avoid default Foundation form styling
  p {
    margin-bottom: 10px;
  }

  .cc-page-course-grade-export-header {
    margin: 15px 0;
    text-transform: capitalize;
  }

  .cc-page-course-grade-export-sub-header {
    margin: 15px 0;
  }

  .cc-page-course-grading-export-error-notice {
    margin: 10px 0;
  }

  .cc-page-course-grade-export-error-notice-icon {
    margin-right: 7px;
  }

  .cc-page-course-grading-export-error-notice-cell {
    padding: 3px;
  }

  .cc-page-course-grade-export-download-button-container {
    border: $bc-color-off-black 1px solid;
    margin: 10px;
  }

  a.cc-page-course-grade-export-download-button {
    display: block;
    margin: 10px;
    padding: 10px 22px;
    text-align: center;
  }

  .cc-page-course-grade-export-download-description {
    padding: 4px 10px;
  }

  .cc-page-course-grade-export-download-header {
    margin-top: 10px;
    padding: 4px 10px;
  }

  .cc-page-course-grade-export-more-info-container {
    margin: 20px 10px;
  }

  .cc-page-course-grade-export-section {
    margin: 10px;
  }

  .cc-page-course-grade-export-section-select {
    padding-left: 5px;
  }

  .cc-page-course-grade-export-notice-pending-request {
    margin: 15px auto;
  }

  .cc-page-course-grading-export-muted-assignments-table-header {
    font-size: 14px;
    margin: 15px 0 10px;
  }
}
