// Canvas Typography
$bc-base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

.bc-canvas-base-typography,
.bc-canvas-application,
.bc-canvas-embedded,
.bc-page-create-course-site,
.bc-page-create-project-site,
.bc-page-course-add-user,
.bc-page-course-official-sections,
.bc-page-course-grade-export,
.bc-form-input-text,
.bc-form-input-select {
  font-family: $bc-base-font-family;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

// Applies Canvas styling to Canvas only applications
.bc-canvas-application {
  background: $cc-color-white;

  form input,
  form input[type="text"],
  form input[type="number"],
  form input[type="password"],
  form textarea {
    padding: 8px 12px;
    &, &:hover, &:focus {
      border-radius: 3px;
      font-family: $bc-base-font-family;
      font-size: 14px;
      font-weight: 300;
    }
  }

  button {
    font-family: $bc-base-font-family;
    font-size: 14px;
    font-weight: 400;
  }

  form label {
    font-size: 14px;
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }
}

button.bc-button-link {
  color: $bc-color-link;
  &, &:hover, &:focus, &:visited {
    background-color: transparent;
    border: 0;
    font-family: $bc-base-font-family;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
  }
  &:hover, &:focus {
    color: $bc-color-link-hover;
  }
}

// Form Elements
// https://ucberkeley.instructure.com/styleguide#forms
.bc-form-input-text,
.bc-canvas-embedded .bc-canvas-embedded-roster-input {
  font-family: $bc-base-font-family;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 12px;
}

.bc-form-label {
  font-weight: 500;
}

.bc-form-input-select,
.bc-canvas-embedded .bc-canvas-embedded-roster-select,
.bc-canvas-embedded .bc-canvas-embedded-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../images/canvas/select-menu-arrow-down.svg') no-repeat calc(100% - 8px) 50% $cc-color-white;
  background-size: 10px 5.667px;
  border-color: $bc-color-table-cell-border-grey;
  font-family: $bc-base-font-family;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 12px;
}

.bc-canvas-page-form {
  background: transparent;
  border: 0;
  padding: 0;
}

.bc-form-fieldset {
  margin: 0 0 20px;
  padding: 0;
}

.bc-form-actions {
  background: $bc-color-container-grey-background;
  border: 1px solid $bc-color-container-grey-border;
  margin: 5px 0;
  padding: 10px 5px;
  text-align: right;
}

.bc-buttonset {
  margin: 10px 0;

  .bc-buttonset-button {
    background: $bc-color-feature-icon-box-background;
    border: 1px solid $bc-color-buttonset-border;
    border-radius: 0;
    color: $bc-color-off-black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -5px;
    overflow: hidden;
    padding: 8px 14px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    transition: background-color .2s ease-in-out;
    vertical-align: middle;
  }

  .bc-buttonset-button-active {
    background: $bc-color-buttonset-active-background;
    border-color: $bc-color-buttonset-active-border;
    color: $bc-color-white;
  }

  .bc-buttonset-corner-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .bc-buttonset-corner-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}

// Tables
// https://canvas.instructure.com/styleguide#tables
.bc-table {
  border: 1px solid $bc-color-table-border-grey;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;

  th, td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 1.3;
    padding: 14px 7px;
    text-align: left;
    vertical-align: middle;
  }

  thead {
    background-color: transparent;
  }

  th {
    background-color: transparent;
    border-bottom-color: $bc-color-table-header-border-grey;
    font-weight: bold;
    padding-bottom: 7px;
  }

  tr:last-child td {
    border-bottom: 0;

    &:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }
  }

  td {
    border-bottom-color: $bc-color-table-cell-border-grey;
  }

  &.bc-table-striped {
    tbody {
      tr:nth-child(odd) {
        background-color: $bc-color-table-cell-bg-grey;
      }
      tr:nth-of-type(even) {
        background-color: $bc-color-white;
      }
    }
  }
}

.bc-canvas-no-decoration {
  &:hover, &:focus {
    text-decoration: none;
  }
}

// Headers
.bc-header {
  color: $bc-color-off-black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.bc-header1 {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0 16px;
}

.bc-header2 {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0 16px;
}

.bc-header3 {
  font-size: 20px;
  margin: 0 0 13px;
}

.bc-header4 {
  font-size: 14px;
  line-height: 16px;
}

// ***********************************
// bCourses Shared Template Styles
// ***********************************

.bc-template-back-icon {
  color: $bc-color-link-blue;
  font-size: 15px;
}

.bc-template-back-link {
  font-family: $bc-base-font-family;
  font-size: 14px;
}

// Error display for remote background jobs
.bc-template-background-job-error {
  background-color: $bc-color-notice-red-bg;
  border: 1px solid $bc-color-notice-red-border;
  border-radius: 5px;
  padding: 20px;
  i {
    margin-right: 5px;
  }
  > div {
    margin-top: 5px;
  }
  p {
    color: $bc-color-off-black;
    font-size: 15px;
    margin: 0 10px 10px 0;
  }
  ul {
    font-size: 15px;
    list-style: disc inside none;
    margin: 5px 20px;
  }

  .bc-template-background-job-error-paragraph {
    margin-bottom: 10px;
  }

  .bc-template-background-job-error-icon {
    color: $bc-color-notice-red-header;
    font-size: 17px;
    line-height: 27px;
  }

  .bc-template-background-job-error-header {
    color: $bc-color-notice-red-header;
    font-size: 17px;
  }
}

// Progress Bar
.bc-template-progress-bar {
  .bc-template-progress-bar-container {
    margin: 35px auto;
    width: 75%;
  }

  .bc-template-progress-bar-display {
    border: 1px solid $bc-color-progressbar-border;
    border-radius: 3px;
    height: 30px;
    overflow: hidden;
    position: relative;
  }

  .bc-template-progress-bar-status {
    color: $bc-color-progressbar-status-color;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    left: 50%;
    line-height: 28px;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    width: 150px;
  }

  .bc-template-progress-bar-value {
    background-image: linear-gradient(to bottom, $bc-color-progressbar-fg-gradient1, $bc-color-progressbar-fg-gradient2);
    height: 100%;
  }
}

// Alerts / Notices
.bc-alert {
  background-color: $bc-color-alert-background;
  border: 1px solid $bc-color-alert-border;
  border-radius: 3px;
  color: $bc-color-alert-foreground;
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0;
  padding: 8px 15px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bc-notice-warning-button {
  &, &:hover,&:focus {
    color: $bc-color-alert-foreground;
    text-decoration: none;
  }
}

.bc-alert-info {
  background-color: $bc-color-alert-info-background;
  border-color: $bc-color-alert-info-border;
  color: $bc-color-alert-info-foreground;
}

.bc-alert-success {
  background-color: $bc-color-alert-success-background;
  border: 1px solid $bc-color-alert-success-border;
  color: $bc-color-alert-success-foreground;
}

.bc-alert-error {
  background-color: $bc-color-alert-error-background;
  border: 1px solid $bc-color-alert-error-border;
  color: $bc-color-alert-error-foreground;
}

.bc-alert-container {
  margin: 10px 0;
}

.bc-notice-text-container {
  line-height: 18px;
  margin-left: 52px;
}

.bc-alert-error-icon {
  float: left;
  font-size: 38px;
  line-height: 45px;
  margin-right: 5px;
}

.bc-notice-text-header {
  color: $bc-color-off-black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 4px 0;
}

.bc-canvas-notice-icon {
  font-size: 20px;
  line-height: 20px;
  margin-right: 5px;
}

.bc-alert-close-button-container {
  display: inline-block;
  float: right;

  .bc-close-button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    &, &:hover, &:focus, &:active, &:visited {
      color: inherit;
      font-family: FontAwesome;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

// Maintenance Notice
.bc-template-canvas-maintenance-notice-text {
  font-size: 14px;
  font-weight: normal;
}

.bc-template-canvas-maintenance-notice-collapse-icon {
  font-size: 18px;
  margin: 0 11px 0 5px;
}

.bc-template-canvas-maintenance-notice-details {
  margin: 10px 26px 0;
}

// Styling for Sections Form used by Course Provisioning and Official Sections LTI tools

.bc-sections-course-container {
  background: $bc-color-container-grey-background;
  border: 1px solid $bc-color-container-grey-border;
  border-radius: 3px;
  padding: 9px;
}

.bc-sections-course-container-bottom-margin {
  margin: 0 0 20px;
}

.bc-sections-triangle-icon {
  font-size: 13px;
  margin: 4px 5px 0 2px;
}

.bc-sections-course-title {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.bc-template-sections-table-container {

  .bc-template-sections-table {
    border: 1px solid $bc-color-container-grey-border;
    border-radius: 3px;
    border-spacing: 0;
    margin: 0;
    width: 100%;

    // disable alternating row color
    tr:nth-of-type(even) {
      background: inherit;
    }

    tbody tr:last-child td {
      border-bottom: $bc-color-item-group-item-border solid 1px;
      vertical-align: top;
    }

    tbody:last-child tr:last-child td {
      border-bottom: 0;
      vertical-align: top;
    }

    .bc-template-sections-table-row-disabled td {
      color: $bc-color-grey-disabled;
    }

    .bc-template-sections-table-row-added td {
      background-color: $bc-color-yellow-row-highlighted;
    }

    .bc-template-sections-table-row-deleted td {
      background-color: $bc-color-red-row-highlighted;
    }

    .bc-template-sections-table-cell-section-action-option {
      height: 45px;
      text-align: right;
      width: 92px;
    }

    .bc-template-sections-table-button {
      font-size: 12px;
      margin: 0;
      padding: 2px 8px;
    }

    .bc-template-sections-table-button-undo-add {
      background-color: $bc-color-orange-button-bg;
      border: $bc-color-orange-button-border solid 1px;
      color: $bc-color-white;
      &:hover, &:active, &:focus, &:link {
        background: $bc-color-orange-button-bg-selected;
        border-color: $bc-color-orange-button-border-selected;
      }
    }

    .bc-template-sections-table-button-undo-delete {
      background-color: $bc-color-red-button-bg;
      border: $bc-color-red-button-border solid 1px;
      color: $bc-color-white;
      &:hover, &:active, &:focus, &:link {
        background: $bc-color-red-button-bg-selected;
        border-color: $bc-color-red-button-border-selected;
      }
    }

    .bc-template-sections-table-cell-checkbox {
      width: 30px;
    }

    .bc-template-sections-table-cell-course-code {
      font-size: 13px;
      width: 115px;
    }

    .bc-template-sections-table-cell-course-code-label {
      cursor: pointer;
      font-weight: bold;
      margin: 0;
      text-align: left;
    }

    .bc-template-sections-table-cell-section-label {
      width: 75px;
    }

    .bc-template-sections-table-cell-section-ccn {
      width: 70px;
    }

    .bc-template-sections-table-cell-section-timestamps {
      width: 155px;
    }

    .bc-template-sections-table-cell-section-locations {
      width: 150px;
    }

    .bc-template-sections-table-cell-section-instructors {
      width: 183px;
    }

    .bc-template-sections-table-cell-section-label-label {
      cursor: pointer;
      font-size: 13px;
      margin: 0;
      text-align: left;
    }

    .bc-template-sections-table-sited-icon {
      color: $bc-color-help-link-blue;
      font-size: 15px;
      margin-right: 4px;
      margin-top: 2px;
    }

    .bc-template-sections-table-sites-cell {
      padding: 0 14px;
    }

    .bc-template-sections-table-sites-container {
      margin-bottom: 5px;
    }
  }

}

// Collapsed / Toggled Help Notice
.bc-page-help-notice {
  margin: 6px 1px;
  min-height: 15px;

  .bc-page-help-notice-icon {
    color: $bc-color-help-link-blue;
    font-size: 15px;
    margin-top: 2px;
  }

  .bc-page-help-notice-toggle-button {
    color: $bc-color-help-link-blue;
    font-size: 13px;
    outline: none;
    &:hover, &:focus {
      font-size: 13px;
    }
  }

  .bc-page-help-notice-left-margin {
    margin-left: 16px;
  }

  .bc-page-help-notice-content {
    border: $bc-color-button-grey-border solid 1px;
    margin: 10px 0 20px;
    padding: 15px;
  }
}

