.bc-page-course-add-user {

  background: $cc-color-white;
  font-family: $header-font-family;
  font-weight: normal;
  padding: 10px;

  h2 {
    color: $bc-color-off-black;
    font-size: 24px;
    line-height: 40px;
    margin: 8px 0;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
  }

  .bc-fa-black {
    color: $bc-color-off-black !important;
  }

  .bc-user-search-notice {
    font-size: 13px;
    .bc-user-search-notice-description-list {
      margin-bottom: 0;
    }
    .bc-user-search-notice-description-term {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .bc-user-search-notice-description {
      margin-left: 15px;
    }
  }

  .bc-user-search-table {
    overflow-x: auto;
    table-layout: auto;
    width: auto;
  }

  .bc-column-align-center {
    text-align: center;
  }

  .bc-form {
    background: transparent;
    border: 0;
    padding: 2px 0;

    .bc-form-options {
      margin-top: 5px;

      .bc-start-over-button {
        background-color: $bc-color-grey;
      }
    }

  }

  .bc-horizontal-form {
    .bc-label {
      white-space: nowrap;
    }

    .bc-label-horizontal {
      margin-top: 9px;
    }

    .bc-form-entity {
      border: 1px solid $cc-color-shadow-color;
      font-family: Arial;
      font-size: 12px;
      height: 25px;
      margin: 3px 0;
      padding: 5px;
    }

    .bc-button {
      background-color: $bc-color-medium-blue;
      border-color: $bc-color-dark-blue;
      color: $bc-color-white;
      cursor: pointer;
      display: inline-block;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: normal;
      position: relative;
      text-align: center;
      text-decoration: none;
    }

  }

  @media #{$small-only} {
    .bc-full-wide {
      width: 100%;
    }

    .bc-horizontal-form {
      .columns {
        margin-bottom: 0;
      }
    }
  }

}
