.bc-page-create-course-site {
  padding: 25px;

  .cc-button {
    padding: 10px;
  }

  .bc-page-create-course-site-header {
    color: $bc-color-headers;
    font-family: $bc-base-font-family;
    font-weight: normal;
    line-height: 40px;
    margin: 5px 0;
  }

  .bc-page-create-course-site-header1 {
    font-size: 23px;
  }

  .bc-page-create-course-site-header2 {
    font-size: 18px;
    margin: 10px 0;
  }

  .bc-page-create-course-site-admin-options {
    margin-bottom: 15px;
  }

  .cc-page-button-grey {
    background: linear-gradient($bc-color-button-grey-gradient-1, $bc-color-button-grey-gradient-2);
    border: 1px solid $bc-color-button-grey-border;
    color: $bc-color-button-grey-text;
  }

  .bc-page-create-course-site-actas-form {
    margin: 5px 0;
    input[type="text"] {
      font-family: $bc-base-font-family;
      font-size: 14px;
      margin: 2px 10px 0 0;
      padding: 8px 12px;
      width: 140px;
    }
  }

  .bc-page-create-course-site-admin-mode-switch {
    margin-bottom: 5px;
    outline: none;
  }

  .bc-page-create-course-site-choices {
    overflow: hidden;
    li {
      border-left: 1px solid $cc-color-popover-border;
      float: left;
      max-width: 250px;
      padding: 15px;
      width: 50%;
      &:first-child {
        border: 0;
      }
    }
  }

  .bc-page-create-course-site-section-list {
    list-style-type: disc;
    margin: 10px 0 0 39px;
  }

  .bc-page-create-course-site-help-notice {
    margin-bottom: 20px;
    .bc-page-create-course-site-help-notice-ordered-list {
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .bc-page-create-course-site-help-notice-paragraph {
      margin-bottom: 7px;
    }
  }

  .bc-page-create-course-site-form-fields-container {
    margin: 10px 0;
  }

  .bc-page-create-course-site-no-courses {
    color: $bc-color-headers;
    font-family: $bc-base-font-family;
    font-size: 14px;
    font-weight: normal;
  }

  .bc-page-create-course-site-pending-request {
    margin: 15px auto;
  }

  .bc-page-create-course-site-steps-container {
    padding: 0;
  }

  .bc-page-create-course-site-step-options {
    padding: 20px 0;
  }

  .bc-page-create-course-site-success-intro {
    margin: 15px 0 0;
  }

  // Form with Expandable Courses & Sections

  .bc-page-create-course-site-section-margin {
    margin: 0;
    overflow: hidden;
  }

  .bc-page-create-course-site-form-course-button {
    color: $bc-color-body-black;

    &:focus, &:hover {
      text-decoration: none;
    }
  }

  .bc-page-create-course-site-form-collapsible-container {
    margin-top: 7px;
  }

  .bc-page-create-course-site-form-select-all-option {
    font-size: 12px;
    font-weight: normal;
    margin: 6px 0 4px 2px;
  }

  .bc-page-create-course-site-form-select-all-option-button {
    outline: none;
  }

}
