// bCourses Colors
$bc-color-body-black: #474747;
$bc-color-button-grey-gradient-1: #fefefe;
$bc-color-button-grey-gradient-2: #ececec;
$bc-color-button-grey-text: #464646;
$bc-color-button-grey-border: #d0d0d0;
$bc-color-dark-blue: #0e7eb8;
$bc-color-error-border: #eed3d7;
$bc-color-error-background: #f2dede;
$bc-color-error-foreground: #b94a48;
$bc-color-feature-icon-box-background: #f7f7f7;
$bc-color-feature-icon-box-border: #eee;
$bc-color-feature-icon-color: #cbcbcb;
$bc-color-form-button-gradient1: #07c8fd;
$bc-color-form-button-gradient2: #03a5e1;
$bc-color-grey: #ccc;
$bc-color-grey-text: #333;
$bc-color-grey-area-border-light: #f6f7f9;
$bc-color-grey-area-border-dark: #d5d5d5;
$bc-color-grey-border-table-bottom: #efefef;
$bc-color-grey-disabled: #aeaeae;
$bc-color-headers: #424242;
$bc-color-help-link-blue: #2274a7;
$bc-color-light-blue: #37c9ff;
$bc-color-medium-blue: #028ed6;
$bc-color-notice-default: #888;
$bc-color-notice-info: #3a87ad;
$bc-color-notice-red-bg: #f2dede;
$bc-color-notice-red-border: #eed3d7;
$bc-color-notice-red-header: #b94a48;
$bc-color-notice-success: #468847;
$bc-color-notice-warning: #f9a42b;
$bc-color-notice-yellow-bg-gradient1: #fcf0d1;
$bc-color-notice-yellow-bg-gradient2: #f1e2b0;
$bc-color-off-black: #333;
$bc-color-off-white-background: #f6f7f9;
$bc-color-orange-button-bg: #c88926;
$bc-color-orange-button-bg-selected: #a16e1e;
$bc-color-orange-button-border: #705012;
$bc-color-orange-button-border-selected: #553d0d;

$bc-color-progressbar-bg-gradient1: #fff;
$bc-color-progressbar-bg-gradient2: #c5d8e2;
$bc-color-progressbar-fg-gradient1: #88cef7;
$bc-color-progressbar-fg-gradient2: #4baff6;
$bc-color-red-row-highlighted: #f2dddf;
$bc-color-red-button-bg: #af333a;
$bc-color-red-button-bg-selected: #89242a;
$bc-color-red-button-border: #6c232b;
$bc-color-red-button-border-selected: #4e191f;

$bc-color-roster-background: #edf0f2;
$bc-color-section-list-border: #d1d5d8;
$bc-color-section-list-secondary-bg: #f7f9f8;
$bc-color-section-list-alert: #7e4702;
$bc-color-section-list-alert-grey: #777;
$bc-color-success-border: #d6e9c6;
$bc-color-success-background: #dff0d8;
$bc-color-success-foreground: #468847;
$bc-color-top-border: #b3b3b3;
$bc-color-warning-border: #fbeed5;
$bc-color-warning-background: #fcf8e3;
$bc-color-warning-foreground: #c09853;
$bc-color-warning-foreground-selected: #a07f46;
$bc-color-white: #fff;
$bc-color-yellow-row-highlighted: #fefae4;
$bc-color-gold: #f1a91e;

$bc-color-link-blue: #2683bc;
$bc-color-table-border-grey: #d3dbe0;
$bc-color-table-header-border-grey: #ababab;
$bc-color-table-cell-border-grey: #d6d6d6;
$bc-color-table-cell-bg-grey: #f5f5f5;
