.bc-page-site-creation {
  background: $cc-color-white;
  padding: 25px;

  .bc-page-site-creation-feature-button-wrapper {
    margin-top: 25px;
  }

  .bc-page-site-creation-primary-header {
    margin-left: 25px;
  }

  .bc-page-site-creation-feature-icon-container {
    display: table;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }

  .bc-page-site-creation-feature-icon-box {
    background-color: $bc-color-feature-icon-box-background;
    border: $bc-color-feature-icon-box-border solid 1px;
    border-radius: 4px;
    display: table-cell;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 190px;
  }

  .bc-page-site-creation-feature-icon {
    color: $bc-color-headers;
    font-size: 95px;
    margin-left: auto;
    margin-right: auto;
  }

  .bc-page-site-creation-feature-icon-disabled {
    color: $bc-color-feature-icon-color;
  }

  .bc-page-site-creation-feature-description {
    font-weight: 300;
    line-height: 18px;
  }

  .bc-page-site-creation-features-container {
    margin: 0 20px;
  }

  .bc-page-site-creation-features-divider {
    border-top: $bc-color-button-grey-border solid 1px;
    margin: 30px 0;
  }

  .bc-page-site-creation-features-divider-wrapper {
    margin: 30px;
  }

  @media #{$small-only} {
    .bc-page-site-creation-feature-details {
      text-align: center;
    }
  }

}
