.cc-page-course-grade-export {
  margin: 10px;

  // Reset to avoid default Foundation form styling
  p {
    margin-bottom: 10px;
  }

  .cc-page-course-grade-export-download-button-container {
    border: $bc-color-off-black 1px solid;
    margin: 10px;
  }

  a.cc-page-course-grade-export-download-button {
    display: block;
    margin: 10px;
    padding: 10px 22px;
    text-align: center;
  }

  .cc-page-course-grade-export-download-description {
    min-height: 90px;
    padding: 4px 10px;
    text-align: center;
  }

  .cc-page-course-grade-export-download-header {
    padding: 4px 10px;
    text-align: center;
  }

  .cc-page-course-grade-export-more-info-container {
    margin: 10px;
  }

  .cc-page-course-grade-export-notice {
    color: $bc-color-notice-red-header;
  }

  .cc-page-course-grade-export-section-select {
    margin: 10px;
  }

  .cc-page-course-grade-export-error-display {
    .cc-page-course-grade-export-warning {
      color: $bc-color-notice-warning;
      margin: 10px 0;
    }
  }
}
