.bc-page-create-project-site {
  background: $cc-color-white;
  padding: 20px;

  .bc-page-create-project-site-form-label {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }

  .bc-page-create-project-site-form-area-container {
    margin: 10px;
  }

  .bc-page-create-project-site-form-fields {
    margin-bottom: 20px;
  }

  @media #{$small-only} {
    .bc-page-create-project-site-form-label {
      text-align: left;
    }
  }
}
