// Canvas Button Colors
$bc-canvas-button-border: #d1d1d1;
$bc-canvas-button-primary-background: #0099e0;
$bc-canvas-button-primary-border: #006594;
$bc-canvas-button-primary-hover-background: #007db7;
$bc-canvas-button-primary-hover-border: #525252;
$bc-canvas-button-hover-background: #e8e8e8;
$bc-canvas-button-hover-border: #d1d1d1;
$bc-canvas-off-black: #555;
$bc-canvas-button-selected-background: #6b6b6b;
$bc-canvas-button-selected-border: #525252;
$bc-canvas-button-selected-color: #fff;

// Canvas Button Styles
.bc-canvas-button, .bc-main .cc-widget-webcast .cc-button {
  background: $bc-color-feature-icon-box-background;
  border: 1px solid $bc-canvas-button-border;
  border-radius: 3px;
  color: $bc-color-off-black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  overflow: hidden;
  padding: 8px 14px;
  transition: background-color .2s ease-in-out;
  &:hover, &:active, &:focus {
    background: $bc-canvas-button-hover-background;
    border-color: $bc-canvas-button-hover-border;
    color: $bc-color-grey-text;
    text-decoration: none;
  }
  &[disabled] {
    color: $bc-color-grey-text;
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }
}

.bc-canvas-button-selected, .bc-main .cc-widget-webcast .cc-button-selected {
  background: $bc-canvas-button-selected-background;
  border-color: $bc-canvas-button-selected-border;
  color: $bc-canvas-button-selected-color;
}

.bc-canvas-button-primary {
  background: $bc-canvas-button-primary-background;
  border: 1px solid $bc-canvas-button-primary-border;
  color: $bc-color-white;
  &:hover, &:active, &:focus {
    background: $bc-canvas-button-primary-hover-background;
    border-color: $bc-canvas-button-primary-hover-border;
    box-shadow: none;
    color: $bc-color-white;
  }
  &[disabled] {
    color: $bc-color-white;
  }
}

.bc-canvas-form {
  label {
    padding: 9px 0;
  }
  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: $bc-canvas-off-black;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 8px;
    &[disabled] {
      color: $bc-color-grey;
    }
  }
}
