.cc-page-user-provision {
  color: $bc-color-off-black;
  font-family: $bc-base-font-family;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;

  .cc-page-user-provision-heading {
    font-size: 23px;
    font-weight: normal;
    margin: 10px 0;
  }

  .cc-page-user-provision-uid-list-input {
    padding: 8px 12px;
  }

  .cc-page-user-provision-feedback {
    padding: 5px 0 15px;
    i {
      margin-right: 5px;
    }
    > div {
      margin-top: 5px;
    }
  }
}

