// Canvas Fonts
$bc-header-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Canvas Tables
// https://canvas.instructure.com/styleguide#tables
.bc-table {
  border: 1px solid $bc-color-table-border-grey;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 100%;
  width: 100%;

  th, td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 1.3;
    padding: 14px 7px;
    text-align: left;
    vertical-align: middle;
  }

  thead {
    background-color: transparent;
  }

  th {
    background-color: transparent;
    border-bottom-color: $bc-color-table-header-border-grey;
    font-weight: bold;
    padding-bottom: 7px;
  }

  tr:last-child td {
    border-bottom: 0;

    &:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }
  }

  td {
    border-bottom-color: $bc-color-table-cell-border-grey;
  }

  &.bc-table-striped {
    tbody {
      tr:nth-child(odd) {
        background-color: $bc-color-table-cell-bg-grey;
      }
      tr:nth-of-type(even) {
        background-color: $bc-color-white;
      }
    }
  }
}

.cc-page-form {
  background: transparent;
  border: 0;
  padding: 0;
}

.cc-canvas-no-decoration {
  &:hover, &:focus {
    text-decoration: none;
  }
}

// Site Provisioning Headers
.cc-page-site-provisioning-header {
  color: $bc-color-off-black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.cc-page-site-provisioning-header1 {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0 16px;
}

.cc-page-site-provisioning-header2 {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0 16px;
}

.cc-page-site-provisioning-header3 {
  font-size: 20px;
  margin: 0 0 13px;
}

.cc-page-site-provisioning-header4 {
  font-size: 14px;
  line-height: 16px;
}

// Site Provisioning Forms
.cc-page-site-provisioning-form-actions {
  background: $bc-color-roster-background;
  border: 1px solid $bc-color-roster-background;
  padding: 10px 5px;
  text-align: right;
}

// ***********************************
// bCourses Shared Template Styles
// ***********************************

.cc-template-back-icon {
  color: $bc-color-link-blue;
  font-size: 15px;
}

.cc-template-back-link {
  font-family: $bc-header-font-family;
  font-size: 14px;
}

// Error display for remote background jobs
.cc-template-background-job-error {
  background-color: $bc-color-notice-red-bg;
  border: 1px solid $bc-color-notice-red-border;
  border-radius: 5px;
  padding: 20px;
  i {
    margin-right: 5px;
  }
  > div {
    margin-top: 5px;
  }
  p {
    color: $bc-color-grey-text;
    font-size: 15px;
    margin: 0 10px 10px 0;
  }
  ul {
    font-size: 15px;
    list-style: disc inside none;
    margin: 5px 20px;
  }

  .cc-template-background-job-error-paragraph {
    margin-bottom: 10px;
  }

  .cc-template-background-job-error-icon {
    color: $bc-color-notice-red-header;
    font-size: 17px;
    line-height: 27px;
  }

  .cc-template-background-job-error-header {
    color: $bc-color-notice-red-header;
    font-size: 17px;
  }
}

// Progress Bar
.cc-template-progress-bar {
  .cc-template-progress-bar-container {
    margin: 35px auto;
    width: 75%;
  }

  .cc-template-progress-bar-display {
    background: linear-gradient($bc-color-progressbar-bg-gradient1, $bc-color-progressbar-bg-gradient2);
    border: 2px solid #c6c7c7;
    border-radius: 5px;
    height: 25px;
    overflow: hidden;
    position: relative;
  }

  .cc-template-progress-bar-status {
    color: #2f2e2e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    left: 50%;
    line-height: 25px;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    width: 150px;
  }

  .cc-template-progress-bar-value {
    background: linear-gradient($bc-color-progressbar-fg-gradient1, $bc-color-progressbar-fg-gradient2);
    height: 100%;
  }
}

// Notices
.cc-notice-text-container {
  line-height: 18px;
  margin-left: 52px;
}

.cc-canvas-error-notice-icon {
  float: left;
  font-size: 38px;
  line-height: 45px;
  margin-right: 5px;
}

.cc-notice-text-header {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 4px 0;
}

.cc-canvas-notice-icon {
  font-size: 20px;
  line-height: 20px;
  margin-right: 5px;
}

.cc-notice-box {
  background-color: $bc-color-notice-default;
  border: 0;
  color: $bc-color-white;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 10px;
  .cc-close-button {
    background-color: transparent;
    font-size: 20px;
    &:hover {
      text-decoration: none;
    }
  }
  .cc-notice-close-button {
    display: inline-block;
    float: right;
    .small {
      margin: 0;
      padding: 0;
    }
  }
}

.cc-notice-success {
  background-color: $bc-color-success-background;
  border: 1px solid $bc-color-success-border;
  color: $bc-color-success-foreground;
}

.cc-notice-warning {
  background-color: $bc-color-warning-background;
  border: 1px solid $bc-color-warning-border;
  color: $bc-color-warning-foreground;
}

.cc-notice-warning-button {
  color: $bc-color-warning-foreground;
  text-decoration: none;

  &:hover,&:focus {
    color: $bc-color-warning-foreground-selected;
    text-decoration: none;
  }
}

.cc-notice-error {
  background-color: $bc-color-error-background;
  border: 1px solid $bc-color-error-border;
  color: $bc-color-error-foreground;
}

.cc-notice-error-container {
  margin: 10px 0;
}

.cc-radius {
  border-radius: 3px;
}

// Maintenance Notice
.cc-template-canvas-maintenance-notice-text {
  font-weight: normal;
}

.cc-template-canvas-maintenance-notice-collapse-icon {
  font-size: 18px;
  margin: 0 11px 0 5px;
}

.cc-template-canvas-maintenance-notice-details {
  margin: 10px 26px 0;
}


// Styling for Sections Form used by Course Provisioning and Official Sections LTI tools
.cc-template-sections-table-container {

  .cc-template-sections-table {
    border-spacing: 0;
    margin: 0;
    width: 100%;

    // disable alternating row color
    tr:nth-of-type(even) {
      background: inherit;
    }

    tbody tr:last-child td {
      border-bottom: $bc-color-grey-border-table-bottom solid 1px;
      vertical-align: top;
    }

    tbody:last-child tr:last-child td {
      border-bottom: 0;
      vertical-align: top;
    }

    .cc-page-course-official-sections-table-row-disabled td {
      color: $bc-color-grey-disabled;
    }

    .cc-page-course-official-sections-table-row-added td {
      background-color: $bc-color-yellow-row-highlighted;
    }

    .cc-page-course-official-sections-table-row-deleted td {
      background-color: $bc-color-red-row-highlighted;
    }

    .cc-template-sections-table-cell-section-action-option {
      height: 45px;
      text-align: right;
      width: 85px;
    }

    .cc-template-sections-table-button {
      font-size: 12px;
      margin: 0;
      padding: 2px 4px;
    }

    .cc-template-sections-table-button-undo-add {
      background-color: $bc-color-orange-button-bg;
      border: $bc-color-orange-button-border solid 1px;
      color: $bc-color-white;
      &:hover, &:active, &:focus, &:link {
        background: $bc-color-orange-button-bg-selected;
        border-color: $bc-color-orange-button-border-selected;
      }
    }

    .cc-template-sections-table-button-undo-delete {
      background-color: $bc-color-red-button-bg;
      border: $bc-color-red-button-border solid 1px;
      color: $bc-color-white;
      &:hover, &:active, &:focus, &:link {
        background: $bc-color-red-button-bg-selected;
        border-color: $bc-color-red-button-border-selected;
      }
    }

    .cc-template-sections-table-cell-checkbox {
      width: 30px;
    }

    .cc-template-sections-table-cell-course-code {
      width: 115px;
    }

    .cc-template-sections-table-cell-course-code-label {
      cursor: pointer;
      font-weight: bold;
      margin: 0;
      text-align: left;
    }

    .cc-template-sections-table-cell-section-label {
      width: 75px;
    }

    .cc-template-sections-table-cell-section-ccn {
      width: 70px;
    }

    .cc-template-sections-table-cell-section-timestamps {
      width: 155px;
    }

    .cc-template-sections-table-cell-section-locations {
      width: 150px;
    }

    .cc-template-sections-table-cell-section-instructors {
      width: 190px;
    }

    .cc-template-sections-table-cell-section-label-label {
      cursor: pointer;
      font-size: 13px;
      margin: 0;
      text-align: left;
    }

    .cc-template-sections-table-sited-icon {
      color: $bc-color-help-link-blue;
      font-size: 15px;
      margin-right: 4px;
      margin-top: 2px;
    }

    .cc-template-sections-table-sites-cell {
      padding: 0 10px;
    }

    .cc-template-sections-table-sites-container {
      margin-bottom: 5px;
    }
  }

}

// Collapsed / Toggled Help Notice
.cc-page-help-notice {
  margin: 4px 1px;
  min-height: 15px;

  .cc-page-help-notice-icon {
    color: $bc-color-help-link-blue;
    font-size: 15px;
    margin-top: 2px;
  }

  .cc-page-help-notice-toggle-button {
    color: $bc-color-help-link-blue;
    font-size: 13px;
    outline: none;
  }

  .cc-page-help-notice-left-margin {
    margin-left: 16px;
  }

  .cc-page-help-notice-content {
    border: $bc-color-button-grey-border solid 1px;
    margin: 10px 0 20px;
    padding: 10px;
  }
}

