.cc-page-course-official-sections {
  background-color: $bc-color-white;
  padding: 20px;
  .cc-button {
    padding: 10px;
  }

  .cc-page-course-official-sections-courses-container {
    margin: 10px 0;
  }

  .cc-page-course-official-sections-courses-container-available {
    border: #e0e1e3 solid 1px;
    background-color: #f6f7f9;
  }

  .cc-page-course-official-sections-course {
    margin: 10px;
  }

  .cc-page-course-official-sections-current-course {
    margin-left: 10px;
  }

  .cc-page-course-official-sections-current-sections-grey-border {
    border: #d5d5d5 solid 1px;
  }

  .cc-page-course-official-sections-current-sections-white-border {
    border: #fff solid 1px;
  }

  .cc-page-course-official-sections-sections-area {
    padding: 18px;
  }

  .cc-page-course-official-sections-existing-sections-header-label {
    font-size: 16px;
    margin-top: 10px;
  }

  .cc-page-course-official-sections-right-align {
    text-align: right;
  }

  .cc-page-course-official-sections-form-collapse-icon {
    font-size: 18px;
    margin-left: 2px;
  }

  .cc-page-course-official-sections-form-course-title {
    margin-left: 10px;
  }

  .cc-page-course-official-sections-form-collapsible-container {
    margin-top: 7px;
  }

  .cc-page-course-official-sections-form-select-all-option {
    font-size: 12px;
    font-weight: normal;
    margin: 6px 0 4px 2px;
  }

  .cc-page-course-official-sections-form-select-all-option-button {
    outline: none;
  }

  .cc-page-course-official-sections-form-course-divider {
    border-top: #c7c8cc dashed 1px;
    margin: 0;
  }

  // Course Sections Table
  .cc-page-course-official-sections-table {
    margin: 0;
    width: 100%;

    // disable alternating row color
    tr:nth-of-type(even) {
      background: inherit;
    }

    .cc-page-course-official-sections-table-row td {
      border-bottom: #efefef solid 1px;
      vertical-align: top;
    }

    .cc-page-course-official-sections-table-row-last td {
      vertical-align: top;
    }

    .cc-page-course-official-sections-table-row-disabled td {
      color: #aeaeae;
    }

    .cc-page-course-official-sections-table-row-added td {
      background-color: #fefae4;
    }

    .cc-page-course-official-sections-table-row-deleted td {
      background-color: #f2dddf;
    }

    .cc-page-course-official-sections-table-cell-section-action-option {
      height: 45px;
      width: 85px;
      text-align: right;
    }

    .cc-page-course-official-sections-button {
      font-size: 12px;
      margin: 0;
      padding: 2px 4px;
    }

    .cc-page-course-official-sections-button-undo-add {
      background-color: #c88926;
      border: #705012 solid 1px;
    }

    .cc-page-course-official-sections-button-undo-delete {
      color: #fff;
      background-color: #af333a;
      border: #6c232b solid 1px;
    }

    .cc-page-course-official-sections-table-cell-course-code {
      font-weight: bold;
      width: 115px;
    }

    .cc-page-course-official-sections-table-cell-section-label {
      width: 75px;
    }

    .cc-page-course-official-sections-table-cell-section-ccn {
      width: 70px;
    }

    .cc-page-course-official-sections-table-cell-section-timestamps {
      width: 155px;
    }

    .cc-page-course-official-sections-table-cell-section-locations {
      width: 150px;
    }

    .cc-page-course-official-sections-table-cell-section-instructors {
      width: 190px;
    }
  }

  @media #{$small-only} {
    .cc-page-course-official-sections-small-only-align-left {
      text-align: left;
    }
  }

}
