.bc-page-course-add-user {
  background: $cc-color-white;
  padding: 10px;

  .bc-page-course-add-user-alert {
    margin-bottom: 20px;
  }

  .bc-page-course-add-user-header {
    color: $bc-color-off-black;
    font-size: 23px;
    font-weight: 400;
    line-height: 40px;
    margin: 8px 0;
  }

  button {
    &, &:hover, &:active, &:focus {
      font-family: $bc-base-font-family;
      font-size: 14px;
      font-weight: 300;
    }
  }

  p {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
  }

  .bc-canvas-page-form {
    form input[type="text"] {
      font-family: $bc-base-font-family;
      font-size: 14px;
      margin: 2px 10px 0 0;
      padding: 8px 12px;
    }

    .bc-form-input-select {
      margin-bottom: 8px;
    }

  }

  .bc-horizontal-form {
    .bc-label {
      white-space: nowrap;
    }

    .bc-label-horizontal {
      margin-top: 9px;
    }

    .bc-form-entity {
      border: 1px solid $cc-color-shadow-color;
      font-family: Arial;
      font-size: 12px;
      height: 25px;
      margin: 3px 0;
      padding: 5px;
    }
  }

  .bc-fa-black {
    color: $bc-color-off-black !important;
  }

  .bc-user-search-notice {
    .bc-user-search-notice-description-list {
      margin-bottom: 0;
    }
    .bc-user-search-notice-description-term {
      font-weight: bold;
      margin: 5px 0;
    }
    .bc-user-search-notice-description {
      margin-left: 15px;
    }
  }

  .bc-column-align-center {
    text-align: center;
  }

  @media #{$small-only} {
    .bc-full-wide {
      width: 100%;
    }

    .bc-horizontal-form {
      .columns {
        margin-bottom: 0;
      }
    }
  }

}
