.cc-page-user-provision {
  color: $bc-color-grey-text;
  font-family: $bc-base-font-family;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;

  .cc-page-user-provision-heading {
    font-size: 19px;
    font-weight: 400;
    margin: 2px 0;
    padding: 5px 15px;
  }
}

.cc-page-user-provision-feedback {
  padding: 5px 0 15px;
  i {
    margin-right: 5px;
  }
  > div {
    margin-top: 5px;
  }
}
