// Canvas Embedded Overrides
.bc-canvas-embedded {
  .cc-page-roster .cc-roster-search .cc-right {
    margin-top: 8px;
  }
}

.cc-roster-input {
  background: $cc-color-white;
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 15px 0 0;
  padding: 4px 10px 5px 4px;
  width: 200px;
}

.cc-page-roster {
  background: $cc-color-white;
  overflow: hidden;
  padding: 20px;

  .cc-roster-header {
    display: none;
  }

  .cc-roster-search {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $cc-color-button-border;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 7px 0 15px;

    .cc-button-spaced {
      margin: 0 5px;
    }

    .cc-select {
      width: 200px;
    }
  }

  .cc-page-roster-list {
    li {
      display: block;
      float: left;
      padding: 5px;
      text-align: center;
      width: 173px;

      img {
        height: 96px;
        max-width: 72px;
      }
    }
  }

  .cc-page-roster-image-unavailable {
    background-image: url('../images/svg/photo_unavailable_official_72x96.svg');
    height: 96px;
    margin: 0 auto;
    max-width: 72px;
  }

  .cc-page-roster-student-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media print {
    padding: 0;

    .cc-page-roster-image-unavailable:before {
      content: url('../images/svg/photo_unavailable_official_72x96.svg');
    }

    .cc-page-roster-list {
      a[href]:after {
        content: "";
      }
    }

    .cc-page-roster-student-name {
      display: block;
      overflow: visible;
      text-overflow: string;
      white-space: pre-wrap;
    }

    .cc-page-roster-list {
      li {
        margin-top: 15px;
        page-break-inside: avoid;
      }
    }

    .cc-roster-header {
      display: block;
    }

    .cc-roster-search {
      display: none;
    }
  }
}
.cc-button-selected-roster {
  z-index: 0;
}

