.cc-widget-classes {
  p {
    margin-bottom: 0;
  }
  .cc-widget-classes-subtitle {
    font-size: 12px;
    margin-bottom: -4px;
  }
  .cc-widget-classes-title {
    margin-bottom: -4px;
  }
  .cc-widget-course-site-margin {
    margin: 0 0 4px 22px;
  }
  .cc-widget-course-site-subtitle {
    font-size: 12px;
    margin-bottom: -4px;
  }
  .cc-widget-icon {
    margin-top: -8px;
    position: absolute;
    top: 50%;
  }
  .cc-widget-icon-container {
    position: relative;
  }
  .cc-widget-list {
    font-size: 13px;
    > li {
      padding: 10px 0;
    }
    .cc-widget-sublist {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .cc-widget-classes-other {
    .cc-widget-list {
      > li {
        padding: 0;
      }
    }
    .cc-widget-list-hover {
      padding-left: 0;
    }
  }
}
