// CalCentral overrides
.pika-single.cc-datepicker-theme {
  position: absolute;
  width: 260px;
  .cc-datepicker-theme .pika-next, .cc-datepicker-theme .pika-prev {
    padding: 15px;
    text-indent: 40px;
  }
  table {
    thead {
      background: none;
    }
    thead tr th, table tbody tr td, tr td {
      padding: 0;
    }
  }
}
