.cc-widget-finaid-profile {
  .cc-widget-finaid-profile-message {
    padding-bottom: 10px;
  }
  .cc-widget-finaid-profile-category-title {
    font-size: 14px;
    margin: 0;
  }
  .cc-widget-finaid-profile-button-toggle {
    margin-left: 10px;
    span {
      vertical-align: middle;
    }
  }
  .cc-widget-finaid-profile-itemgroup {
    margin-top: 15px;
  }
}
