.cc-widget-finaid-award {
  .cc-widget-finaid-award-block-big {
    line-height: 0;
  }
  .cc-widget-finaid-award-block-right {
    width: 22%;
  }
  .cc-widget-finaid-award-table-container {
    margin-top: 25px;
    .cc-widget-finaid-award-table-total {
      margin-top: 5px;
      padding: 0 5px;
    }
  }
}
