.cc-widget-finaid-summary {
  .cc-widget-finaid-summary-message-title {
    display: block;
    margin-bottom: 5px;
  }
  .cc-widget-finaid-summary-message-text {
    margin-bottom: 10px;
    white-space: pre-line;
  }
}
