// Hookup google reminder widget
.cc-widget-hookup-google-reminder {

  .cc-widget-hookup-google-reminder-container {
    margin: 15px;
  }

  h3 {
    color: $cc-color-medium-grey;
    font-size: 16px;
    font-weight: bold;
  }

  .cc-widget-hookup-google-reminder-content {
    a {
      font-weight: bold;
    }
    p {
      margin-bottom: 10px;
    }
  }

  .cc-widget-hookup-google-reminder-content-buttons {
    margin-top: 15px;

    .button {
      font-size: 12px;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  .cc-widget-hookup-google-reminder-icons {
    .cc-icon {
      margin-left: 15px;
    }
  }

}
