.cc-icon {
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  margin-top: 1px;
  width: 16px;
}
.cc-icon-22 {
  background-size: 22px;
  height: 22px;
  width: 22px;
}

.cc-icon-inline {
  display: inline-block;
}

.cc-icon-amazon {
  background-image: url('../images/svg/icon_amazon_256x256.svg');
}
.cc-icon-bcourses {
  background-image: url('../images/svg/icon_bcourses_256x256.svg');
}
.cc-icon-bspace {
  background-image: url('../images/svg/icon_bspace_256x256.svg');
}
.cc-icon-calendar {
  background-image: url('../images/svg/icon_calendar_256x256.svg');
}
.cc-icon-callink {
  background-image: url('../images/svg/icon_callink_256x256.svg');
}
.cc-icon-calstudentstore {
  background-image: url('../images/svg/icon_cal_256x256.svg');
}
.cc-icon-campussolutions {
  background-image: url('../images/svg/icon_campussolutions_256x256.svg');
}
.cc-icon-chegg {
  background-image: url('../images/svg/icon_chegg_256x256.svg');
}
.cc-icon-drive {
  background-image: url('../images/svg/icon_drive_256x256.svg');
}
.cc-icon-googlebook {
  background-image: url('../images/icon_googlebook_32x32.png');
}
.cc-icon-mail {
  background-image: url('../images/svg/icon_mail_256x256.svg');
}
.cc-icon-oskicat {
  background-image: url('../images/icon_oskicat_16x16.png');
}
.cc-icon-slate {
  background-image: url('../images/svg/icon_slate_256x256.svg');
}

// Fontawesome icons
.cc-icon-red {
  color: $cc-color-red-dark !important;
}
.cc-icon-gold {
  color: $cc-color-gold !important;
}
.cc-icon-green {
  color: $cc-color-green-icon !important;
}
.fa-stop {
  color: $cc-color-medium-grey !important;
}
.fa-facebook-square {
  color: $cc-color-facebook-icon-splash !important;
}
.fa-twitter-square {
  color: $cc-color-twitter-icon-splash !important;
}
