// Icon
.cc-widget-mycalendar {
  user-select: none;

  // List
  .cc-widget-mycalendar-datelist {
    .cc-widget-mycalendar-datelist-summary {
      padding-right: 15px;
    }
    .cc-widget-mycalendar-datelist-time-allday {
      text-transform: uppercase;
    }
    .cc-widget-mycalendar-datelist-time {
      min-width: 32px;
      text-align: right;
    }
  }
  .cc-widget-mycalendar-hangout {
    margin: 5px 0;
  }
  .cc-widget-mycalendar-list-attendees {
    margin-bottom: 10px;
  }
  .cc-widget-mycalendar-indent {
    line-height: 1.3;
    margin-left: 5px;
  }
  .cc-widget-mycalendar-header {
    color: $cc-color-heading;
  }
  // Summary & location
  .cc-widget-mycalendar-datelist-location {
    font-size: 10px;
    margin-top: 2px;
    text-transform: uppercase;
  }
  .cc-widget-mycalendar-more {
    clear: both;
    font-size: .9em;
    margin-top: 5px;
    padding-left: 41px;
    p {
      margin-bottom: 10px;
    }
  }
}
