.cc-oec {
  background: $cc-color-white;
  h1 {
    margin: 0 10px;
    padding-top: 20px;
  }

  .cc-oec-content {
    background: $cc-color-white;
    padding: 10px;
    .row {
      margin: 10px;
    }
  }

  .cc-oec-departments-text {
    font-size: 12px;
    margin: 5px 0 0 5px;
  }

  .cc-oec-label {
    margin-right: 0;
  }

  .cc-oec-log {
    white-space: pre;
  }

  .cc-oec-status {
    background: $cc-color-main-background;
    border: 1px solid $cc-color-lighter-grey;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px 15px;
  }

  .cc-oec-status-icon {
    float: left;
    font-size: 18px;
    margin-right: 10px;
  }

  .cc-oec-text {
    margin-top: 15px;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}
