.cc-page-profile {
  overflow: hidden;
  .cc-widget {
    width: 50%;
    .cc-table:last-child {
      border-bottom: 1px solid $cc-color-popover-border;
      padding-bottom: 5px;
    }
  }
  @media #{$small-only} {
    .cc-widget {
      width: 100%;
    }
  }
}
