.cc-widget-sir {
  // Backgrounds
  .cc-widget-sir-header {
    background: $cc-color-white;
    display: flex;
    min-height: 96px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    .cc-widget-sir-header-intro {
      font-size: 14px;
      position: relative;
      z-index: 2;
    }
    &:before {
      background-size: cover;
      content: ' ';
      display: block;
      height: 100%;
      left: 0;
      opacity: .15;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  .cc-widget-sir-background-haasgrad:before {
    background-image: url('../images/sir/banner_haas_326x96.jpg');
  }
  .cc-widget-sir-background-lawjd:before {
    background-image: url('../images/sir/banner_law_326x96.jpg');
  }
  .cc-widget-sir-background-berkeley:before {
    background-image: url('../images/sir/banner_berkeley_326x96.jpg');
  }
  // Pictures
  .cc-widget-sir-picture {
    background-size: contain;
    border: 4px solid $cc-color-white;
    flex-shrink: 0;
    height: 81px;
    margin: 6px 10px 6px 0;
    width: 60px;
    z-index: 1;
  }
  .cc-widget-sir-picture-haasgrad {
    background-image: url('../images/sir/haas_richard_lyons_100x140.jpg');
  }
  .cc-widget-sir-picture-lawjd {
    background-image: url('../images/sir/law_sujit_choudhry_100x140.jpg');
  }

  .cc-widget-sir-error {
    .cc-widget-sir-error-icon {
      margin-right: 5px;
    }
  }

  .cc-widget-sir-program-description {
    margin-bottom: 15px;
  }

  .cc-widget-sir-form {
    background: transparent;
    border: 0;
    .cc-widget-sir-form-button {
      margin-top: 10px;
      text-align: center;
    }
    .cc-widget-sir-form-decline-explanation {
      padding: 10px 0;
    }
    .cc-widget-sir-form-description {
      margin-left: 25px;
    }
    .cc-widget-sir-form-label {
      font-size: inherit;
      text-align: left;
    }
    .cc-widget-sir-form-check,
    .cc-widget-sir-form-radio {
      display: block;
      float: left;
      margin: 2px;
    }
    .cc-widget-sir-form-reason-description {
      margin-top: 15px;
    }
    .cc-widget-sir-form-subcontainer {
      margin-left: 25px;
    }
  }
}
