.cc-widget-student-lookup {
  form {
    background: $cc-color-white;
    border: 0;

    label {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
      text-align: left;
    }

    input {
      margin-right: 2px;
      padding: 5px 3px;
      width: 70%;
    }
  }

  tbody {
    tr:hover {
      background: $cc-color-lighter-grey;
      i {
        color: $cc-color-dark-grey;
      }
    }
  }

  table {
    table-layout: fixed;
  }

  .cc-widget-student-lookup-search-button {
    width: 28%;
  }

  .cc-widget-student-lookup-tab {
    padding: 10px 5px;
  }

  .cc-widget-student-lookup-id {
    padding-right: 15px !important;
    text-align: right !important;
  }

  .cc-widget-student-lookup-id-button-link {
    text-decoration: underline;
    &, &:hover, &:focus {
      color: inherit;
      font-size: inherit;
    }
  }

  .cc-widget-student-lookup-name {
    word-wrap: break-word;
  }

  .cc-widget-student-lookup-actas-button {
    text-align: left;
    width: 100%;
  }

}

