.cc-styles-reference {
  background: $cc-color-white;
  padding: 0 10px;
  .cc-styles-contrast-text {
    color: $cc-color-white;
  }
  .cc-styles-panel {
    border: 1px solid $cc-color-list-border;
    margin-bottom: 15px;
    padding: 15px;
  }
  .cc-styles-section {
    border-bottom: 1px solid $cc-color-medium-grey;
    border-top: 1px solid $cc-color-medium-grey;
    color: $cc-color-medium-grey;
    margin-top: 40px;
  }
}
