// Text
.cc-text-big {
  font-size: 16px;
}
.cc-text-bold {
  font-weight: bold;
}
.cc-text-center {
  text-align: center;
}
.cc-text-green {
  color: $cc-color-green;
}
.cc-text-line-height {
  line-height: 1.6;
}
.cc-text-light {
  color: $cc-color-lighter-medium-grey;
}
.cc-text-red {
  color: $cc-color-red;
}
.cc-text-right {
  text-align: right;
}
.cc-text-small {
  font-size: 12px;
}
