// Useful mixins
@mixin cc-column-sameheight {
  margin-bottom: -99969px;
  padding-bottom: 99999px;
}
@mixin cc-column-sameheight-nopadding {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

// Useful classes
.cc-alert {
  color: $cc-color-red !important;
}
.cc-alert-box {
  background-color: $cc-color-alert;
  color: $cc-color-white;
  padding: 15px;
}
.cc-break-word {
  hyphens: auto;
  word-wrap: break-word;
}
.cc-capitalize {
  text-transform: capitalize;
}
.cc-clearfix {
  clear: both;
}
.cc-clearfix-container:before,
.cc-clearfix-container:after {
  content: " ";
  display: table;
}
.cc-clearfix-container:after {
  clear: both;
}
.cc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cc-image-responsive {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.cc-image-responsive-square {
  padding-bottom: 100%;
}
.cc-italic {
  font-style: italic;
}
.cc-left {
  float: left;
}
.cc-loading {
  i {
    margin-right: 5px;
  }
}
.cc-nowrap {
  white-space: nowrap;
}
.cc-required-field-indicator {
  color: $cc-color-red;
}
.cc-right {
  float: right;
}
.cc-strikethrough {
  color: $cc-color-list-border !important;
  text-decoration: line-through !important;
}
.cc-uppercase {
  text-transform: uppercase;
}

// Spinner
@keyframes spin-normal {
  to {
    transform: rotate(1turn);
  }
}

$cc-spinner-even: 12px;
$cc-spinner-uneven: 17px;

.cc-spinner {
  display: block;
  font-size: 8px;
  height: 50px;
  position: relative;
  text-align: center;
  transform: scale(.47);
  * {
    display: none !important;
  }
  &:before {
    animation: spin-normal 1s infinite steps(8);
    border-radius: 50%;
    box-shadow: 0 (-$cc-spinner-uneven) $cc-color-spinner1, // Top
      $cc-spinner-even (-$cc-spinner-even $cc-color-spinner1), // Top right
      $cc-spinner-uneven 0 $cc-color-spinner3, // Right
      $cc-spinner-even $cc-spinner-even $cc-color-spinner2, // Bottom right
      0 $cc-spinner-uneven $cc-color-black, // Bottom
      (-$cc-spinner-even) $cc-spinner-even $cc-color-spinner1, // Bottom left
      (-$cc-spinner-uneven) 0 $cc-color-spinner1, // Left
      (-$cc-spinner-even) (-$cc-spinner-even) $cc-color-spinner1; // Top left
    content: "";
    display: inline-block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 10px;
  }
}

// Popover
.cc-popover {
  background: $cc-color-popover-background;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  padding: 0;
  position: absolute;
  z-index: 100;

  h4 {
    color: $body-font-color;
    font-size: 16px;
    margin: 0 0 10px;
  }

  p {
    line-height: 1;
    margin: 10px 0 0;
  }
}
.cc-popover-arrow {
  &:after, &:before {
    bottom: 100%;
    content: "";
    position: absolute;
    right: 10%;
  }

  // This allows us to create an arrow for the popover
  // We also add a border by painting another arrow behind the first one
  &:after {
    border-bottom: 10px solid $cc-color-popover-background;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
  }
  &:before {
    border-bottom: 11px solid $cc-color-popover-triangle;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: -11px;
  }
}
.cc-popover-container {
  position: relative;
}

.cc-dropdown {
  min-width: 80px;
  position: absolute;
  right: 0;
  width: auto;
  button {
    display: block;
  }
}

// Image replacement
.cc-ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}
.cc-hidden {
  display: none;
}
// Hide only visually, but have it available for screenreaders / accessibility: h5bp.com/v
.cc-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media #{$small-only} {
  .cc-hide-for-small {
    display: none !important;
  }
}
