.cc-widget-webcast {
  .cc-widget-webcast-audio {
    margin-top: 15px;
  }
  .cc-widget-webcast-button-group {
    padding-bottom: 10px;
    width: 200px;
  }
  .cc-widget-webcast-content {
    max-width: 480px;
  }
  .cc-widget-webcast-error {
    margin-top: 15px;
  }
  .cc-widget-webcast-icon-link {
    display: inline;
  }
  .cc-widget-webcast-itunes-link {
    margin-top: 10px;
  }
  .cc-widget-webcast-links {
    margin-top: 10px;
  }
  .cc-widget-webcast-select {
    max-width: 300px;
  }
  .cc-widget-webcast-outbound-link {
    padding: 10px 0 0;
  }
}
