.cc-youtube-video {
  margin-top: 15px;
  width: 100%;
  .cc-youtube-image-placeholder {
    background: transparent;
    max-width: 100%;
    min-height: 150px;
    padding: 0;
    position: relative;
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    .cc-youtube-thumbnail-button {
      background-image: url('../images/icon_youtube_85x60.svg');
      height: 60px;
      left: 50%;
      margin: 0;
      margin-left: -42px;
      margin-top: -30px;
      opacity: .9;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 85px;
      z-index: 100;
    }
    &:focus, &:hover {
      cursor: pointer;
      .cc-youtube-thumbnail-button {
        background-image: url('../images/icon_youtube_red_85x60.svg');
        opacity: 1;
      }
    }
  }
  .cc-youtube-video-placeholder {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    iframe, object, embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
