<div class="cc-widget cc-widget-lsadvising" data-ng-controller="LsAdvisingController">
  <div class="cc-widget-title">
    <h2 class="cc-left">L&amp;S Advising</h2>
  </div>

  <div data-cc-spinner-directive>
    <div class="cc-widget-padding">
      <p data-ng-if="urlToMakeAppointment">
        You may schedule a <a data-ng-href="{{urlToMakeAppointment}}">new appointment</a> with an advisor.
      </p>
      <div data-ng-if="caseloadAdviser" class="cc-clearfix-container cc-widget-lsadvising-advisor">
        <img data-ng-if="caseloadAdviser.photoUrl" class="cc-left cc-widget-lsadvising-picture" alt="{{caseloadAdviser.firstName + ' ' + caseloadAdviser.lastName}}'s Profile Picture" data-ng-src="{{caseloadAdviser.photoUrl}}">
        <h3 class="cc-widget-lsadvising-heading-first cc-widget-lsadvising-heading">College Advisor</h3>
        <a data-ng-href="mailto:{{caseloadAdviser.email}}">
          <span data-ng-bind-template="{{caseloadAdviser.firstName + ' ' + caseloadAdviser.lastName}}"></span>
        </a>
      </div>
      <div data-ng-if="futureAppointments.length">
        <h3 class="cc-widget-lsadvising-heading">Current Appointments</h3>
        <ul class="cc-widget-list cc-widget-lsadvising-current">
          <li data-ng-repeat="appointment in futureAppointments">
            <div class="cc-widget-list-hover"
              data-ng-class="{'cc-widget-list-hover-opened cc-widget-list-selected':(appointment.show)}"
              data-cc-accessible-focus-directive
              data-ng-click="api.widget.toggleShow($event, futureAppointments, appointment, 'Current Appointment')">
              <div class="cc-clearfix-container">
                <div class="cc-widget-lsadvising-current-time cc-left">
                  <strong data-ng-bind="appointment.dateTime | dateInYearFilter:'MM/dd':'MM/dd/yy'"></strong><br />
                  <span data-ng-bind="appointment.dateTime | date:'h:mm a'" class="cc-text-light"></span>
                </div>
                <div class="cc-widget-lsadvising-current-content">
                  <strong data-ng-bind="appointment.staff.name"></strong>
                  <div class="cc-text-light cc-uppercase">
                    <span data-ng-bind="appointment.method"></span>
                    <span data-ng-if="appointment.location && appointment.method"> - </span>
                    <span data-ng-bind="appointment.location"></span>
                  </div>
                </div>
              </div>

              <div class="cc-clearfix cc-widget-lsadvising-current-more" data-ng-if="appointment.show">
                 <a data-ng-if="appointment.urlToEditAppointment" data-ng-href="{{appointment.urlToEditAppointment}}" class="cc-button">
                    Update Appointment
                  </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div data-ng-if="pastAppointments.length && showPastAppointments">
        <h3 class="cc-widget-lsadvising-heading">Previous Appointments</h3>
        <div class="cc-table cc-widget-lsadvising-previous">
          <table>
            <thead>
              <th width="70px">Date</th>
              <th>Advisor</th>
            </thead>
            <tbody>
              <tr data-ng-repeat="appointment in pastAppointments">
                <td data-ng-bind="appointment.dateTime | date:'MM/dd/yy'"></td>
                <td data-ng-bind="appointment.staff.name"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div data-ng-if="pastAppointments.length" data-cc-show-infinite-directive data-cc-show-infinite-variable="showPastAppointments" data-cc-show-infinite-text="Previous Appointments"></div>

      <div data-ng-if="lsAdvisingError" data-ng-bind="lsAdvisingError.body"></div>
    </div>
  </div>
</div>
