<div class="cc-widget cc-widget-profile" data-ng-controller="PhotoController">
  <div class="cc-widget-title">
    <h2>Profile</h2>
  </div>

  <div data-ng-if="showProfileMessage" class="cc-widget-profile-message">
    <div data-ng-if="collegeAndLevel.errored">
      There was a problem reaching campus services.
      Please try again later, or check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>.
    </div>
    <div data-ng-if="!collegeAndLevel.errored">
      <div data-ng-if="!api.user.profile.roles.student">
        <h3>Standing</h3>
        <div data-ng-if="api.user.profile.roles.exStudent" class="cc-widget-profile-message-text">
          You are not currently considered an active student.
        </div>
        <div data-ng-if="api.user.profile.roles.concurrentEnrollmentStudent">
          <div class="cc-widget-profile-message-text">
            You are a concurrent enrollment student.
          </div>
          <ul class="cc-list-bullets">
            <li>If you are a UC Extension student, more information is available at <a href="http://extension.berkeley.edu/static/studentservices/concurrent/">UC Berkeley Extension</a>.</li>
            <li>If you are an EAP student, more information is available at the <a href="http://internationaloffice.berkeley.edu/students/exchange/main">Berkeley International Office</a>.</li>
          </ul>
        </div>
      </div>
      <div data-ng-if="api.user.profile.roles.student">
        <div data-ng-if="!isProfileCurrent">
          <div data-ng-if="transitionTerm.registered" class="cc-widget-profile-message-text">
            You are registered for the <span data-ng-bind="transitionTerm.termName"></span> term, but updated profile information is not yet available. Please check
            <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>
            for the most current information.
          </div>
          <div data-ng-if="!transitionTerm.registered" class="cc-widget-profile-message-text">
            You are not officially registered for the <span data-ng-bind="transitionTerm.termName"></span> term.
          </div>
        </div>
        <div data-ng-if="!transitionTerm">
          <div data-ng-if="api.user.profile.roles.registered" class="cc-widget-profile-message-text">
            You are registered as a student but not currently considered active by all campus services. Please try again later, or check
            <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>
            for the most current information.
          </div>
          <div data-ng-if="!api.user.profile.roles.registered" class="cc-widget-profile-message-text">
            You are not currently registered as a student.
          </div>
        </div>
        <div class="cc-academics-nocontent-container" data-ng-if="!isAcademicInfoAvailable">
          <div class="cc-widget-profile-message-text">
            <span data-ng-if="api.user.profile.roles.registered || (transitionTerm && transitionTerm.registered)">
              More information will display here when available.
            </span>
            <span data-ng-if="!api.user.profile.roles.registered && !(transitionTerm && transitionTerm.registered)">
              More information will display here when your academic status changes.
            </span>
            Check back for:
          </div>
          <ul class="cc-list-bullets">
            <li>Class enrollments, including waitlist information.</li>
            <li>Your academic status, including standing, GPA, units, major, college, and more.</li>
            <li>Your registration status, including any blocks limiting your access to campus services.</li>
            <li>Course information, including class and exam schedules, class locations, textbooks, and webcasts.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-widget-padding">
    <h3 data-ng-if="!isProfileCurrent && collegeAndLevel.termName">Academic status as of <span data-ng-bind="collegeAndLevel.termName"></span></h3>
    <div data-ng-if="showProfileMessage" class="cc-table-top-border"></div>

    <div class="cc-left cc-widget-profile-picture">
      <div data-ng-if="api.user.profile.hasPhoto">
        <img data-cc-image-loaded-directive="profilePictureLoading" alt="{{api.user.profile.fullName}}'s Profile Picture" data-ng-src="/api/my/photo" width="72" height="96">
      </div>
      <div data-ng-if="!api.user.profile.hasPhoto" class="cc-widget-profile-picture-not-available">
        <i class="fa fa-user"></i>
      </div>
    </div>

    <div class="cc-widget-profile-content">
      <div class="cc-widget-profile-content-fullname">
        <strong data-ng-bind="api.user.profile.fullName"></strong>
      </div>

      <div class="cc-widget-profile-content-gpa" data-ng-if="gpaUnits.cumulativeGpa !== null && gpaUnits.cumulativeGpa > 0 && !studentInfo.isLawStudent">
        <span data-ng-bind="gpaUnits.cumulativeGpaFloat"></span>
        GPA
      </div>

      <div data-ng-repeat="college in collegeAndLevel.colleges">
        <div class="cc-text-light" data-ng-if="college.college" data-ng-bind="college.college"></div>
        <div data-ng-bind="college.major"></div>
      </div>
    </div>

    <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="collegeAndLevel.standing || gpaUnits.totalUnits !== null">
      <table>
        <thead data-ng-if="collegeAndLevel.standing">
          <tr>
            <th width="87px">General</th>
            <th class="cc-table-subheader" scope="col">Standing</th>
          </tr>
        </thead>
        <tbody data-ng-if="collegeAndLevel.standing">
          <tr>
            <td></td>
            <td><strong data-ng-bind="collegeAndLevel.standing"></strong></td>
          </tr>
        </tbody>
        <thead data-ng-if="gpaUnits.totalUnits !== null">
          <tr>
            <th width="87px" data-ng-if="!collegeAndLevel.standing">General</th>
            <th data-ng-if="collegeAndLevel.standing"></th>
            <th class="cc-table-subheader" scope="col">Units</th>
          </tr>
        </thead>
        <tbody data-ng-if="gpaUnits.totalUnits !== null">
          <tr>
            <td></td>
            <td><strong data-ng-bind="gpaUnits.totalUnits"></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="collegeAndLevel.level">
      <table>
        <thead>
          <tr>
            <th width="87px">Level</th>
            <th class="cc-table-subheader" scope="col">
              <span data-ng-if="isUndergraduate">Including AP</span>
              <span data-ng-if="!isUndergraduate">Current</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><strong data-ng-bind="collegeAndLevel.level"></strong></td>
          </tr>
        </tbody>
        <thead data-ng-if="isUndergraduate">
          <tr>
            <th></th>
            <th class="cc-table-subheader" scope="col">Not Including AP</th>
          </tr>
        </thead>
        <tbody data-ng-if="isUndergraduate">
          <tr>
            <td></td>
            <td><strong data-ng-bind="collegeAndLevel.nonApLevel"></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="api.user.profile.uid || api.user.profile.sid">
      <table>
        <thead>
          <tr>
            <th width="87px">ID Number</th>
            <th class="cc-table-subheader" scope="col">UID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><strong data-ng-bind="api.user.profile.uid"></strong></td>
          </tr>
        </tbody>
        <thead data-ng-if="api.user.profile.sid">
          <tr>
            <th></th>
            <th class="cc-table-subheader" scope="col">Student ID</th>
          </tr>
        </thead>
        <tbody data-ng-if="api.user.profile.sid">
          <tr>
            <td></td>
            <td><strong data-ng-bind="api.user.profile.sid"></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
