<div class="cc-widget" data-ng-if="selectedCourse.class_sites.length">
  <div class="cc-widget-title">
    <h2>Class Sites</h2>
  </div>
  <div class="cc-widget-padding">
    <ul class="cc-academics-class-sites-list">
      <li data-ng-repeat="site in selectedCourse.class_sites" class="cc-icon-container">
        <i class="cc-left cc-icon" data-ng-class="'cc-icon-{{site.emitter|lowercase}}'"></i>
        <div class="cc-class-site">
          <a data-ng-href="{{site.site_url}}"
             data-ng-click="api.analytics.trackExternalLink('Class Sites', group.emitter, site.site_url)">
            <strong class="cc-ellipsis" data-ng-bind="site.name"></strong>
          </a>
          <div data-ng-if="site.shortDescription != site.name && site.shortDescription != selectedCourse.title" data-ng-bind="site.shortDescription" class="cc-ellipsis cc-text-light"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
