<!-- Alerts -->
<div class="cc-alerts-bar cc-print-hide" data-ng-cloak data-ng-controller="AlertsController" data-ng-if="api.user.events.isAuthenticated" data-ng-show="alert.title">
  <p class="cc-left">
    <strong>CalCentral Update</strong>
    <span class="cc-alerts-bar-notification">
      <i class="fa fa-warning"></i>
      <span data-ng-bind="alert.title"></span>
    </span>
  </p>
  <p class="cc-right cc-alerts-bar-more-container">
    <a class="cc-alerts-bar-more" data-ng-href="{{alert.link}}"><strong>Learn More</strong></a>
  </p>
</div>
