<div class="cc-widget-tasks-no-items" data-ng-show="counts.current === 0 && api.user.profile.hasGoogleAccessToken">
  <h3 class="cc-widget-tasks-section-label"><span data-ng-bind="tasksMode" class="cc-capitalize"></span></h3>
  <div data-ng-show="counts.opposite !== 0">
    <p class="cc-widget-tasks-no-items-first">You currently have <strong>0</strong> <span data-ng-bind="tasksMode"></span> tasks or assignments and <strong data-ng-bind="counts.opposite"></strong> <span data-ng-bind="tasksModeOpposite"></span> tasks and assignments.</p>
    <p>To <strong>see your <span data-ng-bind="tasksModeOpposite"></span> tasks and assignments</strong>, click the <em class="cc-capitalize" data-ng-bind="tasksModeOpposite"></em> tab.</p>
  </div>
  <div data-ng-show="counts.opposite === 0">
    <p class="cc-widget-tasks-no-items-first">You have no <span data-ng-bind="tasksMode"></span> tasks and assignments.</p>
  </div>
  <p>To <strong>create a task</strong>, click the <em>New Task</em> button.</p>
</div>
<div class="cc-widget-tasks-no-items cc-widget-tasks-no-items-first" data-ng-show="counts.current === 0 && counts.opposite === 0 && !api.user.profile.hasGoogleAccessToken">
  <div data-ng-include="'no_bconnected.html'" data-onload="mode='tasks'"></div>
</div>
