<div class="cc-page-finaid" data-ng-controller="FinaidController" data-cc-spinner-directive="finaid.isLoading">
  <div class="row collapse">
    <div class="column">
      <h1 class="cc-heading-page-title cc-print-hide">
        <a href="/finances">My Finances</a> &raquo; Financial Aid
      </h1>
      <h1 class="cc-heading-page-title cc-hidden cc-print-show">
        Financial aid for <span data-ng-bind="api.user.profile.fullName"></span>
      </h1>
    </div>

    <div data-ng-if="!canSeeFinaidData">
      <div data-ng-if="!finaidYear.termsAndConditions.approved" data-item="finaidYear.termsAndConditions"></div>
      <div
        data-ng-if="!finaidYear.termsAndConditions.approved"
        data-cc-finaid-permissions-directive
        data-title="'Financial Aid Terms and Conditions'"
        data-item="finaidYear.termsAndConditions"
        data-button-text-dont-approve="'I Do Not Agree'"
        data-button-text-approve="'I Do Agree'"
      ></div>
      <div
        data-ng-if="finaidYear.termsAndConditions.approved && finaidSummary.title4.approved === null"
        data-cc-finaid-permissions-directive
        data-title="'Title IV Authorization'"
        data-item="finaidSummary.title4"
        data-button-text-dont-approve="'I Do Not Authorize'"
        data-button-text-approve="'Authorize'"
      ></div>
    </div>

    <div data-ng-if="canSeeFinaidData">
      <div class="medium-4 columns">
        <div data-ng-include="'widgets/finaid_summary.html'"></div>
        <div data-ng-include="'widgets/finaid_profile.html'"></div>
      </div>
      <div class="medium-4 columns">
        <div data-ng-include="'widgets/finaid_coa.html'"></div>
      </div>
      <div class="medium-4 columns">
        <div data-ng-include="'widgets/finaid_funding_sources.html'"></div>
      </div>
    </div>

  </div>
</div>
