<!--[if lt IE 9]>
<div class="row">
  <div class="medium-12 medium-centered columns cc-alert-box cc-old-ie">
    <p>This site will not work properly with your browser. We support the latest two versions of these browsers:</p>
    <ul>
      <li><a href="http://getfirefox.com">Firefox</a></li>
      <li><a href="http://google.com/chrome">Google Chrome</a></li>
      <li><a href="http://www.microsoft.com/windows/internet-explorer/">Internet Explorer</a></li>
      <li><a href="http://www.apple.com/safari/">Safari</a></li>
    </ul>
  </div>
</div>

<script>
  document.createElement('article');
  document.createElement('aside');
  document.createElement('header');
  document.createElement('nav');
  document.createElement('section');
  document.createElement('footer');
</script>
<![endif]-->
