<!-- Top Navbar -->
<div class="row cc-navigation-bar" data-ng-cloak data-ng-show="api.user.events.isAuthenticated">
  <ul>
    <li data-ng-class="{true:'active'}[controllerName=='DashboardController']"><a href="/dashboard" data-ng-click="offCanvasMenu.show=false"><i class="fa fa-home"></i>My Dashboard</a></li>
    <li data-ng-class="{true:'active'}[controllerName=='AcademicsController']" data-ng-if="api.user.profile.hasAcademicsTab">
      <a href="/academics" data-ng-click="offCanvasMenu.show=false"><i class="fa fa-book"></i>My Academics</a>
    </li>
    <li data-ng-class="{true:'active'}[controllerName=='MyFinancesController']" data-ng-if="api.user.profile.hasFinancialsTab"><a href="/finances" data-ng-click="offCanvasMenu.show=false"><i class="fa fa-usd"></i>My Finances</a></li>
    <li data-ng-class="{true:'active'}[controllerName=='CampusController']"><a href="/campus" data-ng-click="offCanvasMenu.show=false"><i class="fa fa-th-large"></i>My Campus</a></li>
  </ul>
  <div class="cc-updated-feeds" data-ng-cloak data-ng-controller="UpdatedFeedsController" data-ng-show="controllerName === 'DashboardController'">
    <div data-ng-show="hasUpdates">
      New data is available. <button class="cc-button" data-ng-click="refreshFeeds()">Load</button>
    </div>
  </div>
</div>
