<div class="cc-oec" data-cc-spinner-directive>
  <div data-ng-if="!displayError">
    <h1 class="cc-heading-page-title">OEC Control Panel</h1>
    <div class="cc-oec-content medium-12 columns">

      <form data-ng-if="!taskInProgress" data-ng-submit="runOecTask()">

        <div class="row">
          <div class="small-3 columns">
            <label class="cc-oec-label">Task to run:</label>
          </div>
          <div class="small-9 columns">
            <div class="cc-select">
              <select data-ng-model="taskParameters.selectedTask" data-ng-options="task.friendlyName for task in oecTasks">
                <option value="">Choose a task</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <label class="cc-oec-label">Term:</label>
          </div>
          <div class="small-9 columns">
            <div class="cc-select">
              <select data-ng-options="term for term in oecTerms" data-ng-model="taskParameters.options.term"></select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-3 columns">
            <label class="cc-oec-label">Department(s):</label>
          </div>
          <div class="small-9 columns">
            <div class="cc-select">
              <select data-ng-model="taskParameters.options.departmentCode" data-ng-options="department.code as department.name for department in oecDepartments">
                <option value="">All participating departments</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-9 small-offset-3 columns cc-oec-text" data-ng-if="taskParameters.selectedTask.name">
            <strong data-ng-bind-html="taskParameters.selectedTask.friendlyName"></strong>:
            <span data-ng-bind-html="taskParameters.selectedTask.htmlDescription"></span>
          </div>
        </div>

        <div class="row">
          <div class="small-9 small-offset-3 columns">
            <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="!taskParameters.selectedTask.name.length || !taskParameters.options.term.length">
              Run task
            </button>
          </div>
        </div>
      </form>

      <div data-ng-if="taskInProgress">
        <div class="cc-oec-text">
          Your <strong data-ng-bind="taskParameters.selectedTask.friendlyName"></strong> task has started. Watch the action in <a data-ng-href="{{oecDriveUrl}}">your Google Drive account</a>.
        </div>
        <button class="cc-button cc-button-blue" data-ng-click="initialize()">Start over</button>
      </div>
    </div>
  </div>

  <div data-ng-if="displayError === 'unauthorized'">
    <h1 class="cc-heading-page-title">Access Denied</h1>
    <div class="cc-oec-content">
      You are not authorized to use this feature.
    </div>
  </div>

  <div data-ng-if="displayError === 'failure'">
    <h1 class="cc-heading-page-title">Unexpected Error</h1>
    <div class="cc-oec-content">
      <div class="cc-oec-text">
        Sorry! Please try again, or, if the error persists, contact CalCentral support.
      </div>
      <button class="cc-button cc-button-blue" data-ng-click="initialize()">Start over</button>
    </div>
  </div>
</div>
