<div class="cc-page-profile">

  <div class="medium-9 medium-push-3 columns cc-sidebar-content">
    <h1 class="cc-heading-page-title" data-ng-bind="header"></h1>
    <div class="cc-widget">
      <div class="cc-widget-title">
        <h2 data-ng-bind="currentCategory.name"></h2>
      </div>
      <div data-ng-include="'widgets/profile/' + currentCategory.id + '.html'" class="cc-page-profile-widget"></div>
    </div>
  </div>

  <div class="medium-3 medium-pull-9 columns cc-sidebar" id="cc-local-navigation">
    <div data-ng-repeat="navitem in navigation">
      <h3 data-ng-if="navitem.label" data-ng-bind="navitem.label"></h3>
      <ul>
        <li data-ng-class="{'active':(currentCategory.id === category.id)}" data-ng-repeat="category in navitem.categories">
          <a data-ng-href="/profile/{{category.id}}" data-ng-bind="category.name"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
