<div class="medium-12 columns cc-settings">
  <h1 class="cc-heading-page-title">Settings for {{api.user.profile.fullName}}</h1>

  <section data-ng-if='connectedServices.length' class="cc-settings-section row collapse">
    <div class="medium-10 medium-centered columns">

      <h2>Connected Services</h2>
      <div data-ng-repeat="service in connectedServices">
        <div class="row collapse cc-settings-service-row" data-ng-init="loopname='connected'" data-ng-include src="'settings_service_loop.html'"></div>
      </div>

    </div>
  </section>

  <section data-ng-if='disConnectedServices.length' class="cc-settings-section row collapse">
    <div class="medium-10 medium-centered columns">

      <h2>Services to Connect</h2>

      <div data-ng-repeat="service in disConnectedServices">
        <div class="row collapse cc-settings-service-row" data-ng-init="loopname='disconnected'" data-ng-include src="'settings_service_loop.html'"></div>
      </div>

    </div>
  </section>

  <a class="cc-settings-dashboard-link" href="/dashboard">&laquo; Take me to my Dashboard</a>

  <div data-ng-show="api.user.profile.isViewer || api.user.profile.actingAsUid">
    <h2>Admin</h2>

    <div class="row">
      <div class="small-9 columns">
        <div class="medium-4 columns cc-column-last">
          <div data-ng-include="'widgets/student_lookup.html'"></div>
        </div>
      </div>
    </div>

    <div data-ng-controller="ApiTestController" data-ng-show="apiTest.enabled">
      <h3>Api Test</h3>
      <form class="api-test-form" data-ng-submit="runApiTest()">
        <button class="cc-button cc-button-blue" id="cc-settings-run-api-test-submit" data-ng-disabled="apiTest.running" type="submit">Run test</button>
        <div class="cc-settings-section" data-ng-show="apiTest.showTests">
          <ul class="cc-settings-apitest-list">
            <li data-ng-class="{'cc-settings-apitest-failed': (route.status == 'failed'), 'cc-settings-apitest-success': (route.status == 'success')}"
                data-ng-repeat="route in apiTest.data" data-ng-bind-template="{{route.route}}: {{route.status}}"></li>
          </ul>
        </div>
      </form>
    </div>
  </div>

</div>
