<div class="row cc-page-splash-container">
  <div class="medium-6 columns cc-page-splash-container-left">
    <div class="cc-page-splash-logo-container">
      <div class="cc-page-splash-center">
        <div class="cc-image-responsive cc-page-splash-logo" title="CalCentral Logo"></div>
        <h1>Your campus info...anywhere!</h1>
      </div>
    </div>
    <div class="cc-page-splash-buttons">
      <button class="radius cc-button cc-button-blue cc-button-large" data-ng-click="api.user.signIn()">Sign In</button>
      <a class="radius cc-button cc-button-large" href="https://ets.berkeley.edu/calcentral">Learn More<span class="cc-visuallyhidden"> about the CalCentral releases</span></a>
    </div>

    <div class="row collapse cc-page-splash-blog-panel" data-ng-if="splashNote.title">
      <div class="medium-2 columns hide-for-small cc-page-splash-blog-date">
        <p>{{splashNote.timestamp.dateString}}</p>
      </div>
      <div class="medium-10 columns small-12">
        <p class="cc-page-splash-blog-title">
          <a data-ng-href="{{splashNote.link}}">{{splashNote.title}}</a>
        </p>
        <p class="cc-page-splash-blog-summary" data-ng-bind-html="splashNote.snippet"></p>
      </div>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="cc-page-splash-container-right">
      <div class="cc-page-splash-container-right-images">
        <div data-ng-if="api.user.profile.youtubeSplashId" class="cc-youtube-video row cc-page-splash-info cc-page-splash-center">
          <div data-cc-youtube-directive="api.user.profile.youtubeSplashId" class="cc-page-splash-video"></div>
          <p class="cc-page-splash-info-text">
            <strong>Students</strong>: Learn how CalCentral can save you time, notify you of critical status changes, and help you stay on top of your academic, administrative and campus life activities.
          </p>
        </div>
        <div class="row cc-page-splash-info cc-page-splash-center">
          <div class="cc-image-responsive cc-page-splash-info-image cc-page-splash-image-waitlist"></div>
          <p class="cc-page-splash-info-text">
            <strong>Enrollments and Wait List</strong>: The Classes card in My Academics provides students with a list of their current enrollments, including wait list status.
          </p>
        </div>

        <div class="row cc-page-splash-info cc-page-splash-center">
          <div class="cc-image-responsive cc-page-splash-info-image cc-page-splash-image-telebears"></div>
          <p class="cc-page-splash-info-text">
            <strong>Tele-BEARS and GPA Calculator</strong>: The Appointments card in My Academics shows students their Tele-BEARS appointments, as well as whether or not they need an advisor code beforehand. The GPA Calculator is pre-configured with a student's classes and units, making it easy to calculate a possible GPA for the semester.
          </p>
        </div>

        <div class="row cc-page-splash-info cc-page-splash-center">
          <div class="cc-image-responsive cc-page-splash-info-image cc-page-splash-image-bconnected"></div>
          <p class="cc-page-splash-info-text">
            <strong>bConnected and Academic Status</strong>: bConnected apps are easy to access from any page on CalCentral. Badges on the icons show unread bMail messages and new invitations to bCal events. Academic Status (person icon) shows important registration and other status.
          </p>
        </div>

        <div class="row cc-page-splash-info cc-page-splash-center">
          <div class="cc-image-responsive cc-page-splash-info-image cc-page-splash-image-cfv"></div>
          <p class="cc-page-splash-info-text">
            <strong>My Finances</strong>: The new consolidated financial view (CFV) in My Finances provides a student with detailed transaction information on his/her CARS billing account (ex: charges, payments and disbursements). My Finances shows recent activity since the last monthly CARS e-Bill statement.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
