<div class="cc-styles-reference cc-clearfix-container">
  <h1>CalCentral Live Styles Reference</h1>

  <p>
    This page demonstrates all UI widgets and elements currently in use on CalCentral (plus some that are currently unused). Foundation styles are inherited from the currently installed version of Foundation, and overriden in places by CalCentral customizations. <a href="http://foundation.zurb.com/docs/">Foundation</a> includes more UI elements than are represented here.
  </p>
  <p>
    The purpose of this style guide is both prescriptive and descriptive, i.e. it shows what comes with Foundation (whether we&apos;re currently using it or not), and it demonstrates our significant overrides. In other words, it documents both what we <em>are</em> using and what we <strong>can</strong> use.
  </p>

  <ul class="cc-styles-menu">
    <li><a data-ng-click="scrollTo('colors')">Colors</a></li>
  </ul>

  <h2 class="cc-styles-section" id="colors">Colors</h2>
  <p>Colors defined as variables in calcentral.scss. This grid does not necessarily represent all colors in use on the site (feel free to suggest that some colors be added to this list).</p>

  <div
    class="cc-left cc-styles-panel"
    data-ng-repeat="color in colorvars | orderBy:'hex'"
    style="background-color:{{color.hex}}">
    <div data-ng-class="{'cc-styles-contrast-text':(color.lightdark)}">${{color.name}}<br />{{color.hex}}</div>
  </div>
</div>
